<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tutorial</title>
  <link rel="stylesheet" href="../assets/css/common.css?7c46fb9bd2472cc81461">
  
  <script type="text/javascript" src="https://www.buyandship.com.tw/wp-includes/js/jquery/jquery.js?ver=1.12.4">
  </script>
  
</head>

<body>

  <div class="layout">

    <div id="bsHeader">
      <header class="bs-header">
  <div class="header-l">
    <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
    <a class="header-logo" href="/">
      <img class="header-logo-image" alt="logo" src="/assets/img/company_logo_dark.png" srcset="
            /assets/img/company_logo_dark.png 1x,
            /assets/img/company_logo_dark@2x.png 2x,
            /assets/img/company_logo_dark@3x.png 3x
          ">
      <img class="header-logo-image-sm" alt="logo" src="/assets/img/company_logo_box.png" srcset="
            /assets/img/company_logo_box.png 1x,
            /assets/img/company_logo_box@2x.png 2x,
            /assets/img/company_logo_box@3x.png 3x
          ">
    </a>
    <nav class="header-nav">
      <div class="header-nav-item header-nav-item--more">
        <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <div class="bs-icon-country"></div>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="header-nav-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="header-r">
    <bs-nav>
      <bs-nav-item v-cloak name="新手教學" link="/tutorial/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="收費說明" link="/pricing/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="提貨點" link="/redemption/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="血拼推薦">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">發燒話題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">最新消息</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">編輯精選網站</a>
      </bs-nav-item>
      <bs-nav-item v-cloak name="常見問題">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/faq/">常見問題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/warehouses/">海外倉庫一覽</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/restrictions/">禁運物品</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/contact-us/">聯絡我們</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/advantage/">我們的優勢</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/insurance/">保價服務</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/terms/">使用條款</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/privacy/">隱私權政策</a>
      </bs-nav-item>
    </bs-nav>

    <div class="header-r-member js-header-r-member bns_hidden_logged_in">
      <a class="header-member" href="/login/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">登入</span>
      </a>
      <a class="header-member-sign bs-button bs-button--primary" href="/signup/">
        註冊
      </a>
    </div>

    <div class="header-r-member js-header-r-member bns_hidden_logged_out">
      <a class="header-member header-member--m" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">你好，Christ Shui</span>
      </a>
      <a class="header-member header-member--pc" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">我的帳戶</span>
      </a>
      <aside class="header-account">
        <div class="header-account-overlay"></div>
        <ul class="header-account-list">
          <li class="header-account-list-item"><a
              href="/account/">我的帳戶</a></li>
          <li class="header-account-list-item"><a
              href="/account/profile/">個人資料</a></li>
          <li class="header-account-list-item"><a
              href="/account/warehouses/">海外倉庫</a></li>
          <li class="header-account-list-item"><a
              href="/account/shipments/">我的貨物</a></li>
          <li class="header-account-list-item"><a
              href="/account/orders/">我的轉運單</a></li>
          <li class="header-account-list-item"><a class="js-logout" href="#">登出
              <span class="header-account-list-item--right bs-icon-logout"></span>
            </a></li>
        </ul>
      </aside>
    </div>
  </div>
</header>

      <!-- <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4"
          href="/shopping/">發燒話題</a>
        <a class="text-h4" href="/shopping/">最新消息</a>
        <a class="text-h4" href="/shopping/">編輯精選網站</a>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4" href="/faq/">常見問題</a>
        <a class="text-h4" href="/warehouses/">海外倉庫一覽</a>
        <a class="text-h4" href="/restrictions/">禁運物品</a>
        <a class="text-h4" href="/contact-us/">聯絡我們</a>
        <a class="text-h4" href="/advantage/">我們的優勢</a>
        <a class="text-h4" href="/insurance/">保價服務</a>
        <a class="text-h4" href="/terms/">使用條款</a>
        <a class="text-h4" href="/privacy/">隱私權政策</a>
      </bs-nav-panel> -->
      <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇國家或地區</div>
        <a-row>
          <a-col class="country-card" :xs="12" :md="12" :xl="12" v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" href="country.url">
              <img
                :src="country.flag"
                :alt="'flag_' + country.name"
                width="30"
                height="30"
              >
              <span class="ml">{{ country.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.language" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇語言</div>
        <a-row>
          <a-col v-for="(language, iso) in languageObj" class="country-card" :xs="12" :md="12" :xl="12" :key="'header-language-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" :href="language.url">
              <span class="ml">{{ language.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" ref="mobileNav" v-cloak>
        <div class="mobile-nav-inner">
          <nav class="slinky-menu slinky-theme-default">
            <ul>
              <li class="bns_hidden_logged_out">
                <a href="/account/"><span
                    class="text-subtitle-sm">我的帳戶</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/warehouses/"><span
                    class="text-subtitle-sm">海外倉庫</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/shipments/"><span
                    class="text-subtitle-sm">我的貨物</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a class="slinky-menu__underline" href="/account/orders/"><span
                    class="text-subtitle-sm">我的轉運單</span></a>
              </li>
              <li>
                <a href="/tutorial/"><span
                    class="text-subtitle-sm">新手教學</span></a>
              </li>
              <li>
                <a href="/pricing/"><span
                    class="text-subtitle-sm">收費說明</span></a>
              <li>
              <li>
                <a href="/redemption/"><span
                    class="text-subtitle-sm">提貨點</span></a>
              <li>
                <a href="#" class="next"><span class="text-subtitle-sm">血拼推薦</span></a>
                <ul>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">發燒話題</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">最新消息</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">編輯精選網站</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next slinky-menu__underline">
                  <span class="text-subtitle-sm">常見問題</span>
                </a>
                <ul>
                  <li>
                    <a href="/faq/"><span
                        class="text-subtitle-sm">常見問題</span></a>
                  </li>
                  <li>
                    <a href="/warehouses/"><span
                        class="text-subtitle-sm">海外倉庫一覽</span></a>
                  </li>
                  <li>
                    <a href="/restrictions/"><span
                        class="text-subtitle-sm">禁運物品</span></a>
                  </li>
                  <li>
                    <a href="/contact-us/"><span
                        class="text-subtitle-sm">聯絡我們</span></a>
                  </li>
                  <li>
                    <a href="/advantage/"><span
                        class="text-subtitle-sm">我們的優勢</span></a>
                  </li>
                  <li>
                    <a href="/insurance/"><span
                        class="text-subtitle-sm">保價服務</span></a>
                  </li>
                  <li>
                    <a href="/terms/"><span
                        class="text-subtitle-sm">使用條款</span></a>
                  </li>
                  <li>
                    <a href="/privacy/"><span
                        class="text-subtitle-sm">隱私權政策</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next">
                  <span class="text-subtitle-sm">國家及地區</span>
                  <!-- <span class="slinky-menu__title--right slinky-menu__title__flag"
                    :class="'slinky-link__icon icon-flag-' + $BUYANDSHIP.settings.current_country + '-md'"></span> -->
                  <img
                    class="slinky-menu__title--right slinky-menu__title__flag slinky-link__icon"
                    :src="$BUYANDSHIP.settings.all_countries[$BUYANDSHIP.settings.current_country].flag"
                    :alt="'flag_' + $BUYANDSHIP.settings.current_country"
                  >
                </a>
                <ul>
                  <li v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-m-' + iso">
                    <a :href="country.url">
                      <img
                        class="slinky-link__icon"
                        :src="country.flag"
                        :alt="'flag_' + country.name"
                      >
                      <span class="slinky-link__desc text-subtitle-sm ml">{{ country.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://mo.buynship.com/">
                      <i class="slinky-link__icon icon-flag-mo-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳門</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.today/">
                      <i class="slinky-link__icon icon-flag-hk-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">香港</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.cn/">
                      <i class="slinky-link__icon icon-flag-cn-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">中國</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.co.jp/">
                      <i class="slinky-link__icon icon-flag-jp-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">日本</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://au.buynship.com/">
                      <i class="slinky-link__icon icon-flag-au-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳洲</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.sg/">
                      <i class="slinky-link__icon icon-flag-sg-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">新加坡</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.my/">
                      <i class="slinky-link__icon icon-flag-my-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">馬來西亞</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.in/">
                      <i class="slinky-link__icon icon-flag-in-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">印度</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://ae.buynship.com/">
                      <i class="slinky-link__icon icon-flag-ae-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">阿聯酋</span>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li v-if="Object.keys(languageObj).length > 1">
                <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
                <ul>
                  <li v-for="(language, iso) in languageObj" :key="'header-language-selector-m-' + iso">
                    <a :href="language.url">
                      <span class="text-subtitle-sm">{{ language.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#"><span>English</span></a>
                  </li>
                  <li>
                    <a href="#"><span>繁體中文</span></a>
                  </li>
                  <li>
                    <a href="#"><span>簡体中文</span></a>
                  </li> -->
                </ul>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/login?action=logout">
                  <span class="text-subtitle-sm">登出</span>
                  <span class="slinky-menu__title--right bs-icon-logout"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-nav-spacer">
          <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
        </div>
      </aside>

      <transition name="opacity" v-cloak>
        <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
      </transition>

    </div>

    <!-- <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password> -->

    <!-- WP:start -->
    <link rel="stylesheet" href="../assets/css/tutorial.css?7c46fb9bd2472cc81461">

    <div id="bs-alert" v-cloak>
      <bs-alert type="warning" show>
        <div>因疫情嚴重影響全球空運，導致到貨時間無法準確預估，且線上客服訊息量暴增，需較長時間回覆，懇請耐心等待 <a href="https://bit.ly/2ST9jmH">(點我看最新公告)</a></div>
      </bs-alert>
    </div>


<main id="bsMain" class="main">
  <bs-default-header-sticky v-cloak>
    <span class="pointer" v-show="currentTitle" @click="scrollToTitle">{{ currentTitle }}</span>
    <span v-show="currentSubtitle">&nbsp;>&nbsp;</span>
    <span class="pointer" v-show="currentSubtitle" @click="scrollToSubtitle">{{ currentSubtitle }}</span>
    <template slot="header-r">
      <!-- <div class="header-r">
  <div class="header-r-member bns_hidden_logged_in">
    <a class="header-member" href="/login/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">登入</span>
    </a>
    <a class="bs-button header-member-sign text-subtitle-sm bs-button--solid bs-button--primary bs-button--md"
      href="/signup/">
      註冊
    </a>
  </div>
  <div class="header-r-member bns_hidden_logged_out">
    <a class="header-member header-member--m" href="/account/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">你好，Christ Shui</span>
    </a>
    <a class="header-member header-member--pc" href="/account/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">我的帳戶</span>
    </a>
    <aside class="header-account">
      <div class="header-account-overlay"></div>
      <ul class="header-account-list">
        <li class="header-account-list-item"><a
            href="/account/">我的帳戶</a></li>
        <li class="header-account-list-item"><a
            href="/account/profile/">個人資料</a></li>
        <li class="header-account-list-item"><a
            href="/account/warehouses/">海外倉庫</a></li>
        <li class="header-account-list-item"><a
            href="/account/shipments/">我的貨物</a></li>
        <li class="header-account-list-item"><a
            href="/account/orders/">我的轉運單</a></li>
        <li class="header-account-list-item"><a class="js-logout" href="#">登出
            <span class="header-account-list-item--right bs-icon-logout"></span>
          </a></li>
      </ul>
    </aside>
  </div>
</div>
 -->
      <div class="header-r js-inner-header-r"></div>
    </template>
  </bs-default-header-sticky>

  <div class="bs-banner">
    <div class="bs-container">
      <div class="bs-banner-title">
        如何使用 Buyandship 國際網購代運
      </div>
      <div class="bs-banner-subtitle">
        簡單 5 個步驟，輕鬆開始方便、快捷、穩定的海外網購體驗！
      </div>
      <div class="bs-banner-link text-subtitle-sm">
        <a href="#" @click.prevent="openVideo('https://www.youtube.com/watch?v=Tj7346AVTqc&feature=emb_title')">
          立馬播放</a>
      </div>
    </div>
  </div>
  <article class="bs-container bs-container--paddingV">
    <section class="section section--progress">
      <div class="progress-title text-h5 js-content-anchor" data-title="新手教學"
        data-subtitle="">如何使用？</div>
      <div class="progress-step-container">
        <div class="progress-step progress-step--1">
          <div class="progress-step-media">
            <img class="progress-step-media-image" src="/assets/img/howitworks_1.png" srcset="
                /assets/img/howitworks_1.png 1x,
                /assets/img/howitworks_1@2x.png 2x,
                /assets/img/howitworks_1@3x.png 3x
              ">
          </div>
          <div class="progress-step-bar">
            <div class="progress-step-bar-dot"></div>
            <div class="progress-step-bar-line"></div>
          </div>
          <div class="progress-step-content">
            <div class="progress-step-content-title text-h6 js-content-anchor"
              data-title="新手教學"
              data-subtitle="取得你的海外倉庫地址">
              <span><i class="bs-icon-overseas-house"></i></span>
              <span class="step-title">先註冊成為 Buyandship 會員</span>
            </div>
            <div class="progress-step-content-desc">
              <ul>
                <li>註冊時，只需提供電郵、手機號碼及個人資料；</li>
                <li>成功註冊後，即可獲得一個專屬的會員編碼，以茲識別貨物所屬。</li>
              </ul>
            </div>
            <div class="progress-step-content-desc"><strong>小提醒：</strong>
              <ul>
                <li>如果找不到確認電郵，請先檢查電子郵箱中的垃圾郵件匣。</li>
              </ul>
            </div>
            <div class="progress-step-action">
              <a class="bs-button bs-button--primary bs-button--outline full-width"
                href="/signup/">
                註冊成為 Buyandship 會員
              </a>
            </div>
          </div>
        </div>
        <div class="progress-step progress-step--2">
          <div class="progress-step-media">
            <img class="progress-step-media-image" src="/assets/img/howitworks_2.png" srcset="
                /assets/img/howitworks_2.png 1x,
                /assets/img/howitworks_2@2x.png 2x,
                /assets/img/howitworks_2@3x.png 3x
              ">
          </div>
          <div class="progress-step-bar">
            <div class="progress-step-bar-dot"></div>
            <div class="progress-step-bar-line"></div>
          </div>
          <div class="progress-step-content">
            <div class="progress-step-content-title text-h6 js-content-anchor"
              data-title="新手教學"
              data-subtitle="填寫海外倉庫送貨地址">
              <span><i class="bs-icon-shop-bag"></i></span>
              <span class="step-title">盡情在海外網購，填寫海外倉庫代收地址</span>
            </div>
            <div class="progress-step-content-desc">
              <ul>
                <li>購物前，請留意「<a href="https://www.buyandship.com.tw/restrictions/">禁運物品目錄</a>」；</li>
                <li>在海外購物網站填寫送貨地址（Shipping Address）須填寫相應的海外倉庫地址；</li>
                <li>收件人一欄則填上姓名（如果是歐美國家的購物網站，建議以英文填寫收件人姓名）及會員編碼。</li>
              </ul>
            </div>
            <div class="progress-step-action">
              <a class="bs-button bs-button--primary bs-button--outline full-width"
                href="http://buyandship.com.tw/account/warehouses/">
                查看海外倉庫地址
              </a>
            </div>
          </div>
        </div>
        <div class="progress-step progress-step--3">
          <div class="progress-step-media">
            <img class="progress-step-media-image" src="/assets/img/howitworks_3.png" srcset="
                /assets/img/howitworks_3.png 1x,
                /assets/img/howitworks_3@2x.png 2x,
                /assets/img/howitworks_3@3x.png 3x
              ">
          </div>
          <div class="progress-step-bar">
            <div class="progress-step-bar-dot"></div>
            <div class="progress-step-bar-line"></div>
          </div>
          <div class="progress-step-content">
            <div class="progress-step-content-title text-h6 js-content-anchor"
              data-title="新手教學"
              data-subtitle="乖乖來申報貨物資料">
              <span><i class="bs-icon-declare-done"></i></span>
              <span class="step-title">乖乖來申報貨物資料</span>
            </div>
            <div class="progress-step-content-desc">
              <ul>
                <li>一般可在店家電郵中找到申報所需的資料，例如海外快遞公司（Shipping Carrier）以及物流追蹤編號（Tracking Number）；</li>
                <li>有了所需的資料，請立即到會員中心的「<a href="https://www.buyandship.com.tw/account/shipments/">貨物申報管理</a>」內申報貨物；</li>
                <li>貨物送到海外倉庫後，一般會於 2 個工作天內入庫，若沒有請聯繫我們。</li>
              </ul>
            </div>
            <div class="progress-step-content-desc"><strong>小提醒：</strong>
              <ul>
                <li>貨物抵達海外倉庫後才進行申報，或會延遲運送時間；</li>
                <li>忘記申報或虛報將影響貨物到達香港及運送至台灣的時間；</li>
                <li>虛報甚至有機會損害貨物原有之保險權益。</li>
              </ul>
            </div>
            <div class="progress-step-action">
              <a class="bs-button bs-button--primary bs-button--outline full-width"
                href="/account/shipments/">
                按此申報貨物
              </a>
            </div>
          </div>
        </div>
        <div class="progress-step progress-step--4">
          <div class="progress-step-media">
            <img class="progress-step-media-image" src="/assets/img/howitworks_4.png" srcset="
                /assets/img/howitworks_4.png 1x,
                /assets/img/howitworks_4@2x.png 2x,
                /assets/img/howitworks_4@3x.png 3x
              ">
          </div>
          <div class="progress-step-bar">
            <div class="progress-step-bar-dot"></div>
            <div class="progress-step-bar-line"></div>
          </div>
          <div class="progress-step-content">
            <div class="progress-step-content-title text-h6 js-content-anchor"
              data-title="新手教學"
              data-subtitle="合併貨物及付款">
              <span><i class="bs-icon-consolidate"></i></span>
              <span class="step-title">合併貨物及付款</span>
            </div>
            <div class="progress-step-content-desc">
              <ul>
                <li>貨物到達香港倉庫即有電郵通知，然後可以填寫轉運單合併貨物；</li>
                <li>取貨方法可選擇宅配到府或提貨點提領；</li>
                <ul>
                  <li>如選擇宅配到府，請到「<a href="https://www.buyandship.com.tw/account/addresses/">收貨地址管理</a>」確認派送地址</li>
                </ul>
                <li>信用卡支付運費後，貨物會在 1-2 個工作天內從香港倉庫寄出。（此為海外交易，請洽發卡銀行詢問相關手續費）；</li>
                <li>接下來只需等待取貨通知。等待期間，不妨逛一逛小編為您推薦的海外精選購物網站。</li>
              </ul>
            </div>
            <div class="progress-step-content-desc"><strong>小提醒：</strong>
              <ul>
                <li>若對貨物重量有疑慮，請在貨物到達香港倉庫後，尚未付款之前盡快與客服提出覆磅；</li>
                <li>未完成支付的貨物會儲存在香港倉庫，最多可免費存倉 30 天，逾期收費請參照「<a href="https://www.buyandship.com.tw/pricing/">收費說明</a>」。</li>
              </ul>
            </div>
            <div class="progress-step-action">
              <a class="bs-button bs-button--primary bs-button--outline full-width" href="/shopping/">
                編輯精選網站
              </a>
            </div>
          </div>
        </div>
        <div class="progress-step progress-step--5">
          <div class="progress-step-media">
            <img class="progress-step-media-image" src="/assets/img/howitworks_5.png" srcset="
                /assets/img/howitworks_5.png 1x,
                /assets/img/howitworks_5@2x.png 2x,
                /assets/img/howitworks_5@3x.png 3x
              ">
          </div>
          <div class="progress-step-bar">
            <div class="progress-step-bar-dot"></div>
          </div>
          <div class="progress-step-content">
            <div class="progress-step-content-title text-h6 js-content-anchor"
              data-title="新手教學"
              data-subtitle="靜候通知，輕鬆取貨">
              <span><i class="bs-icon-order-done"></i></span>
              <span class="step-title">靜候通知，輕鬆取貨</span>
            </div>
            <div class="progress-step-content-desc">
              <ul>
                <li>宅配到府 : 需時約 3-5 個工作天；</li>
                <li>提貨點取貨：需時約 3-4 個工作天，可取貨時將有電郵通知您。</li>
              </ul>
            </div>
            <div class="progress-step-content-desc"><strong>小提醒：</strong>
              <ul>
                <li>貨物或會遇上海關抽驗，請耐心等候；</li>
                <li>未完成支付的轉運單會儲存在香港倉庫不會寄出；</li>
                <li>貨物可於提貨點免費存放 7 天，7 天後收費請參照「<a href="https://www.buyandship.com.tw/redemption/">提貨點</a>」，最多儲存 30 天。</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section--pricing">
      <div class="pricing-title text-h5 js-content-anchor" data-title="出庫時間及須知"
        data-subtitle="">
        海外倉庫出庫時間及須知
        <div class="pricing-title-deco"></div>
      </div>
      <div class="scheme">
        <div class="scheme-section">
          <div class="scheme-card-container">
            <div class="scheme-card">
              <div class="scheme-cloumn">
                <section class="scheme-section scheme-flags">
                  <bs-flags-container
                    :flag-list="[
                      {
                        iso: 'us',
                        name: '美國',
                      },
                      {
                        iso: 'jp',
                        name: '日本',
                      },
                    ]"
                  >
                  </bs-flags-container>
                </section>
                <section class="scheme-section scheme-parcel-info">
                  <ul>
                    <li>每周五次</li>
                    <li>香港時間逢星期二至星期六</li>
                  </ul>
                </section>
              </div>
              <div class="scheme-cloumn">
                <section class="scheme-section scheme-flags">
                  <bs-flags-container
                    :flag-list="[
                      {
                        iso: 'kr',
                        name: '韓國',
                      },
                      {
                        iso: 'cn',
                        name: '中國',
                      },
                    ]"
                  >
                  </bs-flags-container>
                </section>
                <section class="scheme-section scheme-parcel-info">
                  <ul>
                    <li>每周五次</li>
                    <li>香港時間逢星期一至星期五</li>
                  </ul>
                </section>
              </div>
              <div class="scheme-cloumn">
                <section class="scheme-section scheme-flags">
                  <bs-flags-container
                    :flag-list="[
                      {
                        iso: 'uk',
                        name: '英國',
                      },
                    ]"
                  >
                  </bs-flags-container>
                </section>
                <section class="scheme-section scheme-parcel-info">
                  <ul>
                    <li>每周兩次</li>
                    <li>香港時間逢星期二及星期五</li>
                  </ul>
                </section>
              </div>
              <div class="scheme-cloumn">
                <section class="scheme-section scheme-flags">
                  <bs-flags-container
                    :flag-list="[
                      {
                        iso: 'au',
                        name: '澳洲',
                      },
                      {
                        iso: 'it',
                        name: '義大利',
                      },
                    ]"
                  >
                  </bs-flags-container>
                </section>
                <section class="scheme-section scheme-parcel-info">
                  <ul>
                    <li>每周一次</li>
                    <li>香港時間逢星期五</li>
                  </ul>
                </section>
              </div>
              <div class="scheme-cloumn">
                <section class="scheme-section scheme-flags">
                  <bs-flags-container
                    :flag-list="[
                      {
                        iso: 'th',
                        name: '泰國',
                      },
                    ]"
                  >
                  </bs-flags-container>
                </section>
                <section class="scheme-section scheme-parcel-info">
                  <ul>
                    <li>每周一次</li>
                    <li>香港時間逢星期二</li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
          <section class="scheme-section scheme-info">
            <input id="scheme-info-field--Europe" type="checkbox" class="scheme-info-field">
            <label for="scheme-info-field--Europe" class="scheme-info-straw">
              <span class="icon-info"></span>
              <span
                class="text-subtitle-sm scheme-info-field-title">海外倉庫出庫時間</span>
              <span class="icon-pricing-arrow-down"></span>
            </label>
            <div class="scheme-info-centent">
              <ul class="scheme-info-centent-list">
                <li>會員毋須額外付費就可合併多國貨物，運費以合併總重量計價，但有機會多國合併以每磅運費較高者計價；</li>
                <li>入庫以後，我們會按以上的「海外倉庫出庫時間」將貨物自動出庫送回香港；</li>
                <li>當貨物狀態更改為「出庫」，意指該貨物已被安排送港；</li>
                <li>所有海外倉庫星期六、星期天及法定假日休息，如貨物無法派送、快遞公司會自動安排在下一個工作天派送；</li>
                <li>如遇上海外倉庫所在國家的法定假日或香港假期，出庫及到達時間將會順延。</li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section class="section section--faq">
      <div class="bs-container">
        <div class="faq-title text-h5 js-content-anchor" data-title="常見問題"
          data-subtitle="">
          <div>
            常見問題
          </div>
          <div class="faq-title-deco"></div>
        </div>
        
<div class="contact-second">
  <div class="contact-second-item">
    <i class="bs-icon-faq-register"></i>
    <div class="text-h6">會員註冊</div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035517812-%E5%A6%82%E4%BD%95%E8%A8%BB%E5%86%8A%E6%9C%83%E5%93%A1/">
        如何註冊會員
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035517772-%E8%A8%BB%E5%86%8A%E5%BE%8C%E7%82%BA%E4%BD%95%E6%B2%92%E6%9C%89%E6%94%B6%E5%88%B0%E9%9B%BB%E9%83%B5%E9%A9%97%E8%AD%89%E4%BF%A1/">
        註冊後為何沒有收到電郵驗證信
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035876031-%E7%82%BA%E4%BD%95%E9%9B%BB%E9%83%B5%E9%A9%97%E8%AD%89%E7%84%A1%E6%B3%95%E9%80%9A%E9%81%8E/">
        為何電郵驗證無法通過
      </a>
    </div>
    <div class="contact-second-item-link">
      <a href="https://buyandship-tw.zendesk.com/hc/zh-tw/categories/360002314771-%E6%9C%83%E5%93%A1%E8%A8%BB%E5%86%8A/"
        class="contact-second-item-link-arrow text-subtitle-sm">
        更多
      </a>
    </div>
  </div>
  <div class="contact-second-item">
    <i class="bs-icon-faq-shop"></i>
    <div class="text-h6">海外購物</div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035876511-%E5%93%AA%E4%BA%9B%E6%B5%B7%E5%A4%96%E8%B3%BC%E7%89%A9%E7%B6%B2%E7%AB%99%E5%8F%AF%E4%BB%A5%E4%BD%BF%E7%94%A8%E8%BD%89%E9%81%8B%E6%9C%8D%E5%8B%99/">
        哪些海外購物網站可以使用轉運服務
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035876451-%E8%B3%A3%E5%AE%B6%E9%80%9A%E7%9F%A5%E4%B8%8D%E6%B4%BE%E9%80%81%E8%BD%89%E9%81%8B%E5%80%89%E5%BA%AB/">
        賣家通知不派送轉運倉庫
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035876411-%E6%9C%89%E6%B2%92%E6%9C%89%E4%BB%A3%E8%B3%BC-%E4%BB%A3%E4%BB%98%E8%B2%BB%E7%94%A8%E7%9A%84%E6%9C%8D%E5%8B%99%E5%97%8E/">
        有沒有代購、代付費用的服務嗎
      </a>
    </div>
    <div class="contact-second-item-link">
      <a class="contact-second-item-link-arrow text-subtitle-sm"
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/categories/360002301292-%E6%B5%B7%E5%A4%96%E8%B3%BC%E7%89%A9/">
        更多
      </a>
    </div>
  </div>
  <div class="contact-second-item">
    <i class="bs-icon-faq-declare"></i>
    <div class="text-h6">貨件申報</div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035878071-%E4%BD%95%E6%99%82%E9%80%B2%E8%A1%8C%E8%B2%A8%E4%BB%B6%E7%94%B3%E5%A0%B1/">
        何時進行貨件申報
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035519572-%E5%A6%82%E4%BD%95%E5%9C%A8%E7%B6%B2%E7%AB%99%E4%B8%8A%E7%94%B3%E5%A0%B1%E8%B2%A8%E4%BB%B6%E8%B3%87%E6%96%99/">
        如何在網站上申報貨件資料
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035878011-%E8%B2%A8%E7%89%A9%E8%BF%BD%E8%B9%A4%E7%B7%A8%E8%99%9F-Tracking-Number-%E5%A1%AB%E5%AF%AB%E9%8C%AF%E8%AA%A4%E6%80%8E%E9%BA%BC%E8%BE%A6/">
        貨物追蹤編號（Tracking Number）填寫錯誤怎麼辦
      </a>
    </div>
    <div class="contact-second-item-link">
      <a class="contact-second-item-link-arrow text-subtitle-sm"
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/categories/360002305772-%E8%B2%A8%E4%BB%B6%E7%94%B3%E5%A0%B1/">
        更多
      </a>
    </div>
  </div>
  <div class="contact-second-item">
    <i class="bs-icon-faq-transition"></i>
    <div class="text-h6">轉運服務</div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035878091-%E5%A6%82%E4%BD%95%E8%BF%BD%E8%B9%A4%E8%B2%A8%E4%BB%B6%E7%9A%84%E7%89%A9%E6%B5%81%E7%8B%80%E6%B3%81/">
        如何追蹤貨件的物流狀況
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035519512-%E6%98%9F%E6%9C%9F%E5%85%AD-%E6%97%A5%E5%8F%8A%E7%95%B6%E5%9C%B0%E7%9A%84%E5%85%AC%E7%9C%BE%E5%81%87%E6%9C%9F-%E6%B5%B7%E5%A4%96%E5%80%89%E5%BA%AB%E6%9C%83%E5%90%A6%E7%B0%BD%E6%94%B6%E8%B2%A8%E4%BB%B6/">
        星期六、日及當地的公眾假期，海外倉庫會否簽收貨件
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035519492-%E5%80%89%E5%BA%AB%E6%98%AF%E5%90%A6%E6%9C%83%E6%8B%92%E6%94%B6%E8%B2%A8%E4%BB%B6/">
        倉庫是否會拒收貨件
      </a>
    </div>
    <div class="contact-second-item-link">
      <a class="contact-second-item-link-arrow text-subtitle-sm"
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/categories/360002309351-%E8%BD%89%E9%81%8B%E6%9C%8D%E5%8B%99/">
        更多
      </a>
    </div>
  </div>
  <div class="contact-second-item">
    <i class="bs-icon-faq-rewards"></i>
    <div class="text-h6">獎賞計劃</div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035519832-%E7%A9%8D%E5%88%86%E6%9C%89%E4%BD%95%E7%94%A8%E9%80%94/">
        積分有何用途
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035519812-%E5%A6%82%E4%BD%95%E7%8D%B2%E5%BE%97%E7%A9%8D%E5%88%86/">
        如何獲得積分
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035878231-%E5%A6%82%E4%BD%95%E5%84%B2%E5%80%BC%E7%A9%8D%E5%88%86/">
        如何儲值積分
      </a>
    </div>
    <div class="contact-second-item-link">
      <a class="contact-second-item-link-arrow text-subtitle-sm"
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/categories/360002309391-%E7%8D%8E%E8%B3%9E%E8%A8%88%E5%8A%83/">
        更多
      </a>
    </div>
  </div>
  <div class="contact-second-item">
    <i class="bs-icon-faq-plus"></i>
    <div class="text-h6">其他</div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035877091-%E6%9C%89%E7%94%9A%E9%BA%BC%E7%89%B9%E5%88%A5%E7%9A%84%E7%A6%81%E9%81%8B%E7%89%A9%E5%97%8E/">
        有甚麼特別的禁運物嗎
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035518672-%E5%8F%AF%E4%BB%A5%E8%BD%89%E9%81%8B%E9%9C%80%E8%A6%81%E6%BA%AB%E5%BA%A6%E6%8E%A7%E5%88%B6%E7%9A%84%E8%B2%A8%E7%89%A9%E5%97%8E/">
        可以轉運需要溫度控制的貨物嗎
      </a>
    </div>
    <div class="contact-second-item-link">
      <a
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/articles/360035877071-%E5%A6%82%E8%B2%A8%E4%BB%B6%E5%85%A7%E6%9C%89%E7%A6%81%E9%81%8B%E7%89%A9%E5%B0%87%E6%9C%83%E5%A6%82%E4%BD%95%E8%99%95%E7%90%86/">
        如貨件內有禁運物將會如何處理
      </a>
    </div>
    <div class="contact-second-item-link">
      <a class="contact-second-item-link-arrow text-subtitle-sm"
        href="https://buyandship-tw.zendesk.com/hc/zh-tw/categories/360002373232-%E5%85%B6%E4%BB%96/">
        更多
      </a>
    </div>
  </div>
</div>

      </div>
    </section>
  </article>

  <bs-dialog v-model="isShowDialog" v-cloak>
    <div class="bs-tutorial__video" v-if="isShowDialog">
      <iframe width="840" height="473" src="https://www.youtube.com/embed/Tj7346AVTqc" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </bs-dialog>
</main>

<script>
window.onload = function() {
  var pageJs = document.createElement('script')
  pageJs.src = "../assets/js/tutorial.js?7c46fb9bd2472cc81461"
  document.body.appendChild(pageJs)
  var pageJs = document.createElement('script')
  pageJs.src = 
  document.body.appendChild(pageJs)
}
</script>
<!-- <script defer src="../assets/js/tutorial.js?7c46fb9bd2472cc81461"></script> -->

<!-- WP:end -->

<footer id="bsFooter" class="bs-footer" v-cloak>
  <div class="footer-graphic" v-if="isShowGraphic">
    <picture>
      <source media="(max-width: 1199px)" srcset="
          /assets/img/footer_768px.png 1x,
          /assets/img/footer_768px@2x.png 2x,
          /assets/img/footer_768px@3x.png 3x
        " sizes="100vw">
      <source media="(min-width: 1200px)" srcset="
          /assets/img/footer_1440px.png 1440w,
          /assets/img/footer_1440px@2x.png 2880w,
          /assets/img/footer_1440px@3x.png 4320w
        " sizes="100vw">
      <img class="footer-graphic-media" src="/assets/img/footer_1440px.png" alt="cat is shipping">
    </picture>
  </div>
  <div class="bs-container">
    <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }">
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">血拼推薦</div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">發燒話題</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">最新消息</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">代運資訊</div>
        <div class="footer-nav-group-item">
          <a href="/tutorial/">新手教學</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/pricing/">收費說明</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/advantage/">我們的優勢</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">關於我們</div>
        <div class="footer-nav-group-item">
          <a href="/about-us/">關於 Buyandship</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/warehouses/">海外倉庫一覽</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/contact-us/">聯絡我們</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
        <div class="footer-social">
          <div class="footer-social-box">
            <a class="footer-social-box-link" target="_blank" href="https://www.facebook.com/buyandship.com.tw">
              <i class="bs-icon">
                <span class="bs-icon-facebook"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.instagram.com/buyandship.tw">
              <i class="bs-icon">
                <span class="bs-icon-instagram"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-youtube"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-weibo"></span>
              </i>
            </a>
            <!-- <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-wechat"></span>
              </i>
            </a> -->
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-twitter"></span>
              </i>
            </a>
          </div>
        </div>
        <div class="footer-location">
          <div class="footer-location-icon">
            <i class="bs-icon-environment" style="margin-left: -6px;"></i>
          </div>
          <div class="footer-location-desc">香港總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
        </div>
        <div class="footer-download">
          <a class="footer-download-link" target="_blank" href="https://apps.apple.com/app/buandship/id1474193162?ct=tw_site_footer&vt=lo&mt=8">
            <img class="footer-download-link-media" alt="AppStore"
              src="/assets/img/AppStore_200px@2x.png" srcset="
                /assets/img/AppStore_200px@2x.png 1x,
                /assets/img/AppStore_200px@2x.png 2x,
                /assets/img/AppStore_200px@3x.png 3x
              ">
          </a>
          <a class="footer-download-link" target="_blank" href="https://qrgo.page.link/9Jxct">
            <img class="footer-download-link-media" alt="GooglePlay"
              src="/assets/img/GooglePlay_200px@2x.png" srcset="
                /assets/img/GooglePlay_200px@2x.png 1x,
                /assets/img/GooglePlay_200px@2x.png 2x,
                /assets/img/GooglePlay_200px@3x.png 3x
              ">
          </a>
        </div>
      </a-col>
    </a-row>
    <div class="footer-bottom">
      <div class="footer-country">
        <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <i class="bs-icon-country"></i>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="footer-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
      <div class="footer-copyright">
        <span class="footer-copyright-desc">© 2019 E-BUY GLOBAL LIMITED</span>
        <a class="footer-copyright-link"
          href="/terms/">使用條款</a>
        <a class="footer-copyright-link"
          href="/privacy/">隱私權政策</a>
      </div>
    </div>
  </div>
</footer>

</div> <!-- end class="layout" -->

<script src="../assets/js/common.js?7c46fb9bd2472cc81461"></script>

</body>

</html>

