<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  <link rel="stylesheet" href="assets/css/common.css?7c46fb9bd2472cc81461">
  
  <script type="text/javascript" src="https://www.buyandship.com.tw/wp-includes/js/jquery/jquery.js?ver=1.12.4">
  </script>
  
</head>

<body>

  <div class="layout">

    <div id="bsHeader">
      <header class="bs-header">
  <div class="header-l">
    <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
    <a class="header-logo" href="/">
      <img class="header-logo-image" alt="logo" src="/assets/img/company_logo_dark.png" srcset="
            /assets/img/company_logo_dark.png 1x,
            /assets/img/company_logo_dark@2x.png 2x,
            /assets/img/company_logo_dark@3x.png 3x
          ">
      <img class="header-logo-image-sm" alt="logo" src="/assets/img/company_logo_box.png" srcset="
            /assets/img/company_logo_box.png 1x,
            /assets/img/company_logo_box@2x.png 2x,
            /assets/img/company_logo_box@3x.png 3x
          ">
    </a>
    <nav class="header-nav">
      <div class="header-nav-item header-nav-item--more">
        <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <div class="bs-icon-country"></div>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="header-nav-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="header-r">
    <bs-nav>
      <bs-nav-item v-cloak name="新手教學" link="/tutorial/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="收費說明" link="/pricing/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="提貨點" link="/redemption/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="血拼推薦">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">發燒話題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">最新消息</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">編輯精選網站</a>
      </bs-nav-item>
      <bs-nav-item v-cloak name="常見問題">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/faq/">常見問題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/warehouses/">海外倉庫一覽</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/restrictions/">禁運物品</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/contact-us/">聯絡我們</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/advantage/">我們的優勢</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/insurance/">保價服務</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/terms/">使用條款</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/privacy/">隱私權政策</a>
      </bs-nav-item>
    </bs-nav>

    <div class="header-r-member js-header-r-member bns_hidden_logged_in">
      <a class="header-member" href="/login/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">登入</span>
      </a>
      <a class="header-member-sign bs-button bs-button--primary" href="/signup/">
        註冊
      </a>
    </div>

    <div class="header-r-member js-header-r-member bns_hidden_logged_out">
      <a class="header-member header-member--m" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">你好，Christ Shui</span>
      </a>
      <a class="header-member header-member--pc" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">我的帳戶</span>
      </a>
      <aside class="header-account">
        <div class="header-account-overlay"></div>
        <ul class="header-account-list">
          <li class="header-account-list-item"><a
              href="/account/">我的帳戶</a></li>
          <li class="header-account-list-item"><a
              href="/account/profile/">個人資料</a></li>
          <li class="header-account-list-item"><a
              href="/account/warehouses/">海外倉庫</a></li>
          <li class="header-account-list-item"><a
              href="/account/shipments/">我的貨物</a></li>
          <li class="header-account-list-item"><a
              href="/account/orders/">我的轉運單</a></li>
          <li class="header-account-list-item"><a class="js-logout" href="#">登出
              <span class="header-account-list-item--right bs-icon-logout"></span>
            </a></li>
        </ul>
      </aside>
    </div>
  </div>
</header>

      <!-- <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4"
          href="/shopping/">發燒話題</a>
        <a class="text-h4" href="/shopping/">最新消息</a>
        <a class="text-h4" href="/shopping/">編輯精選網站</a>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4" href="/faq/">常見問題</a>
        <a class="text-h4" href="/warehouses/">海外倉庫一覽</a>
        <a class="text-h4" href="/restrictions/">禁運物品</a>
        <a class="text-h4" href="/contact-us/">聯絡我們</a>
        <a class="text-h4" href="/advantage/">我們的優勢</a>
        <a class="text-h4" href="/insurance/">保價服務</a>
        <a class="text-h4" href="/terms/">使用條款</a>
        <a class="text-h4" href="/privacy/">隱私權政策</a>
      </bs-nav-panel> -->
      <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇國家或地區</div>
        <a-row>
          <a-col class="country-card" :xs="12" :md="12" :xl="12" v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" href="country.url">
              <img
                :src="country.flag"
                :alt="'flag_' + country.name"
                width="30"
                height="30"
              >
              <span class="ml">{{ country.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.language" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇語言</div>
        <a-row>
          <a-col v-for="(language, iso) in languageObj" class="country-card" :xs="12" :md="12" :xl="12" :key="'header-language-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" :href="language.url">
              <span class="ml">{{ language.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" ref="mobileNav" v-cloak>
        <div class="mobile-nav-inner">
          <nav class="slinky-menu slinky-theme-default">
            <ul>
              <li class="bns_hidden_logged_out">
                <a href="/account/"><span
                    class="text-subtitle-sm">我的帳戶</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/warehouses/"><span
                    class="text-subtitle-sm">海外倉庫</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/shipments/"><span
                    class="text-subtitle-sm">我的貨物</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a class="slinky-menu__underline" href="/account/orders/"><span
                    class="text-subtitle-sm">我的轉運單</span></a>
              </li>
              <li>
                <a href="/tutorial/"><span
                    class="text-subtitle-sm">新手教學</span></a>
              </li>
              <li>
                <a href="/pricing/"><span
                    class="text-subtitle-sm">收費說明</span></a>
              <li>
              <li>
                <a href="/redemption/"><span
                    class="text-subtitle-sm">提貨點</span></a>
              <li>
                <a href="#" class="next"><span class="text-subtitle-sm">血拼推薦</span></a>
                <ul>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">發燒話題</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">最新消息</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">編輯精選網站</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next slinky-menu__underline">
                  <span class="text-subtitle-sm">常見問題</span>
                </a>
                <ul>
                  <li>
                    <a href="/faq/"><span
                        class="text-subtitle-sm">常見問題</span></a>
                  </li>
                  <li>
                    <a href="/warehouses/"><span
                        class="text-subtitle-sm">海外倉庫一覽</span></a>
                  </li>
                  <li>
                    <a href="/restrictions/"><span
                        class="text-subtitle-sm">禁運物品</span></a>
                  </li>
                  <li>
                    <a href="/contact-us/"><span
                        class="text-subtitle-sm">聯絡我們</span></a>
                  </li>
                  <li>
                    <a href="/advantage/"><span
                        class="text-subtitle-sm">我們的優勢</span></a>
                  </li>
                  <li>
                    <a href="/insurance/"><span
                        class="text-subtitle-sm">保價服務</span></a>
                  </li>
                  <li>
                    <a href="/terms/"><span
                        class="text-subtitle-sm">使用條款</span></a>
                  </li>
                  <li>
                    <a href="/privacy/"><span
                        class="text-subtitle-sm">隱私權政策</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next">
                  <span class="text-subtitle-sm">國家及地區</span>
                  <!-- <span class="slinky-menu__title--right slinky-menu__title__flag"
                    :class="'slinky-link__icon icon-flag-' + $BUYANDSHIP.settings.current_country + '-md'"></span> -->
                  <img
                    class="slinky-menu__title--right slinky-menu__title__flag slinky-link__icon"
                    :src="$BUYANDSHIP.settings.all_countries[$BUYANDSHIP.settings.current_country].flag"
                    :alt="'flag_' + $BUYANDSHIP.settings.current_country"
                  >
                </a>
                <ul>
                  <li v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-m-' + iso">
                    <a :href="country.url">
                      <img
                        class="slinky-link__icon"
                        :src="country.flag"
                        :alt="'flag_' + country.name"
                      >
                      <span class="slinky-link__desc text-subtitle-sm ml">{{ country.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://mo.buynship.com/">
                      <i class="slinky-link__icon icon-flag-mo-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳門</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.today/">
                      <i class="slinky-link__icon icon-flag-hk-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">香港</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.cn/">
                      <i class="slinky-link__icon icon-flag-cn-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">中國</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.co.jp/">
                      <i class="slinky-link__icon icon-flag-jp-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">日本</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://au.buynship.com/">
                      <i class="slinky-link__icon icon-flag-au-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳洲</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.sg/">
                      <i class="slinky-link__icon icon-flag-sg-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">新加坡</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.my/">
                      <i class="slinky-link__icon icon-flag-my-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">馬來西亞</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.in/">
                      <i class="slinky-link__icon icon-flag-in-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">印度</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://ae.buynship.com/">
                      <i class="slinky-link__icon icon-flag-ae-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">阿聯酋</span>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li v-if="Object.keys(languageObj).length > 1">
                <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
                <ul>
                  <li v-for="(language, iso) in languageObj" :key="'header-language-selector-m-' + iso">
                    <a :href="language.url">
                      <span class="text-subtitle-sm">{{ language.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#"><span>English</span></a>
                  </li>
                  <li>
                    <a href="#"><span>繁體中文</span></a>
                  </li>
                  <li>
                    <a href="#"><span>簡体中文</span></a>
                  </li> -->
                </ul>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/login?action=logout">
                  <span class="text-subtitle-sm">登出</span>
                  <span class="slinky-menu__title--right bs-icon-logout"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-nav-spacer">
          <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
        </div>
      </aside>

      <transition name="opacity" v-cloak>
        <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
      </transition>

    </div>

    <!-- <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password> -->

    <!-- WP:start -->
    <link rel="stylesheet" href="assets/css/index.css?7c46fb9bd2472cc81461">

    <div id="bs-alert" v-cloak>
      <bs-alert type="warning" show>
        <div>因疫情嚴重影響全球空運，導致到貨時間無法準確預估，且線上客服訊息量暴增，需較長時間回覆，懇請耐心等待 <a href="https://bit.ly/2ST9jmH">(點我看最新公告)</a></div>
      </bs-alert>
    </div>


<main id="bsMain" class="main">
  <header class="bs-header bs-header--sticky" :class="{'bs-header--show': isShowHeaderWhite}" v-cloak>
    <div class="header-l">
      <i class="header-bars bs-icon">
        <div class="icon-hamburger-black" @click="toggleMobileNav" v-show="!isShowMobileNav"></div>
        <div class="icon-close-black" @click="toggleMobileNav" v-show="isShowMobileNav" style="display: none;"></div>
      </i>
      <a class="header-logo" href="/">
        <img class="header-logo-image" alt="logo" src="/assets/img/company_logo_light.png" srcset="
              /assets/img/company_logo_light.png 1x,
              /assets/img/company_logo_light@2x.png 2x,
              /assets/img/company_logo_light@3x.png 3x
            ">
        <img class="header-logo-image-sm" alt="logo" src="/assets/img/company_logo_box.png" srcset="
              /assets/img/company_logo_box.png 1x,
              /assets/img/company_logo_box@2x.png 2x,
              /assets/img/company_logo_box@3x.png 3x
            ">
      </a>
    </div>
    <!-- <div class="header-r">
  <div class="header-r-member bns_hidden_logged_in">
    <a class="header-member" href="/login/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">登入</span>
    </a>
    <a class="bs-button header-member-sign text-subtitle-sm bs-button--solid bs-button--primary bs-button--md"
      href="/signup/">
      註冊
    </a>
  </div>
  <div class="header-r-member bns_hidden_logged_out">
    <a class="header-member header-member--m" href="/account/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">你好，Christ Shui</span>
    </a>
    <a class="header-member header-member--pc" href="/account/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">我的帳戶</span>
    </a>
    <aside class="header-account">
      <div class="header-account-overlay"></div>
      <ul class="header-account-list">
        <li class="header-account-list-item"><a
            href="/account/">我的帳戶</a></li>
        <li class="header-account-list-item"><a
            href="/account/profile/">個人資料</a></li>
        <li class="header-account-list-item"><a
            href="/account/warehouses/">海外倉庫</a></li>
        <li class="header-account-list-item"><a
            href="/account/shipments/">我的貨物</a></li>
        <li class="header-account-list-item"><a
            href="/account/orders/">我的轉運單</a></li>
        <li class="header-account-list-item"><a class="js-logout" href="#">登出
            <span class="header-account-list-item--right bs-icon-logout"></span>
          </a></li>
      </ul>
    </aside>
  </div>
</div>
 -->
    <div class="header-r js-inner-header-r"></div>
  </header>
  <section class="section section--panel">
    <div class="bs-container">
      <div class="index-subtitle">
        網購全球 盡在 Buyandship
      </div>
      <div class="index-title index-title--pc text-h4">
        多國倉庫代運 不靠代購自己買<br />輕鬆轉運海外戰利品回家
      </div>
      <div class="index-title index-title--m text-h4">
        不靠代購自己買<br />多國倉庫代收代運
      </div>
      <a class="bs-button bs-button--primary bs-button--solid full-width main-button"
        href="/account/warehouses/">
        <span class="bns_hidden_logged_in">註冊會員</span>
        取得海外倉庫地址
      </a>
    </div>
  </section>
  <section class="section section--global">
    <img class="global-cloud-left" src="/assets/img/Group_22@3x.png" srcset="
      /assets/img/Group_22.png 2056w,
      /assets/img/Group_22@2x.png 4096w,
      /assets/img/Group_22@3x.png 6168w
    " sizes="25vw" alt="" />
    <img class="global-cloud-right" src="/assets/img/Group_21@3x.png" srcset="
      /assets/img/Group_21.png 1880w,
      /assets/img/Group_21@2x.png 3760w,
      /assets/img/Group_21@3x.png 5640w
    " sizes="5vw" alt="" />
    <div class="global-earth">
      <div class="global-earth-inner" v-show="videoLoadingStatus.globe === 1 || videoLoadingStatus.globe === 2" v-cloak>
        <i class="float-circle float-circle__1"></i>
        <i class="float-triangle float-triangle--orange float-triangle__2"></i>
        <i class="float-triangle float-triangle--orange float-triangle__3"></i>
        <video v-show="videoLoadingStatus.globe === 1" class="global-video" autoplay loop muted playsinline
          ref="videoGlobe">
          <source type="video/mp4" src="/assets/video/globe_1080.mp4?202001101436"
            srcset="
              /assets/video/globe_1080.mp4?202001101436 300w,
              /assets/video/globe_2000.mp4?202001101436 1200w
            ">
        </video>
        <img v-show="videoLoadingStatus.globe === 2" class="global-image" alt="global_earth"
          src="/assets/img/index_globe@2x.png" srcset="
            /assets/img/index_globe.png 1204w,
            /assets/img/index_globe@2x.png 2408w,
            /assets/img/index_globe@3x.png 3612w
          " sizes="70vw">
      </div>
    </div>
    <div class="bs-container">
      <div class="global-intro">
        <div class="global-intro-title text-h6">為什麼使用 Buyandship？</div>
        <div class="global-intro-item">
          <span class="icon-index-check-circle"></span>
          <span>美國州稅、台灣關稅我們幫你包</span>
        </div>
        <div class="global-intro-item">
          <span class="icon-index-check-circle"></span>
          <span>收費透明，絕無隱藏費用，以實重收費，不計材積</span>
        </div>
        <div class="global-intro-item">
          <span class="icon-index-check-circle"></span>
          <span>最新購物情報不漏接</span>
        </div>
        <div class="global-intro-item">
          <span class="icon-index-check-circle"></span>
          <span>專業客服團隊線上解答疑難雜症</span>
        </div>
      </div>
      <div class="float-triangle"></div>
    </div>
  </section>
  <section class="section section--tutorial">
    <div class="float-triangle"></div>
    <div class="bs-container">
      <div class="tutorial-title text-h5">操作簡單　輕鬆上手</div>
      <div class="tutorial-box" ref="tutorial">
        <div class="tutorial-box-inner">
          <div class="tutorial-box-item tutorial-box-item__warehouses">
            <div class="tutorial-box-item-media-wrap" href="/tutorial/">
              <img class="tutorial-box-item-media tutorial-box-item-media__warehouses__bg"
                src="/assets/img/index_warehouses_bg@2x.png" srcset="
                  /assets/img/index_warehouses_bg.png 1x,
                  /assets/img/index_warehouses_bg@2x.png 2x,
                  /assets/img/index_warehouses_bg@3x.png 3x
                ">
              <img class="tutorial-box-item-media tutorial-box-item-media__warehouses__back"
                src="/assets/img/index_warehouses_back@2x.png" srcset="
                  /assets/img/index_warehouses_back.png 1x,
                  /assets/img/index_warehouses_back@2x.png 2x,
                  /assets/img/index_warehouses_back@3x.png 3x
                ">
              <img class="tutorial-box-item-media tutorial-box-item-media__warehouses__front"
                src="/assets/img/index_warehouses_front@2x.png" srcset="
                  /assets/img/index_warehouses_front.png 1x,
                  /assets/img/index_warehouses_front@2x.png 2x,
                  /assets/img/index_warehouses_front@3x.png 3x
                ">
            </div>
            <div class="tutorial-box-item-content">
              <div class="tutorial-box-item-slogan">
                <span class="tutorial-box-item-slogan-text">註冊會員取得倉庫地址</span>
              </div>
              <div class="tutorial-box-item-title text-h6">多國倉庫地址任你挑</div>
              <div class="tutorial-box-item-desc">
                提供 9 個國家及地區的倉庫代收您的網購戰利品，海外血拼自己來超 easy！
              </div>
              <a class="tutorial-box-item-link index-link text-subtitle-sm"
                href="/tutorial/">觀看教學</a>
            </div>
          </div>
          <div class="tutorial-box-item tutorial-box-item__shop">
            <div class="tutorial-box-item-media-wrap" href="/tutorial/">
              <img class="tutorial-box-item-media tutorial-box-item-media__shop__bg"
                src="/assets/img/index_shop_bg@2x.png" srcset="
                  /assets/img/index_shop_bg.png 1x,
                  /assets/img/index_shop_bg@2x.png 2x,
                  /assets/img/index_shop_bg@3x.png 3x
                ">
              <img class="tutorial-box-item-media tutorial-box-item-media__shop__back"
                src="/assets/img/index_shop_back@2x.png" srcset="
                  /assets/img/index_shop_back.png 1x,
                  /assets/img/index_shop_back@2x.png 2x,
                  /assets/img/index_shop_back@3x.png 3x
                ">
              <img class="tutorial-box-item-media tutorial-box-item-media__shop__front"
                src="/assets/img/index_shop_front@2x.png" srcset="
                  /assets/img/index_shop_front.png 1x,
                  /assets/img/index_shop_front@2x.png 2x,
                  /assets/img/index_shop_front@3x.png 3x
                ">
            </div>
            <div class="tutorial-box-item-content">
              <div class="tutorial-box-item-slogan">
                <span class="tutorial-box-item-slogan-text">全球盡情剁手指</span>
              </div>
              <div class="tutorial-box-item-title text-h6">不靠代購自己買</div>
              <div class="tutorial-box-item-desc">送貨地址填寫我們的海外倉庫代收地址和專屬的會員編碼，讓我們為您代收代運戰利品！</div>
              <a class="tutorial-box-item-link index-link text-subtitle-sm"
                href="/tutorial/">觀看教學</a>
            </div>
          </div>
          <div class="tutorial-box-item tutorial-box-item__flow">
            <img v-show="videoLoadingStatus.flow === 2" class="tutorial-box-item-media" alt="合併集運"
              src="/assets/img/consolidate@2x.png" srcset="
                /assets/img/consolidate.png 1x,
                /assets/img/consolidate@2x.png 2x,
                /assets/img/consolidate@3x.png 3x
            ">
            <div class="tutorial-box-item-media-wrap" href="/tutorial/" v-show="videoLoadingStatus.flow === 1">
              <div class="tutorial-box-item-media-media-container">
                <img class="tutorial-box-item-media" src="/assets/img/index_consolidate.png"
                  alt="index_consolidate">
                <video class="tutorial-box-item-media" muted playsinline ref="videoIndexFlow">
                  <source src="/assets/video/index_flow.mp4?202001101436"
                    type="video/mp4">
                </video>
              </div>
            </div>
            <div class="tutorial-box-item-content">
              <div class="tutorial-box-item-slogan">
                <span
                  class="tutorial-box-item-slogan-text">申報與合併轉運</span>
              </div>
              <div class="tutorial-box-item-title text-h6">
                免費合併多國貨件
              </div>
              <div class="tutorial-box-item-desc">
                準時申報貨件資訊、重量計價不計材積方便，合併多國貨件不額外加價，輕鬆省運費。
              </div>
              <a class="tutorial-box-item-link index-link text-subtitle-sm"
                href="/tutorial/">觀看教學</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--support">
    <div class="float-triangle"></div>
    <div class="bs-container">
      <div class="support-title text-h5">Buyandship 跨海網購的最佳小夥伴</div>
      <div class="support-container">
        <div class="support-box">
          <div class="support-box-media-wrap">
            <video v-show="videoLoadingStatus.easy === 1" class="support-box-media support-box-media--desktop" muted
              playsinline ref="videoIndexEasy">
              <source src="/assets/video/index_easy.mp4?202001101436"
                type="video/mp4" />
            </video>
            <img v-show="videoLoadingStatus.easy === 2" class="support-box-media support-box-media--mobile"
              alt="index_easy" src="/assets/img/index_easy@2x.png" srcset="
              /assets/img/index_easy.png 1x,
              /assets/img/index_easy@2x.png 2x,
              /assets/img/index_easy@3x.png 3x
            ">
          </div>
          <div class="support-box-slogan" v-cloak>
            <span class="text-subtitle-lg" v-if="isApp">
              台灣進口關稅全包
            </span>
            <span class="text-subtitle-lg" v-else>
              隨時隨地盡情網購
            </span>
          </div>
          <div class="support-box-desc" v-if="isApp" v-cloak>
            再也不需要計算繁複的關稅，我們包稅幫您集運送回家
          </div>
          <div class="support-box-desc" v-else v-cloak>
            現在就下載 Buyandship 應用程式享受更便捷的代運體驗
          </div>
          <div class="support-box-link" v-cloak>
            <a v-if="isApp" class="index-link text-subtitle-sm"
              href="https://www.buyandship.com.tw/blog/2019/03/19/%E3%80%90%E9%97%9C%E7%A8%85gg%E4%BA%86%E3%80%91%E5%85%A8%E7%B7%9A%E5%8F%B0%E7%81%A3%E9%80%B2%E5%8F%A3%E9%97%9C%E7%A8%85%E9%83%BD%E5%85%8D%E4%BA%86%EF%BC%8C%E5%9B%A0%E7%82%BAbuyandship%E5%85%A8/">
              點我看詳情
            </a>
            <a v-else class="index-link text-subtitle-sm" href="javascript:;"
              @click.prevent="isShowDialogDownload = true">
              按此下載
            </a>
          </div>
        </div>
        <div class="support-box">
          <div class="support-box-media-wrap">
            <img class="support-box-media" alt="index_easy" src="/assets/img/index_easy_2@2x.png"
              srcset="
                /assets/img/index_easy_2.png 1x,
                /assets/img/index_easy_2@2x.png 2x,
                /assets/img/index_easy_2@3x.png 3x
              ">
          </div>
          <div class="support-box-slogan">
            <span class="text-subtitle-lg">
              購物情報
            </span>
          </div>
          <div class="support-box-desc">每日提供最新海外購物情報，隨時跟緊折扣不漏接</div>
          <div class="support-box-link">
            <a class="index-link text-subtitle-sm"
              href="https://www.buyandship.com.tw/blog/categories/shopping/">查看發燒話題</a>
          </div>
        </div>
        <div class="support-box">
          <div class="support-box-media-wrap">
            <img class="support-box-media" alt="index_easy" src="/assets/img/index_easy_3@2x.png"
              srcset="
                /assets/img/index_easy_3.png 1x,
                /assets/img/index_easy_3@2x.png 2x,
                /assets/img/index_easy_3@3x.png 3x
              ">
          </div>
          <div class="support-box-slogan">
            <span class="text-subtitle-lg">
              實重收費
            </span>
          </div>
          <div class="support-box-desc">貨件以實重收費，以貨件送達香港倉庫時的重量作為收費標準，清楚易懂</div>
          <div class="support-box-link">
            <a class="index-link text-subtitle-sm"
              href="/pricing/">計算你的運費</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--promote">
    <div class="bs-container">
      <div class="promote-gallery-warp" v-cloak>
        <bs-gallery>
          <div slot="title" class="text-h6">台灣 Buyandship 會員的心聲</div>
          <div slot="subtitle" class="text-h5">受台灣 150,000＋ 會員信賴！</div>
          <bs-gallery-item slot="content">
            <p slot="description" class="text-body-sm">
              我覺得你們的服務非常的好，之前我有一大批貨全都忘了填寫會員編碼，拜託你們幫我找，你們很快全部找回來，非常感謝。
            </p>
            <span slot="name">Yingchi</span>
            <img slot="avatar" src="/assets/img/avatar_male.jpg" alt="avatar male">
          </bs-gallery-item>
          <bs-gallery-item slot="content">
            <p slot="description" class="text-body-sm">
              你們真的服務很棒像常回覆我的MOLLY、RAIN、SPRING都是很棒的客服。還有，老實說操作方便這點就蠻吸引人的。我平常非常忙，大部分購物的問題都在晚上處理，操作方便這點是我繼續使用的很大原因。
            </p>
            <span slot="name">Clayiverson</span>
            <img slot="avatar" src="/assets/img/avatar_female_01.jpg" alt="avatar female 1">
          </bs-gallery-item>
          <bs-gallery-item slot="content">
            <p slot="description" class="text-body-sm">
              讓我覺得可以推薦朋友的就是，跟各大網站比較起來價格很優惠，運送速度也很快，有收到包裹或是入庫了都會馬上通知！而且客服雖然不是電話但是線上回覆都超迅速有效率而且倉庫據點多用起來很方便！
            </p>
            <span slot="name">蕎</span>
            <img slot="avatar" src="/assets/img/avatar_female_02.jpg" alt="avatar female 2">
          </bs-gallery-item>
        </bs-gallery>
      </div>
    </div>
  </section>
  <section class="section section--blog" style="margin-bottom: 66px;">
    <div class="bs-container">
      <div class="blog-title--pc text-h4">編輯精選及發燒話題</div>
      <div class="blog-title--m text-h5">編輯精選</div>
      <div class="blog-main" v-cloak>
        <div class="blog-latest">
          <bs-product-card-vertical
            link="https://www.buyandship.com.tw/blog/2019/12/16/%e3%80%90bns%e8%aa%bf%e6%9f%a5%e5%a0%b1%e5%91%8a%e3%80%91%e8%98%8b%e6%9e%9c%e8%bf%b7%e7%9c%8b%e9%81%8e%e4%be%86%ef%bd%9e%e9%bb%91%e4%ba%94%e4%b8%8b%e6%ae%ba6%e6%8a%98%ef%bc%8c%e5%bf%ab%e7%98%8b/"
            v-cloak>
            <h3 slot="title" class="text-h5">教你哪裡便宜買Apple商品全攻略！</h3>
            <p slot="content" class="text-body-sm">
              Apple商品美國買就是比較便宜，想要盡情購買擁有無國界的消費體驗的話，使用Buyandship國際代運進行跨國購物，美國免稅州倉庫幫你代收代運。全球九大倉庫免費合併、僅以重量計價還幫你包台灣關稅，更有貼心線上客服人員隨時幫你解惑喔 ! 買高價商品也不怕怕，Buyandship貼心保值服務，多一層保險讓你多一份安心～本網站提供的購物資訊僅供參考，實際訂購情況有可能因網站規範異動或信用卡授權問題而不同
            </p>
            <span slot="read_more_word">
              了解更多
            </span>
          </bs-product-card-vertical>
          <bs-product-card-vertical background-color="blue"
            link="https://www.buyandship.com.tw/blog/2019/12/15/%e3%80%90%e6%af%8d%e8%a6%aa%e7%af%80%e7%b2%be%e9%81%b8%e3%80%91%e6%af%8d%e8%a6%aa%e7%af%80%e9%80%81%e5%aa%bd%e5%aa%bd%e6%9c%80%e6%84%9b%e7%9a%84-hirokitchen%e5%a4%9a%e5%8a%9f%e8%83%bd%e6%97%a9/"
            v-cloak>
            <h3 slot="title" class="text-h5">【發燒新貨到】Hirokitchen多功能早餐機</h3>
            <p slot="content" class="text-body-sm">
              大家都知道，早餐是一天之中最重要的一餐，無論你是忙碌的上班族，還是用心的媽媽，希望每天能再多睡幾分鐘就是生活中的小確幸，但又不想放棄早餐而犧牲了健康。現在日本Hirokitchen推出三合一多功能早餐機， 即使多睡幾分鐘也能輕鬆享用到豐富早餐呀！網路代購價約台幣1600~2500，日本Amazon自己買只要台幣1100呀！！再用Buyandship日本倉庫直接幫你運回台灣，最透明化的運送過程和佛心價格，且絕不收任何額外費用。
            </p>
            <span slot="read_more_word">
              了解更多
            </span>
          </bs-product-card-vertical>
        </div>
        <div class="blog-title--m text-subtitle-lg">發燒話題</div>
        <div class="blog-discount">
          <bs-product-card-horizontal link="https://www.buyandship.com.tw/campaigns/christmasyearendsale2019/" v-cloak>
            <img slot="prdouct_sm_image"
              src="https://www.buyandship.com.tw/contents/uploads/2019/12/christmasandsale19-541x304.jpg" />
            <img slot="prdouct_lg_image"
              src="https://www.buyandship.com.tw/contents/uploads/2019/12/christmasandsale19-447x353.png" />
            <h3 slot="title" class="text-h6">年終打折，打到骨折呀！</h3>
            <p slot="content" class="text-body-sm">如果在Black Friday沒搶到怎麼辦？！那就要把握最後機會！現在還有年終的最後打折，打到骨折呀！滿滿的優惠一起跟好跟滿來！</p>
            <span slot="read_more_word">
              了解更多
            </span>
          </bs-product-card-horizontal>
          <bs-product-card-horizontal link="https://www.buyandship.com.tw/campaigns/buyandship-x-ebay/" v-cloak>
            <img slot="prdouct_sm_image"
              src="https://www.buyandship.com.tw/contents/uploads/2019/12/ebay-541x304.jpg" />
            <img slot="prdouct_lg_image"
              src="https://www.buyandship.com.tw/contents/uploads/2019/12/ebay-447x353.png" />
            <h3 slot="title" class="text-h6">跨界聯名台灣用戶運費回饋專案</h3>
            <p slot="content" class="text-body-sm">會員寶寶們，注意！腦闆又來放福利啦！！即日起成為eBay.com的「台灣用戶」，並使用Buyandship美國倉庫作為收貨地址，每月前兩件於美國eBay消費滿USD.50的貨件，分別可以享有2磅免運費優惠(NT 300積分)，所以兩件一共就是可以折抵4磅運費(NT 600積分)啦！！享受應有盡有的無國界購物體驗，Buyandship就是要寵愛會員無上限！</p>
            <span slot="read_more_word">
              了解更多
            </span>
          </bs-product-card-horizontal>
          <bs-product-card-horizontal link="https://www.buyandship.com.tw/campaigns/buyandship-x-drop/" v-cloak>
            <img slot="prdouct_sm_image"
              src="https://www.buyandship.com.tw/contents/uploads/2019/12/drop-541x304.jpg" />
            <img slot="prdouct_lg_image"
              src="https://www.buyandship.com.tw/contents/uploads/2019/12/drop-447x353.png" />
            <h3 slot="title" class="text-h6">BUYANDSHIP X DROP 首購現折10美金</h3>
            <p slot="content" class="text-body-sm">小編報報！Buyandship 和 Drop 成為合作夥伴囉！Drop是美國最夯的團購網站之一，創始於2012年，專門販售各種設計獨特的優質選物，也和市面上許多知名品牌合作限量聯名商品，更棒的是讓會員能以合理又實惠的團購價入手。 一定不能錯過 Drop studio 的最新限量商品，包含 Sennheiser, Noble Kaiser, Naked & Famous, Mondaine 等都是網站上的暢銷品牌。</p>
            <span slot="read_more_word">
              了解更多
            </span>
          </bs-product-card-horizontal>
        </div>
      </div>
    </div>
  </section>

  <div class="register-footer bns_hidden_logged_in" style="margin-top: 0;" v-cloak>
  <div class="bs-container">
    <div class="register-footer-title">新會員註冊 NT.120 運費積分大方送</div>
    <p class="register-footer-notice mb-2x">準備好一起 Buyandship 了嗎?</p>
    <a class="bs-button register-signup bs-button--primary bs-button--md" href="/signup/">
      點我註冊會員
    </a>
  </div>
</div>


  <bs-dialog v-model="isShowDialogDownload" v-cloak>
    <div class="bs-container download">
  <div class="download-wrap">
    <div class="download-m">
      <div class="download-title text-h5">下載應用程式</div>
      <img class="download-graphic" alt="App display" src="/assets/img/app_store@2x.png" srcset="
        /assets/img/app_store.png 1x,
        /assets/img/app_store@2x.png 2x,
        /assets/img/app_store@3x.png 3x
      ">
      <div class="download-subtitle">
        <span>用手機掃描 QR Code</span>
      </div>
      <div class="download-remark">還沒有 Buyandship 的應用程式？<br /> 立馬下載</div>
      <a target="_blank" href="https://qrgo.page.link/RAeC5">
        <img class="download-platform" alt="AppStore" src="/assets/img/AppStore_200px@2x.png" srcset="
        /assets/img/AppStore_200px@2x.png 1x,
        /assets/img/AppStore_200px@2x.png 2x,
        /assets/img/AppStore_200px@3x.png 3x
      ">
      </a>
      <a target="_blank" href="https://qrgo.page.link/GZn6M">
        <img class="download-platform" alt="GooglePlay" src="/assets/img/GooglePlay_200px@2x.png"
          srcset="
        /assets/img/GooglePlay_200px@2x.png 1x,
        /assets/img/GooglePlay_200px@2x.png 2x,
        /assets/img/GooglePlay_200px@3x.png 3x
      ">
      </a>
    </div>
    <div class="download-pc">
      <div>
        <div class="download-pc-title">App Store</div>
        <img class="qrcode-img" src="/assets/img/qrcode_AppStore.png?202001101436" alt="apple_store_qrcode">
      </div>
      <div>
        <div class="download-pc-title">Google Play</div>
        <img class="qrcode-img" src="/assets/img/qrcode_GooglePlay.png?202001101436" alt="google_play_qrcode">
      </div>
    </div>
  </div>
</div>

  </bs-dialog>
</main>

<script>
window.onload = function() {
  var pageJs = document.createElement('script')
  pageJs.src = "assets/js/index.js?7c46fb9bd2472cc81461"
  document.body.appendChild(pageJs)
  var pageJs = document.createElement('script')
  pageJs.src = 
  document.body.appendChild(pageJs)
}
</script>
<!-- <script defer src="assets/js/index.js?7c46fb9bd2472cc81461"></script> -->

<!-- WP:end -->

<footer id="bsFooter" class="bs-footer" v-cloak>
  <div class="footer-graphic" v-if="isShowGraphic">
    <picture>
      <source media="(max-width: 1199px)" srcset="
          /assets/img/footer_768px.png 1x,
          /assets/img/footer_768px@2x.png 2x,
          /assets/img/footer_768px@3x.png 3x
        " sizes="100vw">
      <source media="(min-width: 1200px)" srcset="
          /assets/img/footer_1440px.png 1440w,
          /assets/img/footer_1440px@2x.png 2880w,
          /assets/img/footer_1440px@3x.png 4320w
        " sizes="100vw">
      <img class="footer-graphic-media" src="/assets/img/footer_1440px.png" alt="cat is shipping">
    </picture>
  </div>
  <div class="bs-container">
    <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }">
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">血拼推薦</div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">發燒話題</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">最新消息</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">代運資訊</div>
        <div class="footer-nav-group-item">
          <a href="/tutorial/">新手教學</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/pricing/">收費說明</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/advantage/">我們的優勢</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">關於我們</div>
        <div class="footer-nav-group-item">
          <a href="/about-us/">關於 Buyandship</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/warehouses/">海外倉庫一覽</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/contact-us/">聯絡我們</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
        <div class="footer-social">
          <div class="footer-social-box">
            <a class="footer-social-box-link" target="_blank" href="https://www.facebook.com/buyandship.com.tw">
              <i class="bs-icon">
                <span class="bs-icon-facebook"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.instagram.com/buyandship.tw">
              <i class="bs-icon">
                <span class="bs-icon-instagram"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-youtube"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-weibo"></span>
              </i>
            </a>
            <!-- <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-wechat"></span>
              </i>
            </a> -->
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-twitter"></span>
              </i>
            </a>
          </div>
        </div>
        <div class="footer-location">
          <div class="footer-location-icon">
            <i class="bs-icon-environment" style="margin-left: -6px;"></i>
          </div>
          <div class="footer-location-desc">香港總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
        </div>
        <div class="footer-download">
          <a class="footer-download-link" target="_blank" href="https://apps.apple.com/app/buandship/id1474193162?ct=tw_site_footer&vt=lo&mt=8">
            <img class="footer-download-link-media" alt="AppStore"
              src="/assets/img/AppStore_200px@2x.png" srcset="
                /assets/img/AppStore_200px@2x.png 1x,
                /assets/img/AppStore_200px@2x.png 2x,
                /assets/img/AppStore_200px@3x.png 3x
              ">
          </a>
          <a class="footer-download-link" target="_blank" href="https://qrgo.page.link/9Jxct">
            <img class="footer-download-link-media" alt="GooglePlay"
              src="/assets/img/GooglePlay_200px@2x.png" srcset="
                /assets/img/GooglePlay_200px@2x.png 1x,
                /assets/img/GooglePlay_200px@2x.png 2x,
                /assets/img/GooglePlay_200px@3x.png 3x
              ">
          </a>
        </div>
      </a-col>
    </a-row>
    <div class="footer-bottom">
      <div class="footer-country">
        <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <i class="bs-icon-country"></i>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="footer-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
      <div class="footer-copyright">
        <span class="footer-copyright-desc">© 2019 E-BUY GLOBAL LIMITED</span>
        <a class="footer-copyright-link"
          href="/terms/">使用條款</a>
        <a class="footer-copyright-link"
          href="/privacy/">隱私權政策</a>
      </div>
    </div>
  </div>
</footer>

</div> <!-- end class="layout" -->

<script src="assets/js/common.js?7c46fb9bd2472cc81461"></script>

</body>

</html>

