<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>our warehouses</title>
  <link rel="stylesheet" href="../assets/css/common.css?7c46fb9bd2472cc81461">
  
  <script type="text/javascript" src="https://www.buyandship.com.tw/wp-includes/js/jquery/jquery.js?ver=1.12.4">
  </script>
  
</head>

<body>

  <div class="layout">

    <div id="bsHeader">
      <header class="bs-header">
  <div class="header-l">
    <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
    <a class="header-logo" href="/">
      <img class="header-logo-image" alt="logo" src="/assets/img/company_logo_dark.png" srcset="
            /assets/img/company_logo_dark.png 1x,
            /assets/img/company_logo_dark@2x.png 2x,
            /assets/img/company_logo_dark@3x.png 3x
          ">
      <img class="header-logo-image-sm" alt="logo" src="/assets/img/company_logo_box.png" srcset="
            /assets/img/company_logo_box.png 1x,
            /assets/img/company_logo_box@2x.png 2x,
            /assets/img/company_logo_box@3x.png 3x
          ">
    </a>
    <nav class="header-nav">
      <div class="header-nav-item header-nav-item--more">
        <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <div class="bs-icon-country"></div>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="header-nav-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="header-r">
    <bs-nav>
      <bs-nav-item v-cloak name="新手教學" link="/tutorial/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="收費說明" link="/pricing/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="提貨點" link="/redemption/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="血拼推薦">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">發燒話題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">最新消息</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">編輯精選網站</a>
      </bs-nav-item>
      <bs-nav-item v-cloak name="常見問題">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/faq/">常見問題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/warehouses/">海外倉庫一覽</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/restrictions/">禁運物品</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/contact-us/">聯絡我們</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/advantage/">我們的優勢</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/insurance/">保價服務</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/terms/">使用條款</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/privacy/">隱私權政策</a>
      </bs-nav-item>
    </bs-nav>

    <div class="header-r-member js-header-r-member bns_hidden_logged_in">
      <a class="header-member" href="/login/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">登入</span>
      </a>
      <a class="header-member-sign bs-button bs-button--primary" href="/signup/">
        註冊
      </a>
    </div>

    <div class="header-r-member js-header-r-member bns_hidden_logged_out">
      <a class="header-member header-member--m" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">你好，Christ Shui</span>
      </a>
      <a class="header-member header-member--pc" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">我的帳戶</span>
      </a>
      <aside class="header-account">
        <div class="header-account-overlay"></div>
        <ul class="header-account-list">
          <li class="header-account-list-item"><a
              href="/account/">我的帳戶</a></li>
          <li class="header-account-list-item"><a
              href="/account/profile/">個人資料</a></li>
          <li class="header-account-list-item"><a
              href="/account/warehouses/">海外倉庫</a></li>
          <li class="header-account-list-item"><a
              href="/account/shipments/">我的貨物</a></li>
          <li class="header-account-list-item"><a
              href="/account/orders/">我的轉運單</a></li>
          <li class="header-account-list-item"><a class="js-logout" href="#">登出
              <span class="header-account-list-item--right bs-icon-logout"></span>
            </a></li>
        </ul>
      </aside>
    </div>
  </div>
</header>

      <!-- <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4"
          href="/shopping/">發燒話題</a>
        <a class="text-h4" href="/shopping/">最新消息</a>
        <a class="text-h4" href="/shopping/">編輯精選網站</a>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4" href="/faq/">常見問題</a>
        <a class="text-h4" href="/warehouses/">海外倉庫一覽</a>
        <a class="text-h4" href="/restrictions/">禁運物品</a>
        <a class="text-h4" href="/contact-us/">聯絡我們</a>
        <a class="text-h4" href="/advantage/">我們的優勢</a>
        <a class="text-h4" href="/insurance/">保價服務</a>
        <a class="text-h4" href="/terms/">使用條款</a>
        <a class="text-h4" href="/privacy/">隱私權政策</a>
      </bs-nav-panel> -->
      <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇國家或地區</div>
        <a-row>
          <a-col class="country-card" :xs="12" :md="12" :xl="12" v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" href="country.url">
              <img
                :src="country.flag"
                :alt="'flag_' + country.name"
                width="30"
                height="30"
              >
              <span class="ml">{{ country.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.language" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇語言</div>
        <a-row>
          <a-col v-for="(language, iso) in languageObj" class="country-card" :xs="12" :md="12" :xl="12" :key="'header-language-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" :href="language.url">
              <span class="ml">{{ language.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" ref="mobileNav" v-cloak>
        <div class="mobile-nav-inner">
          <nav class="slinky-menu slinky-theme-default">
            <ul>
              <li class="bns_hidden_logged_out">
                <a href="/account/"><span
                    class="text-subtitle-sm">我的帳戶</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/warehouses/"><span
                    class="text-subtitle-sm">海外倉庫</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/shipments/"><span
                    class="text-subtitle-sm">我的貨物</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a class="slinky-menu__underline" href="/account/orders/"><span
                    class="text-subtitle-sm">我的轉運單</span></a>
              </li>
              <li>
                <a href="/tutorial/"><span
                    class="text-subtitle-sm">新手教學</span></a>
              </li>
              <li>
                <a href="/pricing/"><span
                    class="text-subtitle-sm">收費說明</span></a>
              <li>
              <li>
                <a href="/redemption/"><span
                    class="text-subtitle-sm">提貨點</span></a>
              <li>
                <a href="#" class="next"><span class="text-subtitle-sm">血拼推薦</span></a>
                <ul>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">發燒話題</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">最新消息</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">編輯精選網站</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next slinky-menu__underline">
                  <span class="text-subtitle-sm">常見問題</span>
                </a>
                <ul>
                  <li>
                    <a href="/faq/"><span
                        class="text-subtitle-sm">常見問題</span></a>
                  </li>
                  <li>
                    <a href="/warehouses/"><span
                        class="text-subtitle-sm">海外倉庫一覽</span></a>
                  </li>
                  <li>
                    <a href="/restrictions/"><span
                        class="text-subtitle-sm">禁運物品</span></a>
                  </li>
                  <li>
                    <a href="/contact-us/"><span
                        class="text-subtitle-sm">聯絡我們</span></a>
                  </li>
                  <li>
                    <a href="/advantage/"><span
                        class="text-subtitle-sm">我們的優勢</span></a>
                  </li>
                  <li>
                    <a href="/insurance/"><span
                        class="text-subtitle-sm">保價服務</span></a>
                  </li>
                  <li>
                    <a href="/terms/"><span
                        class="text-subtitle-sm">使用條款</span></a>
                  </li>
                  <li>
                    <a href="/privacy/"><span
                        class="text-subtitle-sm">隱私權政策</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next">
                  <span class="text-subtitle-sm">國家及地區</span>
                  <!-- <span class="slinky-menu__title--right slinky-menu__title__flag"
                    :class="'slinky-link__icon icon-flag-' + $BUYANDSHIP.settings.current_country + '-md'"></span> -->
                  <img
                    class="slinky-menu__title--right slinky-menu__title__flag slinky-link__icon"
                    :src="$BUYANDSHIP.settings.all_countries[$BUYANDSHIP.settings.current_country].flag"
                    :alt="'flag_' + $BUYANDSHIP.settings.current_country"
                  >
                </a>
                <ul>
                  <li v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-m-' + iso">
                    <a :href="country.url">
                      <img
                        class="slinky-link__icon"
                        :src="country.flag"
                        :alt="'flag_' + country.name"
                      >
                      <span class="slinky-link__desc text-subtitle-sm ml">{{ country.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://mo.buynship.com/">
                      <i class="slinky-link__icon icon-flag-mo-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳門</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.today/">
                      <i class="slinky-link__icon icon-flag-hk-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">香港</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.cn/">
                      <i class="slinky-link__icon icon-flag-cn-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">中國</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.co.jp/">
                      <i class="slinky-link__icon icon-flag-jp-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">日本</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://au.buynship.com/">
                      <i class="slinky-link__icon icon-flag-au-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳洲</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.sg/">
                      <i class="slinky-link__icon icon-flag-sg-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">新加坡</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.my/">
                      <i class="slinky-link__icon icon-flag-my-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">馬來西亞</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.in/">
                      <i class="slinky-link__icon icon-flag-in-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">印度</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://ae.buynship.com/">
                      <i class="slinky-link__icon icon-flag-ae-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">阿聯酋</span>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li v-if="Object.keys(languageObj).length > 1">
                <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
                <ul>
                  <li v-for="(language, iso) in languageObj" :key="'header-language-selector-m-' + iso">
                    <a :href="language.url">
                      <span class="text-subtitle-sm">{{ language.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#"><span>English</span></a>
                  </li>
                  <li>
                    <a href="#"><span>繁體中文</span></a>
                  </li>
                  <li>
                    <a href="#"><span>簡体中文</span></a>
                  </li> -->
                </ul>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/login?action=logout">
                  <span class="text-subtitle-sm">登出</span>
                  <span class="slinky-menu__title--right bs-icon-logout"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-nav-spacer">
          <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
        </div>
      </aside>

      <transition name="opacity" v-cloak>
        <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
      </transition>

    </div>

    <!-- <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password> -->

    <!-- WP:start -->
    <link rel="stylesheet" href="../assets/css/warehouses.css?7c46fb9bd2472cc81461">

    <div id="bs-alert" v-cloak>
      <bs-alert type="warning" show>
        <div>因疫情嚴重影響全球空運，導致到貨時間無法準確預估，且線上客服訊息量暴增，需較長時間回覆，懇請耐心等待 <a href="https://bit.ly/2ST9jmH">(點我看最新公告)</a></div>
      </bs-alert>
    </div>


<main id="bsMain" class="main warehouses">
  <div class="banner">
    <div class="bs-container">
      <div class="banner-title text-subtitle-lg">
        一探我們的國際化倉庫及其優勢
      </div>
    </div>
  </div>
  <div class="bs-container bs-container--paddingV">
    <section class="section section--first">
      <div class="text-h5 mb section-title">Buyandship 倉庫</div>
      <div class="section-colunm">
        <div class="bs-card bs-card--horizontal bs-card--radius bs-card--2 bs-card--notHover">
          <div class="bs-card-media">
            <img class="bs-card-media-image" alt="Portland" src="/assets/img/warehouse/usa.png"
              srcset="
                /assets/img/warehouse/usa.png 1x,
                /assets/img/warehouse/usa@2x.png 2x,
                /assets/img/warehouse/usa@3x.png 3x
              ">
          </div>
          <div class="bs-card-info">
            <div class="text-subtitle-sm bs-warehouse-name">美國波特蘭 (免稅)
            </div>
            <div class="caption bs-warehouse-type">自營倉庫</div>
            <div class="bs-card-desc bs-warehouse-desc">倉庫操作管理更直接及更具效率，運送到香港的時間平均只需要4-6天
            </div>
          </div>
        </div>
        <div class="bs-card bs-card--horizontal bs-card--radius bs-card--2 bs-card--notHover">
          <div class="bs-card-media">
            <img class="bs-card-media-image" alt="Japan" src="/assets/img/warehouse/japan_map.png"
              srcset="
                /assets/img/warehouse/japan_map.png 1x,
                /assets/img/warehouse/japan_map@2x.png 2x,
                /assets/img/warehouse/japan_map@3x.png 3x
              ">
          </div>
          <div class="bs-card-info">
            <div class="text-subtitle-sm bs-warehouse-name">日本千葉</div>
            <div class="caption bs-warehouse-type">自營倉庫</div>
            <div class="bs-card-desc bs-warehouse-desc">出庫次數及轉運時間更可靠穩定，運送到香港的時間平均只需要2-3天
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section--second">
      <div class="text-h6 mb section-title">自營倉庫</div>
      <div class="section-colunm">
        <div class="warehouse-media v-cloak">
          <img class="warehouse-media-image" alt="warehouse"
            src="/assets/img/warehouse/US_01_570x380.jpg">
          <div class="warehouse-media-desc noselect">
            <span class="warehouse-media-desc-inner">
              美國波特蘭 (免稅)
            </span>
          </div>
        </div>
        <bs-slideshow @on-click-card="showGallery" :per-page="2" :list="selfWarehouse.us">
        </bs-slideshow>
      </div>
      <div class="section-colunm">
        <div class="warehouse-media v-cloak">
          <img class="warehouse-media-image" alt="warehouse"
            src="/assets/img/warehouse/JP_01_570x380.jpg">
          <div class="warehouse-media-desc noselect">
            <span class="warehouse-media-desc-inner">
              日本千葉
            </span>
          </div>
        </div>
        <bs-slideshow @on-click-card="showGallery" :per-page="2" :list="selfWarehouse.jp"></bs-slideshow>
      </div>
    </section>
    <section class="section">
      <div class="text-h6 mb">專用倉庫</div>
      <bs-slideshow
  :per-page="3"
  :list="warehouseGallery"
  @on-click-card="showGallery"
  v-cloak
></bs-slideshow>

<script>
  var warehouseGallery = [
    {
      image: "/assets/img/warehouse/US_01_570x380.jpg",
      desc: '美國波特蘭(免稅)自營倉庫'
    },
    {
      image: "/assets/img/warehouse/JP_01_570x380.jpg",
      desc: '日本千葉自營倉庫'
    },
    {
      image: "/assets/img/dedicated/AU_570x380.jpg",
      desc: '澳洲雪梨專用倉庫'
    },
    {
      image: "/assets/img/dedicated/CN_570x380.png",
      desc: '中國東莞專用倉庫'
    },
    {
      image: "/assets/img/dedicated/it_570x380.jpg",
      desc: '義大利米蘭專用倉庫'
    },
    {
      image: "/assets/img/dedicated/KR_570x380.jpg",
      desc: '韓國專用倉庫'
    },
    {
      image: "/assets/img/dedicated/th_570x380.jpg",
      desc: '泰國曼谷專用倉庫'
    },
    {
      image: "/assets/img/dedicated/TW_570x380.jpg",
      desc: '台灣台北專用倉庫'
    },
    {
      image: "/assets/img/dedicated/UK_570x380.jpg",
      desc: '英國樸茨茅夫專用倉庫'
    },
  ];
</script>

    </section>
    <section class="section">
      <div class="text-h6 mb">我們的辦公室</div>
      <bs-slideshow
  :per-page="4"
  :list="officeGallery"
  @on-click-card="showGallery"
  v-cloak
></bs-slideshow>

<script>
  var officeGallery = [
    {
      image: "/assets/img/office/warehouse_hk.png",
      desc: '香港葵芳總公司'
    },
    {
      image: "/assets/img/office/warehouse_office_tw.png",
      desc: '台灣台北分公司'
    },
    {
      image: "/assets/img/office/outdoor.jpg",
      desc: '台灣台北提貨點'
    },
    {
      image: "/assets/img/office/office_my.png",
      desc: '馬來西亞吉隆坡分公司'
    }
  ];
</script>

    </section>
    <section class=" section section--third">
      <div class="text-h6 section-title">BUYANDSHIP 自營或專用倉庫服務優勢</div>
      <div class="section-colunm">
        <img class="warehouse-cover warehouse-cover__say" alt="say"
          src="/assets/img/about_us_paragraph.png" srcset="
          /assets/img/about_us_paragraph.png 1x,
          /assets/img/about_us_paragraph@2x.png 2x,
          /assets/img/about_us_paragraph@3x.png 3x
        ">
        <img class="warehouse-cover" alt="person" src="/assets/img/about_us@1x.png" srcset="
          /assets/img/about_us@1x.png 1x,
          /assets/img/about_us@2x.png 2x,
          /assets/img/about_us@3x.png 3x
        ">
      </div>
      <div class="section-colunm">
        <!-- <i class="bs-icon">
            <icon-check-circle width="60" height="60"></icon-check-circle>
        </i> -->
        <div class="icon-check"></div>
        <div class="text-h6">於倉庫操作管理更直接及更具效率</div>
        <p class="section-colunm-desc">美國及日本均為 Buyandship 自營倉庫，對於倉庫操作管理更直接及更具效率。</p>
        <div class="icon-check"></div>
        <div class="text-h6">出庫次數及轉運時間更可靠穩定</div>
        <p class="section-colunm-desc">各個海外倉庫每周均有定時航班回港，約2－7天到達香港。</p>
      </div>
      <div class="section-colunm">
        <div class="icon-check"></div>
        <div class="text-h6">有效確保到達倉庫盡快入庫及送到香港</div>
        <p class="section-colunm-desc">入庫一般僅需 2 個工作天，助您把海外貨物經我們的海外倉庫，直接運送至香港，然後再代運到台灣。</p>
        <div class="icon-check"></div>
        <div class="text-h6">容易追查沒有用戶碼貨物</div>
        <p class="section-colunm-desc">自營倉庫只供會員使用，以電郵通知或網站系統即時更新物流狀況，容易追查沒有用戶碼貨物。</p>
      </div>
    </section>
  </div>
  <div class="register-footer bns_hidden_logged_in" style="margin-top: 0;" v-cloak>
  <div class="bs-container">
    <div class="register-footer-title">新會員註冊 NT.120 運費積分大方送</div>
    <p class="register-footer-notice mb-2x">準備好一起 Buyandship 了嗎?</p>
    <a class="bs-button register-signup bs-button--primary bs-button--md" href="/signup/">
      點我註冊會員
    </a>
  </div>
</div>


  <bs-dialog v-model="isShowDialog" v-cloak>
    <template #header>
      <div class="warehouse-breadcrumb">
        <span @click="scrollToTop">海外倉庫一覽</span>
        <span>&nbsp;>&nbsp;</span>
        <span @click="scrollToSubtitle">{{ currentAnchorTitle }}</span>
        <span>&nbsp;>&nbsp;</span>
        <span>{{ currentAnchorDesc }}</span>
      </div>
    </template>
    <div class="bs-container" ref="mainTitle" style="padding-top: 104px;">
      <div class="text-h6 mb" data-title="Self-operated warehouses">
        自營倉庫
      </div>
      <div class="bs-card bs-card--2 bs-card--radius" data-desc="USA">
        <div class="bs-card-media">
          <img class="bs-card-media-image" src="/assets/img/warehouse/US_01_570x380.jpg" alt="">
        </div>
        <div class="bs-card-info">
          <div class="bs-card-desc text-subtitle-sm">
            美國波特蘭 (免稅)
          </div>
        </div>
      </div>
      <div v-for="item in selfWarehouse.us" class="bs-card bs-card--2 bs-card--radius" :data-image="item.image" :data-desc="item.desc">
        <div class="bs-card-media">
          <img class="bs-card-media-image" :src="item.image" alt="">
        </div>
        <div class="bs-card-info">
          <div class="bs-card-desc text-subtitle-sm">
            {{item.desc}}
          </div>
        </div>
      </div>

      <div class="bs-card bs-card--2 bs-card--radius" data-desc="Japan">
        <div class="bs-card-media">
          <img class="bs-card-media-image" src="/assets/img/warehouse/JP_01_570x380.jpg" alt="">
        </div>
        <div class="bs-card-info">
          <div class="bs-card-desc text-subtitle-sm">
            日本千葉
          </div>
        </div>
      </div>

      <div v-for="item in selfWarehouse.jp" class="bs-card bs-card--2 bs-card--radius" :data-image="item.image" :data-desc="item.desc">
        <div class="bs-card-media">
          <img class="bs-card-media-image" :src="item.image" alt="">
        </div>
        <div class="bs-card-info">
          <div class="bs-card-desc text-subtitle-sm">
            {{item.desc}}
          </div>
        </div>
      </div>

      <div class="text-h6 mb" data-title="Dedicated warehouses">
        專用倉庫
      </div>
      <div v-for="item in warehouseGallery" class="bs-card bs-card--2 bs-card--radius" :data-image="item.image" :data-desc="item.desc">
        <div class="bs-card-media">
          <img class="bs-card-media-image" :src="item.image" alt="">
        </div>
        <div class="bs-card-info">
          <div class="bs-card-desc text-subtitle-sm">
            {{item.desc}}
          </div>
        </div>
      </div>

      <div class="text-h6 mb" data-title="我們的辦公室">
        我們的辦公室</div>
        <div v-for="item in officeGallery" class="bs-card bs-card--2 bs-card--radius" :data-image="item.image" :data-desc="item.desc">
        <div class="bs-card-media">
          <img class="bs-card-media-image" :src="item.image" alt="">
        </div>
        <div class="bs-card-info">
          <div class="bs-card-desc text-subtitle-sm">
            {{item.desc}}
          </div>
        </div>
      </div>
    </div>
  </bs-dialog>
</main>

<script>
  var selfWarehouse = {
    us: [
      {
        image: "/assets/img/warehouse/US_01_.jpg",
        desc: '美國倉庫圖片01',
      },
      {
        image: "/assets/img/warehouse/US_02_.jpg",
        desc: '美國倉庫圖片02',
      },
      {
        image: "/assets/img/warehouse/US_03_.jpg",
        desc: '美國倉庫圖片03',
      },
    ],
    jp: [
      {
        image: "/assets/img/warehouse/JP_04.jpg",
        desc: '日本倉庫圖片01',
      },
      {
        image: "/assets/img/warehouse/JP_03.jpg",
        desc: '日本倉庫圖片02',
      },
      {
        image: "/assets/img/warehouse/JP_02.jpg",
        desc: '日本倉庫圖片03',
      },
      {
        image: "/assets/img/warehouse/JP_01_570x380.jpg",
        desc: '日本倉庫圖片04',
      },
    ],
  };
</script>

<script>
window.onload = function() {
  var pageJs = document.createElement('script')
  pageJs.src = "../assets/js/warehouses.js?7c46fb9bd2472cc81461"
  document.body.appendChild(pageJs)
  var pageJs = document.createElement('script')
  pageJs.src = 
  document.body.appendChild(pageJs)
}
</script>
<!-- <script defer src="../assets/js/warehouses.js?7c46fb9bd2472cc81461"></script> -->

<!-- WP:end -->

<footer id="bsFooter" class="bs-footer" v-cloak>
  <div class="footer-graphic" v-if="isShowGraphic">
    <picture>
      <source media="(max-width: 1199px)" srcset="
          /assets/img/footer_768px.png 1x,
          /assets/img/footer_768px@2x.png 2x,
          /assets/img/footer_768px@3x.png 3x
        " sizes="100vw">
      <source media="(min-width: 1200px)" srcset="
          /assets/img/footer_1440px.png 1440w,
          /assets/img/footer_1440px@2x.png 2880w,
          /assets/img/footer_1440px@3x.png 4320w
        " sizes="100vw">
      <img class="footer-graphic-media" src="/assets/img/footer_1440px.png" alt="cat is shipping">
    </picture>
  </div>
  <div class="bs-container">
    <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }">
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">血拼推薦</div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">發燒話題</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">最新消息</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">代運資訊</div>
        <div class="footer-nav-group-item">
          <a href="/tutorial/">新手教學</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/pricing/">收費說明</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/advantage/">我們的優勢</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">關於我們</div>
        <div class="footer-nav-group-item">
          <a href="/about-us/">關於 Buyandship</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/warehouses/">海外倉庫一覽</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/contact-us/">聯絡我們</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
        <div class="footer-social">
          <div class="footer-social-box">
            <a class="footer-social-box-link" target="_blank" href="https://www.facebook.com/buyandship.com.tw">
              <i class="bs-icon">
                <span class="bs-icon-facebook"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.instagram.com/buyandship.tw">
              <i class="bs-icon">
                <span class="bs-icon-instagram"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-youtube"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-weibo"></span>
              </i>
            </a>
            <!-- <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-wechat"></span>
              </i>
            </a> -->
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-twitter"></span>
              </i>
            </a>
          </div>
        </div>
        <div class="footer-location">
          <div class="footer-location-icon">
            <i class="bs-icon-environment" style="margin-left: -6px;"></i>
          </div>
          <div class="footer-location-desc">香港總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
        </div>
        <div class="footer-download">
          <a class="footer-download-link" target="_blank" href="https://apps.apple.com/app/buandship/id1474193162?ct=tw_site_footer&vt=lo&mt=8">
            <img class="footer-download-link-media" alt="AppStore"
              src="/assets/img/AppStore_200px@2x.png" srcset="
                /assets/img/AppStore_200px@2x.png 1x,
                /assets/img/AppStore_200px@2x.png 2x,
                /assets/img/AppStore_200px@3x.png 3x
              ">
          </a>
          <a class="footer-download-link" target="_blank" href="https://qrgo.page.link/9Jxct">
            <img class="footer-download-link-media" alt="GooglePlay"
              src="/assets/img/GooglePlay_200px@2x.png" srcset="
                /assets/img/GooglePlay_200px@2x.png 1x,
                /assets/img/GooglePlay_200px@2x.png 2x,
                /assets/img/GooglePlay_200px@3x.png 3x
              ">
          </a>
        </div>
      </a-col>
    </a-row>
    <div class="footer-bottom">
      <div class="footer-country">
        <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <i class="bs-icon-country"></i>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="footer-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
      <div class="footer-copyright">
        <span class="footer-copyright-desc">© 2019 E-BUY GLOBAL LIMITED</span>
        <a class="footer-copyright-link"
          href="/terms/">使用條款</a>
        <a class="footer-copyright-link"
          href="/privacy/">隱私權政策</a>
      </div>
    </div>
  </div>
</footer>

</div> <!-- end class="layout" -->

<script src="../assets/js/common.js?7c46fb9bd2472cc81461"></script>

</body>

</html>

