<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>blog list</title>
  <link rel="stylesheet" href="../assets/css/common.css?7c46fb9bd2472cc81461">
  
  <script type="text/javascript" src="https://www.buyandship.com.tw/wp-includes/js/jquery/jquery.js?ver=1.12.4">
  </script>
  
</head>

<body>

  <div class="layout">

    <div id="bsHeader">
      <header class="bs-header">
  <div class="header-l">
    <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
    <a class="header-logo" href="/">
      <img class="header-logo-image" alt="logo" src="/assets/img/company_logo_dark.png" srcset="
            /assets/img/company_logo_dark.png 1x,
            /assets/img/company_logo_dark@2x.png 2x,
            /assets/img/company_logo_dark@3x.png 3x
          ">
      <img class="header-logo-image-sm" alt="logo" src="/assets/img/company_logo_box.png" srcset="
            /assets/img/company_logo_box.png 1x,
            /assets/img/company_logo_box@2x.png 2x,
            /assets/img/company_logo_box@3x.png 3x
          ">
    </a>
    <nav class="header-nav">
      <div class="header-nav-item header-nav-item--more">
        <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <div class="bs-icon-country"></div>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="header-nav-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="header-r">
    <bs-nav>
      <bs-nav-item v-cloak name="新手教學" link="/tutorial/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="收費說明" link="/pricing/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="提貨點" link="/redemption/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="血拼推薦">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">發燒話題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">最新消息</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">編輯精選網站</a>
      </bs-nav-item>
      <bs-nav-item v-cloak name="常見問題">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/faq/">常見問題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/warehouses/">海外倉庫一覽</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/restrictions/">禁運物品</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/contact-us/">聯絡我們</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/advantage/">我們的優勢</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/insurance/">保價服務</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/terms/">使用條款</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/privacy/">隱私權政策</a>
      </bs-nav-item>
    </bs-nav>

    <div class="header-r-member js-header-r-member bns_hidden_logged_in">
      <a class="header-member" href="/login/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">登入</span>
      </a>
      <a class="header-member-sign bs-button bs-button--primary" href="/signup/">
        註冊
      </a>
    </div>

    <div class="header-r-member js-header-r-member bns_hidden_logged_out">
      <a class="header-member header-member--m" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">你好，Christ Shui</span>
      </a>
      <a class="header-member header-member--pc" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">我的帳戶</span>
      </a>
      <aside class="header-account">
        <div class="header-account-overlay"></div>
        <ul class="header-account-list">
          <li class="header-account-list-item"><a
              href="/account/">我的帳戶</a></li>
          <li class="header-account-list-item"><a
              href="/account/profile/">個人資料</a></li>
          <li class="header-account-list-item"><a
              href="/account/warehouses/">海外倉庫</a></li>
          <li class="header-account-list-item"><a
              href="/account/shipments/">我的貨物</a></li>
          <li class="header-account-list-item"><a
              href="/account/orders/">我的轉運單</a></li>
          <li class="header-account-list-item"><a class="js-logout" href="#">登出
              <span class="header-account-list-item--right bs-icon-logout"></span>
            </a></li>
        </ul>
      </aside>
    </div>
  </div>
</header>

      <!-- <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4"
          href="/shopping/">發燒話題</a>
        <a class="text-h4" href="/shopping/">最新消息</a>
        <a class="text-h4" href="/shopping/">編輯精選網站</a>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4" href="/faq/">常見問題</a>
        <a class="text-h4" href="/warehouses/">海外倉庫一覽</a>
        <a class="text-h4" href="/restrictions/">禁運物品</a>
        <a class="text-h4" href="/contact-us/">聯絡我們</a>
        <a class="text-h4" href="/advantage/">我們的優勢</a>
        <a class="text-h4" href="/insurance/">保價服務</a>
        <a class="text-h4" href="/terms/">使用條款</a>
        <a class="text-h4" href="/privacy/">隱私權政策</a>
      </bs-nav-panel> -->
      <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇國家或地區</div>
        <a-row>
          <a-col class="country-card" :xs="12" :md="12" :xl="12" v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" href="country.url">
              <img
                :src="country.flag"
                :alt="'flag_' + country.name"
                width="30"
                height="30"
              >
              <span class="ml">{{ country.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.language" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇語言</div>
        <a-row>
          <a-col v-for="(language, iso) in languageObj" class="country-card" :xs="12" :md="12" :xl="12" :key="'header-language-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" :href="language.url">
              <span class="ml">{{ language.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" ref="mobileNav" v-cloak>
        <div class="mobile-nav-inner">
          <nav class="slinky-menu slinky-theme-default">
            <ul>
              <li class="bns_hidden_logged_out">
                <a href="/account/"><span
                    class="text-subtitle-sm">我的帳戶</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/warehouses/"><span
                    class="text-subtitle-sm">海外倉庫</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/shipments/"><span
                    class="text-subtitle-sm">我的貨物</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a class="slinky-menu__underline" href="/account/orders/"><span
                    class="text-subtitle-sm">我的轉運單</span></a>
              </li>
              <li>
                <a href="/tutorial/"><span
                    class="text-subtitle-sm">新手教學</span></a>
              </li>
              <li>
                <a href="/pricing/"><span
                    class="text-subtitle-sm">收費說明</span></a>
              <li>
              <li>
                <a href="/redemption/"><span
                    class="text-subtitle-sm">提貨點</span></a>
              <li>
                <a href="#" class="next"><span class="text-subtitle-sm">血拼推薦</span></a>
                <ul>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">發燒話題</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">最新消息</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">編輯精選網站</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next slinky-menu__underline">
                  <span class="text-subtitle-sm">常見問題</span>
                </a>
                <ul>
                  <li>
                    <a href="/faq/"><span
                        class="text-subtitle-sm">常見問題</span></a>
                  </li>
                  <li>
                    <a href="/warehouses/"><span
                        class="text-subtitle-sm">海外倉庫一覽</span></a>
                  </li>
                  <li>
                    <a href="/restrictions/"><span
                        class="text-subtitle-sm">禁運物品</span></a>
                  </li>
                  <li>
                    <a href="/contact-us/"><span
                        class="text-subtitle-sm">聯絡我們</span></a>
                  </li>
                  <li>
                    <a href="/advantage/"><span
                        class="text-subtitle-sm">我們的優勢</span></a>
                  </li>
                  <li>
                    <a href="/insurance/"><span
                        class="text-subtitle-sm">保價服務</span></a>
                  </li>
                  <li>
                    <a href="/terms/"><span
                        class="text-subtitle-sm">使用條款</span></a>
                  </li>
                  <li>
                    <a href="/privacy/"><span
                        class="text-subtitle-sm">隱私權政策</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next">
                  <span class="text-subtitle-sm">國家及地區</span>
                  <!-- <span class="slinky-menu__title--right slinky-menu__title__flag"
                    :class="'slinky-link__icon icon-flag-' + $BUYANDSHIP.settings.current_country + '-md'"></span> -->
                  <img
                    class="slinky-menu__title--right slinky-menu__title__flag slinky-link__icon"
                    :src="$BUYANDSHIP.settings.all_countries[$BUYANDSHIP.settings.current_country].flag"
                    :alt="'flag_' + $BUYANDSHIP.settings.current_country"
                  >
                </a>
                <ul>
                  <li v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-m-' + iso">
                    <a :href="country.url">
                      <img
                        class="slinky-link__icon"
                        :src="country.flag"
                        :alt="'flag_' + country.name"
                      >
                      <span class="slinky-link__desc text-subtitle-sm ml">{{ country.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://mo.buynship.com/">
                      <i class="slinky-link__icon icon-flag-mo-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳門</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.today/">
                      <i class="slinky-link__icon icon-flag-hk-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">香港</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.cn/">
                      <i class="slinky-link__icon icon-flag-cn-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">中國</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.co.jp/">
                      <i class="slinky-link__icon icon-flag-jp-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">日本</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://au.buynship.com/">
                      <i class="slinky-link__icon icon-flag-au-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳洲</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.sg/">
                      <i class="slinky-link__icon icon-flag-sg-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">新加坡</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.my/">
                      <i class="slinky-link__icon icon-flag-my-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">馬來西亞</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.in/">
                      <i class="slinky-link__icon icon-flag-in-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">印度</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://ae.buynship.com/">
                      <i class="slinky-link__icon icon-flag-ae-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">阿聯酋</span>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li v-if="Object.keys(languageObj).length > 1">
                <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
                <ul>
                  <li v-for="(language, iso) in languageObj" :key="'header-language-selector-m-' + iso">
                    <a :href="language.url">
                      <span class="text-subtitle-sm">{{ language.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#"><span>English</span></a>
                  </li>
                  <li>
                    <a href="#"><span>繁體中文</span></a>
                  </li>
                  <li>
                    <a href="#"><span>簡体中文</span></a>
                  </li> -->
                </ul>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/login?action=logout">
                  <span class="text-subtitle-sm">登出</span>
                  <span class="slinky-menu__title--right bs-icon-logout"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-nav-spacer">
          <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
        </div>
      </aside>

      <transition name="opacity" v-cloak>
        <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
      </transition>

    </div>

    <!-- <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password> -->

    <!-- WP:start -->
    <link rel="stylesheet" href="../assets/css/blog-list.css?7c46fb9bd2472cc81461">

    <div id="bs-alert" v-cloak>
      <bs-alert type="warning" show>
        <div>因疫情嚴重影響全球空運，導致到貨時間無法準確預估，且線上客服訊息量暴增，需較長時間回覆，懇請耐心等待 <a href="https://bit.ly/2ST9jmH">(點我看最新公告)</a></div>
      </bs-alert>
    </div>


<main id="bsMain" class="main">
  <article class="bs-container bs-container--paddingV bs-blog">
    <div class="bs-blog__content bs-blog__list">
      <div class="bs-blog__list__card">
        <h2 class="bs-blog__list__card__title text-h6">
          【法國Redline小紅繩網購】超感謝出貨快運費又便宜的Buyandship！終於入手Redline啦♥‿♥
        </h2>
        <h3 class="bs-blog__list__card__time text-caption">2019-09-17</h3>
        <div class="bs-blog__list__card__product">
          <img class="bs-blog__list__card__product__image"
            src="https://www.buyandship.com.tw/contents/uploads/2018/06/40965154370_85d41473ef_h-220x220.jpg"
            alt="product image">
          <div class="bs-blog__list__card__product__detail">
            <p class="bs-blog__list__card__product__detail__description text-body-sm">
              跟著Buyandship海外網購買出新高度Buyandship國際代運幫你把海外戰利品輕鬆運回來！英國、義大利倉庫幫你收，還有保險服務好安心，連台灣關稅也直接幫你省下來，是不是太划算！全球九大倉庫免費合併、收費方式透明，不靠代購、實重實收好佛心，沒有在跟你算材積的！
            </p>
            <a href="https://www.buyandship.com.tw/blog/2019/09/17/%e3%80%90%e6%b3%95%e5%9c%8bredline%e5%b0%8f%e7%b4%85%e7%b9%a9%e7%b6%b2%e8%b3%bc%e3%80%91%e8%b6%85%e6%84%9f%e8%ac%9d%e5%87%ba%e8%b2%a8%e5%bf%ab%e9%81%8b%e8%b2%bb%e5%8f%88%e4%be%bf%e5%ae%9c%e7%9a%84buya/"
              class="bs-blog__list__card__product__detail__readmore text-subtitle-sm">
              READ MORE <span class="arrow-right"></span>
            </a>
          </div>
        </div>
        <div class="bs-blog__list__card__remark">
          <a href="https://www.buyandship.com.tw/blog/tags/redline/"
            class="bs-blog__list__card__remark__tag">redline</a>
          <a href="https://www.buyandship.com.tw/blog/tags/%e6%b3%95%e5%9c%8b/"
            class="bs-blog__list__card__remark__tag">法國</a>
          <a href="https://www.buyandship.com.tw/blog/tags/%e7%a9%bf%e6%90%ad/"
            class="bs-blog__list__card__remark__tag">穿搭</a>
          <a href="https://www.buyandship.com.tw/blog/tags/%e8%8b%b1%e5%9c%8b/"
            class="bs-blog__list__card__remark__tag">英國</a>
          <a href="https://www.buyandship.com.tw/blog/tags/%e9%a6%96%e9%a3%be/"
            class="bs-blog__list__card__remark__tag">首飾</a>
        </div>
      </div>
      <div class="bs-blog__list__card">
        <h2 class="bs-blog__list__card__title text-h6">
          【法國Redline小紅繩網購】超感謝出貨快運費又便宜的Buyandship！終於入手Redline啦♥‿♥
        </h2>
        <h3 class="bs-blog__list__card__time text-caption">2019-09-17</h3>
        <div class="bs-blog__list__card__product">
          <img class="bs-blog__list__card__product__image"
            src="https://www.buyandship.com.tw/contents/uploads/2018/06/40965154370_85d41473ef_h-220x220.jpg"
            alt="product image">
          <div class="bs-blog__list__card__product__detail">
            <p class="bs-blog__list__card__product__detail__description text-body-sm">
              跟著Buyandship海外網購買出新高度Buyandship國際代運幫你把海外戰利品輕鬆運回來！英國、義大利倉庫幫你收，還有保險服務好安心，連台灣關稅也直接幫你省下來，是不是太划算！全球九大倉庫免費合併、收費方式透明，不靠代購、實重實收好佛心，沒有在跟你算材積的！
            </p>
            <a href="https://www.buyandship.com.tw/blog/2019/09/17/%e3%80%90%e6%b3%95%e5%9c%8bredline%e5%b0%8f%e7%b4%85%e7%b9%a9%e7%b6%b2%e8%b3%bc%e3%80%91%e8%b6%85%e6%84%9f%e8%ac%9d%e5%87%ba%e8%b2%a8%e5%bf%ab%e9%81%8b%e8%b2%bb%e5%8f%88%e4%be%bf%e5%ae%9c%e7%9a%84buya/"
              class="bs-blog__list__card__product__detail__readmore text-subtitle-sm">
              READ MORE <span class="arrow-right"></span>
            </a>
          </div>
        </div>
        <div class="bs-blog__list__card__remark">
          <a href="https://www.buyandship.com.tw/blog/tags/redline/"
            class="bs-blog__list__card__remark__tag">redline</a>
          <a href="https://www.buyandship.com.tw/blog/tags/%e6%b3%95%e5%9c%8b/"
            class="bs-blog__list__card__remark__tag">法國</a>
          <a href="https://www.buyandship.com.tw/blog/tags/%e7%a9%bf%e6%90%ad/"
            class="bs-blog__list__card__remark__tag">穿搭</a>
          <a href="https://www.buyandship.com.tw/blog/tags/%e8%8b%b1%e5%9c%8b/"
            class="bs-blog__list__card__remark__tag">英國</a>
          <a href="https://www.buyandship.com.tw/blog/tags/%e9%a6%96%e9%a3%be/"
            class="bs-blog__list__card__remark__tag">首飾</a>
        </div>
      </div>
      <bs-pagger :initial-page="4" :total-page="11"
        link-prefix="https://www.buyandship.com.tw/blog/categories/sharing/page/"></bs-pagger>
    </div>
    <div class="bs-blog__sidebar">
      <ul class="bs-blog__sidebar__category">
        <li class="bs-blog__sidebar__category__title text-h6">文章分類</li>
        <li class="bs-blog__sidebar__category__item">
          <a class="bs-blog__sidebar__category__item__title text-caption"
            href="https://www.buyandship.com.tw/blog/categories/blackfriday-shopping/">
            BlackFriday黑五血拚特輯
          </a>
          <span class="bs-blog__sidebar__category__item__counter text-caption">( 7 )</span>
        </li>
        <li class="bs-blog__sidebar__category__item">
          <a class="bs-blog__sidebar__category__item__title text-caption"
            href="https://www.buyandship.com.tw/blog/categories/blackfriday-shopping/">
            BlackFriday黑五血拚特輯
          </a>
          <span class="bs-blog__sidebar__category__item__counter text-caption">( 7 )</span>
        </li>
        <li class="bs-blog__sidebar__category__item">
          <a class="bs-blog__sidebar__category__item__title text-caption"
            href="https://www.buyandship.com.tw/blog/categories/blackfriday-shopping/">
            BNS調查報告
          </a>
          <span class="bs-blog__sidebar__category__item__counter text-caption">( 7 )</span>
        </li>
        <li class="bs-blog__sidebar__category__item">
          <a class="bs-blog__sidebar__category__item__title text-caption"
            href="https://www.buyandship.com.tw/blog/categories/blackfriday-shopping/">
            網友分享
          </a>
          <span class="bs-blog__sidebar__category__item__counter text-caption">( 7 )</span>
          <ul class="bs-blog__sidebar__category__item_children">
            <li class="bs-blog__sidebar__category__item">
              <a class="bs-blog__sidebar__category__item__title text-caption"
                href="https://www.buyandship.com.tw/blog/categories/blackfriday-shopping/">
                影片分享
              </a>
              <span class="bs-blog__sidebar__category__item__counter text-caption">( 7 )</span>
            </li>
            <li class="bs-blog__sidebar__category__item">
              <a class="bs-blog__sidebar__category__item__title text-caption"
                href="https://www.buyandship.com.tw/blog/categories/blackfriday-shopping/">
                日本線網友分享
              </a>
              <span class="bs-blog__sidebar__category__item__counter text-caption">( 7 )</span>
            </li>
          </ul>
        </li>
        <li class="bs-blog__sidebar__category__item">
          <a class="bs-blog__sidebar__category__item__title text-caption"
            href="https://www.buyandship.com.tw/blog/categories/blackfriday-shopping/">
            網店購物教學
          </a>
          <span class="bs-blog__sidebar__category__item__counter text-caption">( 7 )</span>
        </li>
      </ul>
      <ul class="bs-blog__sidebar__recent">
        <li class="bs-blog__sidebar__recent__title text-h6">最新文章</li>
        <li class="bs-blog__sidebar__recent__item">
          <a class="bs-blog__sidebar__recent__item__title text-caption"
            href="https://www.buyandship.com.tw/blog/2019/11/14/%e3%80%90%e5%8f%b2%e4%b8%8a%e6%9c%80%e7%8b%82%e5%83%b9%e5%b7%ae%e3%80%91%e4%b8%80%e6%8c%87%e7%a5%9e%e5%8a%9f%e8%b2%b7%e5%88%b03%e6%8a%98superdry-%e5%af%86%e6%8a%80%e5%9c%a8%e9%80%99%e8%a3%a1/">
            【史上最狂價差】一指神功買到4折 Superdry 密技！不學習太可惜😱
          </a>
          <span class="bs-blog__sidebar__recent__item__time text-caption">2019-11-14</span>
        </li>
        <li class="bs-blog__sidebar__recent__item">
          <a class="bs-blog__sidebar__recent__item__title text-caption"
            href="https://www.buyandship.com.tw/blog/2019/11/14/%e3%80%90%e5%8f%b2%e4%b8%8a%e6%9c%80%e7%8b%82%e5%83%b9%e5%b7%ae%e3%80%91%e4%b8%80%e6%8c%87%e7%a5%9e%e5%8a%9f%e8%b2%b7%e5%88%b03%e6%8a%98superdry-%e5%af%86%e6%8a%80%e5%9c%a8%e9%80%99%e8%a3%a1/">
            【折扣情報站】英國 Joseph Joseph 餐廚用品最低4折起 打造你最時髦的人性化廚房
          </a>
          <span class="bs-blog__sidebar__recent__item__time text-caption">2019-11-14</span>
        </li>
        <li class="bs-blog__sidebar__recent__item">
          <a class="bs-blog__sidebar__recent__item__title text-caption"
            href="https://www.buyandship.com.tw/blog/2019/11/14/%e3%80%90%e5%8f%b2%e4%b8%8a%e6%9c%80%e7%8b%82%e5%83%b9%e5%b7%ae%e3%80%91%e4%b8%80%e6%8c%87%e7%a5%9e%e5%8a%9f%e8%b2%b7%e5%88%b03%e6%8a%98superdry-%e5%af%86%e6%8a%80%e5%9c%a8%e9%80%99%e8%a3%a1/">
            【Fitflop】英國知名運動涼鞋品牌 Fitflop 精選鞋款低至5折起😍
          </a>
          <span class="bs-blog__sidebar__recent__item__time text-caption">2019-11-14</span>
        </li>
      </ul>
    </div>
  </article>
</main>

<script>
window.onload = function() {
  var pageJs = document.createElement('script')
  pageJs.src = "../assets/js/blog-list.js?7c46fb9bd2472cc81461"
  document.body.appendChild(pageJs)
  var pageJs = document.createElement('script')
  pageJs.src = 
  document.body.appendChild(pageJs)
}
</script>
<!-- <script defer src="../assets/js/blog-list.js?7c46fb9bd2472cc81461"></script> -->

<!-- WP:end -->

<footer id="bsFooter" class="bs-footer" v-cloak>
  <div class="footer-graphic" v-if="isShowGraphic">
    <picture>
      <source media="(max-width: 1199px)" srcset="
          /assets/img/footer_768px.png 1x,
          /assets/img/footer_768px@2x.png 2x,
          /assets/img/footer_768px@3x.png 3x
        " sizes="100vw">
      <source media="(min-width: 1200px)" srcset="
          /assets/img/footer_1440px.png 1440w,
          /assets/img/footer_1440px@2x.png 2880w,
          /assets/img/footer_1440px@3x.png 4320w
        " sizes="100vw">
      <img class="footer-graphic-media" src="/assets/img/footer_1440px.png" alt="cat is shipping">
    </picture>
  </div>
  <div class="bs-container">
    <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }">
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">血拼推薦</div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">發燒話題</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">最新消息</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">代運資訊</div>
        <div class="footer-nav-group-item">
          <a href="/tutorial/">新手教學</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/pricing/">收費說明</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/advantage/">我們的優勢</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">關於我們</div>
        <div class="footer-nav-group-item">
          <a href="/about-us/">關於 Buyandship</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/warehouses/">海外倉庫一覽</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/contact-us/">聯絡我們</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
        <div class="footer-social">
          <div class="footer-social-box">
            <a class="footer-social-box-link" target="_blank" href="https://www.facebook.com/buyandship.com.tw">
              <i class="bs-icon">
                <span class="bs-icon-facebook"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.instagram.com/buyandship.tw">
              <i class="bs-icon">
                <span class="bs-icon-instagram"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-youtube"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-weibo"></span>
              </i>
            </a>
            <!-- <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-wechat"></span>
              </i>
            </a> -->
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-twitter"></span>
              </i>
            </a>
          </div>
        </div>
        <div class="footer-location">
          <div class="footer-location-icon">
            <i class="bs-icon-environment" style="margin-left: -6px;"></i>
          </div>
          <div class="footer-location-desc">香港總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
        </div>
        <div class="footer-download">
          <a class="footer-download-link" target="_blank" href="https://apps.apple.com/app/buandship/id1474193162?ct=tw_site_footer&vt=lo&mt=8">
            <img class="footer-download-link-media" alt="AppStore"
              src="/assets/img/AppStore_200px@2x.png" srcset="
                /assets/img/AppStore_200px@2x.png 1x,
                /assets/img/AppStore_200px@2x.png 2x,
                /assets/img/AppStore_200px@3x.png 3x
              ">
          </a>
          <a class="footer-download-link" target="_blank" href="https://qrgo.page.link/9Jxct">
            <img class="footer-download-link-media" alt="GooglePlay"
              src="/assets/img/GooglePlay_200px@2x.png" srcset="
                /assets/img/GooglePlay_200px@2x.png 1x,
                /assets/img/GooglePlay_200px@2x.png 2x,
                /assets/img/GooglePlay_200px@3x.png 3x
              ">
          </a>
        </div>
      </a-col>
    </a-row>
    <div class="footer-bottom">
      <div class="footer-country">
        <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <i class="bs-icon-country"></i>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="footer-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
      <div class="footer-copyright">
        <span class="footer-copyright-desc">© 2019 E-BUY GLOBAL LIMITED</span>
        <a class="footer-copyright-link"
          href="/terms/">使用條款</a>
        <a class="footer-copyright-link"
          href="/privacy/">隱私權政策</a>
      </div>
    </div>
  </div>
</footer>

</div> <!-- end class="layout" -->

<script src="../assets/js/common.js?7c46fb9bd2472cc81461"></script>

</body>

</html>

