<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>redemption</title>
  <link rel="stylesheet" href="../assets/css/common.css?7c46fb9bd2472cc81461">
  
  <script type="text/javascript" src="https://www.buyandship.com.tw/wp-includes/js/jquery/jquery.js?ver=1.12.4">
  </script>
  
</head>

<body>

  <div class="layout">

    <div id="bsHeader">
      <header class="bs-header">
  <div class="header-l">
    <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
    <a class="header-logo" href="/">
      <img class="header-logo-image" alt="logo" src="/assets/img/company_logo_dark.png" srcset="
            /assets/img/company_logo_dark.png 1x,
            /assets/img/company_logo_dark@2x.png 2x,
            /assets/img/company_logo_dark@3x.png 3x
          ">
      <img class="header-logo-image-sm" alt="logo" src="/assets/img/company_logo_box.png" srcset="
            /assets/img/company_logo_box.png 1x,
            /assets/img/company_logo_box@2x.png 2x,
            /assets/img/company_logo_box@3x.png 3x
          ">
    </a>
    <nav class="header-nav">
      <div class="header-nav-item header-nav-item--more">
        <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <div class="bs-icon-country"></div>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="header-nav-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="header-r">
    <bs-nav>
      <bs-nav-item v-cloak name="新手教學" link="/tutorial/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="收費說明" link="/pricing/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="提貨點" link="/redemption/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="血拼推薦">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">發燒話題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">最新消息</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">編輯精選網站</a>
      </bs-nav-item>
      <bs-nav-item v-cloak name="常見問題">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/faq/">常見問題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/warehouses/">海外倉庫一覽</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/restrictions/">禁運物品</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/contact-us/">聯絡我們</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/advantage/">我們的優勢</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/insurance/">保價服務</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/terms/">使用條款</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/privacy/">隱私權政策</a>
      </bs-nav-item>
    </bs-nav>

    <div class="header-r-member js-header-r-member bns_hidden_logged_in">
      <a class="header-member" href="/login/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">登入</span>
      </a>
      <a class="header-member-sign bs-button bs-button--primary" href="/signup/">
        註冊
      </a>
    </div>

    <div class="header-r-member js-header-r-member bns_hidden_logged_out">
      <a class="header-member header-member--m" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">你好，Christ Shui</span>
      </a>
      <a class="header-member header-member--pc" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">我的帳戶</span>
      </a>
      <aside class="header-account">
        <div class="header-account-overlay"></div>
        <ul class="header-account-list">
          <li class="header-account-list-item"><a
              href="/account/">我的帳戶</a></li>
          <li class="header-account-list-item"><a
              href="/account/profile/">個人資料</a></li>
          <li class="header-account-list-item"><a
              href="/account/warehouses/">海外倉庫</a></li>
          <li class="header-account-list-item"><a
              href="/account/shipments/">我的貨物</a></li>
          <li class="header-account-list-item"><a
              href="/account/orders/">我的轉運單</a></li>
          <li class="header-account-list-item"><a class="js-logout" href="#">登出
              <span class="header-account-list-item--right bs-icon-logout"></span>
            </a></li>
        </ul>
      </aside>
    </div>
  </div>
</header>

      <!-- <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4"
          href="/shopping/">發燒話題</a>
        <a class="text-h4" href="/shopping/">最新消息</a>
        <a class="text-h4" href="/shopping/">編輯精選網站</a>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4" href="/faq/">常見問題</a>
        <a class="text-h4" href="/warehouses/">海外倉庫一覽</a>
        <a class="text-h4" href="/restrictions/">禁運物品</a>
        <a class="text-h4" href="/contact-us/">聯絡我們</a>
        <a class="text-h4" href="/advantage/">我們的優勢</a>
        <a class="text-h4" href="/insurance/">保價服務</a>
        <a class="text-h4" href="/terms/">使用條款</a>
        <a class="text-h4" href="/privacy/">隱私權政策</a>
      </bs-nav-panel> -->
      <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇國家或地區</div>
        <a-row>
          <a-col class="country-card" :xs="12" :md="12" :xl="12" v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" href="country.url">
              <img
                :src="country.flag"
                :alt="'flag_' + country.name"
                width="30"
                height="30"
              >
              <span class="ml">{{ country.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.language" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇語言</div>
        <a-row>
          <a-col v-for="(language, iso) in languageObj" class="country-card" :xs="12" :md="12" :xl="12" :key="'header-language-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" :href="language.url">
              <span class="ml">{{ language.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" ref="mobileNav" v-cloak>
        <div class="mobile-nav-inner">
          <nav class="slinky-menu slinky-theme-default">
            <ul>
              <li class="bns_hidden_logged_out">
                <a href="/account/"><span
                    class="text-subtitle-sm">我的帳戶</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/warehouses/"><span
                    class="text-subtitle-sm">海外倉庫</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/shipments/"><span
                    class="text-subtitle-sm">我的貨物</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a class="slinky-menu__underline" href="/account/orders/"><span
                    class="text-subtitle-sm">我的轉運單</span></a>
              </li>
              <li>
                <a href="/tutorial/"><span
                    class="text-subtitle-sm">新手教學</span></a>
              </li>
              <li>
                <a href="/pricing/"><span
                    class="text-subtitle-sm">收費說明</span></a>
              <li>
              <li>
                <a href="/redemption/"><span
                    class="text-subtitle-sm">提貨點</span></a>
              <li>
                <a href="#" class="next"><span class="text-subtitle-sm">血拼推薦</span></a>
                <ul>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">發燒話題</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">最新消息</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">編輯精選網站</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next slinky-menu__underline">
                  <span class="text-subtitle-sm">常見問題</span>
                </a>
                <ul>
                  <li>
                    <a href="/faq/"><span
                        class="text-subtitle-sm">常見問題</span></a>
                  </li>
                  <li>
                    <a href="/warehouses/"><span
                        class="text-subtitle-sm">海外倉庫一覽</span></a>
                  </li>
                  <li>
                    <a href="/restrictions/"><span
                        class="text-subtitle-sm">禁運物品</span></a>
                  </li>
                  <li>
                    <a href="/contact-us/"><span
                        class="text-subtitle-sm">聯絡我們</span></a>
                  </li>
                  <li>
                    <a href="/advantage/"><span
                        class="text-subtitle-sm">我們的優勢</span></a>
                  </li>
                  <li>
                    <a href="/insurance/"><span
                        class="text-subtitle-sm">保價服務</span></a>
                  </li>
                  <li>
                    <a href="/terms/"><span
                        class="text-subtitle-sm">使用條款</span></a>
                  </li>
                  <li>
                    <a href="/privacy/"><span
                        class="text-subtitle-sm">隱私權政策</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next">
                  <span class="text-subtitle-sm">國家及地區</span>
                  <!-- <span class="slinky-menu__title--right slinky-menu__title__flag"
                    :class="'slinky-link__icon icon-flag-' + $BUYANDSHIP.settings.current_country + '-md'"></span> -->
                  <img
                    class="slinky-menu__title--right slinky-menu__title__flag slinky-link__icon"
                    :src="$BUYANDSHIP.settings.all_countries[$BUYANDSHIP.settings.current_country].flag"
                    :alt="'flag_' + $BUYANDSHIP.settings.current_country"
                  >
                </a>
                <ul>
                  <li v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-m-' + iso">
                    <a :href="country.url">
                      <img
                        class="slinky-link__icon"
                        :src="country.flag"
                        :alt="'flag_' + country.name"
                      >
                      <span class="slinky-link__desc text-subtitle-sm ml">{{ country.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://mo.buynship.com/">
                      <i class="slinky-link__icon icon-flag-mo-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳門</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.today/">
                      <i class="slinky-link__icon icon-flag-hk-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">香港</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.cn/">
                      <i class="slinky-link__icon icon-flag-cn-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">中國</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.co.jp/">
                      <i class="slinky-link__icon icon-flag-jp-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">日本</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://au.buynship.com/">
                      <i class="slinky-link__icon icon-flag-au-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳洲</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.sg/">
                      <i class="slinky-link__icon icon-flag-sg-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">新加坡</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.my/">
                      <i class="slinky-link__icon icon-flag-my-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">馬來西亞</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.in/">
                      <i class="slinky-link__icon icon-flag-in-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">印度</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://ae.buynship.com/">
                      <i class="slinky-link__icon icon-flag-ae-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">阿聯酋</span>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li v-if="Object.keys(languageObj).length > 1">
                <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
                <ul>
                  <li v-for="(language, iso) in languageObj" :key="'header-language-selector-m-' + iso">
                    <a :href="language.url">
                      <span class="text-subtitle-sm">{{ language.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#"><span>English</span></a>
                  </li>
                  <li>
                    <a href="#"><span>繁體中文</span></a>
                  </li>
                  <li>
                    <a href="#"><span>簡体中文</span></a>
                  </li> -->
                </ul>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/login?action=logout">
                  <span class="text-subtitle-sm">登出</span>
                  <span class="slinky-menu__title--right bs-icon-logout"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-nav-spacer">
          <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
        </div>
      </aside>

      <transition name="opacity" v-cloak>
        <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
      </transition>

    </div>

    <!-- <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password> -->

    <!-- WP:start -->
    <link rel="stylesheet" href="../assets/css/redemption.css?7c46fb9bd2472cc81461">

    <div id="bs-alert" v-cloak>
      <bs-alert type="warning" show>
        <div>因疫情嚴重影響全球空運，導致到貨時間無法準確預估，且線上客服訊息量暴增，需較長時間回覆，懇請耐心等待 <a href="https://bit.ly/2ST9jmH">(點我看最新公告)</a></div>
      </bs-alert>
    </div>


<main id="bsMain" class="main">
  <div class="bs-banner">
    <div class="bs-container">
      <h1 class="bs-banner__title text-body-lg">提貨點</h1>
      <h2 class="bs-banner__subtitle text-caption">台北區提貨點提供您方便提取大件貨物，自行前來提貨每磅可再減免NT10元運費。</h2>
    </div>
  </div>
  <bs-loading v-if="isLoading" v-cloak>
    <img src="/assets/img/boxtrans.gif" alt="loading icon" />
  </bs-loading>
  <article v-show="!isLoading" class="bs-container bs-container--paddingV" v-cloak>
    <section>
      <h2 class="text-h6 page-section__title mt-0 page-section__point">
        Find your nearest Buyandship service point
      </h2>
    </section>
    <section v-if="!isSimpleMode" class="page-section page-section__filter" v-cloak>
      <div class="bs-redemption__filter">
        <bs-dropdown-selector :value.sync="filterArea.value" :options="filterAreaOptions">
          <span slot="leading" class="bs-redemption__filter__icon__address"></span>
        </bs-dropdown-selector>
        <bs-dropdown-selector :value.sync="filterDistrict.value" :options="filterDistrictOptions">
          <span slot="leading" class="bs-redemption__filter__icon__address"></span>
        </bs-dropdown-selector>
        <bs-dropdown-selector 
          :value.sync="filterPickUpPointType.value"
          :options="filterPickUpPointTypeOptions"
        >
          <span slot="leading" class="bs-redemption__filter__icon__delivery"></span>
        </bs-dropdown-selector>
      </div>
    </section>
    <div v-if="!isSimpleMode" class="page-divider"></div>
    <section class="page-section">
      <h2 class="text-h6 page-section__map__title">
        Find a service point
      </h2>
      <div 
        v-if="!isSimpleMode"
        class="page-section__map__filters"
        :class="{'page-section__map__filters--hidden': isDropdownOpen()}"
      >
        <bs-tag-selector
          ref="bsFiltersArea"
          :value.sync="filterArea.value"
          :options="filterAreaOptions"
          :title="filterArea.default"
        ></bs-tag-selector>
        <bs-tag-selector
          v-if="filterArea.value != filterArea.default"
          ref="bsFiltersDistrictOptions"
          :value.sync="filterDistrict.value"
          :options="filterDistrictOptions"
          :title="filterDistrict.default"
        >
        </bs-tag-selector>
        <bs-tag-selector
          v-if="filterDistrict.value != filterDistrict.default"
          ref="bsFiltersPickUpPointType"
          :value.sync="filterPickUpPointType.value"
          :options="filterPickUpPointTypeOptions"
          :title="filterPickUpPointType.default"
        ></bs-tag-selector>
      </div>
      <div class="page-section__map__content">
        <div class="page-section__map__content__info">
          <div class="page-section__map__content__info__status">
            <div class="page-section__map__content__info__status__counter">
              <span
                class="page-section__map__content__info__status__counter__total text-subtitle-sm">{{ mapMakers.length }}</span>
              <span class="page-section__map__content__info__status__counter__suffix text-subtitle-sm">Self-collection
                points</span>
            </div>
            <div v-if="!isSimpleMode" class="page-section__map__content__info__status__switcher">
              <span class="text-subtitle-sm page-section__map__content__info__status__switcher__title">Show map</span>
              <bs-switch-button :is-open.sync="isMapOpen"></bs-switch-button>
            </div>
          </div>
          <bs-map-card-list class="page-section__map__content__info__mobileList" :markers="mapMakers"
            :hover-marker.sync="hoverMarker" :selected-marker.sync="selectedMarker" :pickup-information="redemptionInfo"
            @tag-district="clickDistrictTag" :is-simple-mode="isSimpleMode" v-cloak>
            <span slot="shipping">Shipping Information</span>
            <span slot="shipping-suffix">( Link )</span>
            <span slot="pricing">View pricing scheme</span>
          </bs-map-card-list>
        </div>
        <div class="page-section__map__content__detail"
          :class="{'page-section__map__content__detail--extend': !isMapOpen}">
          <div class="page-section__map__content__detail__wrapper" ref="destopListWrapper">
            <div class="page-section__map__content__detail__wrapper__shadow"
              :class="{'page-section__map__content__detail__wrapper__shadow--scrollable': isListScrollable}">
              <div class="page-section__map__content__detail__wrapper__shadow__cover"></div>
              <div class="page-section__map__content__detail__wrapper__shadow__blur"></div>
            </div>
            <bs-map-card-list class="page-section__map__content__detail__destopList" :markers="mapMakers"
              :hover-marker.sync="hoverMarker" :selected-marker.sync="selectedMarker"
              :pickup-information="redemptionInfo" @tag-district="clickDistrictTag" :is-simple-mode="isSimpleMode"
              v-cloak>
              <span slot="shipping">Shipping Information</span>
              <span slot="shipping-suffix">( Link )</span>
              <span slot="pricing">View pricing scheme</span>
            </bs-map-card-list>
          </div>
          <div v-if="isMapOpen !== undefined && mapMakers.length !== 0" v-show="isMapOpen === true"
            class="page-section__map__content__detail__graphic" v-cloak>
            <a v-if="isSimpleMode" class="page-section__map__content__detail__graphic__image" target="_blank"
              :href="mapMakers[0].markerUrl">
              <picture>
                <source media="(min-width: 1200px)" srcset="/assets/img/map/tw_map_destop.png">
                <source media="(max-width: 1199px)" srcset="/assets/img/map/tw_map_mobile.png">
                <img src="/assets/img/map/tw_map_destop.png" alt="map">
              </picture>
            </a>
            <bs-google-map v-if="!isSimpleMode" :markers="mapMakers" :hover-marker.sync="hoverMarker"
              :selected-marker.sync="selectedMarker"
              user-location-icon="/assets/img/person_position.svg">
              <span slot="pricing">View the Pricing Scheme <a :href="$BUYANDSHIP.settings.base_url + '/pricing'">( Link )</a></span>
              <template slot="button_title">
                檢視運費價格
              </template>
            </bs-google-map>
          </div>
        </div>
        <bs-bottom-drawer v-if="selectedMarker && !isDestop()" @cover-click="selectedMarker = undefined" v-cloak>
          <div class="page-section__map__content__drawer">
            <div class="page-section__map__content__drawer__name text-h6">{{ selectedMarker.name }}</div>
            <div class="page-section__map__content__drawer__content">
              <div class="page-section__map__content__drawer__content__title">
                <span class="page-section__map__content__drawer__content__title__icon">
                  <span class="page-section__map__content__drawer__content__title__icon__address"></span>
                </span>
                <span class="page-section__map__content__drawer__content__title__word text-subtitle-lg">Address</span>
              </div>
              <div class="text-subtitle-sm page-section__map__content__drawer__content__desc">
                {{ selectedMarker.address }}</div class="text-subtitle-sm">
            </div>
            <div class="page-section__map__content__drawer__content">
              <div class="page-section__map__content__drawer__content__title">
                <span class="page-section__map__content__drawer__content__title__icon">
                  <span class="page-section__map__content__drawer__content__title__icon__clock"></span>
                </span>
                <span class="page-section__map__content__drawer__content__title__word text-subtitle-lg">Hours</span>
              </div>
              <div class="text-subtitle-sm page-section__map__content__drawer__content__desc">
                {{ selectedMarker.detail }}</div class="text-subtitle-sm">
            </div>
            <div class="page-section__map__content__drawer__content" v-if="selectedMarker.remark">
              <div class="page-section__map__content__drawer__content__title">
                <span class="page-section__map__content__drawer__content__title__icon">
                  <span class="page-section__map__content__drawer__content__title__icon__info"></span>
                </span>
                <span class="page-section__map__content__drawer__content__title__word text-subtitle-lg">Others</span>
              </div>
              <div class="text-subtitle-sm page-section__map__content__drawer__content__desc">
                {{ selectedMarker.remark }}</div>
            </div>
            <a class="page-section__map__content__drawer__button bs-button bs-button--primary bs-button--outline full-width"
              target="_blank" :href="selectedMarker.markerUrl">
              <span
                class="page-section__map__content__drawer__button__icon page-section__map__content__drawer__content__title__icon__map"></span>
              Open Google Map
            </a>
          </div>
        </bs-bottom-drawer>
      </div>
    </section>
    <section class="page-section">
      <h2 class="text-h6 page-section__title">
        Buyandship self-collection at a glance
      </h2>
      <div class="page-section__glance">
        <bs-redemption-info :data="redemptionInfo" v-cloak>
          <span slot="amount">SERVICE POINTS</span>
          <span slot="info">INFO</span>
          <span slot="pricing">View pricing scheme</span>
        </bs-redemption-info>
      </div>
    </section>
  </article>
  <div class="register-footer bns_hidden_logged_in" style="margin-top: 0;" v-cloak>
  <div class="bs-container">
    <div class="register-footer-title">新會員註冊 NT.120 運費積分大方送</div>
    <p class="register-footer-notice mb-2x">準備好一起 Buyandship 了嗎?</p>
    <a class="bs-button register-signup bs-button--primary bs-button--md" href="/signup/">
      點我註冊會員
    </a>
  </div>
</div>

</main>

<script>
  window.BUYANDSHIP = window.BUYANDSHIP || {}
  BUYANDSHIP.redemption = {
    isMapOpenDefault: undefined,
    APIKey: 'AIzaSyBpik6EM2c1usT7o379firNk33_XLhMtgo',
    filterArea: {
      default: '請選擇區域',
    },
    filterDistrict: {
      default: '請選擇地區',
    },
    filterPickUpPointType: {
      default: '請選擇取件方式',
    },
    info: [{
        id: "Buyandship 自提點", // this content need equal to api pickup_type
        type: 'information',
        title: 'Buyandship 自提點',
        content: [
          '貨件到達自提點可供領取時將會以電郵通知',
          '「自動轉運」貨件會在到達香港倉庫後，自動於 1-2 個工作天派送到您所選擇的自提點',
          '「合併集運」貨件會在收到您的指令後的 1-2 個工作天派送到您所選擇的自提點',
          '貨件可於自提點免費存放 7 天，7 天後每天收費 HK$10／件，最多儲存 30 天，之後按棄貨處理',
          '貨件送達您所選擇的自提點後不能更改或不會退回到其他自提點、智能櫃領取或安排派送',
          '只接受現金',
          '自提點只限現金及八達通付款，千元鈔票恕不找續',
        ],
      },
      {
        id: "Alfred 智能櫃", // this content need equal to api pickup_type
        type: 'information',
        title: 'Alfred 智能櫃',
        content: [
          '貨件到達智能櫃可供領取時將會以 SMS 或電郵通知',
          '不適用於「自動轉運」貨件',
          '「合併集運」貨件會在您成功付款後的 2-3 個工作天派送到智能櫃',
          '只有選用「合併集運」，貨件到達本地倉庫後，才可以選用智能櫃',
          '貨件可於智能櫃存放 3 天，3 天後會退回葵芳自提點並須於 7 天內領取。退回後不會再安排送到任何智能櫃、自提點或安排送貨，只可於葵芳領取',
          '智能櫃尺寸為 38cm X 17cm X 47cm（W X H X D），如無法存放於智能櫃的運單會自動取消，請在合併前預算貨件尺寸',
          '只提供信用卡付款，但免手續費',
        ],
      },
      {
        id: "Alfred Point", // this content need equal to api pickup_type
        type: 'information',
        title: 'Alfred Point',
        content: [
          '貨件到達Alfred Point可供領取時將會以 SMS 或電郵通知',
          '不適用於「自動轉運」貨件',
          '「合併集運」貨件會在您成功付款後的 2-3 個工作天派送到Alfred Point',
          '只有選用「合併集運」，貨件到達本地倉庫後，才可以選用Alfred Point',
          '貨件可於智能櫃存放 3 天，3 天後會退回葵芳自提點並須於 7 天內領取。退回後不會再安排送到任何智能櫃、自提點或安排送貨，只可於葵芳領取',
          '尺寸限制為 30cm X 30cm X 50cm（W X H X D），重量限制為 22 磅，如無法存放於Alfred Point的運單會自動取消，請在合併前預算貨件尺寸及重量',
          '只提供信用卡付款，但免手續費',
        ],
      },
      {
        id: "順豐站", // this content need equal to api pickup_type
        type: 'information',
        title: '第三方自提點（順豐站)',
        content: [
          '貨件到達自提點可供領取時將會以 SMS 通知',
          '不適用於「自動轉運」貨件',
          '「合併集運」貨件會在您成功付款後的 2-4 個工作天派送到您所選擇的第三方自提點',
          '貨件可於自提點免費存放 3 天，3 天後會退回葵芳自提點並須於 7 天內領取。退回後不會再安排送到任何智能櫃、自提點或安排送貨，只可於葵芳領取',
          '貨件送達您所選擇的自提點後不能更改或不會退回到其他自提點、智能櫃領取或安排派送',
          '只提供信用卡付款，但免手續費',
        ],
      },
      {
        id: "OK便利店", // this content need equal to api pickup_type
        type: 'information',
        title: '第三方自提點（OK便利店)',
        content: [
          '貨件到達自提點可供領取時將會以 SMS 通知',
          '不適用於「自動轉運」貨件',
          '「合併集運」貨件會在您成功付款後的 2-4 個工作天派送到您所選擇的第三方自提點',
          '貨件可於自提點免費存放 72 小時，稍後時間便會退回葵芳自提點並須於 7 天內領取。退回後不會再安排送到任何智能櫃、自提點或安排送貨，只可於葵芳領取',
          '貨件送達您所選擇的自提點後不能更改或不會退回到其他自提點、智能櫃領取或安排派送',
          '每張轉運單限重 5 公斤（12磅內）',
          '尺寸限制為 30cm X 30cm X 50cm（W X H X D），如無法存放於自提點的運單會自動取消，請在合併前預算貨件尺寸或重量',
          '只提供信用卡付款，但免手續費',
        ],
      },
      {
        type: 'image',
        src: "/assets/img/redemption/Daan_indoor_1_700x525.jpg",
      },
      {
        type: 'image',
        src: "/assets/img/redemption/Daan_indoor_2_700x525.jpg",
      },
      {
        type: 'image',
        src: "/assets/img/redemption/Daan_outdoor_1_700x525.jpg",
      },
      {
        type: 'image',
        src: "/assets/img/redemption/Daan_outdoor_2_700x525.jpg",
      },
      {
        type: 'image',
        src: "/assets/img/redemption/Daan_outdoor_3_700x480.jpg",
      },
    ],
  }
</script>

<script>
window.onload = function() {
  var pageJs = document.createElement('script')
  pageJs.src = "../assets/js/redemption.js?7c46fb9bd2472cc81461"
  document.body.appendChild(pageJs)
  var pageJs = document.createElement('script')
  pageJs.src = 
  document.body.appendChild(pageJs)
}
</script>
<!-- <script defer src="../assets/js/redemption.js?7c46fb9bd2472cc81461"></script> -->
<!-- WP:end -->

<footer id="bsFooter" class="bs-footer" v-cloak>
  <div class="footer-graphic" v-if="isShowGraphic">
    <picture>
      <source media="(max-width: 1199px)" srcset="
          /assets/img/footer_768px.png 1x,
          /assets/img/footer_768px@2x.png 2x,
          /assets/img/footer_768px@3x.png 3x
        " sizes="100vw">
      <source media="(min-width: 1200px)" srcset="
          /assets/img/footer_1440px.png 1440w,
          /assets/img/footer_1440px@2x.png 2880w,
          /assets/img/footer_1440px@3x.png 4320w
        " sizes="100vw">
      <img class="footer-graphic-media" src="/assets/img/footer_1440px.png" alt="cat is shipping">
    </picture>
  </div>
  <div class="bs-container">
    <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }">
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">血拼推薦</div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">發燒話題</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">最新消息</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">代運資訊</div>
        <div class="footer-nav-group-item">
          <a href="/tutorial/">新手教學</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/pricing/">收費說明</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/advantage/">我們的優勢</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">關於我們</div>
        <div class="footer-nav-group-item">
          <a href="/about-us/">關於 Buyandship</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/warehouses/">海外倉庫一覽</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/contact-us/">聯絡我們</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
        <div class="footer-social">
          <div class="footer-social-box">
            <a class="footer-social-box-link" target="_blank" href="https://www.facebook.com/buyandship.com.tw">
              <i class="bs-icon">
                <span class="bs-icon-facebook"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.instagram.com/buyandship.tw">
              <i class="bs-icon">
                <span class="bs-icon-instagram"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-youtube"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-weibo"></span>
              </i>
            </a>
            <!-- <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-wechat"></span>
              </i>
            </a> -->
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-twitter"></span>
              </i>
            </a>
          </div>
        </div>
        <div class="footer-location">
          <div class="footer-location-icon">
            <i class="bs-icon-environment" style="margin-left: -6px;"></i>
          </div>
          <div class="footer-location-desc">香港總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
        </div>
        <div class="footer-download">
          <a class="footer-download-link" target="_blank" href="https://apps.apple.com/app/buandship/id1474193162?ct=tw_site_footer&vt=lo&mt=8">
            <img class="footer-download-link-media" alt="AppStore"
              src="/assets/img/AppStore_200px@2x.png" srcset="
                /assets/img/AppStore_200px@2x.png 1x,
                /assets/img/AppStore_200px@2x.png 2x,
                /assets/img/AppStore_200px@3x.png 3x
              ">
          </a>
          <a class="footer-download-link" target="_blank" href="https://qrgo.page.link/9Jxct">
            <img class="footer-download-link-media" alt="GooglePlay"
              src="/assets/img/GooglePlay_200px@2x.png" srcset="
                /assets/img/GooglePlay_200px@2x.png 1x,
                /assets/img/GooglePlay_200px@2x.png 2x,
                /assets/img/GooglePlay_200px@3x.png 3x
              ">
          </a>
        </div>
      </a-col>
    </a-row>
    <div class="footer-bottom">
      <div class="footer-country">
        <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <i class="bs-icon-country"></i>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="footer-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
      <div class="footer-copyright">
        <span class="footer-copyright-desc">© 2019 E-BUY GLOBAL LIMITED</span>
        <a class="footer-copyright-link"
          href="/terms/">使用條款</a>
        <a class="footer-copyright-link"
          href="/privacy/">隱私權政策</a>
      </div>
    </div>
  </div>
</footer>

</div> <!-- end class="layout" -->

<script src="../assets/js/common.js?7c46fb9bd2472cc81461"></script>

</body>

</html>

