<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>privacy</title>
  <link rel="stylesheet" href="../assets/css/common.css?7c46fb9bd2472cc81461">
  
  <script type="text/javascript" src="https://www.buyandship.com.tw/wp-includes/js/jquery/jquery.js?ver=1.12.4">
  </script>
  
</head>

<body>

  <div class="layout">

    <div id="bsHeader">
      <header class="bs-header">
  <div class="header-l">
    <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
    <a class="header-logo" href="/">
      <img class="header-logo-image" alt="logo" src="/assets/img/company_logo_dark.png" srcset="
            /assets/img/company_logo_dark.png 1x,
            /assets/img/company_logo_dark@2x.png 2x,
            /assets/img/company_logo_dark@3x.png 3x
          ">
      <img class="header-logo-image-sm" alt="logo" src="/assets/img/company_logo_box.png" srcset="
            /assets/img/company_logo_box.png 1x,
            /assets/img/company_logo_box@2x.png 2x,
            /assets/img/company_logo_box@3x.png 3x
          ">
    </a>
    <nav class="header-nav">
      <div class="header-nav-item header-nav-item--more">
        <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <div class="bs-icon-country"></div>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="header-nav-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="header-r">
    <bs-nav>
      <bs-nav-item v-cloak name="新手教學" link="/tutorial/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="收費說明" link="/pricing/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="提貨點" link="/redemption/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="血拼推薦">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">發燒話題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">最新消息</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">編輯精選網站</a>
      </bs-nav-item>
      <bs-nav-item v-cloak name="常見問題">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/faq/">常見問題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/warehouses/">海外倉庫一覽</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/restrictions/">禁運物品</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/contact-us/">聯絡我們</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/advantage/">我們的優勢</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/insurance/">保價服務</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/terms/">使用條款</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/privacy/">隱私權政策</a>
      </bs-nav-item>
    </bs-nav>

    <div class="header-r-member js-header-r-member bns_hidden_logged_in">
      <a class="header-member" href="/login/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">登入</span>
      </a>
      <a class="header-member-sign bs-button bs-button--primary" href="/signup/">
        註冊
      </a>
    </div>

    <div class="header-r-member js-header-r-member bns_hidden_logged_out">
      <a class="header-member header-member--m" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">你好，Christ Shui</span>
      </a>
      <a class="header-member header-member--pc" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">我的帳戶</span>
      </a>
      <aside class="header-account">
        <div class="header-account-overlay"></div>
        <ul class="header-account-list">
          <li class="header-account-list-item"><a
              href="/account/">我的帳戶</a></li>
          <li class="header-account-list-item"><a
              href="/account/profile/">個人資料</a></li>
          <li class="header-account-list-item"><a
              href="/account/warehouses/">海外倉庫</a></li>
          <li class="header-account-list-item"><a
              href="/account/shipments/">我的貨物</a></li>
          <li class="header-account-list-item"><a
              href="/account/orders/">我的轉運單</a></li>
          <li class="header-account-list-item"><a class="js-logout" href="#">登出
              <span class="header-account-list-item--right bs-icon-logout"></span>
            </a></li>
        </ul>
      </aside>
    </div>
  </div>
</header>

      <!-- <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4"
          href="/shopping/">發燒話題</a>
        <a class="text-h4" href="/shopping/">最新消息</a>
        <a class="text-h4" href="/shopping/">編輯精選網站</a>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4" href="/faq/">常見問題</a>
        <a class="text-h4" href="/warehouses/">海外倉庫一覽</a>
        <a class="text-h4" href="/restrictions/">禁運物品</a>
        <a class="text-h4" href="/contact-us/">聯絡我們</a>
        <a class="text-h4" href="/advantage/">我們的優勢</a>
        <a class="text-h4" href="/insurance/">保價服務</a>
        <a class="text-h4" href="/terms/">使用條款</a>
        <a class="text-h4" href="/privacy/">隱私權政策</a>
      </bs-nav-panel> -->
      <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇國家或地區</div>
        <a-row>
          <a-col class="country-card" :xs="12" :md="12" :xl="12" v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" href="country.url">
              <img
                :src="country.flag"
                :alt="'flag_' + country.name"
                width="30"
                height="30"
              >
              <span class="ml">{{ country.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.language" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇語言</div>
        <a-row>
          <a-col v-for="(language, iso) in languageObj" class="country-card" :xs="12" :md="12" :xl="12" :key="'header-language-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" :href="language.url">
              <span class="ml">{{ language.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" ref="mobileNav" v-cloak>
        <div class="mobile-nav-inner">
          <nav class="slinky-menu slinky-theme-default">
            <ul>
              <li class="bns_hidden_logged_out">
                <a href="/account/"><span
                    class="text-subtitle-sm">我的帳戶</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/warehouses/"><span
                    class="text-subtitle-sm">海外倉庫</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/shipments/"><span
                    class="text-subtitle-sm">我的貨物</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a class="slinky-menu__underline" href="/account/orders/"><span
                    class="text-subtitle-sm">我的轉運單</span></a>
              </li>
              <li>
                <a href="/tutorial/"><span
                    class="text-subtitle-sm">新手教學</span></a>
              </li>
              <li>
                <a href="/pricing/"><span
                    class="text-subtitle-sm">收費說明</span></a>
              <li>
              <li>
                <a href="/redemption/"><span
                    class="text-subtitle-sm">提貨點</span></a>
              <li>
                <a href="#" class="next"><span class="text-subtitle-sm">血拼推薦</span></a>
                <ul>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">發燒話題</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">最新消息</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">編輯精選網站</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next slinky-menu__underline">
                  <span class="text-subtitle-sm">常見問題</span>
                </a>
                <ul>
                  <li>
                    <a href="/faq/"><span
                        class="text-subtitle-sm">常見問題</span></a>
                  </li>
                  <li>
                    <a href="/warehouses/"><span
                        class="text-subtitle-sm">海外倉庫一覽</span></a>
                  </li>
                  <li>
                    <a href="/restrictions/"><span
                        class="text-subtitle-sm">禁運物品</span></a>
                  </li>
                  <li>
                    <a href="/contact-us/"><span
                        class="text-subtitle-sm">聯絡我們</span></a>
                  </li>
                  <li>
                    <a href="/advantage/"><span
                        class="text-subtitle-sm">我們的優勢</span></a>
                  </li>
                  <li>
                    <a href="/insurance/"><span
                        class="text-subtitle-sm">保價服務</span></a>
                  </li>
                  <li>
                    <a href="/terms/"><span
                        class="text-subtitle-sm">使用條款</span></a>
                  </li>
                  <li>
                    <a href="/privacy/"><span
                        class="text-subtitle-sm">隱私權政策</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next">
                  <span class="text-subtitle-sm">國家及地區</span>
                  <!-- <span class="slinky-menu__title--right slinky-menu__title__flag"
                    :class="'slinky-link__icon icon-flag-' + $BUYANDSHIP.settings.current_country + '-md'"></span> -->
                  <img
                    class="slinky-menu__title--right slinky-menu__title__flag slinky-link__icon"
                    :src="$BUYANDSHIP.settings.all_countries[$BUYANDSHIP.settings.current_country].flag"
                    :alt="'flag_' + $BUYANDSHIP.settings.current_country"
                  >
                </a>
                <ul>
                  <li v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-m-' + iso">
                    <a :href="country.url">
                      <img
                        class="slinky-link__icon"
                        :src="country.flag"
                        :alt="'flag_' + country.name"
                      >
                      <span class="slinky-link__desc text-subtitle-sm ml">{{ country.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://mo.buynship.com/">
                      <i class="slinky-link__icon icon-flag-mo-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳門</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.today/">
                      <i class="slinky-link__icon icon-flag-hk-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">香港</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.cn/">
                      <i class="slinky-link__icon icon-flag-cn-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">中國</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.co.jp/">
                      <i class="slinky-link__icon icon-flag-jp-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">日本</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://au.buynship.com/">
                      <i class="slinky-link__icon icon-flag-au-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳洲</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.sg/">
                      <i class="slinky-link__icon icon-flag-sg-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">新加坡</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.my/">
                      <i class="slinky-link__icon icon-flag-my-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">馬來西亞</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.in/">
                      <i class="slinky-link__icon icon-flag-in-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">印度</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://ae.buynship.com/">
                      <i class="slinky-link__icon icon-flag-ae-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">阿聯酋</span>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li v-if="Object.keys(languageObj).length > 1">
                <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
                <ul>
                  <li v-for="(language, iso) in languageObj" :key="'header-language-selector-m-' + iso">
                    <a :href="language.url">
                      <span class="text-subtitle-sm">{{ language.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#"><span>English</span></a>
                  </li>
                  <li>
                    <a href="#"><span>繁體中文</span></a>
                  </li>
                  <li>
                    <a href="#"><span>簡体中文</span></a>
                  </li> -->
                </ul>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/login?action=logout">
                  <span class="text-subtitle-sm">登出</span>
                  <span class="slinky-menu__title--right bs-icon-logout"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-nav-spacer">
          <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
        </div>
      </aside>

      <transition name="opacity" v-cloak>
        <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
      </transition>

    </div>

    <!-- <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password> -->

    <!-- WP:start -->
    <link rel="stylesheet" href="../assets/css/privacy.css?7c46fb9bd2472cc81461">

    <div id="bs-alert" v-cloak>
      <bs-alert type="warning" show>
        <div>因疫情嚴重影響全球空運，導致到貨時間無法準確預估，且線上客服訊息量暴增，需較長時間回覆，懇請耐心等待 <a href="https://bit.ly/2ST9jmH">(點我看最新公告)</a></div>
      </bs-alert>
    </div>


<main id="bsMain" class="main">
  <default-header-sticky v-cloak>
    <span>隱私權政策</span>
    <span v-show="currentTitle">&nbsp;>&nbsp;</span>
    <span class="pointer" v-show="currentTitle" @click="scrollToTitle">{{ currentTitle }}</span>
    <template slot="header-r">
      <div class="header-r js-inner-header-r"></div>
      <!-- <div class="header-r">
  <div class="header-r-member bns_hidden_logged_in">
    <a class="header-member" href="/login/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">登入</span>
    </a>
    <a class="bs-button header-member-sign text-subtitle-sm bs-button--solid bs-button--primary bs-button--md"
      href="/signup/">
      註冊
    </a>
  </div>
  <div class="header-r-member bns_hidden_logged_out">
    <a class="header-member header-member--m" href="/account/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">你好，Christ Shui</span>
    </a>
    <a class="header-member header-member--pc" href="/account/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">我的帳戶</span>
    </a>
    <aside class="header-account">
      <div class="header-account-overlay"></div>
      <ul class="header-account-list">
        <li class="header-account-list-item"><a
            href="/account/">我的帳戶</a></li>
        <li class="header-account-list-item"><a
            href="/account/profile/">個人資料</a></li>
        <li class="header-account-list-item"><a
            href="/account/warehouses/">海外倉庫</a></li>
        <li class="header-account-list-item"><a
            href="/account/shipments/">我的貨物</a></li>
        <li class="header-account-list-item"><a
            href="/account/orders/">我的轉運單</a></li>
        <li class="header-account-list-item"><a class="js-logout" href="#">登出
            <span class="header-account-list-item--right bs-icon-logout"></span>
          </a></li>
      </ul>
    </aside>
  </div>
</div>
 -->
    </template>
  </default-header-sticky>
  <div class="bs-banner">
    <div class="bs-container">
      <div class="bs-banner-title">
        隱私權政策
      </div>
    </div>
  </div>
  <article class="bs-container bs-container--paddingV">
    <section class="page-section js-content-anchor" data-title="">
      <div class="text-h6 mb">隱私權條款</div>
      <p class="text-body-lg">此隱私條款聲明香港商易購全球有限公司台灣分公司 E-Buy Global Limited Taiwan Branch (即Buyandship)可能對使用者進行個人資料的收集、保護與管理之使用方法。我們均按於標準處理程序處理使用者個人資訊，其中包含了保護個人資料的安全，並遵循香港法例第 486 章《個人資料（私隱）條例》。此隱私條款聲明目的為在處理使用者個人資料之前，基於法律規定我們可能需要事先取得使用者同意，在此情況下，我們只會取得使用者的同意之後，才會依據指定情況下使用您提供的個人資料。此隱私條款僅限於透過我們網站所收集的資料，不適用於其他以線下方式所收集的資料。</p>
    </section>
    <section class="page-section js-content-anchor" data-title="我們所收集的資訊">
      <div class="text-subtitle-lg mb">我們所收集的資訊</div>
      <p class="text-body-sm">當您在我們的網站上註冊、處理訂單、訂閱會員通訊、回覆問卷調查或填寫表格時，我們皆會收集您的資訊。若您選擇在我們的網站上進行註冊及處理訂單，系統可能會要求您輸入包括姓名、電郵地址、通訊地址及電話號碼等資訊；否則您亦可以選擇匿名訪問我們的網站。作為我們的第三方廣告供應商，Google 將使用 Cookies 在您所瀏覽的網站上投放廣告。 Google 所使用的 DART Cookie 允許根據您訪問我們的網站和互聯網上的其他網站記錄而向您投放廣告。若您不同意可以訪問「Google Ad and Content Network Privacy Policy」，並選擇不使用 DART Cookie。</p>
    </section>
    <section class="page-section js-content-anchor" data-title="我們如何使用所收集的資訊">
      <div class="text-subtitle-lg mb">我們如何使用所收集的資訊</div>
      <div class="text-body-sm">
        <p>我們向您收集的任何資訊均可被用於以下任何一項用途：</p>
        <ul>
          <li>個性化您的瀏覽體驗（您的資訊有助於我們更好地滿足您的個人需求）</li>
          <li>改善我們的網站（當您要求我們提供客戶服務支援時，您的資訊有助於我們更有效地回應並處理您的要求）</li>
          <li>處理交易（未經您的同意，您的資訊，無論是公共還是私人資訊，皆不會由於任何原因而被出售，交換，轉讓或提供予任何其他公司，除非是為了交付您所購買的產品或服務等明確目的）</li>
          <li>協助我們管理競賽、促銷活動、調查或其他網站功能</li>
          <li>定期發送電子郵件（您提供的用於訂單處理的電子郵件地址，僅用於向您發送與您的訂單相關的信息和重大服務更新；我們只會在您同意並允許的情況下向您發送推廣訊息）</li>
        </ul>
      </div>
    </section>
    <section class="page-section js-content-anchor" data-title="我們如何保護您的資訊">
      <div class="text-subtitle-lg mb">我們如何保護您的資訊</div>
      <p class="text-body-sm">我們實施各種安全措施以便在您提交訂單或，輸入、提供及訪問您的個人資訊時維護您的信息安全。我們使用安全的服務器，意即所有由您提供的敏感及信用卡信息皆通過安全通訊協定(SSL) 技術傳輸，然後加密至我們的第三方支付供應商數據庫中。只有獲得此類系統之特殊訪問權限的人才能接觸該等信息，並且需要對信息保密。完成交易後，您的私人信息，包括信用卡、社會安全號碼、財務資訊等不會被儲存於我們的服務器上。</p>
    </section>
    <section class="page-section js-content-anchor" data-title="我們使用 Cookies 嗎？">
      <div class="text-subtitle-lg mb">我們使用 Cookies 嗎？</div>
      <p class="text-body-sm">是（Cookie 是網站或其服務提供商通過您的 Web 瀏覽器（如果允許）傳輸到您的電腦硬盤驅動器的小文件，旨在使網站或服務提供商系統能夠識別您的瀏覽器以抓取並記錄某些信息）。我們使用 Cookie 來幫助我們記錄和處理訂單、了解並保存您對訪問本網站的偏好以及彙總有關網站流量和網站互動的匯總數據，以便我們在將來提供更好的網站體驗和功能。</p>
    </section>
    <section class="page-section js-content-anchor" data-title="我們會向第三方透露您的資訊嗎？">
      <div class="text-subtitle-lg mb">我們會向第三方透露您的資訊嗎？</div>
      <p class="text-body-sm">我們不會將您的個人資訊出售、交易或以其他方式轉讓予第三方，但這不包括協助我們運營我們的網站、開展業務或旨在為您提供關連服務的受信任的第三方，然而第三方需同意將該等資訊保密。當我們認為發布該等資訊為適當地遵守法律、用以執行我們的網站政策或保護我們或他人的權利、財產或安全時，我們也可能會發布您的資訊。此外，我們可以向第三方提供非個人可識別的訪客資訊以用於促銷，廣告或其他用途。</p>
    </section>
    <section class="page-section js-content-anchor" data-title="個資保存方式">
      <div class="text-subtitle-lg mb">個資保存方式</div>
      <div class="text-body-sm">
        <p>本公司將會根據內部政策，持有您的個人資料。本公司的政策符合條例包括以下宗旨：</p>
        <ul>
          <li>(a) 個人資料會保存至達到與收集上述資料之原來目的，或直接有關之目的為止；除非上述個人資料可根據任何適用法律、法規或合約規定須予以保存；及</li>
          <li>(b) 基於上述標準及本公司的內部程序，個人資料會在本公司的電子、人手及其他儲存系統中被清除。</li>
        </ul>
      </div>
    </section>
    <section class="page-section js-content-anchor" data-title="您有查詢、更正與刪除的權力">
      <div class="text-subtitle-lg mb">您有查詢、更正與刪除的權力</div>
      <div class="text-body-sm">
        <p>我們採取一切合理的預防措施，以確保我們收集、使用及露出的個人資料是準確、完整和最新的。然而，個人資料的準確性在很大程度上取決於您提供的個人資料。您有權要求查閱和更正你的個人資料，當您有此需求時，我們建議您：</p>
        <ul>
          <li>(a) 當您發現個人資料記錄有任何錯誤時，請通知我們</li>
          <li>(b) 若您的個人資料有所改變或更新時，請通知我們。</li>
        </ul>
        <p class="text-body-sm">若您希望查詢或更正我們持有的您的任何個人資料，或有希望我們刪除任何不再因爲我們提供的服務而需要保存的資料，你可以按照下述之「聯絡方式」與我們聯絡。我們可能對於您的查詢服務收取相關行政費用。您可以拒絕與我們分享你的個人資料及或取消您作出的任何同意事項，在此情況下，我們可能無法提供您我們的相關服務。除非適用的法律允許本公司持有或處理您的個人資料，除此之外，您可以隨時以合法的理由反對我們持有或處理您的個人資料。</p>
      </div>
    </section>
    <section class="page-section js-content-anchor" data-title="只適用於線上的隱私政策">
      <div class="text-subtitle-lg mb">只適用於線上的隱私政策</div>
      <p class="text-body-sm">本線上隱私政策僅適用於通過我們網站所收集的資訊，而不適用於通過線下方式所收集的資訊。</p>
    </section>
    <section class="page-section js-content-anchor" data-title="你的同意">
      <div class="text-subtitle-lg mb">你的同意</div>
      <p class="text-body-sm">使用我們的網站即表示您同意並了解我們的網站隱私政策。</p>
    </section>
    <section class="page-section js-content-anchor" data-title="隱私政策變更及修改">
      <div class="text-subtitle-lg mb">隱私政策變更及修改</div>
      <p class="text-body-sm">如果我們決定變更或修改私隱政策，我們將會在此頁面上發布。惟我們沒有義務在變更或修改私隱政策時向您發出通知。</p>
    </section>
    <section class="page-section js-content-anchor" data-title="聯絡方式">
      <div class="text-subtitle-lg mb">聯絡方式</div>
      <p class="text-body-sm">任何有關香港電訊是否遵從條例的責任查詢及任何查詢、更改或刪除個人資料的需求，請以書面形式致函以下地址：<br><br>易購全球有限公司<br>新界葵芳葵豐街2-16號<br>鍾意恆勝中心7樓706室<br>私隱條例事務主任<br><br>或電郵至：privacy@buyandship.today<br><br>如對有關個人資料之處理有任何疑問，請與我們聯繫。</p>
    </section>
  </article>
</main>

<script>
window.onload = function() {
  var pageJs = document.createElement('script')
  pageJs.src = "../assets/js/privacy.js?7c46fb9bd2472cc81461"
  document.body.appendChild(pageJs)
  var pageJs = document.createElement('script')
  pageJs.src = 
  document.body.appendChild(pageJs)
}
</script>
<!-- <script defer src="../assets/js/privacy.js?7c46fb9bd2472cc81461"></script> -->

<!-- WP:end -->

<footer id="bsFooter" class="bs-footer" v-cloak>
  <div class="footer-graphic" v-if="isShowGraphic">
    <picture>
      <source media="(max-width: 1199px)" srcset="
          /assets/img/footer_768px.png 1x,
          /assets/img/footer_768px@2x.png 2x,
          /assets/img/footer_768px@3x.png 3x
        " sizes="100vw">
      <source media="(min-width: 1200px)" srcset="
          /assets/img/footer_1440px.png 1440w,
          /assets/img/footer_1440px@2x.png 2880w,
          /assets/img/footer_1440px@3x.png 4320w
        " sizes="100vw">
      <img class="footer-graphic-media" src="/assets/img/footer_1440px.png" alt="cat is shipping">
    </picture>
  </div>
  <div class="bs-container">
    <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }">
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">血拼推薦</div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">發燒話題</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">最新消息</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">代運資訊</div>
        <div class="footer-nav-group-item">
          <a href="/tutorial/">新手教學</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/pricing/">收費說明</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/advantage/">我們的優勢</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">關於我們</div>
        <div class="footer-nav-group-item">
          <a href="/about-us/">關於 Buyandship</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/warehouses/">海外倉庫一覽</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/contact-us/">聯絡我們</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
        <div class="footer-social">
          <div class="footer-social-box">
            <a class="footer-social-box-link" target="_blank" href="https://www.facebook.com/buyandship.com.tw">
              <i class="bs-icon">
                <span class="bs-icon-facebook"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.instagram.com/buyandship.tw">
              <i class="bs-icon">
                <span class="bs-icon-instagram"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-youtube"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-weibo"></span>
              </i>
            </a>
            <!-- <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-wechat"></span>
              </i>
            </a> -->
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-twitter"></span>
              </i>
            </a>
          </div>
        </div>
        <div class="footer-location">
          <div class="footer-location-icon">
            <i class="bs-icon-environment" style="margin-left: -6px;"></i>
          </div>
          <div class="footer-location-desc">香港總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
        </div>
        <div class="footer-download">
          <a class="footer-download-link" target="_blank" href="https://apps.apple.com/app/buandship/id1474193162?ct=tw_site_footer&vt=lo&mt=8">
            <img class="footer-download-link-media" alt="AppStore"
              src="/assets/img/AppStore_200px@2x.png" srcset="
                /assets/img/AppStore_200px@2x.png 1x,
                /assets/img/AppStore_200px@2x.png 2x,
                /assets/img/AppStore_200px@3x.png 3x
              ">
          </a>
          <a class="footer-download-link" target="_blank" href="https://qrgo.page.link/9Jxct">
            <img class="footer-download-link-media" alt="GooglePlay"
              src="/assets/img/GooglePlay_200px@2x.png" srcset="
                /assets/img/GooglePlay_200px@2x.png 1x,
                /assets/img/GooglePlay_200px@2x.png 2x,
                /assets/img/GooglePlay_200px@3x.png 3x
              ">
          </a>
        </div>
      </a-col>
    </a-row>
    <div class="footer-bottom">
      <div class="footer-country">
        <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <i class="bs-icon-country"></i>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="footer-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
      <div class="footer-copyright">
        <span class="footer-copyright-desc">© 2019 E-BUY GLOBAL LIMITED</span>
        <a class="footer-copyright-link"
          href="/terms/">使用條款</a>
        <a class="footer-copyright-link"
          href="/privacy/">隱私權政策</a>
      </div>
    </div>
  </div>
</footer>

</div> <!-- end class="layout" -->

<script src="../assets/js/common.js?7c46fb9bd2472cc81461"></script>

</body>

</html>

