.icon-slideshow-arrow-left {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.322%200c-.232%200-.468.079-.664.238L.394%208.701c-.25.206-.394.516-.394.846%200%20.328.145.64.394.844l10.22%208.418c.456.375%201.122.3%201.488-.166a1.104%201.104%200%2000-.163-1.525L2.747%209.547l9.239-7.618a1.102%201.102%200%2000.162-1.524A1.05%201.05%200%200011.322%200%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 8px;
  height: 14px;
  margin-right: 2px;
}
.icon-slideshow-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
.bs-slideshow {
  position: relative;
}
@media (min-width: 768px) {
.bs-slideshow {
    height: 400px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 0;
}
}
.bs-slideshow-arrow-left,
.bs-slideshow-arrow-right {
  position: absolute;
  display: none;
}
@media (min-width: 768px) {
.bs-slideshow-arrow-left,
  .bs-slideshow-arrow-right {
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
}
.bs-slideshow-arrow-left {
  left: -24px;
}
.bs-slideshow-arrow-right {
  right: -24px;
}
.bs-slideshow-container {
  overflow: hidden;
  height: 170px;
}
@media (min-width: 768px) {
.bs-slideshow-container {
    height: 310px;
}
}
.bs-slideshow-scroll-warp {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
.bs-slideshow-scroll-warp {
    overflow-x: hidden;
}
}
.bs-slideshow-scroll {
  display: inline-block;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.bs-slideshow-scroll-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.bs-slideshow-scroll-inner:after {
  content: '';
  width: 16px;
  height: 100%;
  background-color: transparent;
}
@media (min-width: 768px) {
.bs-slideshow-scroll-inner:after {
    content: none;
}
}
.bs-slideshow-item {
  min-width: 160px;
  width: 160px;
  height: 160px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-left: 16px;
}
.bs-slideshow-item:hover {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
.bs-slideshow-item {
    min-width: auto;
    height: 300px;
    margin: 0 12px;
}
}
.bs-slideshow-item-media {
  border-radius: 5px 5px 0 0;
  height: 120px;
}
.bs-slideshow-item-media img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
.bs-slideshow-item-media {
    height: 250px;
}
}
.bs-slideshow-item-info {
  text-align: center;
  line-height: 40px;
  background-color: #FFFFFF;
  border-radius: inherit;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
.bs-slideshow-item-info {
    line-height: 50px;
}
}

.bs-officeInformation a {
  color: rgba(0, 0, 0, 0.85);
}
.bs-officeInformation .bs-officeInformation-item {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .bs-officeInformation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }
  .bs-officeInformation .bs-officeInformation-item {
    width: 33.33%;
    margin-top: 104px;
    border-color: transparent;
    border-width: 0 12px;
    border-style: solid;
  }
}
.bs-officeInformation-address {
  line-height: 20px;
  margin-top: 16px;
  color: #262626;
}
.bs-officeInformation-time {
  margin-top: 6px;
  color: #262626;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 16px;
}
.bs-officeInformation-phone {
  margin-top: 6px;
}
.bs-officeInformation-phone > a {
  color: #FF9E1B;
}
.bs-officeInformation-item-link {
  display: inline-block;
  margin-top: 13px;
}
.bs-officeInformation-item-link:hover .bs-officeInformation-item-link__word {
  color: #FF9E1B;
}
.bs-officeInformation-item-link__word {
  color: #262626;
  margin-right: 8px;
}
.bs-officeInformation-item-link__arrow_right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
.bs-officeInformation .text-h5 {
  margin-top: 52px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .bs-officeInformation .text-h5 {
    text-align: center;
    font-size: 34px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.icon-check {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.694.14A10.014%2010.014%200%2000.14%2011.695c.681%204.143%204.023%207.485%208.166%208.166A10.014%2010.014%200%200019.86%208.306C19.18%204.163%2015.837.82%2011.694.14m-.126%2017.71C5.943%2018.926%201.074%2014.057%202.15%208.432c.601-3.144%203.137-5.68%206.282-6.282%205.625-1.075%2010.493%203.793%209.418%209.418-.602%203.145-3.138%205.68-6.282%206.282M13.88%206.29L8%2012.17l-1.885-1.877a.999.999%200%2000-1.41%201.413l2.593%202.592a.992.992%200%20001.404%200l6.593-6.593A1%201%200%200013.88%206.29%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}
.bs-banner {
  height: 202px;
  background-color: #F6F6F6;
  position: relative;
}
@media (min-width: 768px) {
  .bs-banner {
    height: 300px;
  }
}
.bs-banner .bs-container {
  position: relative;
  height: 100%;
}
.bs-banner:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 160px;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, #000000 100%);
  -webkit-filter: invert(1);
          filter: invert(1);
}
@media (min-width: 1200px) {
  .bs-banner:after {
    content: none;
  }
}
.bs-banner-title {
  height: 24px;
  width: 360px;
  color: #262626;
  letter-spacing: 0.15px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
@media (min-width: 768px) {
  .bs-banner-title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .bs-banner-title {
    height: 46px;
    width: 550px;
    font-size: 34px;
    letter-spacing: 0.25px;
    line-height: 46px;
    top: 72px;
    left: 0;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-weight: normal;
  }
}
.bs-banner-subtitle {
  display: none;
  height: 72px;
  width: 100%;
  color: #262626;
  letter-spacing: 0.1px;
  line-height: 24px;
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .bs-banner-subtitle {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .bs-banner-subtitle {
    display: block;
    width: 500px;
  }
}
.bs-banner-img {
  height: 100%;
  width: 100%;
  background-image: url(/assets/img/banner/TWN_office.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
@media (min-width: 768px) {
  .bs-banner-img {
    background-image: url(/assets/img/banner/TWN_office@2x.png);
  }
}
@media (min-width: 1200px) {
  .bs-banner-img {
    background-image: url(/assets/img/banner/TWN_office@3x.png);
    background-size: 100% 100%;
    width: 518px;
    left: auto;
  }
}
.page-section__title {
  margin-top: 54px;
}
.page-section__title:first-child {
  margin-top: 0;
}
@media (min-width: 1200px) {
  .page-section__title {
    margin-top: 110px;
  }
}
.page-section__title__word {
  position: relative;
  color: #262626;
  height: 27px;
  letter-spacing: 0.15px;
  line-height: 27px;
  margin-bottom: 14px;
}
@media (min-width: 1200px) {
  .page-section__title__word {
    width: 100%;
    height: 61px;
    font-size: 34px;
    letter-spacing: 0.25px;
    line-height: 46px;
    text-align: center;
  }
  .page-section__title__word:after {
    display: block;
    content: "";
    height: 2px;
    width: 50px;
    background-color: #262626;
    position: absolute;
    top: -26px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }
}
.page-section__content__word {
  color: #262626;
  letter-spacing: 0.25px;
  line-height: 25px;
}
.page-section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1200px) {
  .page-section__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.page-section__saying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1200px) {
  .page-section__saying {
    margin-right: 3%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}
.page-section__saying__image1 {
  width: 100%;
  height: auto;
  max-width: 370px;
  margin-bottom: 50px;
}
.page-section__saying__image2 {
  width: 100%;
  height: auto;
  max-width: 370px;
}
.page-section__infomation__item__subtitle {
  height: 24px;
  color: #262626;
  letter-spacing: 0.15px;
  line-height: 24px;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .page-section__infomation__item__subtitle {
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
  }
}
.page-section__infomation__item__content {
  color: #262626;
  letter-spacing: 0.25px;
  line-height: 20px;
}
.page-section__infomation__item {
  width: 100%;
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .page-section__infomation__item {
    float: left;
    padding: 12px 16px;
    width: 50%;
    margin-top: 0;
  }
}
.page-section__contact__wrapper {
  padding-top: 36px;
}
.page-section__contact {
  padding: 11px 16px 8px 16px;
}
.page-section__contact__name {
  height: 27px;
  color: #262626;
  letter-spacing: 0.15px;
  line-height: 27px;
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .page-section__contact__name {
    height: 32px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 7px;
  }
}
.page-section__contact__address {
  color: #262626;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-bottom: 6px;
}
.page-section__contact .page-section__contact__open {
  color: #262626;
  letter-spacing: 0.4px;
  line-height: 16px;
}
.page-section__contact__cellphone {
  color: #FF9E1B;
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-bottom: 10px;
}
.icon-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 7px;
  height: 11px;
}
.page-section__contact__map {
  color: #262626;
  letter-spacing: 1.35px;
  line-height: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  .page-section__contact__map {
    margin-bottom: 64px;
  }
}
.page-section__contact__map .icon-arrow-right {
  margin-left: 8px;
}
.bs-slideshow-item-info {
  color: #262626;
}


/*# sourceMappingURL=about-us.css.map*/