.icon-advantage-consolidating {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.742%2011.307h7.387l-1.914-3.025H8.828l1.914%203.025zm5.987%206.937v-5.937h-6.262a.502.502%200%2001-.423-.232L8.42%209.507v4.322a.5.5%200%2011-1%200v-4.04l-1.195%202.252a.5.5%200%2001-.44.266H2.45v5.937c0%20.19.155.346.346.346H7.42v-2.896a.499.499%200%20111%200v2.896h7.964c.19%200%20.345-.155.345-.346zM2.962%208.282l-1.626%203.025h4.147L7.09%208.282H2.962zm16.498%203.257a.502.502%200%2001-.423.768H17.73v5.937c0%20.743-.603%201.346-1.345%201.346H2.797a1.346%201.346%200%2001-1.346-1.346v-5.937h-.95a.501.501%200%2001-.442-.736l2.163-4.026a.5.5%200%2001.441-.263H16.49a.5.5%200%2001.423.232l2.547%204.025zm-8.52%204.404v1.305h1.63v-1.323l-1.63.018zm2.628-2.405v1.376l1.628-.018v-1.358h-1.628zm1.628%203.71v-1.35l-1.627.017v1.333h1.627zm-5.257-1.8a.5.5%200%2001.494-.5l2.135-.024v-1.886a.5.5%200%2001.5-.5h2.628a.5.5%200%2001.5.5v4.71a.5.5%200%2001-.5.5H10.44a.5.5%200%2001-.5-.5v-2.3zM5.606%202.175a.345.345%200%2001-.11-.16.398.398%200%2001-.04-.191c0-.07.01-.13.04-.19a.336.336%200%2001.11-.16.498.498%200%2001.7%200c.05.04.09.1.11.16.03.06.04.12.04.19a.41.41%200%2001-.04.19.355.355%200%2001-.11.16c-.09.1-.22.15-.35.15a.398.398%200%2001-.19-.04.348.348%200%2001-.16-.11zm.66-1.32a.548.548%200%2001-.11-.16.615.615%200%2001-.04-.19c0-.07.02-.14.04-.2a.548.548%200%2001.11-.16c.19-.18.52-.19.7%200%20.05.05.09.1.11.16.03.06.04.13.04.2%200%20.06-.01.13-.04.19a.433.433%200%2001-.11.16.49.49%200%2001-.35.15.652.652%200%2001-.19-.04.602.602%200%2001-.16-.11zM7.86%201a.5.5%200%20010-1h.8a.5.5%200%20010%201h-.8zm-1.126.824a.5.5%200%2001.5-.5H8.66a.5.5%200%20010%201H7.234a.5.5%200%2001-.5-.5zM11.763%203.9a.5.5%200%2001-.49.5l-.274.005%201.148%201.378%201.13-1.359h-.271a.5.5%200%2001-.5-.5V1H9.949a.5.5%200%20110-1h3.057c.277%200%20.5.223.5.5v2.924h.839a.502.502%200%2001.384.821l-2.198%202.64a.5.5%200%2001-.768%200l-2.198-2.64a.503.503%200%2001-.072-.529.505.505%200%2001.446-.292l.824-.015V2.324h-.814a.5.5%200%20110-1h1.314a.5.5%200%2001.5.5V3.9z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.icon-advantage-delivery {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%2020%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.275%2011.832a.5.5%200%20010%201H7.84a.5.5%200%20010-1h.435zm8.798-4.043l-.421-.398-.177-.166-.002-.003-6.367-6.025a.719.719%200%2000-.987%200L2.152%207.789v7.544c0%20.488.397.885.884.885h2.833V8.38a.5.5%200%2001.5-.5h6.487c.277%200%20.5.223.5.5v7.838h2.832a.885.885%200%2000.885-.885V7.789zM6.869%2016.218h5.487V8.88H6.869v7.338zm12.37-7.768a.5.5%200%2001-.686.729l-.48-.453v6.607a1.888%201.888%200%2001-1.885%201.885H3.036a1.887%201.887%200%2001-1.884-1.885V8.689l-.314.288a.499.499%200%2011-.676-.736l1.89-1.735L8.432.47a1.72%201.72%200%20012.363%200l6.433%206.088%202.012%201.89z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 22px;
}
.icon-advantage-secured {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2217%22%20height%3D%2219%22%20viewBox%3D%220%200%2017%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%2017.597h14.844v-9.81H1v9.81zM4.323%205.013v1.774h8.026V5.013C12.349%202.8%2010.549%201%208.336%201a4.017%204.017%200%2000-4.013%204.013zm12.021%201.774a.5.5%200%2001.5.5v10.81a.5.5%200%2001-.5.5H.5a.5.5%200%2001-.5-.5V7.287a.5.5%200%2001.5-.5h2.823V5.013A5.019%205.019%200%20018.336%200a5.019%205.019%200%20015.013%205.013v1.774h2.995zm-7.984%204.69a.378.378%200%2000.348-.368.384.384%200%2000-.767%200%20.376.376%200%2000.376.375.318.318%200%2001.043-.006zm-.272%203.17h.497l-.248-.957-.249.957zm.922-2.348l.704%202.723a.5.5%200%2001-.484.625H7.441a.5.5%200%2001-.483-.626l.704-2.708a1.376%201.376%200%2001-.72-1.204%201.384%201.384%200%20012.767%200c0%20.508-.279.953-.699%201.19z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 21px;
  height: 23px;
}
.icon-advantage-self-operated {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.96%207.633a.499.499%200%2011-.783.621l-2.893-3.647H3.532l-2.25%202.837h.754c.277%200%20.5.223.5.5v9.2a1.01%201.01%200%20001.014%201.004h11.717a1.01%201.01%200%20001.012-1.004v-9.2a.5.5%200%20111%200v9.2a2.011%202.011%200%2001-2.012%202.004H3.55c-1.11%200-2.014-.9-2.014-2.004v-8.7H.74a.735.735%200%2001-.665-.417.731.731%200%2001.086-.778L2.9%203.796a.502.502%200%2001.391-.189h5.706V.884c0-.487.398-.885.887-.885h1.84c.49%200%20.886.398.886.885v.725a.885.885%200%2001-.886.884h-1.057a.5.5%200%20110-1h.943V1H9.997v2.608h5.528a.5.5%200%2001.392.19l3.043%203.836zM9.997%2011.12h3.396V7.753H9.997v3.367zm0%204.366h3.396V12.12H9.997v3.366zm-4.396%200h3.396V12.12H5.601v3.366zm3.896-8.733h4.396a.5.5%200%2001.5.5v8.733a.5.5%200%2001-.5.5H5.101a.5.5%200%2001-.5-.5V11.62c0-.277.223-.5.5-.5h3.896V7.253a.5.5%200%2001.5-.5z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 26px;
}
.icon-advantage-track {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.506%207.538a.97.97%200%2011-.969.969.97.97%200%2001.969-.969zm0%205.944a4.98%204.98%200%20004.975-4.975%204.98%204.98%200%2000-4.975-4.974A4.98%204.98%200%20003.53%208.506a4.98%204.98%200%20004.975%204.975zm8.007-5.943a.5.5%200%20110%201h-2.034c-.016%203.11-2.423%205.662-5.473%205.918v2.056a.5.5%200%2011-1%200v-2.057c-3.05-.255-5.457-2.806-5.473-5.917H.5a.5.5%200%20010-1h2.117a5.981%205.981%200%20015.389-4.981V.5a.5.5%200%20111%200v2.058a5.981%205.981%200%20015.389%204.98h2.118z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 23px;
  height: 23px;
}
.icon-advantage-warehouse {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%2020%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.875%2011.102a3.286%203.286%200%20003.283-3.283%203.286%203.286%200%2000-3.283-3.282%203.286%203.286%200%2000-3.283%203.282%203.286%203.286%200%20003.283%203.283zm0-7.566a4.288%204.288%200%20014.283%204.284c0%202.19-1.659%203.98-3.783%204.232v4.335h1.019a.5.5%200%20010%201H8.357a.5.5%200%20110-1h1.018v-4.335C7.251%2011.8%205.592%2010.009%205.592%207.82a4.288%204.288%200%20014.283-4.284zm5.249-.722a1.815%201.815%200%20003.627%200%201.815%201.815%200%2000-3.627%200zm4.627%200c0%201.38-1%202.524-2.314%202.762v2.282h.428a.5.5%200%20110%201h-1.856a.5.5%200%20110-1h.428V5.576a2.813%202.813%200%2001-2.313-2.762A2.816%202.816%200%200116.937%200a2.816%202.816%200%20012.814%202.813zM1%202.974a1.815%201.815%200%20003.627%200%201.815%201.815%200%2000-3.627%200zm4.627%200c0%201.382-1%202.526-2.314%202.764V8.02h.429a.5.5%200%20110%201H1.885a.5.5%200%20110-1h.428V5.738A2.813%202.813%200%20010%202.975%202.816%202.816%200%20012.813.162a2.816%202.816%200%20012.814%202.813z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 23px;
}
@media (min-width: 1200px) {
  .text-h6 {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .text-subtitle-lg {
    font-size: 24px;
    font-weight: normal;
  }
}
.bs-banner {
  height: 202px;
  background-color: #F6F6F6;
  position: relative;
}
@media (min-width: 1200px) {
  .bs-banner {
    height: 300px;
  }
}
.bs-banner .bs-container {
  height: 100%;
  background-image: url(/assets/img/banner/benefits.png?202001101436);
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: auto 130px;
  background-position: center bottom;
}
@media (min-width: 768px) {
  .bs-banner .bs-container {
    background-image: url(/assets/img/banner/benefits@2x.png?202001101436);
    background-size: auto 200px;
    background-position: 100% bottom;
  }
}
@media (min-width: 1200px) {
  .bs-banner .bs-container {
    background-image: url(/assets/img/banner/benefits@3x.png?202001101436);
    background-size: 300px auto;
    background-position: 638px bottom;
  }
}
.bs-banner-title {
  position: relative;
  max-width: 327px;
  top: 24px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #262626;
}
@media (min-width: 768px) {
  .bs-banner-title {
    max-width: 400px;
    top: 24px;
    font-size: 24px;
    font-weight: normal;
  }
}
@media (min-width: 1200px) {
  .bs-banner-title {
    max-width: 400px;
    top: 74px;
    right: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 34px;
    text-align: left;
  }
}
.page-section {
  padding: 13px 0;
  margin-bottom: 16px;
}
.page-section:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .page-section {
    padding: 30px 0;
    margin-bottom: 8px;
  }
}
.page-section.page-section__title {
  padding: 0;
  margin-bottom: 13px;
}
@media (min-width: 1200px) {
  .page-section.page-section__title {
    text-align: center;
    margin-bottom: 74px;
  }
}


/*# sourceMappingURL=advantage.css.map*/