.bs-pagger {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 34px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 5px;
  background-color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.bs-pagger-item {
  height: 100%;
  border-right: 1px solid rgba(38, 38, 38, 0.1);
}
.bs-pagger-item:last-child {
  border-right: 0;
}
.bs-pagger-item-content {
  color: #FF9E1B;
  padding: 6px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bs-pagger-item-content:focus {
  text-decoration: none;
}
.bs-pagger-item-content--active {
  color: white;
  background-color: #FF9E1B;
}
.bs-pagger-item-content--unclick {
  cursor: none;
}

.bs-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1200px) {
  .bs-blog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.bs-blog .bs-pagger {
  margin-bottom: 54px;
}
@media (min-width: 1200px) {
  .bs-blog .bs-pagger {
    margin-bottom: 0;
  }
}
.bs-blog__content {
  width: 100%;
}
@media (min-width: 1200px) {
  .bs-blog__content {
    max-width: 800px;
  }
}
.bs-blog__sidebar {
  width: 100%;
}
@media (min-width: 1200px) {
  .bs-blog__sidebar {
    width: 250px;
  }
}
.bs-blog__list__card {
  padding: 16px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 48px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 1200px) {
  .bs-blog__list__card {
    margin-bottom: 56px;
  }
}
.bs-blog__list__card__title {
  color: #262626;
  letter-spacing: 0.15px;
  line-height: 27px;
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .bs-blog__list__card__title {
    font-size: 24px;
    line-height: 32px;
  }
}
.bs-blog__list__card__time {
  color: rgba(38, 38, 38, 0.6);
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .bs-blog__list__card__time {
    margin-bottom: 12px;
  }
}
.bs-blog__list__card__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .bs-blog__list__card__product {
    margin-bottom: 28px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.bs-blog__list__card__product__image {
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .bs-blog__list__card__product__image {
    height: 164px;
    width: 279px;
    margin-right: 40px;
    margin-bottom: 0;
  }
}
.bs-blog__list__card__product__detail {
  width: 100%;
  margin-bottom: 48px;
}
@media (min-width: 1200px) {
  .bs-blog__list__card__product__detail {
    margin-bottom: 18px;
  }
}
.bs-blog__list__card__product__detail__description {
  color: #262626;
  letter-spacing: 0.25px;
  line-height: 20px;
}
.bs-blog__list__card__product__detail__readmore {
  color: #262626;
  letter-spacing: 1.35px;
  line-height: 19px;
}
.bs-blog__list__card__product__detail__readmore .arrow-right {
  margin-left: 8px;
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 7px;
  height: 11px;
}
.bs-blog__list__card__remark__tag {
  height: 16px;
  border-radius: 8px;
  background-color: rgba(38, 38, 38, 0.1);
  padding: 0 7px;
  color: rgba(38, 38, 38, 0.6);
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 16px;
}
.bs-blog__list__card__remark > .bs-blog__list__card__remark__tag {
  margin-right: 8px;
}
.bs-blog__list__card__remark > .bs-blog__list__card__remark__tag:last-child {
  margin-right: 0;
}
.bs-blog__sidebar__category,
.bs-blog__sidebar__recent {
  padding: 16px 24px 16px 0;
  list-style: none;
}
.bs-blog__sidebar__category .bs-blog__sidebar__category__item_children,
.bs-blog__sidebar__recent .bs-blog__sidebar__category__item_children {
  list-style: none;
  margin-top: 4px;
}
.bs-blog__sidebar__category__title,
.bs-blog__sidebar__recent__title {
  color: #262626;
  letter-spacing: 0.15px;
  line-height: 27px;
  margin-bottom: 12px;
}
.bs-blog__sidebar__category__item {
  margin-bottom: 4px;
}
.bs-blog__sidebar__category__item:last-child {
  margin-bottom: 0;
}
.bs-blog__sidebar__category__item__title,
.bs-blog__sidebar__category__item__counter,
.bs-blog__sidebar__recent__item__title {
  color: #262626;
  letter-spacing: 0.4px;
  line-height: 16px;
}
.bs-blog__sidebar__category__item__title,
.bs-blog__sidebar__recent__item__title {
  color: #FF9E1B;
}
.bs-blog__sidebar__recent__item__title {
  display: block;
}
.bs-blog__sidebar__recent__item__title {
  margin-bottom: 0;
}
.bs-blog__sidebar__recent__item__time {
  color: rgba(38, 38, 38, 0.6);
  letter-spacing: 0.4px;
  line-height: 16px;
}
.bs-blog__sidebar__recent__item {
  margin-bottom: 8px;
}
.bs-blog__sidebar__recent__item:last-child {
  margin-bottom: 0;
}
.bs-blog__detail__title {
  color: #262626;
  letter-spacing: 0.15px;
  line-height: 27px;
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .bs-blog__detail__title {
    font-size: 24px;
    line-height: 32px;
  }
}
.bs-blog__detail__time {
  color: rgba(38, 38, 38, 0.6);
  letter-spacing: 0.4px;
  line-height: 16px;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .bs-blog__detail__time {
    margin-bottom: 12px;
  }
}
.bs-blog__detail__content * {
  max-width: 100%;
  max-height: 100%;
}
.bs-blog__breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-bottom: 24px;
  padding-left: 0;
}
.bs-blog__breadcrumb__item {
  padding-left: 12px;
  position: relative;
}
.bs-blog__breadcrumb__item::before {
  content: "/";
  position: inline-block;
  padding-right: 12px;
}
.bs-blog__breadcrumb__item:first-child {
  padding-left: 0;
}
.bs-blog__breadcrumb__item:first-child::before {
  content: none;
}
.bs-blog__breadcrumb__item--link {
  color: #FF9E1B;
}


/*# sourceMappingURL=blog-list.css.map*/