.download {
  height: 80%;
  max-width: auto;
}
@media (min-width: 1200px) {
  .download {
    padding-right: 0;
  }
}
.download-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (min-width: 1200px) {
  .download-wrap {
    max-width: 1200px;
    width: 80vw;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}
.download-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 44px;
}
@media (min-width: 1200px) {
  .download-m {
    height: 600px;
    width: 50%;
  }
}
.download-title {
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .download-title {
    font-size: 34px;
  }
}
.download-pc {
  display: none;
}
@media (min-width: 1200px) {
  .download-pc {
    width: 50%;
    margin-top: -45px;
    background-color: #E4F1F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.download-pc-title {
  text-align: center;
  margin-bottom: 2px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.download-graphic {
  height: 150px;
  width: auto;
  margin-bottom: 25px;
}
.download-remark {
  margin-bottom: 23px;
}
.download-subtitle-link {
  color: #FF9E1B;
}
.download-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  text-align: center;
  margin: 24px 0;
  width: 30%;
}
.download-separator:before {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: #C3C3C3;
  position: relative;
  top: 10px;
}
.download-separator:after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: #C3C3C3;
  position: relative;
  top: 10px;
}
.download-separator-center {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  color: #A5A5A5;
}
.download-platform {
  background-color: #262626;
  border-radius: 7px;
  margin-bottom: 12px;
}
.qrcode-img {
  width: 167px;
  height: 167px;
}
.download-subtitle {
  display: none;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .download-subtitle {
    display: block;
  }
}

@media (min-width: 1200px) {
  .download {
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(38, 38, 38, 0.2);
            box-shadow: 0 2px 4px 0 rgba(38, 38, 38, 0.2);
  }
}
.download-m {
  padding: 0;
  padding-top: 36px;
}
.download-pc {
  margin: 0;
}
@media (min-width: 1200px) {
  .download-wrap {
    width: auto;
  }
}
.download-separator {
  padding-top: 50px;
}


/*# sourceMappingURL=download-app.css.map*/