.bs-icon-faq-register,
.bs-icon-faq[data-name="會員註冊"],
.bs-icon-faq[data-name="会员注册"],
.bs-icon-faq[data-name="会員登録・マイページ"],
.bs-icon-faq[data-name="Register as Buyandship member"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2219px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2019%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2055.2%20(78181)%20-%20https%3A%2F%2Fsketchapp.com%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%208%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22path-1%22%20points%3D%220.2082%200.2806%205.977%200.2806%205.977%206.0486%200.2082%206.0486%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon%2F24px%2Ffaq%2Fregister-%22%20transform%3D%22translate(-3.000000%2C%20-2.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-8%22%20transform%3D%22translate(3.000000%2C%202.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8.903%2C1%20C10.785%2C1%2012.315%2C2.494%2012.315%2C4.329%20C12.315%2C6.165%2010.785%2C7.658%208.903%2C7.658%20C7.021%2C7.658%205.49%2C6.165%205.49%2C4.329%20C5.49%2C2.494%207.021%2C1%208.903%2C1%20M8.903%2C8.658%20C11.336%2C8.658%2013.315%2C6.716%2013.315%2C4.329%20C13.315%2C1.942%2011.336%2C0%208.903%2C0%20C6.47%2C0%204.49%2C1.942%204.49%2C4.329%20C4.49%2C6.716%206.47%2C8.658%208.903%2C8.658%22%20id%3D%22Fill-1%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.7858%2C18.959%20L1.0228%2C18.959%20C0.9558%2C17.993%200.9718%2C15.558%202.5328%2C13.723%20C3.8558%2C12.166%205.9998%2C11.377%208.9048%2C11.377%20L8.9058%2C11.377%20C11.7848%2C11.377%2013.9168%2C12.161%2015.2428%2C13.706%20C16.8118%2C15.535%2016.8448%2C17.986%2016.7858%2C18.959%20M8.9058%2C10.377%20L8.9048%2C10.377%20C5.6938%2C10.377%203.2928%2C11.285%201.7708%2C13.074%20C-0.5062%2C15.752%200.0538%2C19.386%200.0778%2C19.539%20C0.1178%2C19.781%200.3268%2C19.959%200.5718%2C19.959%20L17.2398%2C19.959%20C17.4858%2C19.959%2017.6958%2C19.779%2017.7338%2C19.536%20C17.7588%2C19.383%2018.2978%2C15.739%2016.0078%2C13.062%20C14.4838%2C11.28%2012.0948%2C10.377%208.9058%2C10.377%22%20id%3D%22Fill-3%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-7%22%20transform%3D%22translate(13.000000%2C%204.959000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-6%22%3E%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M5.4772%2C2.6646%20L3.5922%2C2.6646%20L3.5922%2C0.7806%20C3.5922%2C0.5036%203.3692%2C0.2806%203.0922%2C0.2806%20C2.8162%2C0.2806%202.5922%2C0.5036%202.5922%2C0.7806%20L2.5922%2C2.6646%20L0.7082%2C2.6646%20C0.4322%2C2.6646%200.2082%2C2.8886%200.2082%2C3.1646%20C0.2082%2C3.4406%200.4322%2C3.6646%200.7082%2C3.6646%20L2.5922%2C3.6646%20L2.5922%2C5.5486%20C2.5922%2C5.8256%202.8162%2C6.0486%203.0922%2C6.0486%20C3.3692%2C6.0486%203.5922%2C5.8256%203.5922%2C5.5486%20L3.5922%2C3.6646%20L5.4772%2C3.6646%20C5.7532%2C3.6646%205.9772%2C3.4406%205.9772%2C3.1646%20C5.9772%2C2.8886%205.7532%2C2.6646%205.4772%2C2.6646%22%20id%3D%22Fill-5%22%20fill%3D%22%23000000%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-icon-faq-shop,
.bs-icon-faq[data-name="海外購物"],
.bs-icon-faq[data-name="海外购物"],
.bs-icon-faq[data-name="商品の購入について"],
.bs-icon-faq[data-name="Overseas Shopping"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2219px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2019%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2055.2%20(78181)%20-%20https%3A%2F%2Fsketchapp.com%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%208%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22path-1%22%20points%3D%220%200.775%2018.431%200.775%2018.431%2015.9628%200%2015.9628%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon%2F24px%2Ffaq%2Fshop%22%20transform%3D%22translate(-3.000000%2C%20-2.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-8%22%20transform%3D%22translate(3.000000%2C%201.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M5.1993%2C19.2249%20C4.9243%2C19.2249%204.7003%2C19.0059%204.7003%2C18.7379%20C4.7003%2C18.4679%204.9243%2C18.2489%205.1993%2C18.2489%20C5.4743%2C18.2489%205.6993%2C18.4679%205.6993%2C18.7379%20C5.6993%2C19.0059%205.4743%2C19.2249%205.1993%2C19.2249%20M5.1993%2C17.2489%20C4.3733%2C17.2489%203.7003%2C17.9169%203.7003%2C18.7379%20C3.7003%2C19.5579%204.3733%2C20.2249%205.1993%2C20.2249%20C6.0263%2C20.2249%206.6993%2C19.5579%206.6993%2C18.7379%20C6.6993%2C17.9169%206.0263%2C17.2489%205.1993%2C17.2489%22%20id%3D%22Fill-1%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M15.0479%2C19.2249%20C14.7729%2C19.2249%2014.5489%2C19.0059%2014.5489%2C18.7379%20C14.5489%2C18.4679%2014.7729%2C18.2489%2015.0479%2C18.2489%20C15.3229%2C18.2489%2015.5479%2C18.4679%2015.5479%2C18.7379%20C15.5479%2C19.0059%2015.3229%2C19.2249%2015.0479%2C19.2249%20M15.0479%2C17.2489%20C14.2219%2C17.2489%2013.5489%2C17.9169%2013.5489%2C18.7379%20C13.5489%2C19.5579%2014.2219%2C20.2249%2015.0479%2C20.2249%20C15.8749%2C20.2249%2016.5479%2C19.5579%2016.5479%2C18.7379%20C16.5479%2C17.9169%2015.8749%2C17.2489%2015.0479%2C17.2489%22%20id%3D%22Fill-3%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-7%22%20transform%3D%22translate(0.000000%2C%200.225100)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-6%22%3E%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M15.6349%2C11.8718%20L4.8919%2C11.9128%20L3.7849%2C6.6748%20L17.4029%2C6.6748%20L15.6349%2C11.8718%20Z%20M18.2439%2C6.0488%20C18.0659%2C5.8108%2017.7909%2C5.6748%2017.4929%2C5.6748%20L3.5729%2C5.6748%20L2.6219%2C1.1708%20C2.5729%2C0.9398%202.3689%2C0.7748%202.1329%2C0.7748%20L0.4999%2C0.7748%20C0.2239%2C0.7748%20-0.0001%2C0.9978%20-0.0001%2C1.2748%20C-0.0001%2C1.5508%200.2239%2C1.7748%200.4999%2C1.7748%20L1.7279%2C1.7748%20L2.6769%2C6.2648%20C2.6769%2C6.2688%202.6749%2C6.2738%202.6759%2C6.2778%20L3.9969%2C12.5178%20L3.9969%2C12.5198%20L4.6409%2C15.5658%20C4.6899%2C15.7978%204.8939%2C15.9628%205.1299%2C15.9628%20L15.8959%2C15.9628%20C16.1719%2C15.9628%2016.3959%2C15.7388%2016.3959%2C15.4628%20C16.3959%2C15.1858%2016.1719%2C14.9628%2015.8959%2C14.9628%20L5.5349%2C14.9628%20L5.1029%2C12.9128%20L15.6369%2C12.8718%20C16.0519%2C12.8718%2016.4219%2C12.5958%2016.5299%2C12.2238%20L18.3939%2C6.8648%20C18.4759%2C6.5818%2018.4209%2C6.2848%2018.2439%2C6.0488%20L18.2439%2C6.0488%20Z%22%20id%3D%22Fill-5%22%20fill%3D%22%23000000%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-icon-faq-declare,
.bs-icon-faq[data-name="貨件申報"],
.bs-icon-faq[data-name="货件申报"],
.bs-icon-faq[data-name="転送依頼について"],
.bs-icon-faq[data-name="Parcel Declaration"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2218px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2018%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2055.2%20(78181)%20-%20https%3A%2F%2Fsketchapp.com%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%206%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22path-1%22%20points%3D%220.0002%200.2102%2017.74%200.2102%2017.74%2020%200.0002%2020%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon%2F24px%2Ffaq%2Fdeclare%22%20transform%3D%22translate(-3.000000%2C%20-2.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-6%22%20transform%3D%22translate(3.000000%2C%201.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-3%22%20transform%3D%22translate(0.000000%2C%200.789600)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-2%22%3E%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.7402%2C18.2842%20C16.7402%2C18.6792%2016.4192%2C19.0002%2016.0242%2C19.0002%20L1.7162%2C19.0002%20C1.3212%2C19.0002%201.0002%2C18.6792%201.0002%2C18.2842%20L1.0002%2C3.9742%20C1.0002%2C3.5802%201.3212%2C3.2592%201.7162%2C3.2592%20L16.0242%2C3.2592%20C16.4192%2C3.2592%2016.7402%2C3.5802%2016.7402%2C3.9742%20L16.7402%2C18.2842%20Z%20M8.7032%2C1.2102%20C9.3812%2C1.2102%209.9522%2C1.6512%2010.1612%2C2.2592%20L7.2452%2C2.2592%20C7.4542%2C1.6512%208.0252%2C1.2102%208.7032%2C1.2102%20L8.7032%2C1.2102%20Z%20M16.0242%2C2.2592%20L11.2002%2C2.2592%20C10.9682%2C1.0922%209.9372%2C0.2102%208.7032%2C0.2102%20C7.4692%2C0.2102%206.4382%2C1.0922%206.2062%2C2.2592%20L1.7162%2C2.2592%20C0.7692%2C2.2592%200.0002%2C3.0282%200.0002%2C3.9742%20L0.0002%2C18.2842%20C0.0002%2C19.2302%200.7692%2C20.0002%201.7162%2C20.0002%20L16.0242%2C20.0002%20C16.9702%2C20.0002%2017.7402%2C19.2302%2017.7402%2C18.2842%20L17.7402%2C3.9742%20C17.7402%2C3.0282%2016.9702%2C2.2592%2016.0242%2C2.2592%20L16.0242%2C2.2592%20Z%22%20id%3D%22Fill-1%22%20fill%3D%22%23000000%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M13.3398%2C8.2554%20L6.6578%2C14.7624%20L4.1878%2C12.3154%20C3.9918%2C12.1204%203.6738%2C12.1224%203.4808%2C12.3184%20C3.2858%2C12.5154%203.2878%2C12.8314%203.4848%2C13.0264%20L6.3038%2C15.8184%20C6.4008%2C15.9154%206.5278%2C15.9634%206.6548%2C15.9634%20C6.7808%2C15.9634%206.9068%2C15.9164%207.0038%2C15.8214%20L14.0368%2C8.9724%20C14.2358%2C8.7794%2014.2388%2C8.4634%2014.0468%2C8.2654%20C13.8538%2C8.0664%2013.5358%2C8.0644%2013.3398%2C8.2554%22%20id%3D%22Fill-4%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-icon-faq-transition,
.bs-icon-faq[data-name="轉運服務"],
.bs-icon-faq[data-name="转运服务"],
.bs-icon-faq[data-name="荷物の転送・配送について"],
.bs-icon-faq[data-name="Shipping Service"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2220px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2020%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2055.2%20(78181)%20-%20https%3A%2F%2Fsketchapp.com%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%206%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22path-1%22%20points%3D%220%200.0004%2019.984%200.0004%2019.984%2016.4624%200%2016.4624%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon%2F24px%2Ffaq%2Ftransition%22%20transform%3D%22translate(-2.000000%2C%20-4.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-6%22%20transform%3D%22translate(2.000000%2C%204.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-2%22%3E%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1.189%2C11.7214%20L11.677%2C11.7214%20L11.677%2C0.9994%20L1.189%2C0.9994%20L1.189%2C11.7214%20Z%20M0.689%2C12.7214%20L12.177%2C12.7214%20C12.454%2C12.7214%2012.677%2C12.4974%2012.677%2C12.2214%20L12.677%2C0.4994%20C12.677%2C0.2234%2012.454%2C-0.0006%2012.177%2C-0.0006%20L0.689%2C-0.0006%20C0.413%2C-0.0006%200.189%2C0.2234%200.189%2C0.4994%20L0.189%2C12.2214%20C0.189%2C12.4974%200.413%2C12.7214%200.689%2C12.7214%20L0.689%2C12.7214%20Z%22%20id%3D%22Fill-1%22%20fill%3D%22%23000000%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M19.8923%2C6.5257%20L17.6023%2C3.2917%20C17.5083%2C3.1597%2017.3563%2C3.0807%2017.1943%2C3.0807%20L13.7833%2C3.0807%20C13.5083%2C3.0807%2013.2853%2C3.3027%2013.2833%2C3.5777%20L13.2223%2C12.2177%20C13.2203%2C12.4937%2013.4433%2C12.7197%2013.7183%2C12.7217%20L13.7223%2C12.7217%20C13.9963%2C12.7217%2014.2203%2C12.4997%2014.2223%2C12.2257%20L14.2793%2C4.0807%20L16.9353%2C4.0807%20L18.9843%2C6.9737%20L18.9843%2C12.6827%20L18.9843%2C13.3047%20L18.2453%2C13.3047%20C18.2253%2C13.3047%2018.2093%2C13.3137%2018.1913%2C13.3157%20C18.1723%2C13.3137%2018.1563%2C13.3047%2018.1373%2C13.3047%20C17.8613%2C13.3047%2017.6373%2C13.5277%2017.6373%2C13.8047%20L17.6373%2C14.3227%20C17.6373%2C14.9507%2017.1283%2C15.4627%2016.5033%2C15.4627%20C15.8783%2C15.4627%2015.3703%2C14.9507%2015.3703%2C14.3227%20L15.3703%2C13.8047%20C15.3703%2C13.5277%2015.1463%2C13.3047%2014.8703%2C13.3047%20L11.0123%2C13.3047%20C10.7363%2C13.3047%2010.5123%2C13.5277%2010.5123%2C13.8047%20L10.5123%2C14.3227%20C10.5123%2C14.9507%2010.0033%2C15.4627%209.3773%2C15.4627%20C8.7523%2C15.4627%208.2443%2C14.9507%208.2443%2C14.3227%20L8.2443%2C13.8047%20C8.2443%2C13.5277%208.0203%2C13.3047%207.7443%2C13.3047%20L6.2153%2C13.3047%20C5.9423%2C13.3047%205.7183%2C13.5257%205.7153%2C13.7997%20L5.7103%2C14.3227%20C5.7103%2C14.9507%205.2023%2C15.4627%204.5763%2C15.4627%20C3.9513%2C15.4627%203.4423%2C14.9507%203.4423%2C14.3227%20L3.4423%2C13.8047%20C3.4423%2C13.5277%203.2183%2C13.3047%202.9423%2C13.3047%20L0.4993%2C13.3047%20C0.2233%2C13.3047%20-0.0007%2C13.5277%20-0.0007%2C13.8047%20C-0.0007%2C14.0807%200.2233%2C14.3047%200.4993%2C14.3047%20L2.4423%2C14.3047%20L2.4423%2C14.3227%20C2.4423%2C15.5027%203.3993%2C16.4627%204.5763%2C16.4627%20C5.7523%2C16.4627%206.7103%2C15.5027%206.7103%2C14.3277%20L7.2443%2C14.3047%20L7.2443%2C14.3227%20C7.2443%2C15.5027%208.2013%2C16.4627%209.3773%2C16.4627%20C10.5543%2C16.4627%2011.5123%2C15.5027%2011.5123%2C14.3227%20L11.5123%2C14.3047%20L14.3703%2C14.3047%20L14.3703%2C14.3227%20C14.3703%2C15.5027%2015.3273%2C16.4627%2016.5033%2C16.4627%20C17.6803%2C16.4627%2018.6373%2C15.5027%2018.6373%2C14.3227%20L18.6373%2C14.3047%20L19.4843%2C14.3047%20C19.7603%2C14.3047%2019.9843%2C14.0807%2019.9843%2C13.8047%20L19.9843%2C12.6827%20L19.9843%2C6.8147%20C19.9843%2C6.7117%2019.9523%2C6.6097%2019.8923%2C6.5257%22%20id%3D%22Fill-3%22%20fill%3D%22%23000000%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.5417%2C5.8645%20L9.4757%2C4.8555%20C9.4687%2C4.8495%209.4597%2C4.8475%209.4527%2C4.8415%20C9.4377%2C4.8285%209.4197%2C4.8225%209.4027%2C4.8105%20C9.3497%2C4.7745%209.2917%2C4.7505%209.2297%2C4.7375%20C9.2177%2C4.7355%209.2077%2C4.7245%209.1947%2C4.7225%20C9.1857%2C4.7215%209.1767%2C4.7275%209.1667%2C4.7275%20C9.0217%2C4.7165%208.8757%2C4.7615%208.7687%2C4.8755%20C8.7577%2C4.8865%208.7537%2C4.9025%208.7437%2C4.9145%20C8.7377%2C4.9215%208.7287%2C4.9235%208.7237%2C4.9305%20L7.8637%2C6.1495%20C7.7047%2C6.3755%207.7587%2C6.6875%207.9837%2C6.8465%20C8.2097%2C7.0045%208.5217%2C6.9525%208.6807%2C6.7255%20L8.8167%2C6.5335%20C8.6997%2C7.8475%207.5927%2C8.8815%206.2487%2C8.8815%20C5.8637%2C8.8815%205.4947%2C8.7995%205.1487%2C8.6365%20C4.9037%2C8.5185%204.6017%2C8.6245%204.4837%2C8.8755%20C4.3657%2C9.1245%204.4737%2C9.4225%204.7237%2C9.5405%20C5.2017%2C9.7675%205.7157%2C9.8815%206.2487%2C9.8815%20C8.1397%2C9.8815%209.6767%2C8.4025%209.8027%2C6.5425%20L9.8547%2C6.5915%20C9.9507%2C6.6825%2010.0747%2C6.7275%2010.1977%2C6.7275%20C10.3307%2C6.7275%2010.4627%2C6.6755%2010.5617%2C6.5715%20C10.7507%2C6.3705%2010.7417%2C6.0545%2010.5417%2C5.8645%22%20id%3D%22Fill-4%22%20fill%3D%22%23000000%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M4.7537%2C6.5706%20C4.9117%2C6.3446%204.8577%2C6.0326%204.6327%2C5.8746%20C4.4057%2C5.7156%204.0947%2C5.7686%203.9357%2C5.9946%20L3.7997%2C6.1876%20C3.9167%2C4.8736%205.0247%2C3.8396%206.3687%2C3.8396%20C6.7537%2C3.8396%207.1227%2C3.9226%207.4687%2C4.0846%20C7.7147%2C4.2026%208.0157%2C4.0956%208.1337%2C3.8456%20C8.2517%2C3.5956%208.1447%2C3.2986%207.8947%2C3.1806%20C7.4157%2C2.9546%206.9017%2C2.8396%206.3687%2C2.8396%20C4.4777%2C2.8396%202.9407%2C4.3186%202.8147%2C6.1786%20L2.7627%2C6.1296%20C2.5627%2C5.9396%202.2457%2C5.9486%202.0557%2C6.1496%20C1.8657%2C6.3496%201.8747%2C6.6666%202.0747%2C6.8566%20L3.1427%2C7.8656%20C3.1497%2C7.8716%203.1577%2C7.8746%203.1657%2C7.8806%20C3.1807%2C7.8926%203.1967%2C7.8996%203.2127%2C7.9096%20C3.2677%2C7.9466%203.3257%2C7.9716%203.3887%2C7.9836%20C3.4007%2C7.9866%203.4097%2C7.9966%203.4227%2C7.9986%20C3.4437%2C8.0006%203.4657%2C8.0026%203.4857%2C8.0026%20C3.5597%2C8.0026%203.6317%2C7.9826%203.6987%2C7.9506%20C3.7207%2C7.9396%203.7377%2C7.9236%203.7587%2C7.9086%20C3.7887%2C7.8886%203.8227%2C7.8736%203.8497%2C7.8456%20C3.8587%2C7.8356%203.8627%2C7.8216%203.8717%2C7.8106%20C3.8787%2C7.8016%203.8897%2C7.7986%203.8957%2C7.7896%20L4.7537%2C6.5706%20Z%22%20id%3D%22Fill-5%22%20fill%3D%22%23000000%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-icon-faq-rewards,
.bs-icon-faq[data-name="獎賞計劃"],
.bs-icon-faq[data-name="奖赏计划"],
.bs-icon-faq[data-name="ポイントキャンペーンについて"],
.bs-icon-faq[data-name="Reward Programs"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2220px%22%20height%3D%2219px%22%20viewBox%3D%220%200%2020%2019%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2055.2%20(78181)%20-%20https%3A%2F%2Fsketchapp.com%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%203%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22path-1%22%20points%3D%221.60445259e-05%200.0002%2019.978%200.0002%2019.978%2019.0272%201.60445259e-05%2019.0272%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon%2F24px%2Ffaq%2FRewards%22%20transform%3D%22translate(-2.000000%2C%20-2.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-3%22%20transform%3D%22translate(2.000000%2C%202.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-2%22%3E%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1.5742%2C7.7205%20L5.5942%2C11.6375%20C5.7112%2C11.7535%205.7642%2C11.9185%205.7372%2C12.0815%20L4.7882%2C17.6125%20L9.7572%2C15.0015%20C9.9022%2C14.9255%2010.0752%2C14.9255%2010.2212%2C15.0015%20L15.1892%2C17.6125%20L14.2402%2C12.0815%20C14.2132%2C11.9185%2014.2662%2C11.7535%2014.3852%2C11.6375%20L18.4042%2C7.7205%20L12.8492%2C6.9135%20C12.6872%2C6.8895%2012.5462%2C6.7875%2012.4732%2C6.6395%20L9.9892%2C1.6075%20L7.5052%2C6.6395%20C7.4322%2C6.7875%207.2922%2C6.8895%207.1292%2C6.9135%20L1.5742%2C7.7205%20Z%20M4.1242%2C19.0265%20C4.0202%2C19.0265%203.9172%2C18.9945%203.8302%2C18.9305%20C3.6772%2C18.8195%203.5992%2C18.6305%203.6322%2C18.4415%20L4.7072%2C12.1715%20L0.1502%2C7.7295%20C0.0142%2C7.5965%20-0.0338%2C7.3975%200.0242%2C7.2175%20C0.0832%2C7.0355%200.2392%2C6.9045%200.4282%2C6.8765%20L6.7242%2C5.9615%20L9.5412%2C0.2565%20C9.7092%2C-0.0855%2010.2692%2C-0.0855%2010.4372%2C0.2565%20L13.2542%2C5.9615%20L19.5512%2C6.8765%20C19.7382%2C6.9045%2019.8952%2C7.0355%2019.9542%2C7.2175%20C20.0122%2C7.3975%2019.9642%2C7.5965%2019.8272%2C7.7295%20L15.2702%2C12.1715%20L16.3462%2C18.4415%20C16.3792%2C18.6305%2016.3022%2C18.8195%2016.1472%2C18.9305%20C15.9932%2C19.0445%2015.7902%2C19.0585%2015.6212%2C18.9695%20L9.9892%2C16.0085%20L4.3562%2C18.9695%20C4.2842%2C19.0085%204.2042%2C19.0265%204.1242%2C19.0265%20L4.1242%2C19.0265%20Z%22%20id%3D%22Fill-1%22%20fill%3D%22%23000000%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-icon-faq-plus,
.bs-icon-faq[data-name="其他"],
.bs-icon-faq[data-name="その他"],
.bs-icon-faq[data-name="Others"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2055.2%20(78181)%20-%20https%3A%2F%2Fsketchapp.com%20--%3E%0A%20%20%20%20%3Ctitle%3EFill%201%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon%2F24px%2Ffaq%2FMore%22%20transform%3D%22translate(-4.000000%2C%20-4.000000)%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M19.511%2C11.505%20L12.506%2C11.505%20L12.506%2C4.5%20C12.506%2C4.224%2012.282%2C4%2012.006%2C4%20C11.73%2C4%2011.506%2C4.224%2011.506%2C4.5%20L11.506%2C11.505%20L4.5%2C11.505%20C4.224%2C11.505%204%2C11.729%204%2C12.005%20C4%2C12.281%204.224%2C12.505%204.5%2C12.505%20L11.506%2C12.505%20L11.506%2C19.51%20C11.506%2C19.786%2011.73%2C20.01%2012.006%2C20.01%20C12.282%2C20.01%2012.506%2C19.786%2012.506%2C19.51%20L12.506%2C12.505%20L19.511%2C12.505%20C19.787%2C12.505%2020.011%2C12.281%2020.011%2C12.005%20C20.011%2C11.729%2019.787%2C11.505%2019.511%2C11.505%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-banner {
  width: 100%;
  height: 216px;
  position: relative;
  background: #FBFBFB;
  background-image: url(/assets/img/banner/faq_m@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right top;
}
@media (min-width: 768px) {
  .bs-banner {
    height: 300px;
    background-image: url(/assets/img/banner/faq@2x.png);
    background-position: right top;
  }
}
@media (min-width: 1200px) {
  .bs-banner {
    background-image: url(/assets/img/banner/faq@3x.png);
  }
}
form.search:before {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.765%2018.627l-4.591-4.59a8.536%208.536%200%20001.969-5.466A8.57%208.57%200%20008.57%200%208.57%208.57%200%20000%208.571a8.57%208.57%200%20008.571%208.572%208.536%208.536%200%20005.467-1.97l4.591%204.592a.804.804%200%20001.138%200%20.81.81%200%2000-.002-1.138zm-8.484-3.638a6.892%206.892%200%2001-2.71.546%206.948%206.948%200%2001-4.924-2.04%206.948%206.948%200%2001-2.04-4.924%206.948%206.948%200%20012.04-4.924%206.948%206.948%200%20014.924-2.04%206.948%206.948%200%20014.924%202.04%206.948%206.948%200%20012.04%204.924%206.948%206.948%200%2001-2.04%204.924%206.924%206.924%200%2001-2.214%201.494z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  content: '';
}
.bs-banner-title {
  text-align: center;
  position: relative;
  top: 32px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .bs-banner-title {
    font-size: 34px;
    top: 60px;
  }
}
@media (min-width: 1200px) {
  .bs-banner-title {
    text-align: center;
    top: 84px;
    font-weight: normal;
  }
}
.section--articles {
  margin-bottom: 64px;
}
@media (min-width: 1200px) {
  .section--articles {
    margin-bottom: 88px;
  }
}
@media (min-width: 1200px) {
  .section--recent .main-title {
    margin-bottom: 88px;
  }
}
.main-title {
  text-align: center;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .main-title {
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .contact-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }
  .contact-second .contact-second-item {
    width: 33.33%;
    border-color: transparent;
    border-width: 0 12px;
    border-style: solid;
  }
}
.contact-second a,
.contact-fifth a {
  color: rgba(0, 0, 0, 0.85);
}
.contact-second a:hover,
.contact-fifth a:hover {
  color: #FB9219;
}
.contact-second-item + .contact-second-item {
  margin-top: 44px;
}
@media (min-width: 1200px) {
  .contact-second-item + .contact-second-item {
    margin-top: 88px;
  }
}
@media (min-width: 768px) {
  .contact-second-item {
    border-color: transparent;
    border-width: 0 12px;
    border-style: solid;
  }
  .contact-second-item:first-of-type {
    margin-top: 44px;
  }
}
@media (min-width: 1200px) {
  .contact-second-item:first-of-type {
    margin-top: 88px;
  }
}
.contact-second-item-link {
  margin-top: 12px;
}
.contact-second-item-link-arrow {
  color: #262626;
  position: relative;
  display: inline;
}
.contact-second-item-link-arrow:after {
  content: '';
  position: absolute;
  right: -20px;
  top: 46%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
/*
*   overwite zendesk
*/
.contact-second-item .contact-second-item-link--article:nth-of-type(n+5) {
  display: none;
}
.breadcrumbs li a {
  font-weight: 600;
  color: #262626;
}
.breadcrumbs li a:visited {
  color: #FF9E1B;
}
.article-sidebar {
  display: none;
}
@media (min-width: 1200px) {
  .article-sidebar {
    display: block;
  }
}
.header {
  max-width: auto;
  margin: 0;
  padding: 0;
  position: static;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer {
  border-top: 0;
  margin-top: 0;
  padding: 0;
}
.footer .footer-copyright-link,
.footer .footer-country-link {
  color: #FFFFFF;
}
.footer .footer-copyright-link:hover,
.footer .footer-country-link:hover {
  color: #FF9E1B;
}
.recent-activity-header {
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .recent-activity-header {
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 88px;
  }
}
.bs-container .search {
  top: 96px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .bs-container .search {
    top: 120px;
    max-width: 608px;
  }
}
.bs-container #query {
  height: 48px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
@media (min-width: 1200px) {
  .bs-container #query {
    height: 56px;
  }
}
.article-title {
  font-size: 32px;
}
.article-relatives a {
  color: rgba(0, 0, 0, 0.85);
}
.article-relatives a:hover {
  color: #FF9E1B;
}


/*# sourceMappingURL=faq.css.map*/