.icon-dialog-close {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22null%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.443%209.94l7.535-7.799a1.233%201.233%200%20000-1.703%201.131%201.131%200%2000-1.644%200L9.796%208.233%202.257.435a1.131%201.131%200%2000-1.643%200%201.233%201.233%200%20000%201.703l7.535%207.798-7.535%207.801a1.233%201.233%200%20000%201.703%201.132%201.132%200%20001.644%200l7.538-7.798%207.538%207.801a1.134%201.134%200%20001.644%200%201.233%201.233%200%20000-1.703l-7.535-7.8z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.bs-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
}
.bs-dialog .bs-container {
  position: relative;
  left: 0;
  right: 0;
}
.bs-dialog--video .bs-dialog-close {
  padding: 0 0 10px 0;
}
.bs-dialog--video .bs-dialog-container {
  background-color: transparent;
}
.bs-dialog-container {
  position: absolute;
  background-color: #FFFFFF;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
@media (min-width: 1200px) {
.bs-dialog-container {
    top: 15%;
    left: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 686px;
    max-height: 80vh;
    border-radius: 5px;
}
}
.bs-dialog-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  z-index: 901;
}
.bs-dialog-close {
  padding-left: 16px;
  padding-top: 16px;
}
@media (min-width: 768px) {
.bs-dialog-close {
    padding-left: 24px;
    padding-top: 24px;
}
}
.dialog-slide-enter-active,
.dialog-slide-leave-active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dialog-slide-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.dialog-slide-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.bs-horizontal-card-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 7px;
  height: 11px;
  margin-left: 8px;
}
.bs-horizontal-card__image {
  height: 159px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (min-width: 1200px) {
.bs-horizontal-card__image {
    position: absolute;
    border-radius: 5px;
    width: 447px;
    height: 151px;
    overflow: hidden;
}
}
.bs-horizontal-card__image .bs-horizontal-card__image__sm {
  width: 100%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
@media (min-width: 1200px) {
.bs-horizontal-card__image .bs-horizontal-card__image__sm {
    display: none;
}
}
.bs-horizontal-card__image .bs-horizontal-card__image__sm img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bs-horizontal-card__image .bs-horizontal-card__image__lg {
  display: none;
}
@media (min-width: 1200px) {
.bs-horizontal-card__image .bs-horizontal-card__image__lg {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    position: absolute;
    width: 202px;
    height: 100%;
    right: 0;
    top: 0;
}
.bs-horizontal-card__image .bs-horizontal-card__image__lg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
}
.bs-horizontal-card__image .bs-horizontal-card__image__lg .prdouct_lg_image__cover {
  position: absolute;
  top: 0;
  right: 144px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 151px 0 0 58px;
  border-color: transparent transparent transparent white;
}
.bs-horizontal-card__content {
  height: 151px;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 1200px) {
.bs-horizontal-card__content {
    border-radius: 5px;
    width: 447px;
    height: 151px;
}
}
.bs-horizontal-card__content.bs-horizontal-card--clickable:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.bs-horizontal-card__content__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px 16px 0 16px;
}
@media (min-width: 1200px) {
.bs-horizontal-card__content__wrapper {
    height: 100%;
    padding: 16px calc(100% - 244px) 0 33px;
}
}
.bs-horizontal-card__content__title > h3 {
  max-height: 48px;
  margin-bottom: 6px;
  line-height: 1.2;
}
.bs-horizontal-card__content__content {
  color: rgba(0, 0, 0, 0.85);
}
.bs-horizontal-card__content__content > p {
  position: relative;
  margin-bottom: 0;
  max-height: 41px;
  overflow: hidden;
  line-height: 22px;
  font-size: 14px;
}
.bs-horizontal-card__content__content > p::after {
  content: "...";
  font-weight: bold;
  position: absolute;
  line-height: 22px;
  bottom: 0;
  right: 0;
  padding: 0 20px 0 45px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, white), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
@media (min-width: 1200px) {
.bs-horizontal-card__content__content > p {
    max-height: 44px;
}
}
.bs-horizontal-card__content__url {
  position: absolute;
  left: 19px;
  bottom: 16px;
}
@media (min-width: 1200px) {
.bs-horizontal-card__content__url {
    left: 32px;
}
}
.bs-horizontal-card__content__url > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.bs-horizontal-card__content__url__word {
  position: relative;
  font-weight: bold;
  letter-spacing: 1.35px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bs-vertical-card-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 7px;
  height: 11px;
  margin-left: 8px;
}
.bs-vertical-card {
  position: relative;
  height: 336px;
  width: 100%;
}
@media (min-width: 1200px) {
.bs-vertical-card {
    height: 410px;
    width: 260px;
}
}
.bs-vertical-card__under {
  z-index: 0;
  height: 124px;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 1200px) {
.bs-vertical-card__under {
    height: 124px;
    width: 261px;
}
}
.bs-vertical-card__under.bs-vertical-card__under--blue {
  background: linear-gradient(161.38deg, rgba(136, 186, 250, 0.8) 0%, #6BABF7 100%);
  background-size: 100% 100%;
  background-image: url(/assets/img/product_blue.jpg);
}
@media (min-width: 768px) {
.bs-vertical-card__under.bs-vertical-card__under--blue {
    background-image: url(/assets/img/product_blue@2x.jpg);
}
}
@media (min-width: 1200px) {
.bs-vertical-card__under.bs-vertical-card__under--blue {
    background-image: url(/assets/img/product_blue@3x.jpg);
}
}
.bs-vertical-card__under.bs-vertical-card__under--orange {
  background: linear-gradient(161.38deg, rgba(255, 239, 200, 0.8) 0%, #FF9E1B 100%);
  background-size: 100% 100%;
  background-image: url(/assets/img/product_orange.jpg);
}
@media (min-width: 768px) {
.bs-vertical-card__under.bs-vertical-card__under--orange {
    background-image: url(/assets/img/product_orange@2x.jpg);
}
}
@media (min-width: 1200px) {
.bs-vertical-card__under.bs-vertical-card__under--orange {
    background-image: url(/assets/img/product_orange@3x.jpg);
}
}
.bs-vertical-card__cover {
  z-index: 1;
  height: 281px;
  width: calc(100% - 15px);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 32px 24px 0 35px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 1200px) {
.bs-vertical-card__cover {
    height: 355px;
    width: 246px;
    padding: 32px 20px 0 35px;
}
}
.bs-vertical-card__cover::after {
  content: '';
  display: block;
  position: absolute;
  top: 27px;
  left: 17px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  -webkit-transform: rotate(125deg);
          transform: rotate(125deg);
}
.bs-vertical-card__cover.bs-vertical-card__cover--blue::after {
  border-color: transparent transparent #5DA2D5 transparent;
}
.bs-vertical-card__cover.bs-vertical-card__cover--orange::after {
  border-color: transparent transparent #FF9E1B transparent;
}
.bs-vertical-card__cover.bs-vertical-card--clickable:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.bs-vertical-card__cover__title > h3 {
  max-height: 90px;
  margin-bottom: 8px;
  line-height: 32px;
}
.bs-vertical-card__cover__content {
  color: rgba(0, 0, 0, 0.85);
}
.bs-vertical-card__cover__content > p {
  position: relative;
  max-height: 96px;
  overflow: hidden;
  margin-bottom: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  font-size: 14px;
}
.bs-vertical-card__cover__content > p::after {
  content: "...";
  font-weight: bold;
  position: absolute;
  line-height: 20px;
  bottom: 0;
  right: 0;
  padding: 0 20px 0 45px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, white), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
@media (min-width: 1200px) {
.bs-vertical-card__cover__content > p {
    max-height: 156px;
}
}
.bs-vertical-card__cover__url {
  position: absolute;
  left: 35px;
  bottom: 16px;
}
@media (min-width: 1200px) {
.bs-vertical-card__cover__url {
    bottom: 19px;
}
}
.bs-vertical-card__cover__url > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.bs-vertical-card__cover__url__word {
  position: relative;
  font-weight: bold;
  letter-spacing: 1.35px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bs-gallery__titile__icon-sms {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18%200H2C.9%200%200%20.9%200%202v18l4-4h14c1.1%200%202-.9%202-2V2c0-1.1-.9-2-2-2zm0%2014H4l-2%202V2h16v12zM5%207h2v2H5V7zm4%200h2v2H9V7zm4%200h2v2h-2V7z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 23px;
  height: 20px;
  margin-right: 12px;
}
.bs-gallery-wrapper {
  background-color: #F6F6F6;
  padding: 26px 0 36px 0;
}
@media (min-width: 1200px) {
.bs-gallery-wrapper {
    background-color: #FFFFFF;
    padding: 44px 0 0 0;
}
}
.bs-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
.bs-gallery {
    padding-bottom: 120px;
}
}
.bs-gallery__titile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  padding: 0 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
.bs-gallery__titile {
    margin-bottom: 20px;
    padding: 0 162px;
}
}
.bs-gallery__subtitle {
  margin-bottom: 10px;
  padding: 0 16px;
  text-align: center;
}
@media (min-width: 1200px) {
.bs-gallery__subtitle {
    font-size: 34px;
    margin-bottom: 7px;
    padding: 0 162px;
}
}
.bs-gallery__scroll-container {
  width: 100%;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 25px;
}
.bs-gallery__scroll-container::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1200px) {
.bs-gallery__scroll-container {
    overflow-x: hidden;
}
}
.bs-gallery__scroll-container__wrapper {
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 1200px) {
.bs-gallery__scroll-container__wrapper {
    min-width: calc(100% - 54px * 2 - 58px * 2);
}
}
.scroll-item {
  scroll-snap-align: start;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.bs-gallery__icon-arrow {
  display: none;
}
@media (min-width: 1200px) {
.bs-gallery__icon-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 54px;
    min-width: 54px;
    height: 54px;
    min-height: 54px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 3px 6px 0 rgba(38, 38, 38, 0.3);
            box-shadow: 0 3px 6px 0 rgba(38, 38, 38, 0.3);
    border-radius: 50%;
}
.bs-gallery__icon-arrow:first-child {
    margin-left: 58px;
}
.bs-gallery__icon-arrow:last-child {
    margin-right: 58px;
}
.bs-gallery__icon-arrow .bs-gallery__icon-arrow__left {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23C3C3C3%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.322%200c-.232%200-.468.079-.664.238L.394%208.701c-.25.206-.394.516-.394.846%200%20.328.145.64.394.844l10.22%208.418c.456.375%201.122.3%201.488-.166a1.104%201.104%200%2000-.163-1.525L2.747%209.547l9.239-7.618a1.102%201.102%200%2000.162-1.524A1.05%201.05%200%200011.322%200%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 12px;
    height: 19px;
}
.bs-gallery__icon-arrow .bs-gallery__icon-arrow__right {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23C3C3C3%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 12px;
    height: 19px;
}
}
.bs-gallery__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 5px;
  bottom: -10px;
  z-index: 1;
}
@media (min-width: 1200px) {
.bs-gallery__counter {
    height: 13px;
    bottom: 41px;
}
}
.bs-gallery__counter .bs-gallery__counter__dot {
  display: block;
  height: 5px;
  width: 5px;
  min-height: 5px;
  min-width: 5px;
  border-radius: 50%;
  margin-right: 2px;
  border: 0.8px solid #979797;
  background-color: rgba(255, 255, 255, 0.2);
}
.bs-gallery__counter .bs-gallery__counter__dot.bs-gallery__counter__dot--active {
  border: none;
  background-color: rgba(38, 38, 38, 0.2);
}
.bs-gallery__counter .bs-gallery__counter__dot:last-child {
  margin-right: 0;
}
@media (min-width: 1200px) {
.bs-gallery__counter .bs-gallery__counter__dot {
    height: 13px;
    width: 13px;
    min-height: 13px;
    min-width: 13px;
    margin-right: 12px;
}
}

.bs-gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px 9px 16px;
}
@media (min-width: 1200px) {
.bs-gallery-item {
    background-color: transparent;
    padding: 0 162px;
}
}
.bs-gallery-item__content__description > p {
  max-width: 635px;
  text-align: center;
  color: #262626;
}
@media (min-width: 1200px) {
.bs-gallery-item__content__description > p {
    margin-bottom: 40px;
}
}
.bs-gallery-item__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 50px 25px 25px 25px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 1200px) {
.bs-gallery-item__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}
}
.bs-gallery-item__content__author {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -24px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 24px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 4px 13px;
}
@media (min-width: 1200px) {
.bs-gallery-item__content__author {
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
    left: auto;
    padding: 0;
}
}
.bs-gallery-item__content__author__avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 11px;
}
.bs-gallery-item__content__author__avatar img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
@media (min-width: 1200px) {
.bs-gallery-item__content__author__avatar {
    width: 48px;
    height: 48px;
}
}
.bs-gallery-item__content__author__name {
  font-weight: bold;
  color: #262626;
}
.bs-gallery-item__content__author__name > * {
  white-space: nowrap;
}
.bs-gallery-item__content__author__name .bs-gallery-item__content__author__name__deco {
  display: none;
}
@media (min-width: 1200px) {
.bs-gallery-item__content__author__name .bs-gallery-item__content__author__name__deco {
    display: inline-block;
}
}

.download {
  height: 80%;
  max-width: auto;
}
@media (min-width: 1200px) {
  .download {
    padding-right: 0;
  }
}
.download-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (min-width: 1200px) {
  .download-wrap {
    max-width: 1200px;
    width: 80vw;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}
.download-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 44px;
}
@media (min-width: 1200px) {
  .download-m {
    height: 600px;
    width: 50%;
  }
}
.download-title {
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .download-title {
    font-size: 34px;
  }
}
.download-pc {
  display: none;
}
@media (min-width: 1200px) {
  .download-pc {
    width: 50%;
    margin-top: -45px;
    background-color: #E4F1F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.download-pc-title {
  text-align: center;
  margin-bottom: 2px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.download-graphic {
  height: 150px;
  width: auto;
  margin-bottom: 25px;
}
.download-remark {
  margin-bottom: 23px;
}
.download-subtitle-link {
  color: #FF9E1B;
}
.download-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  text-align: center;
  margin: 24px 0;
  width: 30%;
}
.download-separator:before {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: #C3C3C3;
  position: relative;
  top: 10px;
}
.download-separator:after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: #C3C3C3;
  position: relative;
  top: 10px;
}
.download-separator-center {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  color: #A5A5A5;
}
.download-platform {
  background-color: #262626;
  border-radius: 7px;
  margin-bottom: 12px;
}
.qrcode-img {
  width: 167px;
  height: 167px;
}
.download-subtitle {
  display: none;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .download-subtitle {
    display: block;
  }
}

/*
*  Overwrite intercom style
*/
#intercom-container {
  position: absolute;
}
#intercom-container .intercom-app {
  position: absolute;
  left: 0;
  bottom: 0;
}
#intercom-container iframe[name="intercom-note-frame"] {
  position: relative;
  left: calc(100vw - 342px - 20px);
  bottom: 40px;
}
#intercom-container .intercom-launcher-badge-frame {
  position: relative;
  left: calc(100vw - 75px - 20px);
  bottom: 60px;
}
#intercom-container .intercom-launcher-frame {
  position: relative;
  left: calc(100vw - 60px - 20px);
  bottom: 20px;
}
#intercom-container .intercom-ytk0w4 {
  position: absolute;
  left: calc(100vw - 500px);
  bottom: 0;
}
@media (min-width: 768px) {
  #intercom-container .intercom-messenger-frame {
    position: relative;
    left: calc(100vw - 376px - 20px);
    bottom: 40px;
    height: calc(100vh - 120px);
  }
}
.intercom-lightweight-app {
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
}
.intercom-lightweight-app .intercom-lightweight-app-launcher {
  position: relative;
  left: calc(100vw - 60px - 20px);
  bottom: 80px;
}
/*
*  Overwrite intercom style
*/
.bs-container {
  min-width: 80vw;
}
.icon-user-black {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2219%22%20height%3D%2219%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.318%202.41a2.28%202.28%200%20012.273%202.272%202.28%202.28%200%2001-2.273%202.273%202.28%202.28%200%2001-2.273-2.273%202.28%202.28%200%20012.273-2.273m0%2010.227c3.068%200%206.591%201.466%206.818%202.273v1.136H2.5v-1.124c.227-.82%203.75-2.285%206.818-2.285m0-12.5a4.544%204.544%200%2000-4.545%204.546%204.544%204.544%200%20004.545%204.545%204.544%204.544%200%20004.546-4.545A4.544%204.544%200%20009.318.136m0%2010.228c-3.033%200-9.09%201.522-9.09%204.545v3.41h18.181v-3.41c0-3.023-6.057-4.545-9.09-4.545%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}
.icon-hamburger-black {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2214%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6.879.74a1.06%201.06%200%20000%202.117h6.349a1.058%201.058%200%20000-2.117H6.879zM1.588%206.031a1.058%201.058%200%20100%202.116h16.931a1.058%201.058%200%20000-2.116H1.588zm5.291%205.292a1.06%201.06%200%20000%202.116h6.349a1.057%201.057%200%20100-2.116H6.879z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 16px;
}
.icon-close-black {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.443%209.94l7.535-7.799a1.233%201.233%200%20000-1.703%201.131%201.131%200%2000-1.644%200L9.796%208.233%202.257.435a1.131%201.131%200%2000-1.643%200%201.233%201.233%200%20000%201.703l7.535%207.798-7.535%207.801a1.233%201.233%200%20000%201.703%201.132%201.132%200%20001.644%200l7.538-7.798%207.538%207.801a1.134%201.134%200%20001.644%200%201.233%201.233%200%20000-1.703l-7.535-7.8z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 18px;
}
.icon-index-check-circle {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22null%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.694.14A10.014%2010.014%200%2000.14%2011.695c.681%204.143%204.023%207.485%208.166%208.166A10.014%2010.014%200%200019.86%208.306C19.18%204.163%2015.837.82%2011.694.14m-.126%2017.71C5.943%2018.926%201.074%2014.057%202.15%208.432c.601-3.144%203.137-5.68%206.282-6.282%205.625-1.075%2010.493%203.793%209.418%209.418-.602%203.145-3.138%205.68-6.282%206.282M13.88%206.29L8%2012.17l-1.885-1.877a.999.999%200%2000-1.41%201.413l2.593%202.592a.992.992%200%20001.404%200l6.593-6.593A1%201%200%200013.88%206.29%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
}
.bs-header--sticky {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.bs-header--sticky .header-member-icon {
  margin-right: 16px;
}
.bs-header--sticky .header-member-sign {
  display: inline-block;
}
@media (max-width: 1199px) {
  .bs-header--sticky .bs-logo {
    display: none;
  }
  .bs-header--sticky .header-bars.bs-icon {
    display: block;
  }
  .bs-header--sticky .header-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bs-header--sticky .header-logo {
    display: block;
  }
}
.bs-header--show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}
.desktop-show {
  display: none;
}
@media (min-width: 768px) {
  .desktop-show {
    display: block;
  }
}
.float-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 15px 9px;
  border-color: transparent transparent rgba(93, 162, 213, 0.8) transparent;
  position: absolute;
  -webkit-animation-name: float-position;
          animation-name: float-position;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: translate(0) rotate(45deg);
          transform: translate(0) rotate(45deg);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  z-index: 1;
}
@media (max-width: 1199px) {
  .float-triangle {
    display: none;
  }
}
.float-triangle.float-triangle--orange {
  border-width: 0 15px 26px 15px;
  border-color: transparent transparent #FF9E1B transparent;
}
.float-circle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #FF9E1B;
  position: absolute;
  -webkit-animation-name: float-position;
          animation-name: float-position;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: translate(0) rotate(45deg);
          transform: translate(0) rotate(45deg);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  z-index: 1;
}
@media (max-width: 1199px) {
  .float-circle {
    display: none;
  }
}
@-webkit-keyframes float-position {
  0% {
    -webkit-transform: translate(0) rotate(45deg);
            transform: translate(0) rotate(45deg);
  }
  10% {
    -webkit-transform: translate(0, -2em);
            transform: translate(0, -2em);
  }
  30% {
    -webkit-transform: translate(0, -3em) rotate(-120deg);
            transform: translate(0, -3em) rotate(-120deg);
  }
  40% {
    -webkit-transform: translate(0, -2em);
            transform: translate(0, -2em);
  }
  57% {
    -webkit-transform: translate(0, -3.5em) rotate(180deg);
            transform: translate(0, -3.5em) rotate(180deg);
  }
  65% {
    -webkit-transform: translate(0, -2em);
            transform: translate(0, -2em);
  }
  79.5% {
    -webkit-transform: translate(0, -4.5em) rotate(-100deg);
            transform: translate(0, -4.5em) rotate(-100deg);
  }
  85% {
    -webkit-transform: translate(0, -2em);
            transform: translate(0, -2em);
  }
  94% {
    -webkit-transform: translate(0, -4em) rotate(80deg);
            transform: translate(0, -4em) rotate(80deg);
  }
  100% {
    -webkit-transform: translate(0) rotate(45deg);
            transform: translate(0) rotate(45deg);
  }
}
@keyframes float-position {
  0% {
    -webkit-transform: translate(0) rotate(45deg);
            transform: translate(0) rotate(45deg);
  }
  10% {
    -webkit-transform: translate(0, -2em);
            transform: translate(0, -2em);
  }
  30% {
    -webkit-transform: translate(0, -3em) rotate(-120deg);
            transform: translate(0, -3em) rotate(-120deg);
  }
  40% {
    -webkit-transform: translate(0, -2em);
            transform: translate(0, -2em);
  }
  57% {
    -webkit-transform: translate(0, -3.5em) rotate(180deg);
            transform: translate(0, -3.5em) rotate(180deg);
  }
  65% {
    -webkit-transform: translate(0, -2em);
            transform: translate(0, -2em);
  }
  79.5% {
    -webkit-transform: translate(0, -4.5em) rotate(-100deg);
            transform: translate(0, -4.5em) rotate(-100deg);
  }
  85% {
    -webkit-transform: translate(0, -2em);
            transform: translate(0, -2em);
  }
  94% {
    -webkit-transform: translate(0, -4em) rotate(80deg);
            transform: translate(0, -4em) rotate(80deg);
  }
  100% {
    -webkit-transform: translate(0) rotate(45deg);
            transform: translate(0) rotate(45deg);
  }
}
@-webkit-keyframes rainbowText {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes rainbowText {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.section--panel {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 0 0 5px 5px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  height: calc(60vh - 64px);
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .section--panel {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .section--panel {
    display: block;
    height: 700px;
  }
}
.section--panel > .bs-container {
  width: 100%;
}
@media (min-width: 768px) {
  .section--panel > .bs-container {
    width: none;
  }
}
.index-subtitle {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .index-subtitle {
    margin-top: 160px;
    margin-left: 4px;
  }
}
.index-title {
  margin-top: 20px;
  line-height: 40px;
  background: -webkit-linear-gradient(left, #4A93CF, #FF9E1B, #F4633A);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: -webkit-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: rainbowText;
          animation-name: rainbowText;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media (min-width: 768px) {
  .index-title {
    margin-top: 8px;
    font-size: 48px;
    line-height: 70px;
  }
}
@media (min-width: 1200px) {
  .index-title {
    line-height: 1.2;
    font-size: 68px;
  }
}
.index-title--pc {
  display: none;
}
@media (min-width: 1200px) {
  .index-title--pc {
    display: block;
  }
}
.index-title--m {
  display: block;
}
@media (min-width: 1200px) {
  .index-title--m {
    display: none;
  }
}
.section--global {
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center 250%;
  background-size: 100%;
  position: relative;
}
.section--global .bs-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.section--global .float-circle__1 {
  right: 10%;
  bottom: 25%;
}
.section--global .float-triangle__2 {
  left: 35%;
  bottom: 5%;
}
.section--global .float-triangle__3 {
  left: 5%;
  top: 25%;
}
.section--global .float-triangle {
  left: 25%;
  bottom: 5%;
}
@media (min-width: 1200px) {
  .section--global {
    min-height: 700px;
  }
}
.section--global:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0px;
  left: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.03)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 100%);
}
.section--tutorial {
  padding-top: 120px;
  padding-bottom: 88px;
  position: relative;
}
.section--tutorial .float-triangle {
  left: 75%;
  bottom: 10%;
}
@media (min-width: 1200px) {
  .section--tutorial {
    height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.section--tutorial:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0px;
  left: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.03)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 100%);
}
.section--support {
  padding-top: 120px;
  position: relative;
}
.section--support .bs-container {
  padding-bottom: 50px;
}
@media (min-width: 1200px) {
  .section--support .bs-container {
    position: relative;
    padding-bottom: 0;
  }
}
.section--support .float-triangle {
  left: 15%;
  bottom: 10%;
}
@media (min-width: 1200px) {
  .section--support {
    height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
  }
}
.section--blog {
  padding-top: 40px;
}
.global-earth {
  width: 70%;
  position: absolute;
  top: 10vh;
  right: 5%;
}
@media (min-width: 1200px) {
  .global-earth {
    top: 5vh;
  }
}
@media (min-aspect-ratio: 17/13) {
  .global-earth {
    width: 60%;
  }
}
@media (min-aspect-ratio: 19/13) {
  .global-earth {
    width: 50%;
    right: 10%;
  }
}
@media (min-aspect-ratio: 21/13) {
  .global-earth {
    width: 45%;
    right: 17%;
  }
}
.global-earth-inner {
  position: relative;
}
.global-video {
  width: 100%;
  height: auto;
}
.global-image {
  width: 100%;
  height: auto;
}
.global-cloud-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: auto;
}
.global-cloud-right {
  position: absolute;
  right: 0;
  top: 65%;
  width: 5%;
  height: auto;
}
@media (max-height: 1000px) {
  .global-cloud-right {
    top: auto;
    bottom: 2%;
  }
}
.global-intro {
  position: absolute;
  left: 16px;
  bottom: 15%;
}
@media (max-width: 375px) and (min-height: 812px) {
  .global-intro {
    bottom: 28%;
  }
}
@media (min-width: 768px) {
  .global-intro {
    left: 24px;
    max-width: 430px;
  }
}
@media (min-width: 1200px) {
  .global-intro {
    bottom: 25%;
  }
}
@media (min-width: 768px) {
  .global-intro-title {
    font-size: 34px;
    font-weight: normal;
  }
}
.global-intro-item {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.global-intro-item .icon-index-check-circle {
  margin-right: 8px;
  margin-top: 2px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
}
.global-intro-item span {
  vertical-align: middle;
}
.tutorial-title {
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .tutorial-title {
    margin-bottom: 10vh;
    font-size: 34px;
    font-weight: normal;
  }
}
.tutorial-box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.tutorial-box::-webkit-scrollbar {
  display: none;
}
.tutorial-box-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1200px) {
  .tutorial-box-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .tutorial-box-item {
    width: 90%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.tutorial-box-item-media-wrap {
  display: block;
  position: relative;
  min-height: 330px;
}
.tutorial-box-item-media-wrap:first-child {
  margin-top: 44px;
}
@media (min-width: 1200px) {
  .tutorial-box-item-media-wrap:first-child {
    margin-top: 34px;
  }
}
@media (min-width: 768px) {
  .tutorial-box-item-media-wrap {
    min-height: 630px;
  }
}
@media (min-width: 1200px) {
  .tutorial-box-item-media-wrap {
    min-height: 330px;
    margin-top: 34px;
    width: 45%;
  }
}
.tutorial-box-item-media {
  height: auto;
  width: 100%;
}
@media (min-width: 1200px) {
  .tutorial-box-item-media {
    margin-bottom: 0;
  }
}
.tutorial-box-item-media__warehouses__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}
.tutorial-box-item-media__warehouses__back {
  position: absolute;
  top: 24px;
  right: 16px;
  width: 85%;
  height: auto;
}
.tutorial-box-item-media__warehouses__front {
  position: absolute;
  top: 20%;
  left: 0;
  width: 40%;
  height: auto;
}
.tutorial-box-item-media__shop__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.tutorial-box-item-media__shop__back {
  position: absolute;
  top: 16px;
  right: 8px;
  width: 60%;
  height: auto;
}
.tutorial-box-item-media__shop__front {
  position: absolute;
  top: 10%;
  left: 0;
  width: 40%;
  height: auto;
}
.tutorial-box-item-media-media-container {
  -webkit-box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.25);
}
.tutorial-box-item__flow {
  padding-top: 44px;
}
@media (min-width: 1200px) {
  .tutorial-box-item__flow {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .tutorial-box-item__flow .tutorial-box-item-media-wrap {
    width: 38%;
  }
}
.tutorial-box-item__flow > .tutorial-box-item-media {
  -webkit-box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.25);
  margin-top: 44px;
}
@media (min-width: 1200px) {
  .tutorial-box-item-content {
    padding-left: 48px;
    padding-right: 120px;
    width: 55%;
    overflow-y: hidden;
  }
}
.tutorial-box-item-slogan {
  font-size: 24px;
  color: #FB9219;
  padding: 16px 0 8px 0;
  margin-top: 40px;
  margin-bottom: 16px;
  background-image: url(/assets/img/index_dots.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left bottom;
}
@media (min-width: 1200px) {
  .tutorial-box-item-slogan {
    font-size: 34px;
    padding-top: 0;
    margin-top: 0;
  }
}
.tutorial-box-item-slogan-text:after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 30px;
  background-color: #FF9E1B;
  border-radius: 15px;
  margin-bottom: 7px;
  margin-left: 4px;
}
@media (min-width: 1200px) {
  .tutorial-box-item-slogan-text:after {
    width: 40px;
  }
}
.tutorial-box-item-title {
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .tutorial-box-item-title {
    font-size: 24px;
    font-weight: normal;
  }
}
.tutorial-box-item-desc {
  line-height: 20px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .tutorial-box-item-desc {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}
.index-link {
  color: rgba(0, 0, 0, 0.85);
  position: relative;
  display: inline;
}
.index-link:after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
.tutorial-box-item-link {
  display: inline-block;
}
.support-title {
  margin-bottom: 52px;
}
@media (min-width: 1200px) {
  .support-title {
    margin-bottom: 10vh;
    font-size: 34px;
    font-weight: normal;
  }
}
@media (min-width: 1200px) {
  .support-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.support-box + .support-box {
  margin-top: 84px;
}
@media (min-width: 1200px) {
  .support-box + .support-box {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .support-box {
    width: 31%;
  }
}
.support-box-media-wrap {
  width: 100%;
  position: relative;
  padding-bottom: 70%;
}
.support-box-media {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  height: auto;
}
.support-box-slogan {
  padding-bottom: 12px;
  margin-bottom: 16px;
  margin-top: 32px;
  color: rgba(0, 0, 0, 0.85);
}
.support-box-slogan .text-subtitle-lg {
  position: relative;
  padding-bottom: 12px;
}
.support-box-slogan .text-subtitle-lg:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
}
@media (min-width: 1200px) {
  .support-box-slogan .text-subtitle-lg:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50px;
  }
}
@media (min-width: 1200px) {
  .support-box-slogan {
    text-align: center;
  }
  .support-box-slogan .text-subtitle-lg {
    font-size: 24px;
  }
}
.support-box-desc {
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85);
}
@media (min-width: 1200px) {
  .support-box-desc {
    text-align: center;
  }
}
.support-box-link {
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .support-box-link {
    text-align: center;
  }
}
.main-button {
  margin-top: 32px;
}
@media (min-width: 576px) {
  .main-button {
    width: auto;
    min-width: 343px;
  }
}
@media (min-width: 1200px) {
  .promote-gallery-warp {
    border-top: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
  }
}
.blog-title--m {
  display: block;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .blog-title--m {
    display: none;
  }
}
.blog-title--pc {
  display: none;
}
@media (min-width: 1200px) {
  .blog-title--pc {
    display: block;
    margin-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .blog-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.blog-latest {
  padding-bottom: 56px;
}
.blog-latest .bs-vertical-card + .bs-vertical-card {
  margin-top: 24px;
}
@media (min-width: 1200px) {
  .blog-latest .bs-vertical-card + .bs-vertical-card {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .blog-latest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog-latest .bs-vertical-card {
    margin-right: 46px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.blog-discount {
  position: relative;
  overflow: hidden;
}
.blog-discount .bs-horizontal-card {
  padding: 3px;
}
.blog-discount .bs-horizontal-card + .bs-horizontal-card {
  margin-top: 24px;
}


/*# sourceMappingURL=index.css.map*/