.icon-tabs-arrow-left {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.322%200c-.232%200-.468.079-.664.238L.394%208.701c-.25.206-.394.516-.394.846%200%20.328.145.64.394.844l10.22%208.418c.456.375%201.122.3%201.488-.166a1.104%201.104%200%2000-.163-1.525L2.747%209.547l9.239-7.618a1.102%201.102%200%2000.162-1.524A1.05%201.05%200%200011.322%200%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 8px;
  height: 14px;
  margin-right: 2px;
}
.icon-tabs-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
.bs-tabs {
  position: relative;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bs-tabs a {
  color: rgba(0, 0, 0, 0.65);
}
.bs-tabs a:hover {
  color: #ffa940;
}
.bs-tabs-arrow-left,
.bs-tabs-arrow-right {
  display: none;
}
.bs-tabs-scroll-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px) {
.bs-tabs-scroll-wrap {
    overflow-x: hidden;
}
}
.bs-tabs-scroll-wrap--hasFix {
  width: calc(100% - 50px);
}
.bs-tabs-scroll {
  margin: 0 auto;
  height: 100%;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  padding-left: 14px;
  padding-right: 14px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (min-width: 768px) {
.bs-tabs-scroll {
    padding-left: 0;
    padding-right: 0;
}
}
.bs-tabs-scroll::-webkit-scrollbar {
  display: none;
}
.bs-tabs-scroll-mask-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#cfcece), color-stop(57%, #eaeaea), to(rgba(212, 211, 211, 0.18)));
  background-image: linear-gradient(to right, #cfcece, #eaeaea 57%, rgba(212, 211, 211, 0.18));
  border-radius: 5px 0 0 5px;
}
@media (min-width: 768px) {
.bs-tabs-scroll-mask-left {
    display: none;
}
}
.bs-tabs-scroll-mask-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#cfcece), color-stop(57%, #eaeaea), to(rgba(212, 211, 211, 0.18)));
  background-image: linear-gradient(to left, #cfcece, #eaeaea 57%, rgba(212, 211, 211, 0.18));
}
.bs-tab {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.bs-tab + .bs-tab {
  margin-left: 14px;
}
.bs-tab-inner {
  position: relative;
  text-align: center;
  height: 100%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.bs-tab-inner:hover {
  color: #FFAC32;
}
.bs-tab-inner:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 20px;
  border-bottom: 2px solid #FF9E1B;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media (min-width: 768px) {
.bs-tab-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
}
.bs-tab-inner--underline {
  color: #FF9E1B;
}
.bs-tab-inner--underline:after {
  opacity: 1;
}
.bs-tab-desc {
  height: 47px;
  line-height: 47px;
}
@media (min-width: 768px) {
.bs-tab-desc {
    height: 27px;
    line-height: 27px;
    margin-top: 4px;
}
}
@media (min-width: 1200px) {
.bs-tab-desc {
    margin-top: 4px;
}
}
.bs-tab.bs-tab--fix {
  width: 50px;
}
.bs-tab-icon {
  display: none;
}
@media (min-width: 768px) {
.bs-tabs {
    -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.bs-tabs-arrow-left,
  .bs-tabs-arrow-right {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
.bs-tabs-arrow-left {
    left: -24px;
}
.bs-tabs-arrow-right {
    right: -24px;
}
.bs-tabs-scroll-wrap--hasFix {
    width: calc(100% - 160px);
}
.bs-tab {
    min-width: 160px;
    height: 72px;
}
.bs-tab + .bs-tab {
    margin-left: 0;
}
.bs-tab + .bs-tab .bs-tab-inner {
    position: relative;
}
.bs-tab-inner:after {
    content: none;
}
.bs-tab-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}
.bs-tab-icon svg {
    width: 100%;
    height: 100%;
}
.bs-tab.bs-tab--fix {
    width: auto;
}
}
@media (min-width: 768px) and (min-width: 768px) {
.bs-tab + .bs-tab .bs-tab-inner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1px;
    height: 36px;
    background-color: #D8D8D8;
}
}
@media (min-width: 1200px) {
.bs-tab {
    min-width: 185px;
    height: 96px;
}
.bs-tabs-scroll-wrap--hasFix {
    width: calc(100% - 185px);
}
}

.insurance-icon-basic {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.233%200c.511%200%20.989.275%201.245.718l3.007%205.326a1.331%201.331%200%2001-.111%201.482l-8.412%2010.77a1.43%201.43%200%2001-1.133.552c-.444%200-.857-.201-1.131-.552L.284%207.525a1.334%201.334%200%2001-.11-1.482L3.18.722A1.441%201.441%200%20014.426%200zm0%201H4.426c-.155%200-.3.083-.377.218L1.045%206.536a.334.334%200%2000.027.374l8.413%2010.771a.453.453%200%2000.689%200L18.587%206.91a.336.336%200%2000.027-.374l-3.006-5.322A.433.433%200%200015.233%201zm-5.36%202.1c1.839%200%202.68%201.452%202.692%202.482a.5.5%200%2001-.495.506.502.502%200%2001-.505-.495C11.56%205.206%2011.24%204.1%209.873%204.1c-.522%200-.982.176-1.296.494a1.327%201.327%200%2000-.386.972c.016.931.77%201.17%201.755%201.384l.273.061c.82.198%202.532.61%202.532%202.414%200%201.703-1.606%202.47-2.747%202.47-2.205%200-3.096-1.867-3.096-2.645a.5.5%200%20111%200c0%20.205.416%201.645%202.096%201.645.57%200%201.747-.36%201.747-1.47%200-.94-.8-1.209-1.766-1.44l-.252-.058c-.877-.19-2.511-.547-2.542-2.343a2.338%202.338%200%2001.674-1.69C8.367%203.381%209.08%203.1%209.873%203.1z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 19px;
}
.insurance-icon-advanced {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.587%206.91l-8.412%2010.771c-.005.006-.012.007-.017.013L7.044%207.163h5.19l-2.12%207.69a.5.5%200%2000.964.266l2.195-7.956h3.718a.499.499%200%20100-1h-3.7L12.12%201h3.114c.156%200%20.3.083.375.214l3.007%205.321a.336.336%200%2001-.028.375zM1.072%206.909a.336.336%200%2001-.027-.373l3.003-5.317A.44.44%200%20014.428%201h3.015L5.996%206.163H2.668a.5.5%200%20000%201h3.334l2.882%209.747L1.072%206.909zM11.094%201l1.172%205.163H7.034L8.482%201h2.612zm8.392%205.044L16.478.718A1.442%201.442%200%200015.233%200H4.427c-.51%200-.987.275-1.247.722L.174%206.043a1.33%201.33%200%2000.111%201.482l8.413%2010.771c.274.351.687.552%201.132.552.445%200%20.86-.201%201.132-.552l8.413-10.771h.001a1.336%201.336%200%2000.11-1.481z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 19px;
}
.insurance-icon-coverage {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2219%22%20height%3D%2220%22%20viewBox%3D%220%200%2019%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.322%2018.912c7.187-.394%208.146-10.35%208.267-13.392.01-.246-.205-.421-.423-.486v-.001c-3.129-.938-6.293-3.053-7.509-3.918a.627.627%200%2000-.725%200c-1.214.865-4.376%202.979-7.507%203.918-.262.079-.433.275-.424.487.121%203.042%201.08%2012.998%208.321%2013.392zm8.131-14.836c.707.21%201.163.808%201.136%201.484-.13%203.255-1.182%2013.912-9.267%2014.35C1.182%2019.47.132%208.815.002%205.559c-.027-.676.43-1.273%201.135-1.484C4.127%203.179%207.178%201.137%208.352.3a1.627%201.627%200%20011.885%200c1.175.837%204.231%202.879%207.216%203.775zm-4.632%205.38a.5.5%200%20010%201H9.795v2.756a.5.5%200%2001-1%200v-2.756H5.77a.5.5%200%20010-1h3.026V6.7a.5.5%200%20111%200v2.756h3.026z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 19px;
  height: 20px;
}
.insurance-icon-lost {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%2020%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.134%2015.785V6.243H1v9.542c0%20.145.117.262.262.262h16.61a.261.261%200%2000.262-.262zM2.9%201L1.234%205.243h16.574L15.586%201H2.9zm16.18%204.528a.488.488%200%2001.053.215v10.042c0%20.695-.565%201.262-1.261%201.262H1.262A1.265%201.265%200%20010%2015.785V5.743c0-.052.015-.1.03-.146.003-.012%200-.025.004-.037L2.094.317A.5.5%200%20012.56%200h13.329c.185%200%20.356.103.443.268l2.745%205.244c.003.004%200%20.011.004.016zM8.073%209.74a.499.499%200%2001-.382-.59c.122-.574.693-1.659%201.982-1.659%201.427%200%202.07%201.031%202.07%201.763%200%20.81-.423%201.343-.796%201.814-.365.461-.587.767-.557%201.214a.499.499%200%2001-.464.533l-.036.001a.5.5%200%2001-.498-.466c-.057-.856.383-1.413.772-1.903.31-.392.578-.73.578-1.193%200-.008-.046-.763-1.069-.763-.783%200-.984.781-1.004.87a.5.5%200%2001-.596.38zm1.828%204.22a.5.5%200%20010%201%20.504.504%200%2001-.505-.5c0-.276.22-.5.495-.5h.01z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 18px;
}
.insurance-icon-lost.page-section-icon {
  width: 25px;
  height: 23px;
}
.insurance-icon-damaged {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%2020%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.134%2015.785a.262.262%200%2001-.262.262H1.262A.262.262%200%20011%2015.785V6.243h5.932l-.855%202.215a.503.503%200%2000.467.68h1.569l-.878%202.19a.499.499%200%2010.927.372l1.155-2.876a.5.5%200%2000-.464-.686h-1.58l.73-1.895h10.13v9.542zM2.9%201h12.686l2.222%204.243H1.234L2.9%201zm16.18%204.528c-.002-.005%200-.012-.003-.016L16.332.268A.502.502%200%200015.889%200H2.559a.5.5%200%2000-.466.317L.033%205.56c-.003.012%200%20.025-.003.037a.469.469%200%2000-.03.146v10.042c0%20.695.567%201.262%201.262%201.262h16.61c.696%200%201.262-.567%201.262-1.262V5.743a.488.488%200%2000-.053-.215z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 18px;
}
.insurance-icon-damaged.page-section-icon {
  width: 25px;
  height: 23px;
}
.insurance-icon-coverage {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2219%22%20height%3D%2220%22%20viewBox%3D%220%200%2019%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.322%2018.912c7.187-.394%208.146-10.35%208.267-13.392.01-.246-.205-.421-.423-.486v-.001c-3.129-.938-6.293-3.053-7.509-3.918a.627.627%200%2000-.725%200c-1.214.865-4.376%202.979-7.507%203.918-.262.079-.433.275-.424.487.121%203.042%201.08%2012.998%208.321%2013.392zm8.131-14.836c.707.21%201.163.808%201.136%201.484-.13%203.255-1.182%2013.912-9.267%2014.35C1.182%2019.47.132%208.815.002%205.559c-.027-.676.43-1.273%201.135-1.484C4.127%203.179%207.178%201.137%208.352.3a1.627%201.627%200%20011.885%200c1.175.837%204.231%202.879%207.216%203.775zm-4.632%205.38a.5.5%200%20010%201H9.795v2.756a.5.5%200%2001-1%200v-2.756H5.77a.5.5%200%20010-1h3.026V6.7a.5.5%200%20111%200v2.756h3.026z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 19px;
  height: 20px;
}
.insurance-icon-parcels {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2215%22%20height%3D%2219%22%20viewBox%3D%220%200%2015%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.034%2011.067a.5.5%200%2000-.438.496v6.255h-.668v-6.255a.5.5%200%2000-.439-.496A6.263%206.263%200%20011%204.858C1%203.461%201.472%202.099%202.333%201h6.219v1.88c0%20.033.012.06.018.091-.006.031-.018.058-.018.09%200%20.277.223.5.5.5h.69v.824a.5.5%200%20101%200V3.061a.5.5%200%2000-.5-.5h-.69V1h2.638a6.26%206.26%200%20011.333%203.858%206.264%206.264%200%2001-5.489%206.209m6.489-6.209A7.263%207.263%200%200012.809.177.495.495%200%200012.428%200H2.096a.495.495%200%2000-.382.177A7.263%207.263%200%20000%204.858a7.265%207.265%200%20005.928%207.134v5.826H3.68a.5.5%200%20000%201h7.162a.5.5%200%20000-1H8.596v-5.826a7.266%207.266%200%20005.927-7.134%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 19px;
  height: 24px;
}
.insurance-icon-secured {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2217%22%20height%3D%2219%22%20viewBox%3D%220%200%2017%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%2017.597h14.844v-9.81H1v9.81zM4.323%205.013v1.774h8.026V5.013C12.349%202.8%2010.549%201%208.336%201a4.017%204.017%200%2000-4.013%204.013zm12.021%201.774a.5.5%200%2001.5.5v10.81a.5.5%200%2001-.5.5H.5a.5.5%200%2001-.5-.5V7.287a.5.5%200%2001.5-.5h2.823V5.013A5.019%205.019%200%20018.336%200a5.019%205.019%200%20015.013%205.013v1.774h2.995zm-7.984%204.69a.378.378%200%2000.348-.368.384.384%200%2000-.767%200c0%20.198.154.359.36.373.005%200%20.011%200%20.016.002a.318.318%200%2001.043-.006zm-.272%203.17h.497l-.248-.957-.249.957zm.922-2.348l.704%202.723a.5.5%200%2001-.484.625H7.441a.5.5%200%2001-.483-.626l.704-2.708a1.376%201.376%200%2001-.72-1.204%201.384%201.384%200%20012.767%200c0%20.508-.279.953-.699%201.19z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 21px;
  height: 24px;
}
.bs-tab-inner--underline .insurance-icon-basic {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.233%200c.511%200%20.989.275%201.245.718l3.007%205.326a1.331%201.331%200%2001-.111%201.482l-8.412%2010.77a1.43%201.43%200%2001-1.133.552c-.444%200-.857-.201-1.131-.552L.284%207.525a1.334%201.334%200%2001-.11-1.482L3.18.722A1.441%201.441%200%20014.426%200zm0%201H4.426c-.155%200-.3.083-.377.218L1.045%206.536a.334.334%200%2000.027.374l8.413%2010.771a.453.453%200%2000.689%200L18.587%206.91a.336.336%200%2000.027-.374l-3.006-5.322A.433.433%200%200015.233%201zm-5.36%202.1c1.839%200%202.68%201.452%202.692%202.482a.5.5%200%2001-.495.506.502.502%200%2001-.505-.495C11.56%205.206%2011.24%204.1%209.873%204.1c-.522%200-.982.176-1.296.494a1.327%201.327%200%2000-.386.972c.016.931.77%201.17%201.755%201.384l.273.061c.82.198%202.532.61%202.532%202.414%200%201.703-1.606%202.47-2.747%202.47-2.205%200-3.096-1.867-3.096-2.645a.5.5%200%20111%200c0%20.205.416%201.645%202.096%201.645.57%200%201.747-.36%201.747-1.47%200-.94-.8-1.209-1.766-1.44l-.252-.058c-.877-.19-2.511-.547-2.542-2.343a2.338%202.338%200%2001.674-1.69C8.367%203.381%209.08%203.1%209.873%203.1z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 19px;
}
.bs-tab-inner--underline .insurance-icon-advanced {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.587%206.91l-8.412%2010.771c-.005.006-.012.007-.017.013L7.044%207.163h5.19l-2.12%207.69a.5.5%200%2000.964.266l2.195-7.956h3.718a.499.499%200%20100-1h-3.7L12.12%201h3.114c.156%200%20.3.083.375.214l3.007%205.321a.336.336%200%2001-.028.375zM1.072%206.909a.336.336%200%2001-.027-.373l3.003-5.317A.44.44%200%20014.428%201h3.015L5.996%206.163H2.668a.5.5%200%20000%201h3.334l2.882%209.747L1.072%206.909zM11.094%201l1.172%205.163H7.034L8.482%201h2.612zm8.392%205.044L16.478.718A1.442%201.442%200%200015.233%200H4.427c-.51%200-.987.275-1.247.722L.174%206.043a1.33%201.33%200%2000.111%201.482l8.413%2010.771c.274.351.687.552%201.132.552.445%200%20.86-.201%201.132-.552l8.413-10.771h.001a1.336%201.336%200%2000.11-1.481z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 19px;
}
.page-section-icon {
  margin-top: 28px;
}
@media (min-width: 1200px) {
  .page-section-icon {
    margin-top: 72px;
  }
}
@media (min-width: 1200px) {
  .text-h6 {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .text-subtitle-lg {
    font-size: 24px;
  }
}
.page-section__title .text-h6 {
  position: relative;
}
.page-section__title .text-h6:after {
  display: block;
  content: "";
  height: 2px;
  width: 36px;
  background-color: #262626;
  position: absolute;
  top: -16px;
  left: 0;
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .page-section__title .text-h6:after {
    width: 50px;
    top: -26px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.bs-banner {
  height: 202px;
  background-color: #F6F6F6;
}
@media (min-width: 1200px) {
  .bs-banner {
    height: 300px;
  }
}
.bs-banner .bs-container {
  position: relative;
  height: 100%;
  background-image: url(/assets/img/banner/insurance.png);
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: auto 130px;
  background-position: center bottom;
}
@media (min-width: 768px) {
  .bs-banner .bs-container {
    background-image: url(/assets/img/banner/insurance@2x.png);
    background-size: auto 130px;
    background-position: center bottom;
  }
}
@media (min-width: 1200px) {
  .bs-banner .bs-container {
    background-image: url(/assets/img/banner/insurance@3x.png);
    background-size: 400px auto;
    background-position: 85% 27px;
  }
}
.bs-banner-title {
  position: absolute;
  max-width: 327px;
  top: 24px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #262626;
}
@media (min-width: 768px) {
  .bs-banner-title {
    max-width: 430px;
    top: 24px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .bs-banner-title {
    max-width: 400px;
    top: 74px;
    left: auto;
    right: 780px;
    margin-left: 0;
    margin-right: 0;
    font-size: 34px;
    font-weight: normal;
    text-align: left;
  }
}
.main-title {
  text-align: center;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .main-title {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .main-title {
    margin-bottom: 74px;
    font-weight: normal;
  }
}
.scheme {
  border-radius: 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.scheme-section {
  padding: 0 16px;
}
.scheme-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 84px;
  border-top: 1px solid rgba(38, 38, 38, 0.1);
  color: #262626;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .scheme-header {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .scheme-header {
    margin: 24px -52px;
    border-bottom: 1px solid rgba(38, 38, 38, 0.1);
    color: #262626;
    font-size: 24px;
    font-weight: normal;
  }
}
.scheme-tabs {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .scheme-tabs {
    max-width: auto;
    text-align: center;
    position: relative;
    top: -45px;
  }
}
.scheme-tabs-icon {
  display: none !important;
}
@media (min-width: 768px) {
  .scheme-tabs-icon {
    display: inline-block !important;
  }
}
.scheme-info {
  -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.09);
          box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.09);
  padding: 28px 32px 24px;
}
@media (min-width: 768px) {
  .scheme-info {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .flip-list-item {
    padding: 0 52px 40px;
  }
}
.scheme-info__title__icon {
  margin-right: 16px;
}
.scheme-info__title__text {
  color: #262626;
}
.scheme-info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .scheme-info__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 29px;
  }
}
.scheme-info__list {
  color: rgba(0, 0, 0, 0.85);
}
@media (min-width: 768px) {
  .text-subtitle-sm {
    font-size: 16px;
  }
}
.scheme-info-centent-list {
  font-size: 14px;
}
.page-section__title {
  margin-top: 82px;
}
@media (min-width: 768px) {
  .page-section__title {
    margin-top: 120px;
  }
}
.bs-tab-desc {
  font-weight: normal;
  color: #262626;
}
.bs-tab-inner--underline .bs-tab-desc {
  color: #FF9E1B;
}
.taxation .bs-banner .bs-container {
  height: 100%;
  background-image: url(/assets/img/banner/taxation.png);
}
@media (min-width: 768px) {
  .taxation .bs-banner .bs-container {
    background-image: url(/assets/img/banner/taxation@2x.png);
  }
}
@media (min-width: 1200px) {
  .taxation .bs-banner .bs-container {
    background-image: url(/assets/img/banner/taxation@3x.png);
  }
}
.taxation .page-section__title {
  margin-top: 0;
}
.taxation .page-section__title .text-h6:after {
  display: none;
}
@media (min-width: 1200px) {
  .taxation .page-section__title .text-h6:after {
    display: block;
  }
}
@media (min-width: 1200px) {
  .taxation .page-section__title .text-h6 {
    margin-top: 26px;
  }
}
.taxation .page-section__title:not(:first-of-type) {
  margin-top: 64px;
}
@media (min-width: 1200px) {
  .taxation .page-section__title:not(:first-of-type) {
    margin-top: 130px;
  }
}


/*# sourceMappingURL=insurance.css.map*/