.icon-tabs-arrow-left {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.322%200c-.232%200-.468.079-.664.238L.394%208.701c-.25.206-.394.516-.394.846%200%20.328.145.64.394.844l10.22%208.418c.456.375%201.122.3%201.488-.166a1.104%201.104%200%2000-.163-1.525L2.747%209.547l9.239-7.618a1.102%201.102%200%2000.162-1.524A1.05%201.05%200%200011.322%200%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 8px;
  height: 14px;
  margin-right: 2px;
}
.icon-tabs-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
.bs-tabs {
  position: relative;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bs-tabs a {
  color: rgba(0, 0, 0, 0.65);
}
.bs-tabs a:hover {
  color: #ffa940;
}
.bs-tabs-arrow-left,
.bs-tabs-arrow-right {
  display: none;
}
.bs-tabs-scroll-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px) {
.bs-tabs-scroll-wrap {
    overflow-x: hidden;
}
}
.bs-tabs-scroll-wrap--hasFix {
  width: calc(100% - 50px);
}
.bs-tabs-scroll {
  margin: 0 auto;
  height: 100%;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  padding-left: 14px;
  padding-right: 14px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (min-width: 768px) {
.bs-tabs-scroll {
    padding-left: 0;
    padding-right: 0;
}
}
.bs-tabs-scroll::-webkit-scrollbar {
  display: none;
}
.bs-tabs-scroll-mask-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#cfcece), color-stop(57%, #eaeaea), to(rgba(212, 211, 211, 0.18)));
  background-image: linear-gradient(to right, #cfcece, #eaeaea 57%, rgba(212, 211, 211, 0.18));
  border-radius: 5px 0 0 5px;
}
@media (min-width: 768px) {
.bs-tabs-scroll-mask-left {
    display: none;
}
}
.bs-tabs-scroll-mask-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#cfcece), color-stop(57%, #eaeaea), to(rgba(212, 211, 211, 0.18)));
  background-image: linear-gradient(to left, #cfcece, #eaeaea 57%, rgba(212, 211, 211, 0.18));
}
.bs-tab {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.bs-tab + .bs-tab {
  margin-left: 14px;
}
.bs-tab-inner {
  position: relative;
  text-align: center;
  height: 100%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.bs-tab-inner:hover {
  color: #FFAC32;
}
.bs-tab-inner:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 20px;
  border-bottom: 2px solid #FF9E1B;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media (min-width: 768px) {
.bs-tab-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
}
.bs-tab-inner--underline {
  color: #FF9E1B;
}
.bs-tab-inner--underline:after {
  opacity: 1;
}
.bs-tab-desc {
  height: 47px;
  line-height: 47px;
}
@media (min-width: 768px) {
.bs-tab-desc {
    height: 27px;
    line-height: 27px;
    margin-top: 4px;
}
}
@media (min-width: 1200px) {
.bs-tab-desc {
    margin-top: 4px;
}
}
.bs-tab.bs-tab--fix {
  width: 50px;
}
.bs-tab-icon {
  display: none;
}
@media (min-width: 768px) {
.bs-tabs {
    -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.bs-tabs-arrow-left,
  .bs-tabs-arrow-right {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
.bs-tabs-arrow-left {
    left: -24px;
}
.bs-tabs-arrow-right {
    right: -24px;
}
.bs-tabs-scroll-wrap--hasFix {
    width: calc(100% - 160px);
}
.bs-tab {
    min-width: 160px;
    height: 72px;
}
.bs-tab + .bs-tab {
    margin-left: 0;
}
.bs-tab + .bs-tab .bs-tab-inner {
    position: relative;
}
.bs-tab-inner:after {
    content: none;
}
.bs-tab-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}
.bs-tab-icon svg {
    width: 100%;
    height: 100%;
}
.bs-tab.bs-tab--fix {
    width: auto;
}
}
@media (min-width: 768px) and (min-width: 768px) {
.bs-tab + .bs-tab .bs-tab-inner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1px;
    height: 36px;
    background-color: #D8D8D8;
}
}
@media (min-width: 1200px) {
.bs-tab {
    min-width: 185px;
    height: 96px;
}
.bs-tabs-scroll-wrap--hasFix {
    width: calc(100% - 185px);
}
}

.icon-slideshow-arrow-left {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.322%200c-.232%200-.468.079-.664.238L.394%208.701c-.25.206-.394.516-.394.846%200%20.328.145.64.394.844l10.22%208.418c.456.375%201.122.3%201.488-.166a1.104%201.104%200%2000-.163-1.525L2.747%209.547l9.239-7.618a1.102%201.102%200%2000.162-1.524A1.05%201.05%200%200011.322%200%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 8px;
  height: 14px;
  margin-right: 2px;
}
.icon-slideshow-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
.bs-slideshow {
  position: relative;
}
@media (min-width: 768px) {
.bs-slideshow {
    height: 400px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 0;
}
}
.bs-slideshow-arrow-left,
.bs-slideshow-arrow-right {
  position: absolute;
  display: none;
}
@media (min-width: 768px) {
.bs-slideshow-arrow-left,
  .bs-slideshow-arrow-right {
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
}
.bs-slideshow-arrow-left {
  left: -24px;
}
.bs-slideshow-arrow-right {
  right: -24px;
}
.bs-slideshow-container {
  overflow: hidden;
  height: 170px;
}
@media (min-width: 768px) {
.bs-slideshow-container {
    height: 310px;
}
}
.bs-slideshow-scroll-warp {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
.bs-slideshow-scroll-warp {
    overflow-x: hidden;
}
}
.bs-slideshow-scroll {
  display: inline-block;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.bs-slideshow-scroll-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.bs-slideshow-scroll-inner:after {
  content: '';
  width: 16px;
  height: 100%;
  background-color: transparent;
}
@media (min-width: 768px) {
.bs-slideshow-scroll-inner:after {
    content: none;
}
}
.bs-slideshow-item {
  min-width: 160px;
  width: 160px;
  height: 160px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-left: 16px;
}
.bs-slideshow-item:hover {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
.bs-slideshow-item {
    min-width: auto;
    height: 300px;
    margin: 0 12px;
}
}
.bs-slideshow-item-media {
  border-radius: 5px 5px 0 0;
  height: 120px;
}
.bs-slideshow-item-media img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
.bs-slideshow-item-media {
    height: 250px;
}
}
.bs-slideshow-item-info {
  text-align: center;
  line-height: 40px;
  background-color: #FFFFFF;
  border-radius: inherit;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
.bs-slideshow-item-info {
    line-height: 50px;
}
}

.bs-dropdown-selector {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  cursor: pointer;
  height: 48px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}
.bs-dropdown-selector:hover {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.bs-dropdown-selector__content {
  width: 100%;
  color: #262626;
  letter-spacing: 0.1px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bs-dropdown-selector__leading {
  width: 24px;
  height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}
.bs-dropdown-selector__leading__address {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2216px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2016%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2057.1%20(83088)%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3ECombined%20Shape%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M7.524%2C-1.77635684e-15%20C11.673%2C-1.77635684e-15%2015.048%2C3.375%2015.048%2C7.524%20C15.048%2C11.543%208.194%2C19.519%207.902%2C19.857%20C7.807%2C19.966%207.669%2C20.029%207.524%2C20.029%20C7.379%2C20.029%207.241%2C19.966%207.146%2C19.857%20C6.854%2C19.519%200%2C11.543%200%2C7.524%20C0%2C3.375%203.375%2C-1.77635684e-15%207.524%2C-1.77635684e-15%20Z%20M7.524%2C1%20C3.926%2C1%201%2C3.926%201%2C7.524%20C1%2C10.67%206.08%2C17.014%207.524%2C18.753%20C8.968%2C17.014%2014.048%2C10.67%2014.048%2C7.524%20C14.048%2C3.926%2011.122%2C1%207.524%2C1%20Z%20M7.524%2C3.4698%20C9.466%2C3.4698%2011.046%2C5.0498%2011.046%2C6.9928%20C11.046%2C8.9348%209.466%2C10.5148%207.524%2C10.5148%20C5.582%2C10.5148%204.002%2C8.9348%204.002%2C6.9928%20C4.002%2C5.0498%205.582%2C3.4698%207.524%2C3.4698%20Z%20M7.524%2C4.4698%20C6.133%2C4.4698%205.002%2C5.6008%205.002%2C6.9928%20C5.002%2C8.3838%206.133%2C9.5148%207.524%2C9.5148%20C8.915%2C9.5148%2010.046%2C8.3838%2010.046%2C6.9928%20C10.046%2C5.6008%208.915%2C4.4698%207.524%2C4.4698%20Z%22%20id%3D%22Combined-Shape%22%20fill%3D%22%23676767%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.bs-dropdown-selector__leading__delivery {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2217%22%20viewBox%3D%220%200%2020%2017%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.689%2012.721a.5.5%200%2001-.5-.5V.501a.5.5%200%2001.5-.5h11.488c.277%200%20.5.222.5.5v11.72a.5.5%200%2001-.5.5H.689zm.5-1h10.488V1.001H1.189v10.72zm18.703-5.195c.06.084.092.186.092.289v6.989a.5.5%200%2001-.5.5h-.847v.019a2.14%202.14%200%2001-2.134%202.14%202.139%202.139%200%2001-2.133-2.14v-.02h-2.858v.02a2.14%202.14%200%2001-2.134%202.14%202.14%202.14%200%2001-2.134-2.14v-.02l-.534.025a2.138%202.138%200%2001-2.134%202.135%202.14%202.14%200%2001-2.134-2.14v-.02H.5a.5.5%200%20110-1h2.442a.5.5%200%2001.5.5v.52c0%20.628.51%201.14%201.134%201.14.626%200%201.134-.512%201.134-1.14l.006-.524a.5.5%200%2001.5-.495h1.528a.5.5%200%2001.5.5v.519c0%20.628.51%201.14%201.134%201.14.625%200%201.134-.512%201.134-1.14v-.52a.5.5%200%2001.5-.5h3.858a.5.5%200%2001.5.5v.52c0%20.628.508%201.14%201.133%201.14s1.134-.512%201.134-1.14v-.52a.5.5%200%2001.5-.5c.02%200%20.035.01.054.012.018-.002.035-.011.054-.011h.74v-6.33l-2.05-2.893H14.28l-.057%208.144a.5.5%200%2001-.5.496h-.004a.5.5%200%2001-.496-.504l.061-8.64a.5.5%200%2001.5-.496h3.411c.162%200%20.314.079.408.21l2.29%203.235zM7.556%204.576a.5.5%200%2001.796.605L6.096%208.146a.568.568%200%2001-.398.197.5.5%200%2001-.393-.191l-.785-.998a.5.5%200%2001.786-.619l.386.49%201.864-2.45z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.bs-dropdown-selector__trailing {
  width: 14px;
  height: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
}
.bs-dropdown-selector__trailing__arrow {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20viewBox%3D%220%200%2020%2013%22%20width%3D%2220%22%20height%3D%2213%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.667%201.71c0%20.232.079.467.238.664l8.463%2010.263c.205.25.516.395.845.395.329%200%20.641-.145.845-.395l8.417-10.22A1.04%201.04%200%200019.309.93a1.104%201.104%200%2000-1.524.163l-7.572%209.192-7.618-9.239A1.102%201.102%200%20001.071.884a1.05%201.05%200%2000-.404.826%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 14px;
  height: 14px;
}
.bs-dropdown-selector__dropdown {
  display: block;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 48px;
  padding: 8px 0;
  min-width: 100%;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.bs-dropdown-selector__dropdown__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
}
.bs-dropdown-selector__dropdown__option:hover .bs-dropdown-selector__dropdown__option__content {
  color: #FF9E1B;
}
.bs-dropdown-selector__dropdown__option__content {
  width: 100%;
  font-weight: normal;
}
.bs-dropdown-selector__dropdown__option--active {
  display: block;
  margin-left: 8px;
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Cpath%20d%3D%22M8.485%2017.004l11.427-13.6a.982.982%200%20011.434-.077c.427.412.462%201.084.08%201.537L9.26%2019.345a.976.976%200%2001-.499.32.983.983%200%2001-1.043-.308L2.907%2013.63a1.13%201.13%200%2001.08-1.537.982.982%200%20011.435.075l4.063%204.836z%22%20id%3D%22a%22%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}

.calculator-title {
  margin-top: 24px;
  font-weight: normal;
}
@media (min-width: 768px) {
.calculator-title {
    font-size: 34px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
}
@media (min-width: 768px) {
.calculator-subtitle {
    display: none;
}
}
.calculator-tool {
  margin-top: 16px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.calculator-tool-total-result-cate {
  color: rgba(0, 0, 0, 0.65);
}
.calculator-tool-total-result-lb {
  color: #262626;
}
.calculator-tool-flag {
  display: none;
}
.calculator-tool-flag:checked ~ .calculator-tool-straw .icon-pricing-arrow-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.calculator-tool-flag:checked ~ .calculator-tool-expan {
  max-height: 600px;
}
.calculator-tool-straw {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}
@media (min-width: 768px) {
.calculator-tool-straw {
    display: none;
}
}
.calculator-tool-expan {
  max-height: 0;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
}
@media (min-width: 768px) {
.calculator-tool-expan {
    max-height: 1999px;
}
}
.calculator-tool-expan-inner {
  padding: 0 16px 24px 16px;
}
@media (min-width: 768px) {
.calculator-tool-expan-inner {
    padding: 24px 20%;
}
}
.calculator-tool-title {
  color: rgba(0, 0, 0, 0.85);
}
.calculator-tool-transducer {
  position: relative;
}
.calculator-tool-transducer-source,
.calculator-tool-transducer-result {
  position: relative;
  height: 114px;
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(38, 38, 38, 0.1);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(38, 38, 38, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator-tool-transducer-source:before {
  content: '';
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -3px;
  left: 30px;
  background-color: #FFFFFF;
  border-radius: 25px 25px 0 0;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3), inset 0 2px 4px 0 rgba(38, 38, 38, 0.1);
          box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3), inset 0 2px 4px 0 rgba(38, 38, 38, 0.1);
}
.calculator-tool-transducer-source:after {
  content: '';
  width: 48px;
  height: 25px;
  position: absolute;
  bottom: -5px;
  left: 30.5px;
  border-radius: 50px 50px 0 0;
  background-color: #FFFFFF;
}
.calculator-tool-transducer-result {
  margin-top: 8px;
}
.calculator-tool-transducer-result:before {
  content: '';
  width: 50px;
  height: 25px;
  position: absolute;
  top: -3px;
  left: 30px;
  background-color: #FFFFFF;
  border-radius: 0 0 50px 50px;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3), inset 0 2px 4px 0 rgba(38, 38, 38, 0.1);
          box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3), inset 0 2px 4px 0 rgba(38, 38, 38, 0.1);
}
.calculator-tool-transducer-result:after {
  content: '';
  width: 49px;
  height: 25px;
  position: absolute;
  top: -5px;
  left: 30.5px;
  border-radius: 0 0 50px 50px;
  background-color: #FFFFFF;
}
.calculator-tool-transducer-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0084ff;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  left: 35px;
  background-color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(38, 38, 38, 0.1), 0 2px 4px 0 rgba(38, 38, 38, 0.1), 0 2px 4px 0 rgba(38, 38, 38, 0.1);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(38, 38, 38, 0.1), 0 2px 4px 0 rgba(38, 38, 38, 0.1), 0 2px 4px 0 rgba(38, 38, 38, 0.1);
  z-index: 1;
}
.calculator-tool-transducer-input {
  border: none;
  font-size: 34px;
  text-align: right;
  width: 75%;
  margin-right: 24px;
}
.calculator-tool-transducer-input:focus {
  outline: none;
}
.dropdown-container {
  margin-top: 24px;
  width: 100%;
}
@media (min-width: 1200px) {
.dropdown-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
}
.dropdown-container .bs-dropdown-selector {
  margin-top: 8px;
}
@media (min-width: 1200px) {
.dropdown-container .bs-dropdown-selector {
    width: calc(50% - 4px);
    margin-top: 0;
}
}
.calculator-tool-method-warehouse,
.calculator-tool-method-delivery {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(38, 38, 38, 0.1);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(38, 38, 38, 0.1);
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}
.calculator-tool-method-warehouse .icon-pricing-arrow-down,
.calculator-tool-method-delivery .icon-pricing-arrow-down {
  margin-left: auto;
}
.bs-dropdown-selector-title,
.bs-dropdown-selector-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator-tool-method-desc {
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.85);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator-tool-total {
  background-color: #E4F1F8;
  border-radius: 10px;
  padding: 8px 24px;
  margin-top: 24px;
}
@media (min-width: 768px) {
.calculator-tool-total {
    padding: 24px;
}
}
.calculator-tool-total-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calculator-tool-total-count-cate {
  color: rgba(0, 0, 0, 0.65);
}
@media (min-width: 1200px) {
.calculator-tool-total-count-Fee {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale(2) translate(0, 6px);
            transform: scale(2) translate(0, 6px);
}
}
.calculator-remark {
  color: rgba(0, 0, 0, 0.85);
}
.calculator-remark-link {
  color: #FF9E1B;
}
@media (min-width: 1200px) {
.calculator-tool.calculator-tool--overflow .calculator-tool-expan {
    overflow: visible;
}
}
.calculator-tool.calculator-tool--overflow .calculator-tool-flag:checked ~ .calculator-tool-expan {
  overflow: visible;
}

.icon-dialog-close {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22null%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.443%209.94l7.535-7.799a1.233%201.233%200%20000-1.703%201.131%201.131%200%2000-1.644%200L9.796%208.233%202.257.435a1.131%201.131%200%2000-1.643%200%201.233%201.233%200%20000%201.703l7.535%207.798-7.535%207.801a1.233%201.233%200%20000%201.703%201.132%201.132%200%20001.644%200l7.538-7.798%207.538%207.801a1.134%201.134%200%20001.644%200%201.233%201.233%200%20000-1.703l-7.535-7.8z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.bs-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
}
.bs-dialog .bs-container {
  position: relative;
  left: 0;
  right: 0;
}
.bs-dialog--video .bs-dialog-close {
  padding: 0 0 10px 0;
}
.bs-dialog--video .bs-dialog-container {
  background-color: transparent;
}
.bs-dialog-container {
  position: absolute;
  background-color: #FFFFFF;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
@media (min-width: 1200px) {
.bs-dialog-container {
    top: 15%;
    left: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 686px;
    max-height: 80vh;
    border-radius: 5px;
}
}
.bs-dialog-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  z-index: 901;
}
.bs-dialog-close {
  padding-left: 16px;
  padding-top: 16px;
}
@media (min-width: 768px) {
.bs-dialog-close {
    padding-left: 24px;
    padding-top: 24px;
}
}
.dialog-slide-enter-active,
.dialog-slide-leave-active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dialog-slide-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.dialog-slide-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.icon-flags-container-more {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2220%22%20height%3D%225%22%20viewBox%3D%220%200%2020%205%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.5%200A2.507%202.507%200%20000%202.5C0%203.875%201.125%205%202.5%205S5%203.875%205%202.5%203.875%200%202.5%200zm15%200A2.507%202.507%200%200015%202.5C15%203.875%2016.125%205%2017.5%205S20%203.875%2020%202.5%2018.875%200%2017.5%200zM10%200a2.507%202.507%200%2000-2.5%202.5C7.5%203.875%208.625%205%2010%205s2.5-1.125%202.5-2.5S11.375%200%2010%200z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 16px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  margin-left: 16px;
}
.bs-flags-container {
  border: 1px solid #E5E5E5;
  border-radius: 100px;
  height: 50px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  padding: 0 16px;
}
@media (min-width: 1200px) {
.bs-flags-container {
    overflow: hidden;
}
}
.bs-flags-container > .bs-dialog {
  text-align: left;
}
.bs-flags-container--active .icon-flags-container-more {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%225%22%20viewBox%3D%220%200%2020%205%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.5%200A2.507%202.507%200%20000%202.5C0%203.875%201.125%205%202.5%205S5%203.875%205%202.5%203.875%200%202.5%200zm15%200A2.507%202.507%200%200015%202.5C15%203.875%2016.125%205%2017.5%205S20%203.875%2020%202.5%2018.875%200%2017.5%200zM10%200a2.507%202.507%200%2000-2.5%202.5C7.5%203.875%208.625%205%2010%205s2.5-1.125%202.5-2.5S11.375%200%2010%200z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 16px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  margin-left: 16px;
}
.bs-flags-container__flag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.bs-flags-container__flag + .bs-flags-container__flag {
  margin-left: 16px;
}
.bs-flags-container__flag__name {
  font-size: 14px;
  -ms-flex-wrap: bold;
      flex-wrap: bold;
  margin-left: 4px;
  white-space: nowrap;
}
.bs-flags-container__dialog {
  list-style-type: none;
  margin-top: 24px;
}
.bs-flags-container__dialog__flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bs-flags-container__dialog__flag + .bs-flags-container__dialog__flag {
  margin-top: 16px;
}
.bs-flags-container__dialog__flag__name {
  margin-left: 16px;
}

.bs-card {
  background-color: #FFFFFF;
  background-clip: padding-box;
}
.bs-card--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 155px;
}
.bs-card--horizontal .bs-card-media {
  width: 50%;
  height: 100%;
  padding-bottom: 0;
}
.bs-card--horizontal .bs-card-info {
  width: 50%;
  height: 100%;
  padding: 16px;
  text-align: left;
}
.bs-card--horizontal .bs-card-desc {
  margin-top: 8px;
  height: auto;
  line-height: auto;
}
.bs-card--radius {
  border-radius: 5px;
}
.bs-card--radius .bs-card-media,
.bs-card--radius .bs-card-media-image {
  border-radius: 5px 5px 0 0;
}
.bs-card--radius.bs-card--horizontal .bs-card-media,
.bs-card--radius.bs-card--horizontal .bs-card-media-image {
  border-radius: 5px 0 0 5px;
}
.bs-card--1:hover {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 -1px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 -1px 3px 0 rgba(0, 0, 0, 0.08);
}
.bs-card--2 {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.bs-card--2:hover {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.bs-card--2.bs-card--notHover:hover {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.bs-card-media {
  padding-bottom: 82%;
  position: relative;
}
.bs-card-media-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.bs-card-media-badge-wrap {
  right: 8px;
  top: 8px;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bs-card-media-badge {
  font-size: 14px;
  font-weight: 600;
  background-color: #5DA2D5;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 0 8px;
}
.bs-card-media-badge + .bs-card-media-badge {
  margin-left: 8px;
}
.bs-card-info {
  text-align: center;
}
.bs-card-desc {
  height: 50px;
}
.bs-dropdown {
  position: relative;
}
.bs-dropdown:hover > .bs-dropdown-panel {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.bs-dropdown:hover:before {
  position: absolute;
  top: -7px;
  left: -7px;
  right: -3px;
  bottom: -10px;
  content: ' ';
  opacity: 0.0001;
}
.bs-dropdown-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bs-dropdown-panel {
  visibility: hidden;
  opacity: 0;
  line-height: 1.5;
  position: absolute;
  border-radius: 5px;
  z-index: 1050;
  -webkit-transition: all 0.3s cubic-bezier(0.8, 0.03, 0.93, -0.01);
  transition: all 0.3s cubic-bezier(0.8, 0.03, 0.93, -0.01);
  -webkit-transform: scaleY(0.3);
          transform: scaleY(0.3);
}
.bs-dropdown-panel--bottomLeft {
  top: 30px;
  left: -20px;
  -webkit-transform-origin: top;
          transform-origin: top;
}
.bs-dropdown-panel--bottomCenter {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.bs-dropdown-panel--topLeft {
  bottom: 20px;
  left: -20px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.bs-dropdown-panel--RightTop {
  top: 0;
  right: -270px;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.bs-dropdown-panel--RightBottom {
  bottom: 0;
  right: -270px;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.bs-dropdown-menu {
  padding: 8px 0;
  min-width: 250px;
  border-radius: inherit;
  list-style: none;
  outline: none;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
}
.bs-dropdown-menu-item {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.bs-dropdown-menu-item:hover {
  background-color: #fff7e6;
}
.bs-dropdown-menu-item--subtitle {
  position: relative;
}
.bs-dropdown-menu-item--subtitle .bs-dropdown-panel {
  -webkit-transform: scaleX(0.3);
          transform: scaleX(0.3);
}
.bs-dropdown-menu-item--subtitle:hover {
  pointer-events: none;
}
.bs-dropdown-menu-item--subtitle:hover .bs-dropdown-panel {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.scheme {
  position: relative;
  border-radius: 10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.scheme-section {
  padding: 0 16px;
}
.scheme-tabs {
  max-width: 80%;
  max-width: calc(100% - 32px);
  margin: 0 auto;
  padding: 6px 0;
}
@media (min-width: 768px) {
  .scheme-tabs {
    max-width: auto;
    text-align: center;
    position: relative;
    top: -45px;
  }
}
.scheme-flags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 96px;
}
.scheme-flags > .bs-flags-container {
  min-width: 90%;
}
@media (min-width: 768px) {
  .scheme-card-container {
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .scheme-card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 768px) {
  .scheme-card {
    min-width: 450px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }
  .scheme-card .scheme-section:first-of-type {
    border-radius: 10px;
  }
}
@media (min-width: 768px) {
  .scheme-card + .scheme-card {
    margin-top: 24px;
  }
}
@media (min-width: 1200px) {
  .scheme-card + .scheme-card {
    margin-top: 0;
    margin-left: 24px;
  }
}
.scheme-card-row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #E5E5E5;
}
@media (min-width: 1200px) {
  .scheme-card-row-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.scheme-card-row {
  width: 100%;
}
@media (min-width: 1200px) {
  .scheme-card-row {
    width: 255px;
  }
}
.scheme-card-row + .scheme-card-row {
  border-top: 1px solid #E5E5E5;
}
@media (min-width: 1200px) {
  .scheme-card-row + .scheme-card-row {
    border-top: none;
  }
}
.scheme-info {
  overflow: hidden;
  border-top: 1px solid #E5E5E5;
}
.scheme-info-straw {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.scheme-info-straw .icon-info {
  display: none;
}
@media (min-width: 768px) {
  .scheme-info-straw .icon-info {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .scheme-info-straw {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 10%;
  }
  .scheme-info-straw .text-subtitle-sm {
    margin-left: 16px;
  }
  .scheme-info-straw .icon-pricing-arrow-down {
    display: none;
  }
}
.scheme-info-field {
  display: none;
}
.scheme-info-centent {
  max-height: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media (min-width: 768px) {
  .scheme-info-centent {
    padding-left: 10%;
    max-height: 1999px;
  }
}
.scheme-info-centent-list {
  margin-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .scheme-info-centent-list {
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .scheme-info-centent-list {
    padding-bottom: 32px;
  }
}
.scheme-info-field:checked ~ .scheme-info-straw .icon-pricing-arrow-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.scheme-info-field:checked ~ .scheme-info-centent {
  max-height: 400px;
  max-height: 999px;
}
.icon-pricing-arrow-down {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2020%2013%22%20width%3D%2220%22%20height%3D%2213%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.667%201.71c0%20.232.079.467.238.664l8.463%2010.263c.205.25.516.395.845.395.329%200%20.641-.145.845-.395l8.417-10.22A1.04%201.04%200%200019.309.93a1.104%201.104%200%2000-1.524.163l-7.572%209.192-7.618-9.239A1.102%201.102%200%20001.071.884a1.05%201.05%200%2000-.404.826%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 8px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.icon-pricing-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 8px;
  height: 12px;
}
.icon-pricing-swap {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%235DA2D5%22%20width%3D%2220%22%20height%3D%2214%22%20viewBox%3D%220%200%2020%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.01%209H0v2h7.01v3L11%2010%207.01%206v3zm5.98-1V5H20V3h-7.01V0L9%204l3.99%204z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 14px;
}
.icon-pricing-truck {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2217%22%20viewBox%3D%220%200%2020%2017%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.689%2012.721a.5.5%200%2001-.5-.5V.501a.5.5%200%2001.5-.5h11.488c.277%200%20.5.222.5.5v11.72a.5.5%200%2001-.5.5H.689zm.5-1h10.488V1.001H1.189v10.72zm18.703-5.195c.06.084.092.186.092.289v6.989a.5.5%200%2001-.5.5h-.847v.019a2.14%202.14%200%2001-2.134%202.14%202.139%202.139%200%2001-2.133-2.14v-.02h-2.858v.02a2.14%202.14%200%2001-2.134%202.14%202.14%202.14%200%2001-2.134-2.14v-.02l-.534.025a2.138%202.138%200%2001-2.134%202.135%202.14%202.14%200%2001-2.134-2.14v-.02H.5a.5.5%200%20110-1h2.442a.5.5%200%2001.5.5v.52c0%20.628.51%201.14%201.134%201.14.626%200%201.134-.512%201.134-1.14l.006-.524a.5.5%200%2001.5-.495h1.528a.5.5%200%2001.5.5v.519c0%20.628.51%201.14%201.134%201.14.625%200%201.134-.512%201.134-1.14v-.52a.5.5%200%2001.5-.5h3.858a.5.5%200%2001.5.5v.52c0%20.628.508%201.14%201.133%201.14s1.134-.512%201.134-1.14v-.52a.5.5%200%2001.5-.5c.02%200%20.035.01.054.012.018-.002.035-.011.054-.011h.74v-6.33l-2.05-2.893H14.28l-.057%208.144a.5.5%200%2001-.5.496h-.004a.5.5%200%2001-.496-.504l.061-8.64a.5.5%200%2001.5-.496h3.411c.162%200%20.314.079.408.21l2.29%203.235zM7.556%204.576a.5.5%200%2001.796.605L6.096%208.146a.568.568%200%2001-.398.197.5.5%200%2001-.393-.191l-.785-.998a.5.5%200%2001.786-.619l.386.49%201.864-2.45z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 15px;
}
.icon-pricing-overseawarehouse {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.5%2010c.28%200%20.5.22.5.5v7c0%20.28-.22.5-.5.5h-8c-.28%200-.5-.22-.5-.5v-3.44c0-.28.22-.5.5-.5H8V10.5c0-.28.22-.5.5-.5h4zM9%2013.56h3v-2.67H9v2.67zm0%203.55h3v-2.67H9v2.67zm-4%200h3v-2.67H5v2.67zm14.78-7.799a.518.518%200%2001-.736.033l-4.547-4.077H5.423L2.591%207.81v10.611c0%20.289.232.522.527.522h13.684a.521.521%200%2000.526-.522v-7.9h1.053v8.422c0%20.578-.474%201.056-1.053%201.056H2.591a1.059%201.059%200%2001-1.052-1.056v-10.2l-.663.6a.518.518%200%2001-.737-.033.527.527%200%2001.031-.744l3.685-3.3%201.052-.956.01-.011a.58.58%200%2001.306-.089h3.684V.522c0-.289.232-.522.527-.522h3.157c.295%200%20.527.233.527.522v2.111a.521.521%200%2001-.527.522H11.54a.521.521%200%2001-.526-.522c0-.3.231-.533.526-.533h.526V1.055H9.96v3.156h4.737a.58.58%200%2001.305.089l.01.011%201.053.956%203.684%203.3c.21.188.232.533.032.744z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}
.icon-pricing-consolidation {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%2020%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.41%2011.172l.99-1.406c.007-.01.018-.011.025-.02.008-.011.012-.025.022-.035a.495.495%200%2001.15-.106l.01-.008a.5.5%200%2001.237-.035c.01%200%20.019-.005.03-.004.014.002.023.012.036.015a.495.495%200%2001.17.072c.018.01.035.018.05.03.009.007.017.009.024.016l1.233%201.164a.5.5%200%2001-.688.726l-.174-.164a4.051%204.051%200%2001-4.041%203.94%204.03%204.03%200%2001-1.728-.385.501.501%200%2001.427-.904%203.058%203.058%200%20004.354-2.757l-.308.437a.501.501%200%2001-.818-.576zm-5.457%201.88l-1.231-1.165a.5.5%200%2001.687-.727l.173.163a4.05%204.05%200%20014.04-3.938c.605%200%201.187.13%201.729.386a.5.5%200%2001-.427.904A3.057%203.057%200%20006.57%2011.43l.308-.438a.503.503%200%2001.697-.121.502.502%200%2001.12.698l-.99%201.407c-.006.009-.017.013-.023.02-.01.012-.012.025-.022.035-.026.028-.06.042-.09.063-.02.014-.038.03-.061.042a.498.498%200%2001-.276.048c-.012-.002-.021-.012-.034-.015a.476.476%200%2001-.176-.074c-.016-.01-.032-.017-.047-.03-.007-.005-.016-.007-.023-.014zm12.526%202.859V6.522H1v9.389c0%20.37.3.671.67.671h16.138c.37%200%20.671-.301.671-.671zM2.747%201.364L1.216%205.522h17.046l-1.53-4.157A.555.555%200%200016.21%201H3.268a.555.555%200%2000-.521.364zM19.455%205.9c.009.04.024.079.024.122v9.889c0%20.921-.75%201.671-1.671%201.671H1.67c-.92%200-1.67-.75-1.67-1.671V6.022c0-.043.014-.082.024-.122.005-.017%200-.034.006-.051l1.777-4.83A1.562%201.562%200%20013.268%200H16.21c.651%200%201.238.41%201.461%201.02l1.778%204.829c.006.017.001.034.006.051z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 23px;
}
.icon-pricing-other {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2221%22%20height%3D%2218%22%20viewBox%3D%220%200%2021%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.074%2014.253l.002-.925-4.691-.297a.516.516%200%2001-.248-.083L7.309%209.72a.5.5%200%2001.186-.907l3.322-.622c.229-.099.423-.289.393-.448-.033-.176-.305-.363-.743-.363H5.834c-.138%200-.273.027-.4.081-.066.03-.129.067-.197.117L2.632%208.912a.5.5%200%2001-.227.054H1v5.512h1.405c.051%200%20.101.007.148.022l6.639%202.066%205.149-.72%202.733-1.593zm.534-1.893a.5.5%200%2001.469.5l-.004%201.682a.499.499%200%2001-.248.431l-3.065%201.785a.487.487%200%2001-.183.063l-5.357.75a.53.53%200%2001-.218-.017l-6.673-2.076H.5a.5.5%200%2001-.5-.5V8.466a.5.5%200%2001.5-.5h1.785l2.433-1.239c.061-.052.185-.124.314-.18.263-.113.528-.167.802-.167h4.633c.884%200%201.594.484%201.725%201.177.099.522-.139%201.214-1.1%201.592l-2.211.42%203.701%202.473%205.026.318zm-3.056-4.97c.278%200%20.889-.181.889-.718%200-.367-.221-.532-.946-.705l-.153-.035c-.551-.12-1.698-.371-1.722-1.631a1.639%201.639%200%2001.472-1.183%201.81%201.81%200%2001.852-.474V2.43a.499.499%200%20111%200v.194a1.776%201.776%200%20011.382%201.668.5.5%200%2001-.494.506c-.307-.026-.504-.218-.506-.494a.797.797%200%2000-.855-.735c-.272%200-.51.089-.666.249a.632.632%200%2000-.185.464c.008.404.283.529.936.672l.173.039c.51.123%201.712.41%201.712%201.678%200%20.997-.783%201.528-1.497%201.673v.27a.5.5%200%2001-1%200v-.31c-1.036-.277-1.498-1.218-1.498-1.741a.499.499%200%20111%200c0%20.002.156.826%201.106.826zM14.443%200a5.65%205.65%200%20015.643%205.643%205.65%205.65%200%2001-5.643%205.643%205.644%205.644%200%2001-2.88-.79.5.5%200%2011.51-.859%204.648%204.648%200%20007.013-3.994A4.648%204.648%200%200014.443%201a4.647%204.647%200%2000-4.637%204.392.485.485%200%2001-.526.473.501.501%200%2001-.472-.527A5.65%205.65%200%200114.443%200z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 23px;
}
.icon-pricing-parcel {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%220%200%2019%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.912%2014.934a.5.5%200%2001-.5-.5V7.54c0-.039.014-.072.021-.108.004-.017%200-.035.005-.05l1.401-4.174c.24-.437.613-.652%201.012-.652h9.868a.5.5%200%20010%201H3.851a.122.122%200%2000-.106.062L2.605%207.04h6.361a.5.5%200%20010%201H2.412v6.394a.5.5%200%2001-.5.5zm16.034-7.573c.005.012.001.025.005.038a.471.471%200%2001.028.14v8.396a1.59%201.59%200%2001-1.588%201.589H3.94a.5.5%200%20010-1h12.452a.59.59%200%2000.588-.59V8.04h-3.34a.5.5%200%20110-1h3.112l-.837-2.183a.5.5%200%2001.933-.36l1.098%202.864zM18.817.15a.5.5%200%2001-.008.707L.85%2018.427a.498.498%200%2001-.707-.006.502.502%200%2001.008-.708L18.11.142a.501.501%200%2001.707.008z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 23px;
}
.icon-pricing-pay {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%2020%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.858%206.817c5.436%200%209.858%204.423%209.858%209.858a.499.499%200%2011-1%200c0-4.884-3.973-8.858-8.858-8.858C4.973%207.817%201%2011.79%201%2016.675a.5.5%200%2011-1%200c0-5.435%204.422-9.858%209.858-9.858zm3.469%206.208a.5.5%200%2011.693.721l-3.411%203.29a.497.497%200%2001-.707-.014.5.5%200%2001.014-.707l3.41-3.29zm-2.969-3.489a.5.5%200%2001-1%200v-.878a.5.5%200%20111%200v.878zm5.101%201.421a.5.5%200%2001.707.707l-.62.621a.5.5%200%2011-.707-.707l.62-.62zm-11.37.22l.62.621a.5.5%200%2001-.707.707l-.62-.62a.5.5%200%2001.706-.708zM9.493%204.97l-1.789-1.9a.499.499%200%2011.728-.685l1.38%201.464L12.527.201a.5.5%200%2001.803.597l-3.07%204.127a.501.501%200%2001-.371.2l-.03.001a.5.5%200%2001-.364-.157z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 23px;
}
.icon-pricing-reward {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2221%22%20height%3D%2213%22%20viewBox%3D%220%200%2021%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.058%208.897l-.815.004c-.595.09-3.377.502-5.881.78.112-.188.209-.38.312-.57.067-.124.138-.245.2-.369.195-.382.372-.762.518-1.133.066-.17.138-.36.206-.57.135-.417.256-.9.297-1.413a4.378%204.378%200%2000-.01-.784%201.594%201.594%200%2000-.43-.963c-.258-.273-.584-.433-.901-.587l-1.526-.79a.498.498%200%2000-.231-.057l-.007.002a.501.501%200%2000-.25.07L8.613%203.671a.553.553%200%2001-.763-.156.55.55%200%2001.156-.762L9.33%201.88l1.135-.75a.523.523%200%2001.319-.07.75.75%200%2000.067-.004l3.647.556%202.864%202.427c.09.077.205.12.323.12h1.373v4.737zm-9.386%202.188c-2.88-.192-6.716-2.658-6.745-2.676a.495.495%200%2000-.284-.089H1.15V3.476h1.692a.502.502%200%2000.25-.067l2.494-1.446h1.806c-.035.026-.064.058-.097.087-.035.031-.071.06-.103.093-.04.04-.072.084-.106.128-.026.035-.055.07-.08.106-.03.048-.053.1-.08.15-.017.037-.04.072-.054.111-.022.054-.036.112-.051.168-.011.038-.025.074-.032.112a1.616%201.616%200%2000-.02.184c-.002.036-.01.071-.01.108%200%20.065.01.13.018.195.004.033.004.066.009.1.014.07.038.14.06.208.01.027.015.054.025.08a1.537%201.537%200%20001.126.938c.407.084.82.002%201.147-.213l1.669-1%201.3.672c.258.126.48.235.616.378.063.066.139.17.162.384.09.84-.203%201.71-.431%202.291a13.865%2013.865%200%2001-1.167%202.265c-.09.143-.2.316-.324.493-.641.925-1.036%201.11-1.298%201.084zm9.886-7.926h-1.69L15.038.76a.502.502%200%2000-.25-.113L11.123.088a4.573%204.573%200%2000-.124-.02l-.126-.02a.5.5%200%2000-.196.013%201.468%201.468%200%2000-.762.236l-1.01.666H5.454a.503.503%200%2000-.251.068L2.708%202.476H.65a.5.5%200%2000-.5.5V8.82a.5.5%200%2000.5.5h1.846c.737.462%204.244%202.572%207.108%202.764l.1.002c.838%200%201.495-.704%201.95-1.324%202.7-.272%206.07-.773%206.662-.867h1.24a.5.5%200%2000.5-.5V3.66a.5.5%200%2000-.5-.5z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 26px;
  height: 16px;
}
.icon-pricing-weight {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.777%2013.712a.5.5%200%2001-.5-.5%204.373%204.373%200%20014.368-4.37%204.374%204.374%200%20014.368%204.37.5.5%200%2011-1%200%203.372%203.372%200%2000-3.368-3.37%203.373%203.373%200%2000-3.368%203.37.5.5%200%2001-.5.5zm5.274-2.39a.5.5%200%2001.693.721l-1.585%201.53a.5.5%200%2011-.694-.722l1.586-1.529zM2.633%206.541L1.01%2016.325a.686.686%200%2000.142.549c.054.063.17.169.343.169h16.647c.174%200%20.29-.106.344-.17a.685.685%200%2000.141-.548L17.004%206.54c-.047-.281-.25-.484-.485-.484H3.12c-.235%200-.439.203-.486.484zm.443-4.84c0%20.32.185.558.35.558h12.436c.166%200%20.35-.238.35-.557V1H3.076v.702zm-1.58%2016.342c-.422%200-.825-.19-1.107-.523a1.671%201.671%200%2001-.365-1.36l1.623-9.783c.127-.765.746-1.32%201.471-1.32h6.026V3.259H3.426c-.744%200-1.35-.698-1.35-1.557V.5a.5.5%200%2001.5-.5h14.136a.5.5%200%2001.5.5v1.202c0%20.859-.605%201.557-1.35%201.557h-5.718v1.798h6.375c.725%200%201.344.555%201.471%201.32l1.623%209.784c.082.493-.05.988-.365%201.359a1.452%201.452%200%2001-1.106.523H1.495z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 24px;
}
.icon-info {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10%205a1%201%200%20110%202%201%201%200%20010-2m0%204a1%201%200%20011%201v4a1%201%200%2001-2%200v-4a1%201%200%20011-1M11.694.14A10.013%2010.013%200%2000.14%2011.694c.681%204.143%204.023%207.485%208.166%208.166A10.013%2010.013%200%200019.86%208.306C19.179%204.163%2015.837.821%2011.694.14m-.126%2017.71C5.943%2018.926%201.074%2014.057%202.15%208.432c.601-3.144%203.138-5.681%206.282-6.282%205.625-1.076%2010.494%203.793%209.418%209.418-.601%203.144-3.138%205.681-6.282%206.282%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}
.icon-earth {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.839%2018.38c.623-.703%201.159-1.625%201.575-2.72.652.147%201.28.324%201.89.535a8.95%208.95%200%2001-3.465%202.185zm-9.271-2.185c.61-.211%201.24-.388%201.89-.534.417%201.094.953%202.016%201.576%202.719a8.95%208.95%200%2001-3.466-2.185zM7.034%201.493c-.62.7-1.154%201.618-1.57%202.706a17.383%2017.383%200%2001-1.886-.532%208.958%208.958%200%20013.456-2.174zm9.26%202.174c-.606.21-1.235.387-1.885.532-.416-1.088-.95-2.006-1.57-2.706a8.958%208.958%200%20013.456%202.174zm-.921%205.77c-.04-1.553-.261-3.005-.637-4.278A18.47%2018.47%200%200017%204.484a8.883%208.883%200%20011.847%204.953h-3.475zm0%201h3.475a8.886%208.886%200%2001-1.84%204.943%2017.925%2017.925%200%2000-2.27-.67c.374-1.271.595-2.723.635-4.273zm-4.936%203.745v-3.745h3.937c-.043%201.464-.27%202.845-.636%204.05a21.993%2021.993%200%2000-3.301-.305zm0%204.628v-3.63a21.26%2021.26%200%20012.968.27c-.723%201.817-1.782%203.078-2.968%203.36zm-1-3.63v3.63c-1.187-.282-2.245-1.543-2.97-3.36.97-.161%201.968-.246%202.97-.27zm-3.938-4.743h3.938v3.745a21.994%2021.994%200%2000-3.302.306c-.366-1.206-.593-2.587-.636-4.051zm-1%200c.04%201.55.262%203.002.636%204.274-.784.18-1.545.398-2.27.669a8.877%208.877%200%2001-1.84-4.943H4.5zm0-1H1.027a8.875%208.875%200%20011.846-4.953c.725.27%201.484.492%202.265.675C4.76%206.432%204.54%207.884%204.5%209.437zm4.938-3.735v3.735H5.499c.043-1.465.27-2.845.636-4.052%201.07.194%202.18.29%203.302.317zm0-4.638v3.615c-1-.023-1.995-.108-2.964-.27.722-1.81%201.78-3.065%202.964-3.345zm1%203.615V1.064c1.183.28%202.24%201.536%202.964%203.345-.97.162-1.964.247-2.964.27zm0%201.023a21.318%2021.318%200%20003.3-.317c.368%201.207.594%202.587.637%204.052h-3.937V5.702zM9.937%200C4.457%200%200%204.458%200%209.937c0%205.479%204.457%209.936%209.937%209.936%205.479%200%209.936-4.457%209.936-9.936C19.873%204.457%2015.416%200%209.937%200z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: none !important;
}
@media (min-width: 768px) {
  .icon-earth {
    display: inline-block !important;
  }
}
.bs-tab-inner:hover .icon-earth {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.839%2018.38c.623-.703%201.159-1.625%201.575-2.72.652.147%201.28.324%201.89.535a8.95%208.95%200%2001-3.465%202.185zm-9.271-2.185c.61-.211%201.24-.388%201.89-.534.417%201.094.953%202.016%201.576%202.719a8.95%208.95%200%2001-3.466-2.185zM7.034%201.493c-.62.7-1.154%201.618-1.57%202.706a17.383%2017.383%200%2001-1.886-.532%208.958%208.958%200%20013.456-2.174zm9.26%202.174c-.606.21-1.235.387-1.885.532-.416-1.088-.95-2.006-1.57-2.706a8.958%208.958%200%20013.456%202.174zm-.921%205.77c-.04-1.553-.261-3.005-.637-4.278A18.47%2018.47%200%200017%204.484a8.883%208.883%200%20011.847%204.953h-3.475zm0%201h3.475a8.886%208.886%200%2001-1.84%204.943%2017.925%2017.925%200%2000-2.27-.67c.374-1.271.595-2.723.635-4.273zm-4.936%203.745v-3.745h3.937c-.043%201.464-.27%202.845-.636%204.05a21.993%2021.993%200%2000-3.301-.305zm0%204.628v-3.63a21.26%2021.26%200%20012.968.27c-.723%201.817-1.782%203.078-2.968%203.36zm-1-3.63v3.63c-1.187-.282-2.245-1.543-2.97-3.36.97-.161%201.968-.246%202.97-.27zm-3.938-4.743h3.938v3.745a21.994%2021.994%200%2000-3.302.306c-.366-1.206-.593-2.587-.636-4.051zm-1%200c.04%201.55.262%203.002.636%204.274-.784.18-1.545.398-2.27.669a8.877%208.877%200%2001-1.84-4.943H4.5zm0-1H1.027a8.875%208.875%200%20011.846-4.953c.725.27%201.484.492%202.265.675C4.76%206.432%204.54%207.884%204.5%209.437zm4.938-3.735v3.735H5.499c.043-1.465.27-2.845.636-4.052%201.07.194%202.18.29%203.302.317zm0-4.638v3.615c-1-.023-1.995-.108-2.964-.27.722-1.81%201.78-3.065%202.964-3.345zm1%203.615V1.064c1.183.28%202.24%201.536%202.964%203.345-.97.162-1.964.247-2.964.27zm0%201.023a21.318%2021.318%200%20003.3-.317c.368%201.207.594%202.587.637%204.052h-3.937V5.702zM9.937%200C4.457%200%200%204.458%200%209.937c0%205.479%204.457%209.936%209.937%209.936%205.479%200%209.936-4.457%209.936-9.936C19.873%204.457%2015.416%200%209.937%200z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}
.bs-tab-inner:hover .bs-tab-desc {
  color: #FF9E1B;
}
.icon-check {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23262626%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.694.14A10.014%2010.014%200%2000.14%2011.695c.681%204.143%204.023%207.485%208.166%208.166A10.014%2010.014%200%200019.86%208.306C19.18%204.163%2015.837.82%2011.694.14m-.126%2017.71C5.943%2018.926%201.074%2014.057%202.15%208.432c.601-3.144%203.137-5.68%206.282-6.282%205.625-1.075%2010.493%203.793%209.418%209.418-.602%203.145-3.138%205.68-6.282%206.282M13.88%206.29L8%2012.17l-1.885-1.877a.999.999%200%2000-1.41%201.413l2.593%202.592a.992.992%200%20001.404%200l6.593-6.593A1%201%200%200013.88%206.29%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}
.bs-tab-inner--underline .icon-earth {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.839%2018.38c.623-.703%201.159-1.625%201.575-2.72.652.147%201.28.324%201.89.535a8.95%208.95%200%2001-3.465%202.185zm-9.271-2.185c.61-.211%201.24-.388%201.89-.534.417%201.094.953%202.016%201.576%202.719a8.95%208.95%200%2001-3.466-2.185zM7.034%201.493c-.62.7-1.154%201.618-1.57%202.706a17.383%2017.383%200%2001-1.886-.532%208.958%208.958%200%20013.456-2.174zm9.26%202.174c-.606.21-1.235.387-1.885.532-.416-1.088-.95-2.006-1.57-2.706a8.958%208.958%200%20013.456%202.174zm-.921%205.77c-.04-1.553-.261-3.005-.637-4.278A18.47%2018.47%200%200017%204.484a8.883%208.883%200%20011.847%204.953h-3.475zm0%201h3.475a8.886%208.886%200%2001-1.84%204.943%2017.925%2017.925%200%2000-2.27-.67c.374-1.271.595-2.723.635-4.273zm-4.936%203.745v-3.745h3.937c-.043%201.464-.27%202.845-.636%204.05a21.993%2021.993%200%2000-3.301-.305zm0%204.628v-3.63a21.26%2021.26%200%20012.968.27c-.723%201.817-1.782%203.078-2.968%203.36zm-1-3.63v3.63c-1.187-.282-2.245-1.543-2.97-3.36.97-.161%201.968-.246%202.97-.27zm-3.938-4.743h3.938v3.745a21.994%2021.994%200%2000-3.302.306c-.366-1.206-.593-2.587-.636-4.051zm-1%200c.04%201.55.262%203.002.636%204.274-.784.18-1.545.398-2.27.669a8.877%208.877%200%2001-1.84-4.943H4.5zm0-1H1.027a8.875%208.875%200%20011.846-4.953c.725.27%201.484.492%202.265.675C4.76%206.432%204.54%207.884%204.5%209.437zm4.938-3.735v3.735H5.499c.043-1.465.27-2.845.636-4.052%201.07.194%202.18.29%203.302.317zm0-4.638v3.615c-1-.023-1.995-.108-2.964-.27.722-1.81%201.78-3.065%202.964-3.345zm1%203.615V1.064c1.183.28%202.24%201.536%202.964%203.345-.97.162-1.964.247-2.964.27zm0%201.023a21.318%2021.318%200%20003.3-.317c.368%201.207.594%202.587.637%204.052h-3.937V5.702zM9.937%200C4.457%200%200%204.458%200%209.937c0%205.479%204.457%209.936%209.937%209.936%205.479%200%209.936-4.457%209.936-9.936C19.873%204.457%2015.416%200%209.937%200z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}
.pricing > .bs-container {
  position: relative;
  margin-top: -190px;
  padding-bottom: 64px;
}
@media (min-width: 768px) {
  .pricing > .bs-container {
    margin-top: -300px;
    padding-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  .pricing > .bs-container {
    padding-bottom: 88px;
  }
}
.pricing .bs-bp__btn {
  background: transparent;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: 0;
}
.pricing .bs-bp__btn--active {
  background: transparent;
}
.pricing .bs-bp__body {
  min-width: none !important;
  max-width: 210px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  padding: 0;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.pricing .bp-dropdown__icon {
  display: none;
}
.pricing .bs-dropdown-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #262626;
}
.bs-slideshow-item-info {
  color: rgba(0, 0, 0, 0.85);
}
.banner {
  background-color: #F3F8FC;
  height: 360px;
  background-image: url(/assets/img/banner/pricing_m@3x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 768px) {
  .banner {
    height: 540px;
    background-image: url(/assets/img/banner/pricing_m@3x.png);
    background-size: 100% 100%;
  }
}
@media (min-width: 1200px) {
  .banner {
    background-image: url(/assets/img/banner/pricing@3x.png);
    background-size: 100% 100%;
  }
}
.banner-title {
  position: relative;
  top: 32px;
  text-align: center;
  color: #262626;
}
@media (min-width: 768px) {
  .banner-title {
    font-size: 34px;
    text-align: left;
    padding-top: 44px;
  }
}
@media (min-width: 1200px) {
  .banner-title {
    padding-top: 50px;
    font-weight: normal;
  }
}
.banner-subtitle {
  position: relative;
  top: 48px;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
  line-height: 16px;
  max-width: 275px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.85);
}
@media (min-width: 768px) {
  .banner-subtitle {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    max-width: 420px;
    margin: 0;
    line-height: 24px;
  }
}
.main-title {
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: -10px;
}
@media (min-width: 768px) {
  .main-title {
    top: -80px;
    font-size: 34px;
    font-weight: normal;
  }
}
.main-subtitle {
  text-align: center;
  position: relative;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.85);
  top: -10px;
}
@media (min-width: 768px) {
  .main-subtitle {
    top: -75px;
    font-size: 14px;
    font-weight: normal;
  }
}
.bs-flag {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: none;
     object-fit: none;
}
.scheme-pricing .text-body-sm {
  letter-spacing: 0.1px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.scheme-flags-icon-name {
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0.4px;
  line-height: 16px;
}
.scheme-tabs {
  padding: 0;
  width: 100%;
}
.scheme-info {
  border-top: 1px solid #E5E5E5;
}
@media (min-width: 768px) {
  .scheme-info {
    padding-top: 16px;
  }
}
.scheme-info-straw_title {
  color: rgba(0, 0, 0, 0.85);
}
.scheme-info-centent {
  color: rgba(38, 38, 38, 0.87);
}
.flip-list-enter,
.flip-list-leave-to {
  opacity: 0;
}
.flip-list-leave-active {
  position: absolute;
}
.flip-list-item {
  -webkit-transition: all 1s;
  transition: all 1s;
  display: inline-block;
  width: 100%;
}
.info {
  margin-top: 16px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .info {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.info-title {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #E5E5E5;
  color: rgba(0, 0, 0, 0.85);
}
@media (min-width: 768px) {
  .info-title {
    display: none;
  }
}
.info-media {
  padding: 16px 0 8px 0;
  position: relative;
  height: 200px;
}
@media (min-width: 768px) {
  .info-media {
    height: 470px;
  }
}
.info-media > .info-media-inner {
  position: absolute;
  max-width: 100%;
}
.notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0 64px 0;
}
@media (min-width: 768px) {
  .notice {
    position: relative;
    top: -24px;
    margin: 0;
  }
}
.section-title {
  margin: 16px 0 24px 0;
  font-weight: bold;
  letter-spacing: 0.15px;
  line-height: 27px;
  color: #262626;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 34px;
    text-align: center;
    letter-spacing: 0.25px;
    line-height: 46px;
    margin-top: 96px;
    margin-bottom: 120px;
    font-weight: normal;
  }
}
.section-title:before {
  content: '';
  height: 2px;
  width: 36px;
  border-radius: 4px;
  background-color: #262626;
  display: block;
  margin-top: 34px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .section-title:before {
    margin: 0 auto;
    width: 50px;
    margin-bottom: 26px;
  }
}
.section--reminder {
  margin-top: 64px;
}
@media (min-width: 1200px) {
  .section--reminder {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .fluid-item {
    width: 30%;
  }
}
.fluid-item + .fluid-item {
  margin-top: 28px;
}
@media (min-width: 768px) {
  .fluid-item + .fluid-item {
    margin-top: 0;
  }
}
.fluid-item-title {
  margin: 8px 0 16px 0;
  font-weight: bold;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
}
@media (min-width: 1200px) {
  .fluid-item-title {
    font-weight: normal;
    font-size: 24px;
  }
}
.fluid-item-content {
  margin-top: 8px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.85);
}
.app-refer-calculator {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(38, 38, 38, 0.1);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(38, 38, 38, 0.1);
  height: 48px;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.85);
}
.app-refer-calculator-desc {
  color: rgba(0, 0, 0, 0.85);
}
.app-refer-features {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-weight: bold;
  margin: 80px 0;
}
.bs-tabs-scroll-wrap {
  text-align: center;
}
.bs-tabs-scroll-mask-left {
  border-radius: 0;
}
.scheme-card {
  border-top: 1px solid #E5E5E5;
}
@media (min-width: 1200px) {
  .scheme-card {
    border-top: none;
  }
}
.scheme-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 32px 24px 32px;
}
.scheme-card-row + .scheme-card-row {
  border-left: none;
}
@media (min-width: 1200px) {
  .scheme-card-row + .scheme-card-row {
    border-left: 1px solid #E5E5E5;
  }
}
@media (min-width: 1200px) {
  .scheme-card-row {
    padding-bottom: 40px;
  }
}
.scheme-card-row--fat {
  width: 100%;
}
.scheme-card-row--hasdDesc .scheme-card-row-price-remark {
  margin-top: 12px;
}
@media (min-width: 1200px) {
  .scheme-card-row--hasdDesc .scheme-card-row-price-remark {
    margin-top: 24px;
  }
}
.scheme-card-row--hasdDesc .scheme-card-row-price {
  margin-bottom: 56px;
}
.scheme-card-row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60px;
  text-align: center;
}
@media (min-width: 1200px) {
  .scheme-card-row-title {
    height: 72px;
  }
}
.scheme-card-row-price {
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .scheme-card-row-price {
    margin-bottom: 0;
  }
}
.scheme-card-row-price--more {
  margin-bottom: 56px;
}
.scheme-card-row-price--more .scheme-card-row-price-remark {
  margin-top: 6px;
}
.scheme-card-row-price-remark {
  margin-top: 12px;
  text-align: center;
}
@media (min-width: 1200px) {
  .scheme-card-row-price-remark {
    margin-top: 54px;
  }
}
.scheme-card-row-price-cost {
  text-align: center;
}
@media (min-width: 1200px) {
  .scheme-card-row-price-cost {
    font-size: 48px;
  }
}
.scheme-card-row-price-cost-before {
  text-decoration: line-through;
  font-size: 24px;
  vertical-align: middle;
  color: rgba(38, 38, 38, 0.3);
}
@media (min-width: 1200px) {
  .scheme-card-row-price-cost-before {
    font-size: 34px;
  }
}
.scheme-card-row-price-cost-after {
  vertical-align: middle;
  color: #F4633A;
  margin-left: 4px;
}
.scheme-card-row-tag {
  padding-top: 8px;
}
.scheme-card-row-desc {
  padding-top: 16px;
  padding-bottom: 0;
  position: relative;
  color: rgba(38, 38, 38, 0.6);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.scheme-card-row-desc:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 88px;
  height: 1px;
  background-color: #E5E5E5;
}
@media (min-width: 1200x) {
  .scheme-card-row-desc {
    padding-bottom: 26px;
  }
}


/*# sourceMappingURL=pricing.css.map*/