.icon-tabs-arrow-left {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.322%200c-.232%200-.468.079-.664.238L.394%208.701c-.25.206-.394.516-.394.846%200%20.328.145.64.394.844l10.22%208.418c.456.375%201.122.3%201.488-.166a1.104%201.104%200%2000-.163-1.525L2.747%209.547l9.239-7.618a1.102%201.102%200%2000.162-1.524A1.05%201.05%200%200011.322%200%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 8px;
  height: 14px;
  margin-right: 2px;
}
.icon-tabs-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
.bs-tabs {
  position: relative;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bs-tabs a {
  color: rgba(0, 0, 0, 0.65);
}
.bs-tabs a:hover {
  color: #ffa940;
}
.bs-tabs-arrow-left,
.bs-tabs-arrow-right {
  display: none;
}
.bs-tabs-scroll-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px) {
.bs-tabs-scroll-wrap {
    overflow-x: hidden;
}
}
.bs-tabs-scroll-wrap--hasFix {
  width: calc(100% - 50px);
}
.bs-tabs-scroll {
  margin: 0 auto;
  height: 100%;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  padding-left: 14px;
  padding-right: 14px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (min-width: 768px) {
.bs-tabs-scroll {
    padding-left: 0;
    padding-right: 0;
}
}
.bs-tabs-scroll::-webkit-scrollbar {
  display: none;
}
.bs-tabs-scroll-mask-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#cfcece), color-stop(57%, #eaeaea), to(rgba(212, 211, 211, 0.18)));
  background-image: linear-gradient(to right, #cfcece, #eaeaea 57%, rgba(212, 211, 211, 0.18));
  border-radius: 5px 0 0 5px;
}
@media (min-width: 768px) {
.bs-tabs-scroll-mask-left {
    display: none;
}
}
.bs-tabs-scroll-mask-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#cfcece), color-stop(57%, #eaeaea), to(rgba(212, 211, 211, 0.18)));
  background-image: linear-gradient(to left, #cfcece, #eaeaea 57%, rgba(212, 211, 211, 0.18));
}
.bs-tab {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.bs-tab + .bs-tab {
  margin-left: 14px;
}
.bs-tab-inner {
  position: relative;
  text-align: center;
  height: 100%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.bs-tab-inner:hover {
  color: #FFAC32;
}
.bs-tab-inner:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 20px;
  border-bottom: 2px solid #FF9E1B;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media (min-width: 768px) {
.bs-tab-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
}
.bs-tab-inner--underline {
  color: #FF9E1B;
}
.bs-tab-inner--underline:after {
  opacity: 1;
}
.bs-tab-desc {
  height: 47px;
  line-height: 47px;
}
@media (min-width: 768px) {
.bs-tab-desc {
    height: 27px;
    line-height: 27px;
    margin-top: 4px;
}
}
@media (min-width: 1200px) {
.bs-tab-desc {
    margin-top: 4px;
}
}
.bs-tab.bs-tab--fix {
  width: 50px;
}
.bs-tab-icon {
  display: none;
}
@media (min-width: 768px) {
.bs-tabs {
    -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.bs-tabs-arrow-left,
  .bs-tabs-arrow-right {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
.bs-tabs-arrow-left {
    left: -24px;
}
.bs-tabs-arrow-right {
    right: -24px;
}
.bs-tabs-scroll-wrap--hasFix {
    width: calc(100% - 160px);
}
.bs-tab {
    min-width: 160px;
    height: 72px;
}
.bs-tab + .bs-tab {
    margin-left: 0;
}
.bs-tab + .bs-tab .bs-tab-inner {
    position: relative;
}
.bs-tab-inner:after {
    content: none;
}
.bs-tab-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}
.bs-tab-icon svg {
    width: 100%;
    height: 100%;
}
.bs-tab.bs-tab--fix {
    width: auto;
}
}
@media (min-width: 768px) and (min-width: 768px) {
.bs-tab + .bs-tab .bs-tab-inner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1px;
    height: 36px;
    background-color: #D8D8D8;
}
}
@media (min-width: 1200px) {
.bs-tab {
    min-width: 185px;
    height: 96px;
}
.bs-tabs-scroll-wrap--hasFix {
    width: calc(100% - 185px);
}
}

.bs-tooltip {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(0);
          transform: translateX(-50%) scaleY(0);
  top: 80%;
  border: 1px solid #E5E5E5;
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 8px;
  max-width: 150%;
  z-index: 1060;
  -webkit-transition: all 0.2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: all 0.2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
  visibility: hidden;
}
.bs-tooltip:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #E5E5E5 transparent;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -13px;
}
.bs-tooltip:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #FFFFFF transparent;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -11px;
}
.bs-tooltip-wrap {
  position: relative;
}
.bs-tooltip-wrap:hover .bs-tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(-50%) scaleY(1);
          transform: translateX(-50%) scaleY(1);
}

.bs-card {
  background-color: #FFFFFF;
  background-clip: padding-box;
}
.bs-card--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 155px;
}
.bs-card--horizontal .bs-card-media {
  width: 50%;
  height: 100%;
  padding-bottom: 0;
}
.bs-card--horizontal .bs-card-info {
  width: 50%;
  height: 100%;
  padding: 16px;
  text-align: left;
}
.bs-card--horizontal .bs-card-desc {
  margin-top: 8px;
  height: auto;
  line-height: auto;
}
.bs-card--radius {
  border-radius: 5px;
}
.bs-card--radius .bs-card-media,
.bs-card--radius .bs-card-media-image {
  border-radius: 5px 5px 0 0;
}
.bs-card--radius.bs-card--horizontal .bs-card-media,
.bs-card--radius.bs-card--horizontal .bs-card-media-image {
  border-radius: 5px 0 0 5px;
}
.bs-card--1:hover {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 -1px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 -1px 3px 0 rgba(0, 0, 0, 0.08);
}
.bs-card--2 {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.bs-card--2:hover {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.bs-card--2.bs-card--notHover:hover {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.bs-card-media {
  padding-bottom: 82%;
  position: relative;
}
.bs-card-media-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.bs-card-media-badge-wrap {
  right: 8px;
  top: 8px;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bs-card-media-badge {
  font-size: 14px;
  font-weight: 600;
  background-color: #5DA2D5;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 0 8px;
}
.bs-card-media-badge + .bs-card-media-badge {
  margin-left: 8px;
}
.bs-card-info {
  text-align: center;
}
.bs-card-desc {
  height: 50px;
}
.icon-shopping-baby {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2214%22%20height%3D%2220%22%20viewBox%3D%220%200%2014%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.547%209.42a.791.791%200%2001-.79.792H1.79A.792.792%200%20011%209.42V6.245c0-.435.355-.79.79-.79h1.116a.49.49%200%2000.053.004c.006%200%20.012-.003.019-.004h8.779c.436%200%20.79.355.79.79V9.42zm-1.124%203.594h-.801a.5.5%200%20000%201h.8v1.65h-.8a.5.5%200%20100%201h.8v1.453a.783.783%200%2001-.781.782H2.907a.783.783%200%2001-.783-.782v-6.905h9.299v1.802zm.334-8.56h-8.16a3.088%203.088%200%20012.32-2.01.5.5%200%2000.408-.49v-.506a.449.449%200%2001.897%200v.506a.5.5%200%2000.408.49%203.05%203.05%200%20011.91%201.213.502.502%200%2000.81-.59%204.052%204.052%200%2000-2.128-1.506v-.113A1.45%201.45%200%20006.774%200a1.45%201.45%200%2000-1.45%201.448v.112a4.034%204.034%200%2000-2.77%202.895h-.763C.803%204.455%200%205.258%200%206.245V9.42c0%20.75.466%201.393%201.124%201.659v7.037c0%20.982.799%201.782%201.783%201.782h7.734c.982%200%201.782-.8%201.782-1.782V11.08a1.792%201.792%200%20001.124-1.66V6.246c0-.987-.803-1.79-1.79-1.79z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-women {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.95%204.044h8.405c-1.164-.589-2.525-1.34-3.408-2.028C13.513.9%2011.532.44%2010.34%201.933c-.012.015-.03.022-.042.035-.014.014-.021.032-.037.044-.011.01-.026.011-.04.02a.523.523%200%2001-.272.082.508.508%200%2001-.095-.008.535.535%200%2001-.18-.075c-.011-.008-.025-.01-.037-.019-.014-.012-.021-.029-.034-.04-.014-.015-.032-.023-.045-.039C8.366.441%206.387.9%204.952%202.016c-.885.69-2.246%201.44-3.407%202.028H9.95zm9.482-.58c.35.17.533.553.446.932a.835.835%200%2001-.816.648H.838a.833.833%200%2001-.371-1.58c1.22-.597%202.884-1.469%203.872-2.237%201.966-1.533%204.189-1.62%205.61-.31%201.423-1.31%203.644-1.224%205.61.31.986.765%202.65%201.638%203.873%202.236zm-9.22%207.325c4.33%200%205.797-2.78%206.227-3.976L3.46%206.84c.593%201.174%202.431%203.948%206.752%203.948zm6.24-4.948a.98.98%200%2001.928%201.311c-.502%201.394-2.205%204.637-7.168%204.637-4.89%200-6.98-3.174-7.65-4.54a.968.968%200%2001.046-.943.985.985%200%2001.84-.465h13.004z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-men {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%228%22%20viewBox%3D%220%200%2020%208%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.3%206.59c-1.421.194-2.965-.25-4.131-1.19-.644-.521-1.426-1.438-1.717-2.313a.5.5%200%2000-.95%200C9.212%203.962%208.43%204.879%207.786%205.4c-1.167.94-2.711%201.384-4.131%201.19a8.105%208.105%200%2001-1.627-.411c1.487-.59%202.66-1.778%203.393-3.492.44-1.064.985-1.546%201.882-1.664.78-.102%201.775.134%202.157.79l.062.134c.08.18.265.282.463.282h.005a.523.523%200%2000.462-.321c.013-.031.026-.063.044-.095.382-.656%201.376-.892%202.158-.79.896.118%201.44.6%201.899%201.706a.92.92%200%2001.019.044c.706%201.648%201.87%202.82%203.355%203.406a8.055%208.055%200%2001-1.625.41m-.843-4.285C15.097%201.432%2014.427.248%2012.783.03c-.914-.121-2.085.105-2.806.83C9.255.135%208.084-.09%207.17.03c-1.643.217-2.313%201.4-2.707%202.348C3.914%203.66%202.776%205.25.459%205.557a.497.497%200%2000-.452.579.499.499%200%2000.487.42c.104.037.33.167.446.23.136.079.256.144.322.17.796.32%201.533.525%202.255.624%201.689.237%203.52-.29%204.897-1.403a7.413%207.413%200%20001.564-1.78%207.407%207.407%200%20001.562%201.78%206.61%206.61%200%20004.095%201.458c.27%200%20.538-.018.803-.055a9.477%209.477%200%20002.256-.623c.065-.027.184-.092.32-.17.115-.064.344-.194.446-.231a.5.5%200%2000.032-1c-2.314-.307-3.454-1.895-4.002-3.177%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-health {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%228%22%20height%3D%2220%22%20viewBox%3D%220%200%208%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6.27%2018.848a.009.009%200%2001-.008.008L1%2018.848l.009-.646%205.261.008v.638zM1.948%208.28h3.329v-.62H1.948v.62zm-.259%208.922h3.847V9.28H1.689v7.922zm4.847.056V8.78a.492.492%200%2000-.259-.43v-.858a.821.821%200%2000-.619-.788V3.427c0-.838-.552-2.426-1.55-3.106C3.606-.021%203.06-.091%202.523.119c-.955.375-.955%201.483-.955%201.956v3.56a.5.5%200%20001%200v-3.56c0-.647.091-.935.321-1.026.14-.054.36-.104.655.098.646.44%201.114%201.667%201.114%202.28V6.66h-2.88a.831.831%200%2000-.83.83v.86a.492.492%200%2000-.259.429v8.487A1%201%200%20000%2018.21v.638a1.01%201.01%200%20001.009%201.008h5.253c.556%200%201.008-.452%201.008-1.008v-.638a.995.995%200%2000-.734-.952z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-sport {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2216%22%20viewBox%3D%220%200%2020%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M13.286%2014.2c2.613.027%204.704-.688%205.46-.988-.06-.808-.328-3.002-1.486-5.344L13.286%2014.2zM2.916%208.353c.843%201.437%202.057%202.856%203.811%203.959a12.243%2012.243%200%20005.415%201.83l4.567-7.277a12.222%2012.222%200%2000-4-4.083C10.95%201.68%209.144%201.205%207.483%201.07L2.915%208.352zm-1.903-6.27c.045.792.275%202.952%201.362%205.248L6.33%201.028a14.83%2014.83%200%2000-5.317%201.055zM19.68%2013.797c-.017.027-.03.056-.053.08-.026.027-.057.045-.088.066-.022.015-.037.034-.062.046-.169.08-2.669%201.235-6.036%201.235-2.183%200-4.73-.485-7.246-2.066C.024%209.276-.002%202.063%200%201.757c0-.024.011-.046.015-.07.005-.036.008-.07.021-.104.012-.03.03-.054.047-.081.017-.028.032-.056.055-.08.023-.025.051-.042.08-.062.021-.015.037-.035.061-.047.274-.135%206.78-3.25%2012.96.62%206.342%203.972%206.52%2011.155%206.524%2011.58v.019c0%20.023-.01.043-.013.065-.005.04-.009.08-.023.118-.01.03-.03.054-.048.08zm-7.792-4.37l-.496.79a.502.502%200%2001-.69.158.5.5%200%2001-.158-.69l.496-.79-1.006-.633-.496.79a.499.499%200%2011-.847-.53l.496-.792L8.024%207l-.496.79a.502.502%200%2001-.69.157.5.5%200%2001-.158-.689l.496-.79-.391-.245a.5.5%200%2011.532-.846l.39.245.496-.79a.5.5%200%2011.848.531l-.496.79%201.162.73.496-.79a.5.5%200%2001.848.531l-.496.79%201.006.633.496-.79a.5.5%200%2001.847.53l-.496.79.489.307a.5.5%200%2001-.532.848l-.488-.306z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-home {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2215%22%20viewBox%3D%220%200%2020%2015%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.29%2012.658V1.655a.603.603%200%2000-.602-.602H1.655a.603.603%200%2000-.602.602v11.003c0%20.332.27.602.602.602h16.033c.332%200%20.603-.27.603-.602zM17.689%200c.913%200%201.655.743%201.655%201.655v11.003c0%20.913-.742%201.655-1.655%201.655H1.655A1.656%201.656%200%20010%2012.658V1.655C0%20.743.742%200%201.655%200h16.033zm-3.13%202.086c.29%200%20.526.236.526.527v8.86a.526.526%200%2001-.526.526H1.815a.525.525%200%20110-1.053h12.217V3.14H1.815a.526.526%200%20110-1.053h12.743zm2.535%202.39a.527.527%200%20010%201.053h-.686a.526.526%200%20110-1.052h.686zm0%201.476a.527.527%200%20010%201.053h-.686a.526.526%200%20110-1.053h.686zm-.343%203.296c.29%200%20.526.235.526.526%200%20.29-.236.544-.526.544a.513.513%200%2001-.527-.51v-.034c0-.29.236-.526.527-.526z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-accessories {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%229%22%20viewBox%3D%220%200%2020%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.854%207.297a3.151%203.151%200%2001-3.148-3.148A3.152%203.152%200%200114.854%201a3.145%203.145%200%20013.1%202.671.492.492%200%2000-.389.478c0%20.237.168.425.39.477a3.146%203.146%200%2001-3.101%202.671m-9.679%200a3.144%203.144%200%2001-3.1-2.671.492.492%200%2000.389-.477.492.492%200%2000-.389-.478A3.145%203.145%200%20015.175%201a3.152%203.152%200%20013.149%203.149%203.152%203.152%200%2001-3.149%203.148M19.53%203.649h-.578C18.702%201.599%2016.97%200%2014.854%200c-1.941%200-3.563%201.346-4.013%203.15a1.56%201.56%200%2000-.859-.237%201.68%201.68%200%2000-.793.239C8.74%201.347%207.118%200%205.175%200%203.059%200%201.328%201.599%201.078%203.649H.5a.499.499%200%20100%201h.578c.25%202.049%201.981%203.648%204.097%203.648%202.219%200%204.022-1.756%204.128-3.948.138-.167.413-.429.711-.436l.011-.001c.267%200%20.517.222.701.443.11%202.19%201.911%203.942%204.128%203.942%202.116%200%203.848-1.599%204.098-3.648h.578a.5.5%200%20000-1%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-fashion {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.09%2016.021V3.338c0-.603-.49-1.094-1.094-1.094h-2.362c-.839%201.647-2.85%202.775-5.063%202.775-2.258%200-4.454-1.236-5.102-2.775H2.147c-.603%200-1.095.49-1.095%201.094v7.206h5.106c.29%200%20.527.236.527.527v3.36a.526.526%200%2001-.527.526H1.052v1.064c0%20.603.492%201.094%201.095%201.094h14.85c.602%200%201.093-.49%201.093-1.094zM1.052%2013.904h4.58v-2.307h-4.58v2.307zM6.533%201.298l-1.064.644c.516%201.001%202.238%202.024%204.102%202.024%201.757%200%203.357-.823%204.063-2.046l-1.063-.645c-.485.573-1.516%201.53-3%201.53-1.48%200-2.541-.948-3.038-1.507zm10.463-.106c1.183%200%202.147.962%202.147%202.146V16.02a2.15%202.15%200%2001-2.147%202.146H2.146A2.15%202.15%200%20010%2016.021V3.338c0-1.184.964-2.146%202.148-2.146h2.535l1.7-1.033a.526.526%200%2001.71.156c.01.013.995%201.438%202.48%201.438%201.482%200%202.41-1.44%202.42-1.454a.527.527%200%2001.718-.17l1.755%201.063h2.531zM15.681%207.96a.527.527%200%20010%201.053h-3.934a.526.526%200%20110-1.053h3.934z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-books {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2216%22%20height%3D%2220%22%20viewBox%3D%220%200%2016%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M13.615%200c1%200%201.813.814%201.813%201.814v16.168a1.815%201.815%200%2001-1.813%201.814h-11.8c-1%200-1.815-.813-1.815-1.814V1.814C0%20.814.814%200%201.814%200h11.801zm.813%2017.982V1.814A.815.815%200%200013.615%201h-11.8A.815.815%200%20001%201.814v.18h.318a.499.499%200%20110%201H1v1.424h.244a.5.5%200%20010%201H1V14.112h.207a.5.5%200%20010%201H1v1.423h.207a.5.5%200%20110%201H1v.447c0%20.449.365.814.814.814h11.801a.815.815%200%2000.813-.814zM12.633%201.649a.5.5%200%2001.5.5v15.498a.5.5%200%2001-1%200V2.15a.5.5%200%2001.5-.5zM9.584%203.882a.5.5%200%2001.5.5v1.755c0%20.277-.223.5-.5.5H4.89a.5.5%200%2001-.5-.5V4.382a.5.5%200%2001.5-.5h4.694zM5.39%205.637h3.694v-.755H5.39v.755zm4.195%206.154a.5.5%200%20010%201H5.206a.5.5%200%20010-1h4.378zm0%201.731a.5.5%200%20010%201H5.206a.5.5%200%20010-1h4.378z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-mall {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2221%22%20viewBox%3D%220%200%2020%2021%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16%2019.5H4v.5c0%20.28-.22.5-.5.5h-3c-.28%200-.5-.22-.5-.5V.5C0%20.22.22%200%20.5%200h19c.28%200%20.5.22.5.5V20c0%20.28-.22.5-.5.5h-3c-.28%200-.5-.22-.5-.5v-.5zm0-1v-10H4v10h12zM14.5%206c0%20.28-.22.5-.5.5h-2a.5.5%200%2001-.5-.5V2c0-.28.22-.5.5-.5s.5.22.5.5v3.5H14c.28%200%20.5.22.5.5zm4%200c0%20.28-.22.5-.5.5h-2a.5.5%200%2001-.5-.5V2c0-.28.22-.5.5-.5s.5.22.5.5v3.5H18c.28%200%20.5.22.5.5zm-13-4v4c0%20.28-.22.5-.5.5s-.5-.22-.5-.5V3l-.66.61c-.19.18-.49.18-.68%200L2.5%203v3c0%20.28-.22.5-.5.5s-.5-.22-.5-.5V2c0-.11.03-.21.1-.3.1-.13.25-.2.4-.2.11%200%20.21.03.3.1l1.19%201.03%201.01-.88.2-.15c.09-.07.19-.1.3-.1.15%200%20.3.07.4.2.07.09.1.19.1.3zm2%201.5h2v-1h-2v1zm2.5-2c.28%200%20.5.22.5.5v4c0%20.28-.22.5-.5.5s-.5-.22-.5-.5V4.5h-2V6c0%20.28-.22.5-.5.5s-.5-.22-.5-.5V2c0-.28.22-.5.5-.5h3zm7%2018h2v-11h-2v11zM1%207.55h18V1H1v6.55zM1%2019.5h2v-11H1v11zm7.043-4.957a.5.5%200%20010-.707l4.164-4.165a.5.5%200%2001.707.708L8.75%2014.543a.5.5%200%2001-.707%200zm1.043%202.786a.502.502%200%20010-.708l2.12-2.121a.5.5%200%2001.708.707l-2.121%202.122a.5.5%200%2001-.707%200zM13%2014a.5.5%200%2011-1%200%20.5.5%200%20011%200zm-5%201a.5.5%200%2011-1%200%20.5.5%200%20011%200z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-food {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6.707%201A5.715%205.715%200%20001%206.708v.559c0%20.431.352.783.783.783H17.53a.783.783%200%2000.782-.783v-.559A5.714%205.714%200%200012.605%201H6.707zM17.53%209.05H1.783C.8%209.05%200%208.25%200%207.267v-.559A6.715%206.715%200%20016.707%200h5.898a6.714%206.714%200%20016.707%206.708v.559c0%20.983-.799%201.783-1.782%201.783zM9.656%203.481a.5.5%200%2001-.5-.5v-.104a.5.5%200%20111%200v.104a.5.5%200%2001-.5.5zM7.57%202.977a.5.5%200%2001-.5-.5v-.105a.5.5%200%20111%200v.105a.5.5%200%2001-.5.5zm7.624%208.604c-.855%200-1.312-.329-1.68-.595-.327-.235-.563-.405-1.095-.405-.53%200-.767.17-1.092.405-.367.265-.823.595-1.678.595-.854%200-1.31-.33-1.678-.595-.325-.235-.56-.405-1.09-.405-.532%200-.768.17-1.093.405-.367.265-.823.595-1.678.595-.854%200-1.31-.33-1.676-.595-.325-.235-.56-.405-1.09-.405a.5.5%200%20010-1c.853%200%201.31.33%201.676.595.325.235.561.405%201.09.405.53%200%20.767-.17%201.092-.405.367-.265.823-.595%201.678-.595.854%200%201.31.33%201.677.595.325.235.562.405%201.092.405s.767-.17%201.092-.405c.367-.265.823-.595%201.678-.595s1.312.33%201.68.595c.326.235.563.405%201.095.405s.768-.17%201.095-.405c.367-.265.824-.595%201.68-.595a.5.5%200%20110%201c-.533%200-.769.17-1.096.405-.367.266-.825.595-1.679.595zm-13.33%201.464a.865.865%200%2000-.864.864c0%203.053%202.38%203.208%206.26%203.208h5.107c3.906%200%205.945-.142%205.945-3.208a.865.865%200%2000-.864-.864H1.864zm10.503%205.072H7.26c-3.404%200-7.26%200-7.26-4.208%200-1.028.836-1.864%201.864-1.864h15.584c1.028%200%201.864.836%201.864%201.864%200%204.208-3.53%204.208-6.945%204.208zm-.73-15.298a.5.5%200%2001-.5-.5v-.105a.5.5%200%20111%200v.105a.5.5%200%2001-.5.5z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-others {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2219%22%20height%3D%2220%22%20viewBox%3D%220%200%2019%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.81%2017.136v-5.96c0-.022-.019-.225-.323-.225h-.706v.89a.506.506%200%2001-.302.464l-1.944.842a.503.503%200%2001-.199.04h-3.98c-.029%200-.052-.018-.079-.022-.04.01-.079.025-.123.025H3.027a.5.5%200%2001-.5-.5v-.715L1%2012.639v6.304a.845.845%200%2000.322.057h12.576c.086%200%20.17-.01.241-.03l3.498-1.771a.536.536%200%2001.094-.036.478.478%200%2000.08-.027zM3.527%2010.459h2.15V8.255h-2.15v2.204zm1.861-5.745c-1.13.348-1.86%201.134-1.86%202v.54h2.65a.5.5%200%2001.5.5v3.204a.5.5%200%2001-.5.5h-2.65v.732h6.126V6.715c0-.867-.73-1.652-1.86-2.001a.5.5%200%2001-.354-.478v-3.02h-1.7v3.02a.501.501%200%2001-.352.478zm7.83%204c-1.39%200-2.564.893-2.564%201.949v1.178c0%20.114.015.23.048.347h3.531l1.548-.67v-.855c0-1.056-1.174-1.95-2.564-1.95zm4.27%201.237c.912%200%201.322.716%201.322%201.225v6.08c0%20.388-.29.712-.765.858l-3.548%201.784a1.871%201.871%200%2001-.599.102H1.322C.556%2020%200%2019.606%200%2019.063v-6.545c0-.334.225-.632.602-.796l1.925-.838v-4.17c0-1.212.857-2.294%202.213-2.832V.938c0-.405.35-.722.796-.722h2.11c.445%200%20.794.317.794.722v2.944c1.357.538%202.214%201.62%202.214%202.833v1.909c.538-.464%201.258-.773%202.063-.868v-.35a.5.5%200%20011%200v.35c1.44.17%202.6%201.046%202.947%202.195h.823zm-3.152%203.935a.5.5%200%2001.5.5v3.16a.5.5%200%2011-1%200v-3.16a.5.5%200%2001.5-.5z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.icon-shopping-earth {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.839%2018.38c.623-.703%201.159-1.625%201.575-2.72.652.147%201.28.324%201.89.535a8.95%208.95%200%2001-3.465%202.185zm-9.271-2.185c.61-.211%201.24-.388%201.89-.534.417%201.094.953%202.016%201.576%202.719a8.95%208.95%200%2001-3.466-2.185zM7.034%201.493c-.62.7-1.154%201.618-1.57%202.706a17.383%2017.383%200%2001-1.886-.532%208.958%208.958%200%20013.456-2.174zm9.26%202.174c-.606.21-1.235.387-1.885.532-.416-1.088-.95-2.006-1.57-2.706a8.958%208.958%200%20013.456%202.174zm-.921%205.77c-.04-1.553-.261-3.005-.637-4.278A18.47%2018.47%200%200017%204.484a8.883%208.883%200%20011.847%204.953h-3.475zm0%201h3.475a8.886%208.886%200%2001-1.84%204.943%2017.925%2017.925%200%2000-2.27-.67c.374-1.271.595-2.723.635-4.273zm-4.936%203.745v-3.745h3.937c-.043%201.464-.27%202.845-.636%204.05a21.993%2021.993%200%2000-3.301-.305zm0%204.628v-3.63a21.26%2021.26%200%20012.968.27c-.723%201.817-1.782%203.078-2.968%203.36zm-1-3.63v3.63c-1.187-.282-2.245-1.543-2.97-3.36.97-.161%201.968-.246%202.97-.27zm-3.938-4.743h3.938v3.745a21.994%2021.994%200%2000-3.302.306c-.366-1.206-.593-2.587-.636-4.051zm-1%200c.04%201.55.262%203.002.636%204.274-.784.18-1.545.398-2.27.669a8.877%208.877%200%2001-1.84-4.943H4.5zm0-1H1.027a8.875%208.875%200%20011.846-4.953c.725.27%201.484.492%202.265.675C4.76%206.432%204.54%207.884%204.5%209.437zm4.938-3.735v3.735H5.499c.043-1.465.27-2.845.636-4.052%201.07.194%202.18.29%203.302.317zm0-4.638v3.615c-1-.023-1.995-.108-2.964-.27.722-1.81%201.78-3.065%202.964-3.345zm1%203.615V1.064c1.183.28%202.24%201.536%202.964%203.345-.97.162-1.964.247-2.964.27zm0%201.023a21.318%2021.318%200%20003.3-.317c.368%201.207.594%202.587.637%204.052h-3.937V5.702zM9.937%200C4.457%200%200%204.458%200%209.937c0%205.479%204.457%209.936%209.937%209.936%205.479%200%209.936-4.457%209.936-9.936C19.873%204.457%2015.416%200%209.937%200z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.icon-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 7px;
  height: 11px;
  margin-left: 8px;
}
@media (min-width: 768px) {
  .bs-tab-inner--underline .icon-shopping-baby,
  .bs-tab:hover .icon-shopping-baby {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2214%22%20height%3D%2220%22%20viewBox%3D%220%200%2014%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.547%209.42a.791.791%200%2001-.79.792H1.79A.792.792%200%20011%209.42V6.245c0-.435.355-.79.79-.79h1.116a.49.49%200%2000.053.004c.006%200%20.012-.003.019-.004h8.779c.436%200%20.79.355.79.79V9.42zm-1.124%203.594h-.801a.5.5%200%20000%201h.8v1.65h-.8a.5.5%200%20100%201h.8v1.453a.783.783%200%2001-.781.782H2.907a.783.783%200%2001-.783-.782v-6.905h9.299v1.802zm.334-8.56h-8.16a3.088%203.088%200%20012.32-2.01.5.5%200%2000.408-.49v-.506a.449.449%200%2001.897%200v.506a.5.5%200%2000.408.49%203.05%203.05%200%20011.91%201.213.502.502%200%2000.81-.59%204.052%204.052%200%2000-2.128-1.506v-.113A1.45%201.45%200%20006.774%200a1.45%201.45%200%2000-1.45%201.448v.112a4.034%204.034%200%2000-2.77%202.895h-.763C.803%204.455%200%205.258%200%206.245V9.42c0%20.75.466%201.393%201.124%201.659v7.037c0%20.982.799%201.782%201.783%201.782h7.734c.982%200%201.782-.8%201.782-1.782V11.08a1.792%201.792%200%20001.124-1.66V6.246c0-.987-.803-1.79-1.79-1.79z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-women,
  .bs-tab:hover .icon-shopping-women {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.95%204.044h8.405c-1.164-.589-2.525-1.34-3.408-2.028C13.513.9%2011.532.44%2010.34%201.933c-.012.015-.03.022-.042.035-.014.014-.021.032-.037.044-.011.01-.026.011-.04.02a.523.523%200%2001-.272.082.508.508%200%2001-.095-.008.535.535%200%2001-.18-.075c-.011-.008-.025-.01-.037-.019-.014-.012-.021-.029-.034-.04-.014-.015-.032-.023-.045-.039C8.366.441%206.387.9%204.952%202.016c-.885.69-2.246%201.44-3.407%202.028H9.95zm9.482-.58c.35.17.533.553.446.932a.835.835%200%2001-.816.648H.838a.833.833%200%2001-.371-1.58c1.22-.597%202.884-1.469%203.872-2.237%201.966-1.533%204.189-1.62%205.61-.31%201.423-1.31%203.644-1.224%205.61.31.986.765%202.65%201.638%203.873%202.236zm-9.22%207.325c4.33%200%205.797-2.78%206.227-3.976L3.46%206.84c.593%201.174%202.431%203.948%206.752%203.948zm6.24-4.948a.98.98%200%2001.928%201.311c-.502%201.394-2.205%204.637-7.168%204.637-4.89%200-6.98-3.174-7.65-4.54a.968.968%200%2001.046-.943.985.985%200%2001.84-.465h13.004z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-men,
  .bs-tab:hover .icon-shopping-men {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%228%22%20viewBox%3D%220%200%2020%208%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.3%206.59c-1.421.194-2.965-.25-4.131-1.19-.644-.521-1.426-1.438-1.717-2.313a.5.5%200%2000-.95%200C9.212%203.962%208.43%204.879%207.786%205.4c-1.167.94-2.711%201.384-4.131%201.19a8.105%208.105%200%2001-1.627-.411c1.487-.59%202.66-1.778%203.393-3.492.44-1.064.985-1.546%201.882-1.664.78-.102%201.775.134%202.157.79l.062.134c.08.18.265.282.463.282h.005a.523.523%200%2000.462-.321c.013-.031.026-.063.044-.095.382-.656%201.376-.892%202.158-.79.896.118%201.44.6%201.899%201.706a.92.92%200%2001.019.044c.706%201.648%201.87%202.82%203.355%203.406a8.055%208.055%200%2001-1.625.41m-.843-4.285C15.097%201.432%2014.427.248%2012.783.03c-.914-.121-2.085.105-2.806.83C9.255.135%208.084-.09%207.17.03c-1.643.217-2.313%201.4-2.707%202.348C3.914%203.66%202.776%205.25.459%205.557a.497.497%200%2000-.452.579.499.499%200%2000.487.42c.104.037.33.167.446.23.136.079.256.144.322.17.796.32%201.533.525%202.255.624%201.689.237%203.52-.29%204.897-1.403a7.413%207.413%200%20001.564-1.78%207.407%207.407%200%20001.562%201.78%206.61%206.61%200%20004.095%201.458c.27%200%20.538-.018.803-.055a9.477%209.477%200%20002.256-.623c.065-.027.184-.092.32-.17.115-.064.344-.194.446-.231a.5.5%200%2000.032-1c-2.314-.307-3.454-1.895-4.002-3.177%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-health,
  .bs-tab:hover .icon-shopping-health {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%228%22%20height%3D%2220%22%20viewBox%3D%220%200%208%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6.27%2018.848a.009.009%200%2001-.008.008L1%2018.848l.009-.646%205.261.008v.638zM1.948%208.28h3.329v-.62H1.948v.62zm-.259%208.922h3.847V9.28H1.689v7.922zm4.847.056V8.78a.492.492%200%2000-.259-.43v-.858a.821.821%200%2000-.619-.788V3.427c0-.838-.552-2.426-1.55-3.106C3.606-.021%203.06-.091%202.523.119c-.955.375-.955%201.483-.955%201.956v3.56a.5.5%200%20001%200v-3.56c0-.647.091-.935.321-1.026.14-.054.36-.104.655.098.646.44%201.114%201.667%201.114%202.28V6.66h-2.88a.831.831%200%2000-.83.83v.86a.492.492%200%2000-.259.429v8.487A1%201%200%20000%2018.21v.638a1.01%201.01%200%20001.009%201.008h5.253c.556%200%201.008-.452%201.008-1.008v-.638a.995.995%200%2000-.734-.952z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-sport,
  .bs-tab:hover .icon-shopping-sport {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%2216%22%20viewBox%3D%220%200%2020%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M13.286%2014.2c2.613.027%204.704-.688%205.46-.988-.06-.808-.328-3.002-1.486-5.344L13.286%2014.2zM2.916%208.353c.843%201.437%202.057%202.856%203.811%203.959a12.243%2012.243%200%20005.415%201.83l4.567-7.277a12.222%2012.222%200%2000-4-4.083C10.95%201.68%209.144%201.205%207.483%201.07L2.915%208.352zm-1.903-6.27c.045.792.275%202.952%201.362%205.248L6.33%201.028a14.83%2014.83%200%2000-5.317%201.055zM19.68%2013.797c-.017.027-.03.056-.053.08-.026.027-.057.045-.088.066-.022.015-.037.034-.062.046-.169.08-2.669%201.235-6.036%201.235-2.183%200-4.73-.485-7.246-2.066C.024%209.276-.002%202.063%200%201.757c0-.024.011-.046.015-.07.005-.036.008-.07.021-.104.012-.03.03-.054.047-.081.017-.028.032-.056.055-.08.023-.025.051-.042.08-.062.021-.015.037-.035.061-.047.274-.135%206.78-3.25%2012.96.62%206.342%203.972%206.52%2011.155%206.524%2011.58v.019c0%20.023-.01.043-.013.065-.005.04-.009.08-.023.118-.01.03-.03.054-.048.08zm-7.792-4.37l-.496.79a.502.502%200%2001-.69.158.5.5%200%2001-.158-.69l.496-.79-1.006-.633-.496.79a.499.499%200%2011-.847-.53l.496-.792L8.024%207l-.496.79a.502.502%200%2001-.69.157.5.5%200%2001-.158-.689l.496-.79-.391-.245a.5.5%200%2011.532-.846l.39.245.496-.79a.5.5%200%2011.848.531l-.496.79%201.162.73.496-.79a.5.5%200%2001.848.531l-.496.79%201.006.633.496-.79a.5.5%200%2001.847.53l-.496.79.489.307a.5.5%200%2001-.532.848l-.488-.306z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-home,
  .bs-tab:hover .icon-shopping-home {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%2215%22%20viewBox%3D%220%200%2020%2015%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.29%2012.658V1.655a.603.603%200%2000-.602-.602H1.655a.603.603%200%2000-.602.602v11.003c0%20.332.27.602.602.602h16.033c.332%200%20.603-.27.603-.602zM17.689%200c.913%200%201.655.743%201.655%201.655v11.003c0%20.913-.742%201.655-1.655%201.655H1.655A1.656%201.656%200%20010%2012.658V1.655C0%20.743.742%200%201.655%200h16.033zm-3.13%202.086c.29%200%20.526.236.526.527v8.86a.526.526%200%2001-.526.526H1.815a.525.525%200%20110-1.053h12.217V3.14H1.815a.526.526%200%20110-1.053h12.743zm2.535%202.39a.527.527%200%20010%201.053h-.686a.526.526%200%20110-1.052h.686zm0%201.476a.527.527%200%20010%201.053h-.686a.526.526%200%20110-1.053h.686zm-.343%203.296c.29%200%20.526.235.526.526%200%20.29-.236.544-.526.544a.513.513%200%2001-.527-.51v-.034c0-.29.236-.526.527-.526z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-accessories,
  .bs-tab:hover .icon-shopping-accessories {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%229%22%20viewBox%3D%220%200%2020%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.854%207.297a3.151%203.151%200%2001-3.148-3.148A3.152%203.152%200%200114.854%201a3.145%203.145%200%20013.1%202.671.492.492%200%2000-.389.478c0%20.237.168.425.39.477a3.146%203.146%200%2001-3.101%202.671m-9.679%200a3.144%203.144%200%2001-3.1-2.671.492.492%200%2000.389-.477.492.492%200%2000-.389-.478A3.145%203.145%200%20015.175%201a3.152%203.152%200%20013.149%203.149%203.152%203.152%200%2001-3.149%203.148M19.53%203.649h-.578C18.702%201.599%2016.97%200%2014.854%200c-1.941%200-3.563%201.346-4.013%203.15a1.56%201.56%200%2000-.859-.237%201.68%201.68%200%2000-.793.239C8.74%201.347%207.118%200%205.175%200%203.059%200%201.328%201.599%201.078%203.649H.5a.499.499%200%20100%201h.578c.25%202.049%201.981%203.648%204.097%203.648%202.219%200%204.022-1.756%204.128-3.948.138-.167.413-.429.711-.436l.011-.001c.267%200%20.517.222.701.443.11%202.19%201.911%203.942%204.128%203.942%202.116%200%203.848-1.599%204.098-3.648h.578a.5.5%200%20000-1%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-fashion,
  .bs-tab:hover .icon-shopping-fashion {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.09%2016.021V3.338c0-.603-.49-1.094-1.094-1.094h-2.362c-.839%201.647-2.85%202.775-5.063%202.775-2.258%200-4.454-1.236-5.102-2.775H2.147c-.603%200-1.095.49-1.095%201.094v7.206h5.106c.29%200%20.527.236.527.527v3.36a.526.526%200%2001-.527.526H1.052v1.064c0%20.603.492%201.094%201.095%201.094h14.85c.602%200%201.093-.49%201.093-1.094zM1.052%2013.904h4.58v-2.307h-4.58v2.307zM6.533%201.298l-1.064.644c.516%201.001%202.238%202.024%204.102%202.024%201.757%200%203.357-.823%204.063-2.046l-1.063-.645c-.485.573-1.516%201.53-3%201.53-1.48%200-2.541-.948-3.038-1.507zm10.463-.106c1.183%200%202.147.962%202.147%202.146V16.02a2.15%202.15%200%2001-2.147%202.146H2.146A2.15%202.15%200%20010%2016.021V3.338c0-1.184.964-2.146%202.148-2.146h2.535l1.7-1.033a.526.526%200%2001.71.156c.01.013.995%201.438%202.48%201.438%201.482%200%202.41-1.44%202.42-1.454a.527.527%200%2001.718-.17l1.755%201.063h2.531zM15.681%207.96a.527.527%200%20010%201.053h-3.934a.526.526%200%20110-1.053h3.934z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-books,
  .bs-tab:hover .icon-shopping-books {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2216%22%20height%3D%2220%22%20viewBox%3D%220%200%2016%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M13.615%200c1%200%201.813.814%201.813%201.814v16.168a1.815%201.815%200%2001-1.813%201.814h-11.8c-1%200-1.815-.813-1.815-1.814V1.814C0%20.814.814%200%201.814%200h11.801zm.813%2017.982V1.814A.815.815%200%200013.615%201h-11.8A.815.815%200%20001%201.814v.18h.318a.499.499%200%20110%201H1v1.424h.244a.5.5%200%20010%201H1V14.112h.207a.5.5%200%20010%201H1v1.423h.207a.5.5%200%20110%201H1v.447c0%20.449.365.814.814.814h11.801a.815.815%200%2000.813-.814zM12.633%201.649a.5.5%200%2001.5.5v15.498a.5.5%200%2001-1%200V2.15a.5.5%200%2001.5-.5zM9.584%203.882a.5.5%200%2001.5.5v1.755c0%20.277-.223.5-.5.5H4.89a.5.5%200%2001-.5-.5V4.382a.5.5%200%2001.5-.5h4.694zM5.39%205.637h3.694v-.755H5.39v.755zm4.195%206.154a.5.5%200%20010%201H5.206a.5.5%200%20010-1h4.378zm0%201.731a.5.5%200%20010%201H5.206a.5.5%200%20010-1h4.378z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-mall,
  .bs-tab:hover .icon-shopping-mall {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%2221%22%20viewBox%3D%220%200%2020%2021%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16%2019.5H4v.5c0%20.28-.22.5-.5.5h-3c-.28%200-.5-.22-.5-.5V.5C0%20.22.22%200%20.5%200h19c.28%200%20.5.22.5.5V20c0%20.28-.22.5-.5.5h-3c-.28%200-.5-.22-.5-.5v-.5zm0-1v-10H4v10h12zM14.5%206c0%20.28-.22.5-.5.5h-2a.5.5%200%2001-.5-.5V2c0-.28.22-.5.5-.5s.5.22.5.5v3.5H14c.28%200%20.5.22.5.5zm4%200c0%20.28-.22.5-.5.5h-2a.5.5%200%2001-.5-.5V2c0-.28.22-.5.5-.5s.5.22.5.5v3.5H18c.28%200%20.5.22.5.5zm-13-4v4c0%20.28-.22.5-.5.5s-.5-.22-.5-.5V3l-.66.61c-.19.18-.49.18-.68%200L2.5%203v3c0%20.28-.22.5-.5.5s-.5-.22-.5-.5V2c0-.11.03-.21.1-.3.1-.13.25-.2.4-.2.11%200%20.21.03.3.1l1.19%201.03%201.01-.88.2-.15c.09-.07.19-.1.3-.1.15%200%20.3.07.4.2.07.09.1.19.1.3zm2%201.5h2v-1h-2v1zm2.5-2c.28%200%20.5.22.5.5v4c0%20.28-.22.5-.5.5s-.5-.22-.5-.5V4.5h-2V6c0%20.28-.22.5-.5.5s-.5-.22-.5-.5V2c0-.28.22-.5.5-.5h3zm7%2018h2v-11h-2v11zM1%207.55h18V1H1v6.55zM1%2019.5h2v-11H1v11zm7.043-4.957a.5.5%200%20010-.707l4.164-4.165a.5.5%200%2001.707.708L8.75%2014.543a.5.5%200%2001-.707%200zm1.043%202.786a.502.502%200%20010-.708l2.12-2.121a.5.5%200%2001.708.707l-2.121%202.122a.5.5%200%2001-.707%200zM13%2014a.5.5%200%2011-1%200%20.5.5%200%20011%200zm-5%201a.5.5%200%2011-1%200%20.5.5%200%20011%200z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-food,
  .bs-tab:hover .icon-shopping-food {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6.707%201A5.715%205.715%200%20001%206.708v.559c0%20.431.352.783.783.783H17.53a.783.783%200%2000.782-.783v-.559A5.714%205.714%200%200012.605%201H6.707zM17.53%209.05H1.783C.8%209.05%200%208.25%200%207.267v-.559A6.715%206.715%200%20016.707%200h5.898a6.714%206.714%200%20016.707%206.708v.559c0%20.983-.799%201.783-1.782%201.783zM9.656%203.481a.5.5%200%2001-.5-.5v-.104a.5.5%200%20111%200v.104a.5.5%200%2001-.5.5zM7.57%202.977a.5.5%200%2001-.5-.5v-.105a.5.5%200%20111%200v.105a.5.5%200%2001-.5.5zm7.624%208.604c-.855%200-1.312-.329-1.68-.595-.327-.235-.563-.405-1.095-.405-.53%200-.767.17-1.092.405-.367.265-.823.595-1.678.595-.854%200-1.31-.33-1.678-.595-.325-.235-.56-.405-1.09-.405-.532%200-.768.17-1.093.405-.367.265-.823.595-1.678.595-.854%200-1.31-.33-1.676-.595-.325-.235-.56-.405-1.09-.405a.5.5%200%20010-1c.853%200%201.31.33%201.676.595.325.235.561.405%201.09.405.53%200%20.767-.17%201.092-.405.367-.265.823-.595%201.678-.595.854%200%201.31.33%201.677.595.325.235.562.405%201.092.405s.767-.17%201.092-.405c.367-.265.823-.595%201.678-.595s1.312.33%201.68.595c.326.235.563.405%201.095.405s.768-.17%201.095-.405c.367-.265.824-.595%201.68-.595a.5.5%200%20110%201c-.533%200-.769.17-1.096.405-.367.266-.825.595-1.679.595zm-13.33%201.464a.865.865%200%2000-.864.864c0%203.053%202.38%203.208%206.26%203.208h5.107c3.906%200%205.945-.142%205.945-3.208a.865.865%200%2000-.864-.864H1.864zm10.503%205.072H7.26c-3.404%200-7.26%200-7.26-4.208%200-1.028.836-1.864%201.864-1.864h15.584c1.028%200%201.864.836%201.864%201.864%200%204.208-3.53%204.208-6.945%204.208zm-.73-15.298a.5.5%200%2001-.5-.5v-.105a.5.5%200%20111%200v.105a.5.5%200%2001-.5.5z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  .bs-tab-inner--underline .icon-shopping-others,
  .bs-tab:hover .icon-shopping-others {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20width%3D%2219%22%20height%3D%2220%22%20viewBox%3D%220%200%2019%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.81%2017.136v-5.96c0-.022-.019-.225-.323-.225h-.706v.89a.506.506%200%2001-.302.464l-1.944.842a.503.503%200%2001-.199.04h-3.98c-.029%200-.052-.018-.079-.022-.04.01-.079.025-.123.025H3.027a.5.5%200%2001-.5-.5v-.715L1%2012.639v6.304a.845.845%200%2000.322.057h12.576c.086%200%20.17-.01.241-.03l3.498-1.771a.536.536%200%2001.094-.036.478.478%200%2000.08-.027zM3.527%2010.459h2.15V8.255h-2.15v2.204zm1.861-5.745c-1.13.348-1.86%201.134-1.86%202v.54h2.65a.5.5%200%2001.5.5v3.204a.5.5%200%2001-.5.5h-2.65v.732h6.126V6.715c0-.867-.73-1.652-1.86-2.001a.5.5%200%2001-.354-.478v-3.02h-1.7v3.02a.501.501%200%2001-.352.478zm7.83%204c-1.39%200-2.564.893-2.564%201.949v1.178c0%20.114.015.23.048.347h3.531l1.548-.67v-.855c0-1.056-1.174-1.95-2.564-1.95zm4.27%201.237c.912%200%201.322.716%201.322%201.225v6.08c0%20.388-.29.712-.765.858l-3.548%201.784a1.871%201.871%200%2001-.599.102H1.322C.556%2020%200%2019.606%200%2019.063v-6.545c0-.334.225-.632.602-.796l1.925-.838v-4.17c0-1.212.857-2.294%202.213-2.832V.938c0-.405.35-.722.796-.722h2.11c.445%200%20.794.317.794.722v2.944c1.357.538%202.214%201.62%202.214%202.833v1.909c.538-.464%201.258-.773%202.063-.868v-.35a.5.5%200%20011%200v.35c1.44.17%202.6%201.046%202.947%202.195h.823zm-3.152%203.935a.5.5%200%2001.5.5v3.16a.5.5%200%2011-1%200v-3.16a.5.5%200%2001.5-.5z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
}
.bs-tab-inner--underline .bs-tab-desc,
.bs-tab:hover .bs-tab-desc {
  color: #FF9E1B;
}
.bs-tab-icon {
  display: none;
}
@media (min-width: 768px) {
  .bs-tab-icon {
    display: inline-block;
  }
}
.icon-shopping-arrow-down {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23484848%22%20viewBox%3D%220%200%2020%2013%22%20width%3D%2220%22%20height%3D%2213%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.667%201.71c0%20.232.079.467.238.664l8.463%2010.263c.205.25.516.395.845.395.329%200%20.641-.145.845-.395l8.417-10.22A1.04%201.04%200%200019.309.93a1.104%201.104%200%2000-1.524.163l-7.572%209.192-7.618-9.239A1.102%201.102%200%20001.071.884a1.05%201.05%200%2000-.404.826%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 8px;
}
.main {
  background-color: #F6F6F6;
}
.shopping-content.bs-container {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 40vh;
}
@media (min-width: 768px) {
  .shopping-content.bs-container {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media (min-width: 1200px) {
  .shopping-content.bs-container {
    padding-top: 168px;
    padding-bottom: 168px;
    min-height: 50vh;
  }
}
.banner {
  width: 100%;
  height: 216px;
  position: relative;
}
.banner-text {
  color: #262626;
  font-weight: normal;
}
.banner-title {
  text-align: center;
  position: relative;
  color: #262626;
}
@media (min-width: 768px) {
  .banner-title {
    text-align: left;
    font-size: 24px;
    max-width: 30%;
  }
}
@media (min-width: 1200px) {
  .banner-title {
    font-size: 34px;
    font-weight: normal;
    max-width: 400px;
  }
}
.banner-subtitle {
  font-weight: lighter;
  text-align: center;
  position: relative;
  max-width: 235px;
  margin: 0 auto;
  line-height: 16px;
  color: #262626;
}
@media (min-width: 768px) {
  .banner-subtitle {
    margin: 0;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .banner-subtitle {
    max-width: 280px;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    line-height: 24px;
  }
}
.banner-action-icon {
  margin-right: 8px;
  height: 20px;
  width: 20px;
}
@media (min-width: 768px) {
  .bs-tabs {
    max-width: 700px;
    position: absolute;
    top: 270px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  .bs-tabs {
    max-width: 1100px;
  }
}
.waterfall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.waterfall .bs-card {
  width: 50%;
  border-width: 0 8px;
  border-width: 8px;
  border-color: transparent;
  border-style: solid;
}
@media (min-width: 768px) {
  .waterfall .bs-card {
    width: 33.333%;
    border-width: 12px;
  }
}
@media (min-width: 1200px) {
  .waterfall .bs-card {
    width: 20%;
  }
}
.shopping .banner {
  background-color: #ffebb1;
  background-image: url(/assets/img/banner/shopping.png);
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 200% auto;
  background-position: right bottom;
  height: 300px;
}
@media (min-width: 768px) {
  .shopping .banner {
    background-image: url(/assets/img/banner/shopping@2x.png);
    background-size: 150% auto;
  }
}
@media (min-width: 1200px) {
  .shopping .banner {
    background-image: url(/assets/img/banner/shopping@3x.png);
    background-size: 100% auto;
  }
}
.shopping .banner-action {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
.shopping .banner-action .icon-shopping-arrow-down {
  margin-left: 12px;
}
@media (min-width: 768px) {
  .shopping .banner-action {
    top: 64px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
  }
}
.shopping .banner-title {
  top: 92px;
}
@media (min-width: 768px) {
  .shopping .banner-title {
    top: 64px;
  }
}
.shopping .banner-subtitle {
  top: 104px;
}
@media (min-width: 768px) {
  .shopping .banner-subtitle {
    display: block;
    top: 80px;
  }
}
@media (min-width: 1200px) {
  .shopping .banner-subtitle {
    top: 64px;
  }
}
.shopping .bs-card-info {
  padding: 0 0 24px 0;
}
.shopping .bs-card-rate,
.shopping .bs-card-parcel {
  text-align: center;
  color: #5da2d5;
}
.shopping .bs-card-desc {
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
  padding: 12px 14px 0 14px;
  height: auto;
}
@media (min-width: 1200px) {
  .shopping .bs-card-desc {
    display: inline-block;
  }
}
.restrictions .banner {
  background-color: #262626;
}
.restrictions .banner .bs-container {
  height: 100%;
  background-image: url(/assets/img/banner/prohibited.png);
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: auto 150px;
  background-position: center 88px;
}
@media (min-width: 768px) {
  .restrictions .banner .bs-container {
    background-image: url(/assets/img/banner/prohibited@2x.png);
    background-size: auto 100%;
    background-position: 95% 45px;
  }
}
@media (min-width: 1200px) {
  .restrictions .banner .bs-container {
    background-image: url(/assets/img/banner/prohibited@3x.png);
  }
}
@media (min-width: 768px) {
  .restrictions .banner {
    height: 300px;
  }
}
.restrictions .banner-title {
  color: rgba(255, 255, 255, 0.85);
  top: 16px;
}
@media (min-width: 768px) {
  .restrictions .banner-title {
    max-width: 280px;
  }
}
@media (min-width: 1200px) {
  .restrictions .banner-title {
    max-width: 300px;
    top: 63px;
  }
}
.restrictions .banner-subtitle {
  color: rgba(255, 255, 255, 0.85);
  top: 24px;
  max-width: 200px;
}
@media (min-width: 768px) {
  .restrictions .banner-subtitle {
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .restrictions .banner-subtitle {
    max-width: 260px;
  }
}
.restrictions .bs-card-section {
  margin-top: 32px;
}
.restrictions .bs-card-section:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .restrictions .bs-card-section {
    margin-top: 88px;
  }
}
.restrictions .bs-card-info {
  padding: 0 16px 16px 16px;
  line-height: 24px;
}
.restrictions .text-h6 {
  margin-left: 8px;
}
@media (min-width: 768px) {
  .restrictions .text-h6 {
    margin-left: 12px;
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .restrictions .bs-tooltip-wrap {
    pointer-events: none;
  }
}
.restrictions-detail-title {
  text-align: center;
  margin: 32px 0 24px 0;
}
.restrictions-detail-content {
  text-align: center;
  line-height: 28px;
  margin-bottom: 8px;
}
.restrictions-detail-link,
.content__link {
  color: #262626;
}
.restrictions-detail-link:hover,
.content__link:hover {
  color: #FF9E1B;
}
.bs-drawer.bs-drawer--bottom {
  padding-bottom: 24px;
}
.bs-drawer.bs-drawer--bottom .bs-container {
  text-align: center;
}
.bs-tabs-scroll-wrap--hasFix {
  width: calc(100% - 110px);
}
.bs-tab-desc {
  color: #676767;
}
.bs-tab--fix.bs-tab {
  min-width: auto;
  width: 110px;
}
.bs-tab--fix .bs-tab-desc {
  height: 47px;
  line-height: 47px;
  color: #676767;
}
.bs-tab-inner--underline .bs-tab-desc {
  color: #FF9E1B;
}
.bs-loading-wrap {
  min-height: 60vh;
}
.bs-loading {
  position: relative;
  width: 88px;
  height: auto;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}


/*# sourceMappingURL=restrictions.css.map*/