.icon-tabs-arrow-left {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.322%200c-.232%200-.468.079-.664.238L.394%208.701c-.25.206-.394.516-.394.846%200%20.328.145.64.394.844l10.22%208.418c.456.375%201.122.3%201.488-.166a1.104%201.104%200%2000-.163-1.525L2.747%209.547l9.239-7.618a1.102%201.102%200%2000.162-1.524A1.05%201.05%200%200011.322%200%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 8px;
  height: 14px;
  margin-right: 2px;
}
.icon-tabs-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
.bs-tabs {
  position: relative;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bs-tabs a {
  color: rgba(0, 0, 0, 0.65);
}
.bs-tabs a:hover {
  color: #ffa940;
}
.bs-tabs-arrow-left,
.bs-tabs-arrow-right {
  display: none;
}
.bs-tabs-scroll-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px) {
.bs-tabs-scroll-wrap {
    overflow-x: hidden;
}
}
.bs-tabs-scroll-wrap--hasFix {
  width: calc(100% - 50px);
}
.bs-tabs-scroll {
  margin: 0 auto;
  height: 100%;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  padding-left: 14px;
  padding-right: 14px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (min-width: 768px) {
.bs-tabs-scroll {
    padding-left: 0;
    padding-right: 0;
}
}
.bs-tabs-scroll::-webkit-scrollbar {
  display: none;
}
.bs-tabs-scroll-mask-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#cfcece), color-stop(57%, #eaeaea), to(rgba(212, 211, 211, 0.18)));
  background-image: linear-gradient(to right, #cfcece, #eaeaea 57%, rgba(212, 211, 211, 0.18));
  border-radius: 5px 0 0 5px;
}
@media (min-width: 768px) {
.bs-tabs-scroll-mask-left {
    display: none;
}
}
.bs-tabs-scroll-mask-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#cfcece), color-stop(57%, #eaeaea), to(rgba(212, 211, 211, 0.18)));
  background-image: linear-gradient(to left, #cfcece, #eaeaea 57%, rgba(212, 211, 211, 0.18));
}
.bs-tab {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.bs-tab + .bs-tab {
  margin-left: 14px;
}
.bs-tab-inner {
  position: relative;
  text-align: center;
  height: 100%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.bs-tab-inner:hover {
  color: #FFAC32;
}
.bs-tab-inner:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 20px;
  border-bottom: 2px solid #FF9E1B;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media (min-width: 768px) {
.bs-tab-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
}
.bs-tab-inner--underline {
  color: #FF9E1B;
}
.bs-tab-inner--underline:after {
  opacity: 1;
}
.bs-tab-desc {
  height: 47px;
  line-height: 47px;
}
@media (min-width: 768px) {
.bs-tab-desc {
    height: 27px;
    line-height: 27px;
    margin-top: 4px;
}
}
@media (min-width: 1200px) {
.bs-tab-desc {
    margin-top: 4px;
}
}
.bs-tab.bs-tab--fix {
  width: 50px;
}
.bs-tab-icon {
  display: none;
}
@media (min-width: 768px) {
.bs-tabs {
    -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.bs-tabs-arrow-left,
  .bs-tabs-arrow-right {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
.bs-tabs-arrow-left {
    left: -24px;
}
.bs-tabs-arrow-right {
    right: -24px;
}
.bs-tabs-scroll-wrap--hasFix {
    width: calc(100% - 160px);
}
.bs-tab {
    min-width: 160px;
    height: 72px;
}
.bs-tab + .bs-tab {
    margin-left: 0;
}
.bs-tab + .bs-tab .bs-tab-inner {
    position: relative;
}
.bs-tab-inner:after {
    content: none;
}
.bs-tab-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}
.bs-tab-icon svg {
    width: 100%;
    height: 100%;
}
.bs-tab.bs-tab--fix {
    width: auto;
}
}
@media (min-width: 768px) and (min-width: 768px) {
.bs-tab + .bs-tab .bs-tab-inner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1px;
    height: 36px;
    background-color: #D8D8D8;
}
}
@media (min-width: 1200px) {
.bs-tab {
    min-width: 185px;
    height: 96px;
}
.bs-tabs-scroll-wrap--hasFix {
    width: calc(100% - 185px);
}
}

.icon-shipment-arrow-down {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23484848%22%20viewBox%3D%220%200%2020%2013%22%20width%3D%2220%22%20height%3D%2213%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.667%201.71c0%20.232.079.467.238.664l8.463%2010.263c.205.25.516.395.845.395.329%200%20.641-.145.845-.395l8.417-10.22A1.04%201.04%200%200019.309.93a1.104%201.104%200%2000-1.524.163l-7.572%209.192-7.618-9.239A1.102%201.102%200%20001.071.884a1.05%201.05%200%2000-.404.826%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 8px;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.icon-info {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10%205a1%201%200%20110%202%201%201%200%20010-2m0%204a1%201%200%20011%201v4a1%201%200%2001-2%200v-4a1%201%200%20011-1M11.694.14A10.013%2010.013%200%2000.14%2011.694c.681%204.143%204.023%207.485%208.166%208.166A10.013%2010.013%200%200019.86%208.306C19.179%204.163%2015.837.821%2011.694.14m-.126%2017.71C5.943%2018.926%201.074%2014.057%202.15%208.432c.601-3.144%203.138-5.681%206.282-6.282%205.625-1.076%2010.494%203.793%209.418%209.418-.601%203.144-3.138%205.681-6.282%206.282%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: none;
}
@media (min-width: 1200px) {
  .icon-info {
    display: block;
  }
}
.bs-loading {
  position: relative;
  width: 88px;
  height: auto;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 1200px) {
  .text-subtitle-lg {
    font-size: 24px;
  }
}
.bs-banner {
  height: 202px;
  background-color: #F6F6F6;
}
@media (min-width: 1200px) {
  .bs-banner {
    height: 300px;
  }
}
.bs-banner .bs-container {
  position: relative;
  height: 100%;
  background-image: url(/assets/img/banner/insurance.png);
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: auto 130px;
  background-position: center bottom;
}
@media (min-width: 768px) {
  .bs-banner .bs-container {
    background-image: url(/assets/img/banner/insurance@2x.png);
    background-size: auto 130px;
    background-position: center bottom;
  }
}
@media (min-width: 1200px) {
  .bs-banner .bs-container {
    background-image: url(/assets/img/banner/insurance@3x.png);
    background-size: 400px auto;
    background-position: 85% 27px;
  }
}
.bs-banner-title {
  position: absolute;
  max-width: 327px;
  top: 24px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #262626;
}
@media (min-width: 768px) {
  .bs-banner-title {
    max-width: 430px;
    top: 24px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .bs-banner-title {
    max-width: 400px;
    top: 74px;
    left: auto;
    right: 780px;
    margin-left: 0;
    margin-right: 0;
    font-size: 34px;
    font-weight: normal;
    text-align: left;
  }
}
.main-title {
  text-align: center;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .main-title {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .main-title {
    margin-bottom: 74px;
    font-weight: normal;
  }
}
@media (min-width: 1200px) {
  .shipment .text-h6 {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
  }
}
.shipment > .bs-container {
  position: relative;
  padding-bottom: 50px;
  min-height: 60vh;
}
@media (min-width: 768px) {
  .shipment > .bs-container {
    padding-top: 66px;
  }
}
@media (min-width: 1200px) {
  .shipment > .bs-container {
    padding-top: 86px;
  }
}
.shipment .shipment-tabs-wrap {
  min-height: 48px;
  margin-left: -16px;
  margin-right: -16px;
  border-bottom: 1px solid #E5E5E5;
}
@media (min-width: 768px) {
  .shipment .shipment-tabs-wrap {
    border-bottom: 0;
    min-height: 96px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    z-index: 1;
    top: 200px;
  }
}
.shipment .bs-tab:hover .bs-tab-desc {
  color: #FF9E1B;
}
.shipment .bs-tab-desc {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-weight: 600;
}
.shipment .bs-tab-inner--underline .bs-tab-desc {
  color: #FF9E1B;
}
.shipment-title {
  margin: 16px 0;
}
@media (min-width: 768px) {
  .shipment-title {
    margin: 0;
    font-size: 34px;
    text-align: center;
  }
}
.shipment-subtitle {
  display: none;
  font-size: 14px;
  text-align: center;
}
@media (min-width: 768px) {
  .shipment-subtitle {
    display: block;
  }
}
.bs-card {
  position: relative;
  border-radius: 10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .bs-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 80px;
  }
}
@media (min-width: 1200px) {
  .bs-card {
    margin-top: 100px;
  }
}
.bs-card-inner {
  padding-top: 24px;
}
@media (min-width: 768px) {
  .bs-card-inner {
    width: 652px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    margin: 110px 0 56px 0;
    padding-top: 32px;
  }
}
.bs-card-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 24px;
}
.bs-card-timer-format {
  width: 33%;
}
.bs-card-timer-format-number {
  font-size: 48px;
  text-align: center;
}
@media (min-width: 1200px) {
  .bs-card-timer-format-number {
    font-size: 96px;
    font-weight: 300;
    line-height: 1.1;
  }
}
.bs-card-timer-format-unit {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.bs-card-body {
  line-height: 20px;
  margin-top: 34px;
  text-align: center;
}
@media (min-width: 1200px) {
  .bs-card-body {
    margin-top: 66px;
    padding: 0 60px;
  }
}
.bs-card-name {
  text-align: center;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .bs-card-name {
    margin-top: 32px;
  }
}
.bs-card-name-text {
  color: #FF9E1B;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}
.bs-card-name-text:before {
  content: '';
  background-color: #FF9E1B;
  height: 1px;
  width: 16px;
  position: absolute;
  left: -24px;
  top: 50%;
}
.bs-card-name-text:after {
  content: '';
  background-color: #FF9E1B;
  height: 1px;
  width: 16px;
  position: absolute;
  right: -24px;
  top: 50%;
}
.bs-card-media {
  margin-top: 16px;
  width: 100%;
  height: auto;
}
.bs-card-more {
  width: 100%;
  border-top: 1px solid #E5E5E5;
}
@media (min-width: 1200px) {
  .bs-card-more {
    padding: 0 120px;
  }
  .bs-card-more .icon-shipment-arrow-down {
    display: none;
  }
  .bs-card-more .bs-card-more-content {
    max-height: none;
  }
}
.bs-card-more-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}
@media (min-width: 1200px) {
  .bs-card-more-action {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 64px;
  }
}
.bs-card-more-action .icon-info {
  margin-right: 16px;
}
.bs-card-more-content {
  -webkit-transition: 1s all;
  transition: 1s all;
  max-height: 0;
  overflow: hidden;
}
.bs-card-more-flag {
  display: none;
}
.bs-card-more-flag:checked + .bs-card-more-action .icon-shipment-arrow-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.bs-card-more-flag:checked ~ .bs-card-more-content {
  max-height: 999px;
}


/*# sourceMappingURL=shipment-status.css.map*/