.taxation-icon-taxation {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2221%22%20height%3D%2218%22%20viewBox%3D%220%200%2021%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.074%2014.253l.002-.925-4.691-.297a.516.516%200%2001-.248-.083L7.309%209.72a.5.5%200%2001.186-.907l3.322-.622c.229-.099.423-.289.393-.448-.033-.176-.305-.363-.743-.363H5.834c-.138%200-.273.027-.4.081-.066.03-.129.067-.197.117L2.632%208.912a.5.5%200%2001-.227.054H1v5.512h1.405c.051%200%20.101.007.148.022l6.639%202.066%205.149-.72%202.733-1.593zm.534-1.893a.5.5%200%2001.469.5l-.004%201.682a.499.499%200%2001-.248.431l-3.065%201.785a.487.487%200%2001-.183.063l-5.357.75a.53.53%200%2001-.218-.017l-6.673-2.076H.5a.5.5%200%2001-.5-.5V8.466a.5.5%200%2001.5-.5h1.785l2.433-1.239c.061-.052.185-.124.314-.18.263-.113.528-.167.802-.167h4.633c.884%200%201.594.484%201.725%201.177.099.522-.139%201.214-1.1%201.592l-2.211.42%203.701%202.473%205.026.318zm-3.056-4.97c.278%200%20.889-.181.889-.718%200-.367-.221-.532-.946-.705l-.153-.035c-.551-.12-1.698-.371-1.722-1.631a1.639%201.639%200%2001.472-1.183%201.81%201.81%200%2001.852-.474V2.43a.499.499%200%20111%200v.194a1.776%201.776%200%20011.382%201.668.5.5%200%2001-.494.506c-.307-.026-.504-.218-.506-.494a.797.797%200%2000-.855-.735c-.272%200-.51.089-.666.249a.632.632%200%2000-.185.464c.008.404.283.529.936.672l.173.039c.51.123%201.712.41%201.712%201.678%200%20.997-.783%201.528-1.497%201.673v.27a.5.5%200%2001-1%200v-.31c-1.036-.277-1.498-1.218-1.498-1.741a.499.499%200%20111%200c0%20.002.156.826%201.106.826zM14.443%200a5.65%205.65%200%20015.643%205.643%205.65%205.65%200%2001-5.643%205.643%205.644%205.644%200%2001-2.88-.79.5.5%200%2011.51-.859%204.648%204.648%200%20007.013-3.994A4.648%204.648%200%200014.443%201a4.647%204.647%200%2000-4.637%204.392.485.485%200%2001-.526.473.501.501%200%2001-.472-.527A5.65%205.65%200%200114.443%200z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 22px;
}
.taxation-icon-duty {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.217%2012.986c.15-.254.188-.527.104-.77-.083-.245-.281-.438-.556-.545a1.453%201.453%200%2000-1.003%200l-4.885%201.68a.495.495%200%2001-.365-.016l-5.175-2.284%201.13%203.287a.501.501%200%2001-.31.635l-4.066%201.4a.498.498%200%2001-.636-.311l-.232-.676-1.153.07.829%202.41c.084.243.28.436.556.544.307.12.663.118%201.003.001l13.969-4.807c.343-.117.623-.337.79-.618zm1.05-1.096c.18.526.113%201.096-.191%201.608a2.452%202.452%200%2001-1.324%201.051L3.784%2019.356a2.577%202.577%200%2001-.84.143c-.293%200-.582-.053-.851-.158-.555-.215-.96-.625-1.14-1.15L.04%2015.54a.771.771%200%2001.095-.686.894.894%200%2001.685-.387l1.476-.087a.797.797%200%2001.816.52l.125.363L6.36%2014.19l-1.048-3.044a.838.838%200%2001.244-.897.957.957%200%20011.032-.179l5.149%202.271%204.699-1.617a2.45%202.45%200%20011.69.015c.556.216.96.625%201.14%201.151zm-9.87-8.503a.5.5%200%2001.5.5v.668c1.646.222%202.416%201.596%202.428%202.607a.5.5%200%2001-.494.505c-.266-.04-.503-.218-.506-.494-.005-.432-.361-1.663-1.88-1.663-.58%200-1.09.195-1.438.549-.292.296-.44.67-.433%201.085.019%201.043.853%201.307%201.94%201.544l.296.066c.891.215%202.548.612%202.705%202.327a.5.5%200%2001-.452.544l-.046.002a.5.5%200%2001-.497-.454c-.085-.925-.968-1.212-1.944-1.446l-.274-.062c-.941-.205-2.693-.587-2.728-2.503a2.488%202.488%200%2001.72-1.803c.418-.427.977-.7%201.604-.8v-.672a.5.5%200%2001.5-.5zm5.721%2012.583a.501.501%200%2001.656.756%209.524%209.524%200%2001-6.642%202.324.5.5%200%2001-.48-.52.485.485%200%2001.52-.48%208.575%208.575%200%20005.946-2.08zM1.33%2013.815a.5.5%200%2001-.454-.29A9.453%209.453%200%20010%209.528C0%204.274%204.274%200%209.528%200c5.255%200%209.53%204.274%209.53%209.528l-.004.266c-.007.276-.229.481-.512.49a.501.501%200%2001-.488-.513l.004-.243C18.058%204.826%2014.231%201%209.528%201%204.826%201%201%204.826%201%209.528a8.45%208.45%200%2000.784%203.577.501.501%200%2001-.454.71z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}
.taxation-icon-cif {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%209.1c-.35.07-.68.18-1%20.31-1.76.78-3%202.54-3%204.59a5.002%205.002%200%20009.9%201A5.002%205.002%200%20005%209.1zm0-1.01c.32-.06.66-.09%201-.09%203.31%200%206%202.69%206%206h7V4H5c-.55%200-1-.45-1-1V1c0-.55.45-1%201-1h14c.55%200%201%20.45%201%201v.5c0%20.28-.22.5-.5.5s-.5-.22-.5-.5V1H5v2h14c.55%200%201%20.45%201%201v10.5c0%20.28-.22.5-.5.5h-7.59A5.99%205.99%200%20016%2020c-3.31%200-6-2.69-6-6%200-2.61%201.67-4.84%204-5.65V5.5c0-.28.22-.5.5-.5s.5.22.5.5v2.59zM18%205.5c0%20.28-.22.5-.5.5h-8c-.28%200-.5-.22-.5-.5s.22-.5.5-.5h8c.28%200%20.5.22.5.5zM17.5%208h-6a.5.5%200%20010-1h6a.5.5%200%20010%201zm0%202h-5a.5.5%200%20010-1h5a.5.5%200%20010%201zm0%202h-3a.5.5%200%20010-1h3a.5.5%200%20010%201zM6%2017a.5.5%200%2001-.5-.5v-3a.5.5%200%20011%200v3a.5.5%200%2001-.5.5zm.5-5.5a.5.5%200%2011-1%200%20.5.5%200%20011%200z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.taxation-icon-fee {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.9%2015c.07-.32.1-.66.1-1%200-2.59-1.97-4.72-4.5-4.97A4.07%204.07%200%200014%209c-.17%200-.33.01-.5.02-.17.02-.34.04-.5.08-.35.07-.68.18-1%20.31A5.029%205.029%200%20009.41%2016c.16.36.36.69.59%201a5%205%200%20008.9-2zM1%2016h7.35c-.23-.63-.35-1.3-.35-2%200-2.61%201.67-4.84%204-5.65.32-.12.65-.21%201-.26.16-.03.33-.05.5-.07V1H1v15zm13.5-7.98c3.08.26%205.5%202.84%205.5%205.98%200%20.34-.03.68-.09%201a5.99%205.99%200%2001-11.1%202H1c-.55%200-1-.45-1-1V1c0-.55.45-1%201-1h12.5c.55%200%201%20.45%201%201v7.02zm2.18%204.14a.5.5%200%2001-.104.7l-4.022%202.97a.499.499%200%2011-.594-.804l4.022-2.97a.499.499%200%2001.699.105zm.212%203.853a.75.75%200%2010-1.33-.696.75.75%200%20001.33.696zm.033-1.677a1.501%201.501%200%2001-1.394%202.657%201.5%201.5%200%20111.394-2.657zm-5.817-2.35A.751.751%200%200011.423%2013a.751.751%200%2000.697-1.33.75.75%200%2000-1.012.317zm-.033%201.678a1.5%201.5%200%20111.393-2.656%201.5%201.5%200%2001-1.393%202.656zM11%203.5c0%20.28-.22.5-.5.5h-8c-.28%200-.5-.22-.5-.5s.22-.5.5-.5h8c.28%200%20.5.22.5.5zM8.5%207h-6a.5.5%200%20010-1h6a.5.5%200%20010%201zm-3%206h-3a.5.5%200%20010-1h3a.5.5%200%20010%201zm2-3h-5a.5.5%200%20010-1h5a.5.5%200%20010%201z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.taxation-icon-question {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2217%22%20viewBox%3D%220%200%2020%2017%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.55%2010.322c.19-.19.53-.18.71%200%20.09.09.15.22.15.359%200%20.06-.02.13-.04.19a.508.508%200%2001-.46.309.584.584%200%2001-.19-.038c-.06-.03-.12-.06-.17-.11a.55.55%200%2001-.14-.351c0-.14.05-.27.14-.36zm.387-5.576c.91%200%201.68.715%201.682%201.56%200%20.75-.425%201.207-.767%201.576-.325.35-.51.565-.51.917a.499.499%200%2011-1%200c0-.762.43-1.225.777-1.598.319-.344.5-.555.5-.893-.001-.26-.3-.562-.682-.562-.602%200-.722.458-.745.6a.496.496%200%2001-.566.418.497.497%200%2001-.424-.557c.067-.505.515-1.46%201.735-1.46zm7.878.867v5.029a2.72%202.72%200%2001-2.717%202.717H6.187a.498.498%200%2000-.333.127l-1.725%201.538.086-1.127a.5.5%200%2000-.498-.538A2.72%202.72%200%20011%2010.642V5.613a2.72%202.72%200%20012.717-2.716h10.381a2.72%202.72%200%20012.717%202.716M16.4%200H9.346C8.03%200%206.85.74%206.257%201.897h-2.54A3.721%203.721%200%20000%205.613v5.029a3.723%203.723%200%20003.18%203.678l-.143%201.865a.501.501%200%2000.832.411l2.508-2.237h7.721a3.72%203.72%200%20003.717-3.717V5.613a3.72%203.72%200%2000-3.717-3.716H7.437A2.474%202.474%200%20019.346%201H16.4a2.483%202.483%200%20012.479%202.48v3.943a2.466%202.466%200%2001-.621%201.642.5.5%200%2000.748.664%203.464%203.464%200%2000.873-2.306V3.48c0-1.919-1.56-3.48-3.479-3.48%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 21px;
}
.page-section-icon {
  margin-top: 28px;
}
@media (min-width: 1200px) {
  .page-section-icon {
    margin-top: 72px;
  }
}
@media (min-width: 1200px) {
  .text-h6 {
    font-size: 34px;
    font-weight: normal;
    text-align: center;
  }
}
.text-subtitle-lg {
  font-weight: normal;
}
@media (min-width: 1200px) {
  .text-subtitle-lg {
    font-size: 24px;
  }
}
.page-section__title .text-h6 {
  position: relative;
}
.page-section__title .text-h6:after {
  display: block;
  content: "";
  height: 2px;
  width: 36px;
  background-color: #262626;
  position: absolute;
  top: -16px;
  left: 0;
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .page-section__title .text-h6:after {
    width: 50px;
    top: -26px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.bs-banner {
  height: 202px;
  background-color: #F6F6F6;
}
@media (min-width: 1200px) {
  .bs-banner {
    height: 300px;
  }
}
.bs-banner .bs-container {
  position: relative;
  height: 100%;
  background-image: url(/assets/img/banner/taxation.png?202001101436);
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: auto 130px;
  background-position: center bottom;
}
@media (min-width: 768px) {
  .bs-banner .bs-container {
    background-image: url(/assets/img/banner/taxation@2x.png?202001101436);
    background-size: auto 130px;
    background-position: center bottom;
  }
}
@media (min-width: 1200px) {
  .bs-banner .bs-container {
    background-image: url(/assets/img/banner/taxation@3x.png?202001101436);
    background-size: auto 95%;
    background-position: 90% bottom;
  }
}
.bs-banner-title {
  position: absolute;
  max-width: 327px;
  top: 24px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #262626;
}
@media (min-width: 768px) {
  .bs-banner-title {
    max-width: 430px;
    top: 24px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .bs-banner-title {
    max-width: 400px;
    min-width: 400px;
    top: 74px;
    right: 791px;
    left: auto;
    font-size: 34px;
    margin-right: 0;
    margin-left: 0;
    font-weight: normal;
    text-align: left;
  }
}
.main-title {
  text-align: center;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .main-title {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .main-title {
    margin-bottom: 74px;
    font-weight: normal;
  }
}
.scheme {
  border-radius: 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.scheme-section {
  padding: 0 16px;
}
.scheme-tabs {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .scheme-tabs {
    max-width: auto;
    text-align: center;
    position: relative;
    top: -45px;
  }
}
.scheme-tabs-icon {
  display: none !important;
}
@media (min-width: 768px) {
  .scheme-tabs-icon {
    display: inline-block !important;
  }
}
.scheme-info {
  -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.09);
          box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.09);
  padding: 28px 32px 24px;
}
@media (min-width: 768px) {
  .scheme-info {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .flip-list-item {
    padding: 0 52px 40px;
  }
}
.scheme-info__title__icon {
  margin-right: 16px;
}
.scheme-info__title__text {
  color: #262626;
}
.scheme-info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .scheme-info__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 29px;
  }
}
.scheme-info__list {
  color: rgba(0, 0, 0, 0.85);
}
@media (min-width: 768px) {
  .text-subtitle-sm {
    font-size: 16px;
  }
}
.scheme-info-centent-list {
  font-size: 14px;
}
.page-section__title {
  margin-top: 0;
}
.page-section__title .text-h6:after {
  display: none;
}
@media (min-width: 1200px) {
  .page-section__title .text-h6:after {
    display: block;
  }
}
@media (min-width: 1200px) {
  .page-section__title .text-h6 {
    margin-top: 26px;
  }
}
.page-section__title:not(:first-of-type) {
  margin-top: 64px;
}
@media (min-width: 1200px) {
  .page-section__title:not(:first-of-type) {
    margin-top: 130px;
  }
}
.bs-tab-desc {
  font-weight: normal;
  color: #262626;
}
.bs-tab-inner--underline .bs-tab-desc {
  color: #FF9E1B;
}


/*# sourceMappingURL=taxation.css.map*/