.icon-slideshow-arrow-left {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.322%200c-.232%200-.468.079-.664.238L.394%208.701c-.25.206-.394.516-.394.846%200%20.328.145.64.394.844l10.22%208.418c.456.375%201.122.3%201.488-.166a1.104%201.104%200%2000-.163-1.525L2.747%209.547l9.239-7.618a1.102%201.102%200%2000.162-1.524A1.05%201.05%200%200011.322%200%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 8px;
  height: 14px;
  margin-right: 2px;
}
.icon-slideshow-arrow-right {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
.bs-slideshow {
  position: relative;
}
@media (min-width: 768px) {
.bs-slideshow {
    height: 400px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 0;
}
}
.bs-slideshow-arrow-left,
.bs-slideshow-arrow-right {
  position: absolute;
  display: none;
}
@media (min-width: 768px) {
.bs-slideshow-arrow-left,
  .bs-slideshow-arrow-right {
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
}
.bs-slideshow-arrow-left {
  left: -24px;
}
.bs-slideshow-arrow-right {
  right: -24px;
}
.bs-slideshow-container {
  overflow: hidden;
  height: 170px;
}
@media (min-width: 768px) {
.bs-slideshow-container {
    height: 310px;
}
}
.bs-slideshow-scroll-warp {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
.bs-slideshow-scroll-warp {
    overflow-x: hidden;
}
}
.bs-slideshow-scroll {
  display: inline-block;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.bs-slideshow-scroll-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.bs-slideshow-scroll-inner:after {
  content: '';
  width: 16px;
  height: 100%;
  background-color: transparent;
}
@media (min-width: 768px) {
.bs-slideshow-scroll-inner:after {
    content: none;
}
}
.bs-slideshow-item {
  min-width: 160px;
  width: 160px;
  height: 160px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-left: 16px;
}
.bs-slideshow-item:hover {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
.bs-slideshow-item {
    min-width: auto;
    height: 300px;
    margin: 0 12px;
}
}
.bs-slideshow-item-media {
  border-radius: 5px 5px 0 0;
  height: 120px;
}
.bs-slideshow-item-media img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
.bs-slideshow-item-media {
    height: 250px;
}
}
.bs-slideshow-item-info {
  text-align: center;
  line-height: 40px;
  background-color: #FFFFFF;
  border-radius: inherit;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
.bs-slideshow-item-info {
    line-height: 50px;
}
}

.icon-dialog-close {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22null%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.443%209.94l7.535-7.799a1.233%201.233%200%20000-1.703%201.131%201.131%200%2000-1.644%200L9.796%208.233%202.257.435a1.131%201.131%200%2000-1.643%200%201.233%201.233%200%20000%201.703l7.535%207.798-7.535%207.801a1.233%201.233%200%20000%201.703%201.132%201.132%200%20001.644%200l7.538-7.798%207.538%207.801a1.134%201.134%200%20001.644%200%201.233%201.233%200%20000-1.703l-7.535-7.8z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.bs-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
}
.bs-dialog .bs-container {
  position: relative;
  left: 0;
  right: 0;
}
.bs-dialog--video .bs-dialog-close {
  padding: 0 0 10px 0;
}
.bs-dialog--video .bs-dialog-container {
  background-color: transparent;
}
.bs-dialog-container {
  position: absolute;
  background-color: #FFFFFF;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
@media (min-width: 1200px) {
.bs-dialog-container {
    top: 15%;
    left: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 686px;
    max-height: 80vh;
    border-radius: 5px;
}
}
.bs-dialog-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  z-index: 901;
}
.bs-dialog-close {
  padding-left: 16px;
  padding-top: 16px;
}
@media (min-width: 768px) {
.bs-dialog-close {
    padding-left: 24px;
    padding-top: 24px;
}
}
.dialog-slide-enter-active,
.dialog-slide-leave-active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dialog-slide-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.dialog-slide-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.bs-card {
  background-color: #FFFFFF;
  background-clip: padding-box;
}
.bs-card--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 155px;
}
.bs-card--horizontal .bs-card-media {
  width: 50%;
  height: 100%;
  padding-bottom: 0;
}
.bs-card--horizontal .bs-card-info {
  width: 50%;
  height: 100%;
  padding: 16px;
  text-align: left;
}
.bs-card--horizontal .bs-card-desc {
  margin-top: 8px;
  height: auto;
  line-height: auto;
}
.bs-card--radius {
  border-radius: 5px;
}
.bs-card--radius .bs-card-media,
.bs-card--radius .bs-card-media-image {
  border-radius: 5px 5px 0 0;
}
.bs-card--radius.bs-card--horizontal .bs-card-media,
.bs-card--radius.bs-card--horizontal .bs-card-media-image {
  border-radius: 5px 0 0 5px;
}
.bs-card--1:hover {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 -1px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 -1px 3px 0 rgba(0, 0, 0, 0.08);
}
.bs-card--2 {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.bs-card--2:hover {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.bs-card--2.bs-card--notHover:hover {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.bs-card-media {
  padding-bottom: 82%;
  position: relative;
}
.bs-card-media-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.bs-card-media-badge-wrap {
  right: 8px;
  top: 8px;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bs-card-media-badge {
  font-size: 14px;
  font-weight: 600;
  background-color: #5DA2D5;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 0 8px;
}
.bs-card-media-badge + .bs-card-media-badge {
  margin-left: 8px;
}
.bs-card-info {
  text-align: center;
}
.bs-card-desc {
  height: 50px;
}
.icon-check {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23676767%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.694.14A10.014%2010.014%200%2000.14%2011.695c.681%204.143%204.023%207.485%208.166%208.166A10.014%2010.014%200%200019.86%208.306C19.18%204.163%2015.837.82%2011.694.14m-.126%2017.71C5.943%2018.926%201.074%2014.057%202.15%208.432c.601-3.144%203.137-5.68%206.282-6.282%205.625-1.075%2010.493%203.793%209.418%209.418-.602%203.145-3.138%205.68-6.282%206.282M13.88%206.29L8%2012.17l-1.885-1.877a.999.999%200%2000-1.41%201.413l2.593%202.592a.992.992%200%20001.404%200l6.593-6.593A1%201%200%200013.88%206.29%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.banner {
  width: 100%;
  height: 216px;
  position: relative;
  background-image: url(/assets/img/banner/warehouses_m.png), -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#2694E5));
  background-image: url(/assets/img/banner/warehouses_m.png), linear-gradient(180deg, #FEFEFE 0%, #2694E5 100%);
  background-repeat: no-repeat;
  background-size: auto 130px, initial;
  background-position: right 90%;
}
@media (min-width: 768px) {
  .banner {
    height: 300px;
    background-image: url(/assets/img/banner/warehouses@2x.png);
    background-size: auto 300px;
    background-position: right top;
    background-color: rgba(38, 38, 38, 0.05);
  }
}
@media (min-width: 1200px) {
  .banner {
    background-image: url(/assets/img/banner/warehouses@3x.png);
  }
}
.banner-title {
  text-align: center;
  position: relative;
  top: 16px;
  max-width: 280px;
  margin: 0 auto;
  color: #262626;
}
@media (min-width: 768px) {
  .banner-title {
    text-align: left;
    font-size: 24px;
    top: 40px;
    max-width: 340px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .banner-title {
    font-size: 34px;
    top: 60px;
    max-width: 400px;
    font-weight: normal;
  }
}
.warehouses .bs-container--paddingV {
  padding-bottom: 0;
}
.warehouses .section + .section {
  margin-top: 44px;
}
@media (min-width: 768px) {
  .warehouses .section:first-of-type {
    margin-bottom: 88px;
  }
  .warehouses .text-h5 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 88px;
  }
  .warehouses .text-h6 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 66px;
    font-weight: normal;
  }
}
.section--first .section-colunm .bs-card + .bs-card {
  margin-top: 24px;
}
.section--first .section-colunm .caption {
  font-size: 14px;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .section--first .section-colunm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section--first .section-colunm .bs-card {
    width: 50%;
  }
  .section--first .section-colunm .bs-card + .bs-card {
    margin-top: 0;
    margin-left: 16px;
  }
}
.section--second .section-colunm .bs-slideshow {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .section--second .section-colunm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section--second .section-colunm .warehouse-media {
    width: 40%;
    height: auto;
    border-radius: 5px 0 0 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .section--second .section-colunm .warehouse-media-desc {
    height: 80px;
    line-height: 80px;
    font-size: 34px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .section--second .section-colunm .bs-slideshow {
    width: 60%;
    margin-top: 0;
  }
}
.section--second .section-colunm + .section-colunm {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .section--second .section-colunm + .section-colunm {
    margin-top: 66px;
  }
}
.section--third .section-colunm .icon-check {
  margin-top: 36px;
}
.section--third .section-colunm .text-h6 {
  text-align: left;
}
@media (min-width: 768px) {
  .section--third .section-colunm .text-h6 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 24px;
  }
}
.section--third .section-colunm .anticon {
  margin-top: 36px;
}
@media (min-width: 768px) {
  .section--third .section-colunm .anticon {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .section--third .section-colunm .anticon ~ .anticon {
    margin-top: 88px;
  }
}
@media (min-width: 768px) {
  .section--third .section-colunm {
    width: 30.5%;
    display: inline-block;
    vertical-align: top;
  }
}
@media (min-width: 1200px) {
  .section--third .section-colunm {
    width: 31.5%;
  }
}
@media (min-width: 768px) {
  .section--third .section-colunm + .section-colunm {
    margin-left: 24px;
  }
  .section--third .section-colunm .icon-check:first-child {
    margin-top: 0;
  }
}
.bs-slideshow {
  margin-left: -16px;
  margin-right: -16px;
}
@media (min-width: 768px) {
  .bs-slideshow {
    margin-left: 0;
    margin-right: 0;
  }
}
.warehouse-media {
  position: relative;
  width: 100%;
  height: 80px;
  border-radius: 5px 5px 0 0;
}
.warehouse-media-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.warehouse-media-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  color: #FFFFFF;
}
.warehouse-media-desc-inner {
  position: absolute;
  left: 24px;
}
.warehouse-cover {
  width: 100%;
  height: auto;
}
.warehouse-cover__say {
  margin-bottom: 50px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .warehouse-cover__say {
    margin-top: 0;
  }
}
.bs-dialog {
  padding-bottom: 70px;
}
.bs-dialog .text-h6 {
  margin-top: 36px;
}
.bs-dialog .bs-card + .bs-card {
  margin-top: 16px;
}
.bs-dialog .bs-card-desc {
  line-height: 50px;
}
.warehouse-breadcrumb {
  margin-top: 24px;
}
.bs-warehouse-name,
.bs-warehouse-type,
.bs-warehouse-desc {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
.section-title {
  color: #262626;
}
.bs-slideshow-item-info {
  color: rgba(0, 0, 0, 0.85);
}
.section-colunm-desc {
  color: rgba(0, 0, 0, 0.85);
}


/*# sourceMappingURL=warehouses.css.map*/