<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>pricing</title>
  <link rel="stylesheet" href="../assets/css/common.css?7c46fb9bd2472cc81461">
  
  <script type="text/javascript" src="https://www.buyandship.com.tw/wp-includes/js/jquery/jquery.js?ver=1.12.4">
  </script>
  
</head>

<body>

  <div class="layout">

    <div id="bsHeader">
      <header class="bs-header">
  <div class="header-l">
    <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
    <a class="header-logo" href="/">
      <img class="header-logo-image" alt="logo" src="/assets/img/company_logo_dark.png" srcset="
            /assets/img/company_logo_dark.png 1x,
            /assets/img/company_logo_dark@2x.png 2x,
            /assets/img/company_logo_dark@3x.png 3x
          ">
      <img class="header-logo-image-sm" alt="logo" src="/assets/img/company_logo_box.png" srcset="
            /assets/img/company_logo_box.png 1x,
            /assets/img/company_logo_box@2x.png 2x,
            /assets/img/company_logo_box@3x.png 3x
          ">
    </a>
    <nav class="header-nav">
      <div class="header-nav-item header-nav-item--more">
        <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <div class="bs-icon-country"></div>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="header-nav-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="header-r">
    <bs-nav>
      <bs-nav-item v-cloak name="新手教學" link="/tutorial/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="收費說明" link="/pricing/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="提貨點" link="/redemption/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="血拼推薦">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">發燒話題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">最新消息</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">編輯精選網站</a>
      </bs-nav-item>
      <bs-nav-item v-cloak name="常見問題">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/faq/">常見問題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/warehouses/">海外倉庫一覽</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/restrictions/">禁運物品</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/contact-us/">聯絡我們</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/advantage/">我們的優勢</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/insurance/">保價服務</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/terms/">使用條款</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/privacy/">隱私權政策</a>
      </bs-nav-item>
    </bs-nav>

    <div class="header-r-member js-header-r-member bns_hidden_logged_in">
      <a class="header-member" href="/login/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">登入</span>
      </a>
      <a class="header-member-sign bs-button bs-button--primary" href="/signup/">
        註冊
      </a>
    </div>

    <div class="header-r-member js-header-r-member bns_hidden_logged_out">
      <a class="header-member header-member--m" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">你好，Christ Shui</span>
      </a>
      <a class="header-member header-member--pc" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">我的帳戶</span>
      </a>
      <aside class="header-account">
        <div class="header-account-overlay"></div>
        <ul class="header-account-list">
          <li class="header-account-list-item"><a
              href="/account/">我的帳戶</a></li>
          <li class="header-account-list-item"><a
              href="/account/profile/">個人資料</a></li>
          <li class="header-account-list-item"><a
              href="/account/warehouses/">海外倉庫</a></li>
          <li class="header-account-list-item"><a
              href="/account/shipments/">我的貨物</a></li>
          <li class="header-account-list-item"><a
              href="/account/orders/">我的轉運單</a></li>
          <li class="header-account-list-item"><a class="js-logout" href="#">登出
              <span class="header-account-list-item--right bs-icon-logout"></span>
            </a></li>
        </ul>
      </aside>
    </div>
  </div>
</header>

      <!-- <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4"
          href="/shopping/">發燒話題</a>
        <a class="text-h4" href="/shopping/">最新消息</a>
        <a class="text-h4" href="/shopping/">編輯精選網站</a>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4" href="/faq/">常見問題</a>
        <a class="text-h4" href="/warehouses/">海外倉庫一覽</a>
        <a class="text-h4" href="/restrictions/">禁運物品</a>
        <a class="text-h4" href="/contact-us/">聯絡我們</a>
        <a class="text-h4" href="/advantage/">我們的優勢</a>
        <a class="text-h4" href="/insurance/">保價服務</a>
        <a class="text-h4" href="/terms/">使用條款</a>
        <a class="text-h4" href="/privacy/">隱私權政策</a>
      </bs-nav-panel> -->
      <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇國家或地區</div>
        <a-row>
          <a-col class="country-card" :xs="12" :md="12" :xl="12" v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" href="country.url">
              <img
                :src="country.flag"
                :alt="'flag_' + country.name"
                width="30"
                height="30"
              >
              <span class="ml">{{ country.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.language" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇語言</div>
        <a-row>
          <a-col v-for="(language, iso) in languageObj" class="country-card" :xs="12" :md="12" :xl="12" :key="'header-language-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" :href="language.url">
              <span class="ml">{{ language.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" ref="mobileNav" v-cloak>
        <div class="mobile-nav-inner">
          <nav class="slinky-menu slinky-theme-default">
            <ul>
              <li class="bns_hidden_logged_out">
                <a href="/account/"><span
                    class="text-subtitle-sm">我的帳戶</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/warehouses/"><span
                    class="text-subtitle-sm">海外倉庫</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/shipments/"><span
                    class="text-subtitle-sm">我的貨物</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a class="slinky-menu__underline" href="/account/orders/"><span
                    class="text-subtitle-sm">我的轉運單</span></a>
              </li>
              <li>
                <a href="/tutorial/"><span
                    class="text-subtitle-sm">新手教學</span></a>
              </li>
              <li>
                <a href="/pricing/"><span
                    class="text-subtitle-sm">收費說明</span></a>
              <li>
              <li>
                <a href="/redemption/"><span
                    class="text-subtitle-sm">提貨點</span></a>
              <li>
                <a href="#" class="next"><span class="text-subtitle-sm">血拼推薦</span></a>
                <ul>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">發燒話題</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">最新消息</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">編輯精選網站</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next slinky-menu__underline">
                  <span class="text-subtitle-sm">常見問題</span>
                </a>
                <ul>
                  <li>
                    <a href="/faq/"><span
                        class="text-subtitle-sm">常見問題</span></a>
                  </li>
                  <li>
                    <a href="/warehouses/"><span
                        class="text-subtitle-sm">海外倉庫一覽</span></a>
                  </li>
                  <li>
                    <a href="/restrictions/"><span
                        class="text-subtitle-sm">禁運物品</span></a>
                  </li>
                  <li>
                    <a href="/contact-us/"><span
                        class="text-subtitle-sm">聯絡我們</span></a>
                  </li>
                  <li>
                    <a href="/advantage/"><span
                        class="text-subtitle-sm">我們的優勢</span></a>
                  </li>
                  <li>
                    <a href="/insurance/"><span
                        class="text-subtitle-sm">保價服務</span></a>
                  </li>
                  <li>
                    <a href="/terms/"><span
                        class="text-subtitle-sm">使用條款</span></a>
                  </li>
                  <li>
                    <a href="/privacy/"><span
                        class="text-subtitle-sm">隱私權政策</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next">
                  <span class="text-subtitle-sm">國家及地區</span>
                  <!-- <span class="slinky-menu__title--right slinky-menu__title__flag"
                    :class="'slinky-link__icon icon-flag-' + $BUYANDSHIP.settings.current_country + '-md'"></span> -->
                  <img
                    class="slinky-menu__title--right slinky-menu__title__flag slinky-link__icon"
                    :src="$BUYANDSHIP.settings.all_countries[$BUYANDSHIP.settings.current_country].flag"
                    :alt="'flag_' + $BUYANDSHIP.settings.current_country"
                  >
                </a>
                <ul>
                  <li v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-m-' + iso">
                    <a :href="country.url">
                      <img
                        class="slinky-link__icon"
                        :src="country.flag"
                        :alt="'flag_' + country.name"
                      >
                      <span class="slinky-link__desc text-subtitle-sm ml">{{ country.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://mo.buynship.com/">
                      <i class="slinky-link__icon icon-flag-mo-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳門</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.today/">
                      <i class="slinky-link__icon icon-flag-hk-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">香港</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.cn/">
                      <i class="slinky-link__icon icon-flag-cn-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">中國</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.co.jp/">
                      <i class="slinky-link__icon icon-flag-jp-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">日本</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://au.buynship.com/">
                      <i class="slinky-link__icon icon-flag-au-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳洲</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.sg/">
                      <i class="slinky-link__icon icon-flag-sg-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">新加坡</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.my/">
                      <i class="slinky-link__icon icon-flag-my-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">馬來西亞</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.in/">
                      <i class="slinky-link__icon icon-flag-in-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">印度</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://ae.buynship.com/">
                      <i class="slinky-link__icon icon-flag-ae-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">阿聯酋</span>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li v-if="Object.keys(languageObj).length > 1">
                <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
                <ul>
                  <li v-for="(language, iso) in languageObj" :key="'header-language-selector-m-' + iso">
                    <a :href="language.url">
                      <span class="text-subtitle-sm">{{ language.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#"><span>English</span></a>
                  </li>
                  <li>
                    <a href="#"><span>繁體中文</span></a>
                  </li>
                  <li>
                    <a href="#"><span>簡体中文</span></a>
                  </li> -->
                </ul>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/login?action=logout">
                  <span class="text-subtitle-sm">登出</span>
                  <span class="slinky-menu__title--right bs-icon-logout"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-nav-spacer">
          <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
        </div>
      </aside>

      <transition name="opacity" v-cloak>
        <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
      </transition>

    </div>

    <!-- <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password> -->

    <!-- WP:start -->
    <link rel="stylesheet" href="../assets/css/pricing.css?7c46fb9bd2472cc81461">

    <div id="bs-alert" v-cloak>
      <bs-alert type="warning" show>
        <div>因疫情嚴重影響全球空運，導致到貨時間無法準確預估，且線上客服訊息量暴增，需較長時間回覆，懇請耐心等待 <a href="https://bit.ly/2ST9jmH">(點我看最新公告)</a></div>
      </bs-alert>
    </div>


<main id="bsMain" class="main pricing">
  <div class="banner">
    <div class="bs-container">
      <div class="banner-title text-subtitle-lg">
        實重收費，不計材積
      </div>
      <div class="banner-subtitle">
        我們以實重收費，支援合併貨物為單一運單為你節省高昂運費
      </div>
    </div>
  </div>
  <article class="bs-container bs-container--paddingV" v-cloak>
    <div class="main-title text-h6">
      收費說明
    </div>
    <div class="main-subtitle text-caption">
      所有費用皆已包含國際空運及宅配到府，沒有任何隱藏收費、安全可靠
    </div>
    <div class="scheme" v-cloak>
      <div class="scheme-section scheme-tabs">
        <bs-tabs v-cloak>
          <bs-tab :is-underLine="currentTab === 'USA'" @click="currentTab = 'USA'">
            <div class="icon-earth"></div>
            <div class="bs-tab-desc text-subtitle-sm">美國</div>
          </bs-tab>
          <bs-tab :is-underLine="currentTab === 'Europe'" @click="currentTab = 'Europe'">
            <div class="icon-earth"></div>
            <div class="bs-tab-desc text-subtitle-sm">歐洲</div>
          </bs-tab>
          <bs-tab :is-underLine="currentTab === 'Asia'" @click="currentTab = 'Asia'">
            <div class="icon-earth"></div>
            <div class="bs-tab-desc text-subtitle-sm">亞洲</div>
          </bs-tab>
          <bs-tab :is-underLine="currentTab === 'Australia'" @click="currentTab = 'Australia'">
            <div class="icon-earth"></div>
            <div class="bs-tab-desc text-subtitle-sm">澳洲</div>
          </bs-tab>
        </bs-tabs>
      </div>
      <article class="flip-list-item" v-show="currentTab === 'Europe'" key="Europe">
        <section class="scheme-card-container">
          <div class="scheme-card">
            <div class="scheme-section scheme-flags">
              <bs-flags-container
                :flag-list="[
                  {
                    iso: 'uk',
                    name: '英國',
                  },
                  {
                    iso: 'it',
                    name: '義大利',
                  },
                ]"
              >
              </bs-flags-container>
            </div>

            <div class="scheme-card-row-wrap">
              <div class="scheme-card-row"> <!--scheme-card-row--hasdDesc-->
                <div class="scheme-card-row-title text-body-sm">
                  宅配
                </div>
                <div class="scheme-card-row-price"> <!--scheme-card-row-price--more-->
                  <div class="scheme-card-row-price-cost text-h4">
                    <span class="scheme-card-row-price-cost-before">$80</span>
                    <span class="scheme-card-row-price-cost-after">$150</span>
                  </div>
                  <div class="scheme-card-row-price-remark text-notice">每磅 (NT$)</div>
                </div>
              </div>
              <div class="scheme-card-row"> <!--scheme-card-row--hasdDesc-->
                <div class="scheme-card-row-title text-body-sm">
                  提貨點
                  <img class="scheme-card-row-tag" alt="new" src="/assets/img/badge_new.png" srcset="
                    /assets/img/badge_new.png 1x,
                    /assets/img/badge_new@2x.png 2x,
                    /assets/img/badge_new@3x.png 3x
                  ">
                </div>
                <div class="scheme-card-row-price"> <!--scheme-card-row-price--more-->
                  <div class="scheme-card-row-price-cost text-h4">$140</div>
                  <div class="scheme-card-row-price-remark text-notice">每磅 (NT$)</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="scheme-section scheme-info">
          <input class="scheme-info-field" id="scheme-info-field--Europe" type="checkbox">
          <label class="scheme-info-straw" for="scheme-info-field--Europe">
            <span class="icon-info"></span>
            <span class="text-subtitle-sm scheme-info-straw_title">貨物限制</span>
            <span class="icon-pricing-arrow-down"></span>
          </label>
          <div class="scheme-info-centent">
            為減少清關問題，我們會開箱檢查您的貨物，並按情況對貨物進行重新包裝或更換原外箱
            <ul class="scheme-info-centent-list">
              <li>每個貨物追蹤編號（Tracking Number）不可超過 44 磅</li>
              <li>如單獨的貨物已多於 22 磅，將不能與其他貨物進行合併轉運，而單獨的貨物不可超過 44 磅</li>
              <li>合併後的包裹長寬高其中一邊不可超過 80CM、或長寬高三邊總和不可超過 150CM</li>
              <li>義大利倉庫貨物長寬高其中一邊不可超過 50CM、或長寬高三邊總和不可超過 100CM**</li>
              <li>體積重與實重比例超過5倍</li>
              <li>體積重計算方法：(長cm X 寬cm X 高cm) / 6000 X 2.2046</li>
              <li>如超出以上其中一項限制，有機會需要付出額外費用，或被倉庫拒收無法寄出</li>
            </ul>
          </div>
        </section>
      </article>
      <article class="flip-list-item" v-show="currentTab === 'USA'" key="USA">
        <section class="scheme-card-container">
          <div class="scheme-card">
            <div class="scheme-section scheme-flags">
              <bs-flags-container
                :flag-list="[
                  {
                    iso: 'us',
                    name: '美國',
                  },
                ]"
              >
              </bs-flags-container>
            </div>
            <div class="scheme-card-row-wrap">
              <div class="scheme-card-row"> <!--scheme-card-row--hasdDesc-->
                <div class="scheme-card-row-title text-body-sm">
                  宅配
                </div>
                <div class="scheme-card-row-price"> <!--scheme-card-row-price--more-->
                  <div class="scheme-card-row-price-cost text-h4">$150</div>
                  <div class="scheme-card-row-price-remark text-notice">每磅 (NT$)</div>
                </div>
              </div>

              <div class="scheme-card-row"> <!--scheme-card-row--hasdDesc-->
                <div class="scheme-card-row-title text-body-sm">
                  提貨點
                  <img class="scheme-card-row-tag" alt="new" src="/assets/img/badge_new.png" srcset="
                    /assets/img/badge_new.png 1x,
                    /assets/img/badge_new@2x.png 2x,
                    /assets/img/badge_new@3x.png 3x
                  ">
                </div>
                <div class="scheme-card-row-price"> <!--scheme-card-row-price--more-->
                  <div class="scheme-card-row-price-cost text-h4">$140</div>
                  <div class="scheme-card-row-price-remark text-notice">每磅 (NT$)</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="scheme-section scheme-info">
          <input class="scheme-info-field" id="scheme-info-field--USA" type="checkbox">
          <!-- <div class="scheme-info-straw"> -->
          <label class="scheme-info-straw" for="scheme-info-field--USA">
            <span class="icon-info"></span>
            <span class="text-subtitle-sm scheme-info-straw_title">貨物限制</span>
            <span class="icon-pricing-arrow-down"></span>
          </label>
          <!-- </div> -->
          <div class="scheme-info-centent">
            為減少清關問題，我們會開箱檢查您的貨物，並按情況對貨物進行重新包裝或更換原外箱
            <ul class="scheme-info-centent-list">
              <li>每個貨物追蹤編號（Tracking Number）不可超過 44 磅</li>
              <li>如單獨的貨物已多於 22 磅，將不能與其他貨物進行合併轉運，而單獨的貨物不可超過 44 磅</li>
              <li>合併後的包裹長寬高其中一邊不可超過 80CM、或長寬高三邊總和不可超過 150CM</li>
              <li>體積重與實重比例超過5倍</li>
              <li>體積重計算方法：(長cm X 寬cm X 高cm) / 6000 X 2.2046</li>
              <li>如超出以上其中一項限制，有機會需要付出額外費用，或被倉庫拒收無法寄出</li>
            </ul>
          </div>
        </section>
      </article>
      <article class="flip-list-item" v-show="currentTab === 'Asia'" key="Asia">
        <section class="scheme-card-container">
          <div class="scheme-card">
            <div class="scheme-section scheme-flags">
              <bs-flags-container
                :flag-list="[
                  {
                    iso: 'cn',
                    name: '中國',
                  },
                  {
                    iso: 'hk',
                    name: '香港',
                  },
                ]"
                >
              </bs-flags-container>
            </div>
            <div class="scheme-card-row-wrap">
              <div class="scheme-card-row"> <!--scheme-card-row--hasdDesc-->
                <div class="scheme-card-row-title text-body-sm">
                  宅配
                </div>
                <div class="scheme-card-row-price"> <!--scheme-card-row-price--more-->
                  <div class="scheme-card-row-price-cost text-h4">$100</div>
                  <div class="scheme-card-row-price-remark text-notice">每磅 (NT$)</div>
                </div>
              </div>
              <div class="scheme-card-row"> <!--scheme-card-row--hasdDesc-->
                <div class="scheme-card-row-title text-body-sm">
                  提貨點
                  <img class="scheme-card-row-tag" alt="new" src="/assets/img/badge_new.png" srcset="
                    /assets/img/badge_new.png 1x,
                    /assets/img/badge_new@2x.png 2x,
                    /assets/img/badge_new@3x.png 3x
                  ">
                </div>
                <div class="scheme-card-row-price"> <!--scheme-card-row-price--more-->
                  <div class="scheme-card-row-price-cost text-h4">$90</div>
                  <div class="scheme-card-row-price-remark text-notice">每磅 (NT$)</div>
                </div>
              </div>
            </div>
          </div>

          <div class="scheme-card">
            <div class="scheme-section scheme-flags">
              <bs-flags-container
                :flag-list="[
                  {
                    iso: 'jp',
                    name: '日本',
                  },
                  {
                    iso: 'kr',
                    name: '韓國',
                  },
                  {
                    iso: 'th',
                    name: '泰國',
                  },
                  {
                    iso: 'it',
                    name: '義大利',
                  },
                ]"
              >
              </bs-flags-container>
            </div>
            <div class="scheme-card-row-wrap">
              <div class="scheme-card-row"> <!--scheme-card-row--hasdDesc-->
                <div class="scheme-card-row-title text-body-sm">
                  宅配
                </div>
                <div class="scheme-card-row-price"> <!--scheme-card-row-price--more-->
                  <div class="scheme-card-row-price-cost text-h4">$120</div>
                  <div class="scheme-card-row-price-remark text-notice">每磅 (NT$)</div>
                </div>
              </div>
              <div class="scheme-card-row"> <!--scheme-card-row--hasdDesc-->
                <div class="scheme-card-row-title text-body-sm">
                  提貨點
                  <img class="scheme-card-row-tag" alt="new" src="/assets/img/badge_new.png" srcset="
                    /assets/img/badge_new.png 1x,
                    /assets/img/badge_new@2x.png 2x,
                    /assets/img/badge_new@3x.png 3x
                  ">
                </div>
                <div class="scheme-card-row-price"> <!--scheme-card-row-price--more-->
                  <div class="scheme-card-row-price-cost text-h4">$110</div>
                  <div class="scheme-card-row-price-remark text-notice">每磅 (NT$)</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="scheme-section scheme-info">
          <input class="scheme-info-field" id="scheme-info-field--Asia" type="checkbox">
          <label for="scheme-info-field--Asia" class="scheme-info-straw">
            <span class="icon-info"></span>
            <span class="text-subtitle-sm scheme-info-straw_title">貨物限制</span>
            <span class="icon-pricing-arrow-down"></span>
          </label>
          <div class="scheme-info-centent">
            為減少清關問題，我們會開箱檢查您的貨物，並按情況對貨物進行重新包裝或更換原外箱
            <ul class="scheme-info-centent-list">
              <li>每個貨物追蹤編號（Tracking Number）不可超過 44 磅</li>
              <li>如單獨的貨物已多於 22 磅，將不能與其他貨物進行合併轉運，而單獨的貨物不可超過 44 磅</li>
              <li>合併後的包裹長寬高其中一邊不可超過 80CM、或長寬高三邊總和不可超過 150CM</li>
              <li>泰國倉庫貨物長寬高其中一邊不可超過 50CM、或長寬高三邊總和不可超過 100CM**</li>
              <li>體積重與實重比例超過5倍</li>
              <li>體積重計算方法：(長cm X 寬cm X 高cm) / 6000 X 2.2046</li>
              <li>如超出以上其中一項限制，有機會需要付出額外費用，或被倉庫拒收無法寄出</li>
            </ul>
          </div>
        </section>
      </article>
      <article class="flip-list-item" v-show="currentTab === 'Australia'" key="Australia">
        <section class="scheme-card-container">
          <div class="scheme-card">
            <div class="scheme-section scheme-flags">
              <bs-flags-container
                :flag-list="[
                  {
                    iso: 'au',
                    name: '澳洲',
                  },
                ]"
              >
              </bs-flags-container>
            </div>
            <div class="scheme-card-row-wrap">
              <div class="scheme-card-row"> <!--scheme-card-row--hasdDesc-->
                <div class="scheme-card-row-title text-body-sm">
                  宅配
                </div>
                <div class="scheme-card-row-price"> <!--scheme-card-row-price--more-->
                  <div class="scheme-card-row-price-cost text-h4">$120</div>
                  <div class="scheme-card-row-price-remark text-notice">每磅 (NT$)</div>
                </div>
              </div>

              <div class="scheme-card-row"> <!--scheme-card-row--hasdDesc-->
                <div class="scheme-card-row-title text-body-sm">
                  提貨點
                  <img class="scheme-card-row-tag" alt="new" src="/assets/img/badge_new.png" srcset="
                    /assets/img/badge_new.png 1x,
                    /assets/img/badge_new@2x.png 2x,
                    /assets/img/badge_new@3x.png 3x
                  ">
                </div>
                <div class="scheme-card-row-price"> <!--scheme-card-row-price--more-->
                  <div class="scheme-card-row-price-cost text-h4">$110</div>
                  <div class="scheme-card-row-price-remark text-notice">每磅 (NT$)</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="scheme-section scheme-info">
          <input class="scheme-info-field" id="scheme-info-field--Australia" type="checkbox">
          <label for="scheme-info-field--Australia" class="scheme-info-straw">
            <span class="icon-info"></span>
            <span class="text-subtitle-sm scheme-info-straw_title">貨物限制</span>
            <span class="icon-pricing-arrow-down"></span>
          </label>
          <div class="scheme-info-centent">
            為減少清關問題，我們會開箱檢查您的貨物，並按情況對貨物進行重新包裝或更換原外箱
            <ul class="scheme-info-centent-list">
              <li>每個貨物追蹤編號（Tracking Number）不可超過 44 磅</li>
              <li>如單獨的貨物已多於 22 磅，將不能與其他貨物進行合併轉運，而單獨的貨物不可超過 44 磅</li>
              <li>合併後的包裹長寬高其中一邊不可超過 80CM、或長寬高三邊總和不可超過 150CM</li>
              <li>澳洲倉庫貨物長寬高其中一邊不可超過 50CM、或長寬高三邊總和不可超過 100CM**</li>
              <li>體積重與實重比例超過5倍</li>
              <li>體積重計算方法：(長cm X 寬cm X 高cm) / 6000 X 2.2046</li>
              <li>如超出以上其中一項限制，有機會需要付出額外費用，或被倉庫拒收無法寄出</li>
            </ul>
          </div>
        </section>
      </article>
    </div>

    <a class="app-refer-calculator" v-if="isApp" href="https://buyandship/inapp/pricing-calculator/">
      <div>
        <span class="app-refer-calculator-desc text-subtitle-sm">運費計算器</span>
      </div>
      <span class="icon-pricing-arrow-right"></span>
    </a>
    <bs-calculator
      v-else
      :rate="rate"
      :warehouses="warehouses"
      :deliveries="deliveries"
    >
      <template #title>運費計算器</template>
      <template #subtitle>Buyandship 國際網購代運以貨物重量計算運費，貨物大小及數量不在計算範圍内。</template>
      <template #tool-title>計算運費</template>
      <template #unit-kg>公斤</template>
      <template #unit-lb>磅</template>
      <template #total>總收費</template>
      <template #total-unit>NT $</template>
      <template #total-chargeable>收費重 (磅)： </template>
    </bs-calculator>

    <div class="info">
      <div class="info-title text-subtitle-sm">
        更多資訊
      </div>
      <div class="info-media">
        <div class="info-media-inner">
          <bs-slideshow
  :per-page="3"
  :list="warehouseGallery"
  @on-click-card=""
  v-cloak
></bs-slideshow>

<script>
  var warehouseGallery = [
    {
      image: "/assets/img/warehouse/US_01_570x380.jpg",
      desc: '美國波特蘭(免稅)自營倉庫'
    },
    {
      image: "/assets/img/warehouse/JP_01_570x380.jpg",
      desc: '日本千葉自營倉庫'
    },
    {
      image: "/assets/img/dedicated/AU_570x380.jpg",
      desc: '澳洲雪梨專用倉庫'
    },
    {
      image: "/assets/img/dedicated/CN_570x380.png",
      desc: '中國東莞專用倉庫'
    },
    {
      image: "/assets/img/dedicated/it_570x380.jpg",
      desc: '義大利米蘭專用倉庫'
    },
    {
      image: "/assets/img/dedicated/KR_570x380.jpg",
      desc: '韓國專用倉庫'
    },
    {
      image: "/assets/img/dedicated/th_570x380.jpg",
      desc: '泰國曼谷專用倉庫'
    },
    {
      image: "/assets/img/dedicated/TW_570x380.jpg",
      desc: '台灣台北專用倉庫'
    },
    {
      image: "/assets/img/dedicated/UK_570x380.jpg",
      desc: '英國樸茨茅夫專用倉庫'
    },
  ];
</script>

        </div>
      </div>
    </div>
    <div class="notice">
      <span class="icon-info"></span>
      <span class="ml caculator-remark">
        要找出最適合的收件倉庫，請參閱
        <a class="caculator-remark-link"
          href="/warehouses">海外倉庫一覽</a>
         頁面
      </span>
    </div>
    <div v-if="!isApp" class="section section--perks">
      <div class="section-title text-h6">BUYANDSHIP 的收費優勢</div>
      <div class="fluid">
        <div class="fluid-item">
          <div class="icon-pricing-consolidation"></div>
          <div class="fluid-item-title text-h6">免費合併不同國家的貨物</div>
          <p class="fluid-item-content">貨物到達香港倉庫後可存放 30 天，待不同國家貨物到達再自行合併，正常約 3-4 個工作天宅配到府</p>
        </div>
        <div class="fluid-item">
          <div class="icon-pricing-pay"></div>
          <div class="fluid-item-title text-h6">實重收費</div>
          <p class="fluid-item-content">採取多國貨物統一以實重收費，以貨物送達香港倉庫時的個別重量作為收費標準（「收費重量」不足 1 磅以 1 磅計算）</p>
        </div>
        <div class="fluid-item">
          <div class="icon-pricing-reward"></div>
          <div class="fluid-item-title text-h6">積分獎賞計劃賺取回贈</div>
          <p class="fluid-item-content">透過參與各種積分獎賞計劃，或以折扣價格購買積分，會員可獲得回贈以折抵運費支出。</p>
        </div>
      </div>
    </div>
    <div class="section section--reminder">
      <div class="section-title text-h6">多國倉庫合併計算方法</div>
      <div class="fluid">
        <div class="fluid-item">
          <div class="icon-pricing-weight"></div>
          <div class="fluid-item-title text-h6">「重量」計算方法</div>
          <p class="fluid-item-content">例如於美國、英國、韓國及香港一共購買了 5 個貨物，總「收費重量」不足 1 磅以 1 磅計算。</p>
          <p class="fluid-item-content">最終「收費重量」為：產品 A (1.2磅) + 產品 B (1.2磅) + 產品 C (1.2磅) =總「收費重量」為 4（3.6) 磅</p>
        </div>
        <div class="fluid-item">
          <div class="icon-pricing-parcel"></div>
          <div class="fluid-item-title text-h6">「運費」計算方法</div>
          <p class="fluid-item-content">合併不同國家倉庫貨物，將以每磅運費較高者計價；合併相同國家貨物，則以該國運費價格計算。</p>
          <p class="fluid-item-content">範例1：美國貨件(每磅150元)＋日本貨件(每磅120元)，合併後以每磅 150元 計價</p>
          <p class="fluid-item-content">範例2：日本貨件(每磅120元)＋日本貨件(每磅120元)，合併後以每磅 120元 計價</p>
        </div>
        <div class="fluid-item">
          <div class="icon-pricing-other"></div>
          <div class="fluid-item-title text-h6">其他收費</div>
          <p class="fluid-item-content">退件：只限無法送到香港的問題貨物，每個 Tracking Number 手續費為 NT$200。如退貨需要運費，則須額外收費。</p>
        </div>
      </div>
    </div>
    <!-- TODO: add back when app hava caculator guide -->
    <!-- <a v-if="isApp" class="app-refer-features" href="https://buyandship/inapp/pricing-guide">
      了解更多
    </a> -->
  </article>
  <template v-if="!isApp">
    <div class="register-footer bns_hidden_logged_in" style="margin-top: 0;" v-cloak>
  <div class="bs-container">
    <div class="register-footer-title">新會員註冊 NT.120 運費積分大方送</div>
    <p class="register-footer-notice mb-2x">準備好一起 Buyandship 了嗎?</p>
    <a class="bs-button register-signup bs-button--primary bs-button--md" href="/signup/">
      點我註冊會員
    </a>
  </div>
</div>

  </template>
</main>

<script>
  var warehouses = [
    {
      id: "us",
      delivery: "warehouse-4px-uspdx",
      text: "美國"
    },
    {
      id: "uk",
      delivery: "warehouse-chukou-portsmouth",
      text: "英國"
    },
    {
      id: "it",
      delivery: "warehouse-bnsit-milan",
      text: "義大利"
    },
    {
      id: "jp",
      delivery: "warehouse-qs-osaka",
      text: "日本"
    },
    {
      id: "kr",
      delivery: "warehouse-kas-seoul",
      text: "韓國"
    },
    {
      id: "au",
      delivery: "warehouse-bnsau-sydney",
      text: "澳洲"
    },
    {
      id: "th",
      delivery: "warehouse-bnsth-bangkok",
      text: "泰國"
    },
    {
      id: "hk",
      delivery: "warehouse-bns-hk",
      text: "香港"
    },
    {
      id: "cn",
      delivery: "warehouse-lht-dongguan",
      text: "中國"
    },
  ];

  var deliveries = [
    {
      id: "address-type-delivery",
      text: "宅配地址 (住所地址)"
    },
    {
      id: "address-type-self-bnstw-0001",
      text: "提貨點"
    },
  ];
</script>
<script>
window.onload = function() {
  var pageJs = document.createElement('script')
  pageJs.src = "../assets/js/pricing.js?7c46fb9bd2472cc81461"
  document.body.appendChild(pageJs)
  var pageJs = document.createElement('script')
  pageJs.src = 
  document.body.appendChild(pageJs)
}
</script>
<!-- <script defer src="../assets/js/pricing.js?7c46fb9bd2472cc81461"></script> -->

<!-- WP:end -->

<footer id="bsFooter" class="bs-footer" v-cloak>
  <div class="footer-graphic" v-if="isShowGraphic">
    <picture>
      <source media="(max-width: 1199px)" srcset="
          /assets/img/footer_768px.png 1x,
          /assets/img/footer_768px@2x.png 2x,
          /assets/img/footer_768px@3x.png 3x
        " sizes="100vw">
      <source media="(min-width: 1200px)" srcset="
          /assets/img/footer_1440px.png 1440w,
          /assets/img/footer_1440px@2x.png 2880w,
          /assets/img/footer_1440px@3x.png 4320w
        " sizes="100vw">
      <img class="footer-graphic-media" src="/assets/img/footer_1440px.png" alt="cat is shipping">
    </picture>
  </div>
  <div class="bs-container">
    <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }">
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">血拼推薦</div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">發燒話題</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">最新消息</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">代運資訊</div>
        <div class="footer-nav-group-item">
          <a href="/tutorial/">新手教學</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/pricing/">收費說明</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/advantage/">我們的優勢</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">關於我們</div>
        <div class="footer-nav-group-item">
          <a href="/about-us/">關於 Buyandship</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/warehouses/">海外倉庫一覽</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/contact-us/">聯絡我們</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
        <div class="footer-social">
          <div class="footer-social-box">
            <a class="footer-social-box-link" target="_blank" href="https://www.facebook.com/buyandship.com.tw">
              <i class="bs-icon">
                <span class="bs-icon-facebook"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.instagram.com/buyandship.tw">
              <i class="bs-icon">
                <span class="bs-icon-instagram"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-youtube"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-weibo"></span>
              </i>
            </a>
            <!-- <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-wechat"></span>
              </i>
            </a> -->
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-twitter"></span>
              </i>
            </a>
          </div>
        </div>
        <div class="footer-location">
          <div class="footer-location-icon">
            <i class="bs-icon-environment" style="margin-left: -6px;"></i>
          </div>
          <div class="footer-location-desc">香港總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
        </div>
        <div class="footer-download">
          <a class="footer-download-link" target="_blank" href="https://apps.apple.com/app/buandship/id1474193162?ct=tw_site_footer&vt=lo&mt=8">
            <img class="footer-download-link-media" alt="AppStore"
              src="/assets/img/AppStore_200px@2x.png" srcset="
                /assets/img/AppStore_200px@2x.png 1x,
                /assets/img/AppStore_200px@2x.png 2x,
                /assets/img/AppStore_200px@3x.png 3x
              ">
          </a>
          <a class="footer-download-link" target="_blank" href="https://qrgo.page.link/9Jxct">
            <img class="footer-download-link-media" alt="GooglePlay"
              src="/assets/img/GooglePlay_200px@2x.png" srcset="
                /assets/img/GooglePlay_200px@2x.png 1x,
                /assets/img/GooglePlay_200px@2x.png 2x,
                /assets/img/GooglePlay_200px@3x.png 3x
              ">
          </a>
        </div>
      </a-col>
    </a-row>
    <div class="footer-bottom">
      <div class="footer-country">
        <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <i class="bs-icon-country"></i>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="footer-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
      <div class="footer-copyright">
        <span class="footer-copyright-desc">© 2019 E-BUY GLOBAL LIMITED</span>
        <a class="footer-copyright-link"
          href="/terms/">使用條款</a>
        <a class="footer-copyright-link"
          href="/privacy/">隱私權政策</a>
      </div>
    </div>
  </div>
</footer>

</div> <!-- end class="layout" -->

<script src="../assets/js/common.js?7c46fb9bd2472cc81461"></script>

</body>

</html>

