<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>insurance</title>
  <link rel="stylesheet" href="../assets/css/common.css?7c46fb9bd2472cc81461">
  
  <script type="text/javascript" src="https://www.buyandship.com.tw/wp-includes/js/jquery/jquery.js?ver=1.12.4">
  </script>
  
</head>

<body>

  <div class="layout">

    <div id="bsHeader">
      <header class="bs-header">
  <div class="header-l">
    <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
    <a class="header-logo" href="/">
      <img class="header-logo-image" alt="logo" src="/assets/img/company_logo_dark.png" srcset="
            /assets/img/company_logo_dark.png 1x,
            /assets/img/company_logo_dark@2x.png 2x,
            /assets/img/company_logo_dark@3x.png 3x
          ">
      <img class="header-logo-image-sm" alt="logo" src="/assets/img/company_logo_box.png" srcset="
            /assets/img/company_logo_box.png 1x,
            /assets/img/company_logo_box@2x.png 2x,
            /assets/img/company_logo_box@3x.png 3x
          ">
    </a>
    <nav class="header-nav">
      <div class="header-nav-item header-nav-item--more">
        <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <div class="bs-icon-country"></div>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="header-nav-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="header-r">
    <bs-nav>
      <bs-nav-item v-cloak name="新手教學" link="/tutorial/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="收費說明" link="/pricing/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="提貨點" link="/redemption/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="血拼推薦">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">發燒話題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">最新消息</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">編輯精選網站</a>
      </bs-nav-item>
      <bs-nav-item v-cloak name="常見問題">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/faq/">常見問題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/warehouses/">海外倉庫一覽</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/restrictions/">禁運物品</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/contact-us/">聯絡我們</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/advantage/">我們的優勢</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/insurance/">保價服務</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/terms/">使用條款</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/privacy/">隱私權政策</a>
      </bs-nav-item>
    </bs-nav>

    <div class="header-r-member js-header-r-member bns_hidden_logged_in">
      <a class="header-member" href="/login/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">登入</span>
      </a>
      <a class="header-member-sign bs-button bs-button--primary" href="/signup/">
        註冊
      </a>
    </div>

    <div class="header-r-member js-header-r-member bns_hidden_logged_out">
      <a class="header-member header-member--m" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">你好，Christ Shui</span>
      </a>
      <a class="header-member header-member--pc" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">我的帳戶</span>
      </a>
      <aside class="header-account">
        <div class="header-account-overlay"></div>
        <ul class="header-account-list">
          <li class="header-account-list-item"><a
              href="/account/">我的帳戶</a></li>
          <li class="header-account-list-item"><a
              href="/account/profile/">個人資料</a></li>
          <li class="header-account-list-item"><a
              href="/account/warehouses/">海外倉庫</a></li>
          <li class="header-account-list-item"><a
              href="/account/shipments/">我的貨物</a></li>
          <li class="header-account-list-item"><a
              href="/account/orders/">我的轉運單</a></li>
          <li class="header-account-list-item"><a class="js-logout" href="#">登出
              <span class="header-account-list-item--right bs-icon-logout"></span>
            </a></li>
        </ul>
      </aside>
    </div>
  </div>
</header>

      <!-- <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4"
          href="/shopping/">發燒話題</a>
        <a class="text-h4" href="/shopping/">最新消息</a>
        <a class="text-h4" href="/shopping/">編輯精選網站</a>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4" href="/faq/">常見問題</a>
        <a class="text-h4" href="/warehouses/">海外倉庫一覽</a>
        <a class="text-h4" href="/restrictions/">禁運物品</a>
        <a class="text-h4" href="/contact-us/">聯絡我們</a>
        <a class="text-h4" href="/advantage/">我們的優勢</a>
        <a class="text-h4" href="/insurance/">保價服務</a>
        <a class="text-h4" href="/terms/">使用條款</a>
        <a class="text-h4" href="/privacy/">隱私權政策</a>
      </bs-nav-panel> -->
      <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇國家或地區</div>
        <a-row>
          <a-col class="country-card" :xs="12" :md="12" :xl="12" v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" href="country.url">
              <img
                :src="country.flag"
                :alt="'flag_' + country.name"
                width="30"
                height="30"
              >
              <span class="ml">{{ country.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.language" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇語言</div>
        <a-row>
          <a-col v-for="(language, iso) in languageObj" class="country-card" :xs="12" :md="12" :xl="12" :key="'header-language-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" :href="language.url">
              <span class="ml">{{ language.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" ref="mobileNav" v-cloak>
        <div class="mobile-nav-inner">
          <nav class="slinky-menu slinky-theme-default">
            <ul>
              <li class="bns_hidden_logged_out">
                <a href="/account/"><span
                    class="text-subtitle-sm">我的帳戶</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/warehouses/"><span
                    class="text-subtitle-sm">海外倉庫</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/shipments/"><span
                    class="text-subtitle-sm">我的貨物</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a class="slinky-menu__underline" href="/account/orders/"><span
                    class="text-subtitle-sm">我的轉運單</span></a>
              </li>
              <li>
                <a href="/tutorial/"><span
                    class="text-subtitle-sm">新手教學</span></a>
              </li>
              <li>
                <a href="/pricing/"><span
                    class="text-subtitle-sm">收費說明</span></a>
              <li>
              <li>
                <a href="/redemption/"><span
                    class="text-subtitle-sm">提貨點</span></a>
              <li>
                <a href="#" class="next"><span class="text-subtitle-sm">血拼推薦</span></a>
                <ul>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">發燒話題</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">最新消息</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">編輯精選網站</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next slinky-menu__underline">
                  <span class="text-subtitle-sm">常見問題</span>
                </a>
                <ul>
                  <li>
                    <a href="/faq/"><span
                        class="text-subtitle-sm">常見問題</span></a>
                  </li>
                  <li>
                    <a href="/warehouses/"><span
                        class="text-subtitle-sm">海外倉庫一覽</span></a>
                  </li>
                  <li>
                    <a href="/restrictions/"><span
                        class="text-subtitle-sm">禁運物品</span></a>
                  </li>
                  <li>
                    <a href="/contact-us/"><span
                        class="text-subtitle-sm">聯絡我們</span></a>
                  </li>
                  <li>
                    <a href="/advantage/"><span
                        class="text-subtitle-sm">我們的優勢</span></a>
                  </li>
                  <li>
                    <a href="/insurance/"><span
                        class="text-subtitle-sm">保價服務</span></a>
                  </li>
                  <li>
                    <a href="/terms/"><span
                        class="text-subtitle-sm">使用條款</span></a>
                  </li>
                  <li>
                    <a href="/privacy/"><span
                        class="text-subtitle-sm">隱私權政策</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next">
                  <span class="text-subtitle-sm">國家及地區</span>
                  <!-- <span class="slinky-menu__title--right slinky-menu__title__flag"
                    :class="'slinky-link__icon icon-flag-' + $BUYANDSHIP.settings.current_country + '-md'"></span> -->
                  <img
                    class="slinky-menu__title--right slinky-menu__title__flag slinky-link__icon"
                    :src="$BUYANDSHIP.settings.all_countries[$BUYANDSHIP.settings.current_country].flag"
                    :alt="'flag_' + $BUYANDSHIP.settings.current_country"
                  >
                </a>
                <ul>
                  <li v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-m-' + iso">
                    <a :href="country.url">
                      <img
                        class="slinky-link__icon"
                        :src="country.flag"
                        :alt="'flag_' + country.name"
                      >
                      <span class="slinky-link__desc text-subtitle-sm ml">{{ country.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://mo.buynship.com/">
                      <i class="slinky-link__icon icon-flag-mo-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳門</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.today/">
                      <i class="slinky-link__icon icon-flag-hk-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">香港</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.cn/">
                      <i class="slinky-link__icon icon-flag-cn-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">中國</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.co.jp/">
                      <i class="slinky-link__icon icon-flag-jp-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">日本</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://au.buynship.com/">
                      <i class="slinky-link__icon icon-flag-au-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳洲</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.sg/">
                      <i class="slinky-link__icon icon-flag-sg-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">新加坡</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.my/">
                      <i class="slinky-link__icon icon-flag-my-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">馬來西亞</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.in/">
                      <i class="slinky-link__icon icon-flag-in-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">印度</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://ae.buynship.com/">
                      <i class="slinky-link__icon icon-flag-ae-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">阿聯酋</span>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li v-if="Object.keys(languageObj).length > 1">
                <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
                <ul>
                  <li v-for="(language, iso) in languageObj" :key="'header-language-selector-m-' + iso">
                    <a :href="language.url">
                      <span class="text-subtitle-sm">{{ language.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#"><span>English</span></a>
                  </li>
                  <li>
                    <a href="#"><span>繁體中文</span></a>
                  </li>
                  <li>
                    <a href="#"><span>簡体中文</span></a>
                  </li> -->
                </ul>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/login?action=logout">
                  <span class="text-subtitle-sm">登出</span>
                  <span class="slinky-menu__title--right bs-icon-logout"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-nav-spacer">
          <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
        </div>
      </aside>

      <transition name="opacity" v-cloak>
        <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
      </transition>

    </div>

    <!-- <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password> -->

    <!-- WP:start -->
    <link rel="stylesheet" href="../assets/css/insurance.css?7c46fb9bd2472cc81461">

    <div id="bs-alert" v-cloak>
      <bs-alert type="warning" show>
        <div>因疫情嚴重影響全球空運，導致到貨時間無法準確預估，且線上客服訊息量暴增，需較長時間回覆，懇請耐心等待 <a href="https://bit.ly/2ST9jmH">(點我看最新公告)</a></div>
      </bs-alert>
    </div>


<main id="bsMain" class="main">
  <div class="bs-banner">
    <div class="bs-container">
      <div class="bs-banner-title">
        了解Buyandship的保價服務及索償流程
      </div>
    </div>
  </div>
  <article class="bs-container bs-container--paddingV">
    <div class="main-title text-h6">
      貨物保價服務
    </div>
    <div class="scheme" v-cloak>
      <div class="scheme-section scheme-tabs">
        <bs-tabs v-cloak>
          <bs-tab :is-underLine="currentTab === 'Basic'" @click="currentTab = 'Basic'">
            <div class="insurance-icon-basic scheme-tabs-icon"></div>
            <div class="bs-tab-desc text-subtitle-sm">免費保價服務</div>
          </bs-tab>
          <bs-tab :is-underLine="currentTab === 'Enhanced'" @click="currentTab = 'Enhanced'">
            <div class="insurance-icon-advanced scheme-tabs-icon"></div>
            <div class="bs-tab-desc text-subtitle-sm">額外遺失保價服務</div>
          </bs-tab>
      </div>
      <article class="flip-list-item" v-show="currentTab === 'Basic'" key="Basic">
        <a-row :gutter="{ xs: 0, md: 24, lg: 24 }" v-cloak>
          <a-col :xs="24" :md="8" :xl="8">
            <section class="scheme-section scheme-info">
              <div class="scheme-info__title">
                <div class="insurance-icon-coverage scheme-info__title__icon"></div>
                <div class="text-subtitle-sm scheme-info__title__text">免費保價服務
                </div>
              </div>
              <ul class="scheme-info__list">
                <li>適合所有以 Buyandship 代運貨物的客戶，所有貨物均受保障</li>
                <li>每件貨物最高賠償 US$100（或按匯率的同等價格外幣）</li>
                <li>按每個貨物（每個 Tracking Number）獨立計算</li>
              </ul>
            </section>
          </a-col>
          <a-col :xs="24" :md="8" :xl="8">
            <section class="scheme-section scheme-info">
              <div class="scheme-info__title">
                <div class="insurance-icon-lost scheme-info__title__icon"></div>
                <div class="text-subtitle-sm scheme-info__title__text">遺失貨物
                </div>
              </div>
              <ul class="scheme-info__list">
                <li>只限整件貨物遺失時才可索償</li>
                <li>貨物內部份產品遺失不接受任何索償</li>
                <li>沒有準確申報、虛報、瞞報之貨物不接受任何索償</li>
                <li>需提供商品購買憑證，證明產品數量及價值進行索償</li>
                <li>每件貨件最高賠償 US$100（或按匯率的同等價格外幣）</li>
              </ul>
            </section>
          </a-col>
          <a-col :xs="24" :md="8" :xl="8">
            <section class="scheme-section scheme-info">
              <div class="scheme-info__title">
                <div class="insurance-icon-damaged scheme-info__title__icon"></div>
                <div class="text-subtitle-sm scheme-info__title__text">貨物破損
                </div>
              </div>
              <ul class="scheme-info__list">
                <li>破損貨物不可正常使用，按破損比例賠償最多 30% 運費</li>
                <li>液體外漏不接受任何破損賠償</li>
                <li>易碎、容易破損及沒有合適保護之物品（如陶瓷、玻璃、液晶顯示屏、書籍、紙張、塑膠製品等）不接受任何破損賠償</li>
              </ul>
            </section>
          </a-col>
        </a-row>
      </article>
      <article class="flip-list-item" v-show="currentTab === 'Enhanced'" key="Enhanced">
        <a-row :gutter="{ xs: 0, md: 24, lg: 24 }" v-cloak>
          <a-col :xs="24" :md="8" :xl="8">
            <section class="scheme-section scheme-info">
              <div class="scheme-info__title">
                <div class="insurance-icon-coverage scheme-info__title__icon"></div>
                <div class="text-subtitle-sm scheme-info__title__text">3% 保價服務
                </div>
              </div>
              <ul class="scheme-info__list">
                <li>額外遺失保障之費用為申報貨物價值之 3%</li>
                <li>每個貨物（每個Tracking Number）最大之費用為 NT$926</li>
                <li>費用會連同運費一同收取</li>
                <li>如貨件價值低於「免費保價服務」的最高賠償額，將不會收取任何費用</li>
                <li>按每個貨件（每個 Tracking Number）獨立計算</li>
              </ul>
            </section>
          </a-col>
          <a-col :xs="24" :md="8" :xl="8">
            <section class="scheme-section scheme-info">
              <div class="scheme-info__title">
                <div class="insurance-icon-lost scheme-info__title__icon"></div>
                <div class="text-subtitle-sm scheme-info__title__text">遺失貨物
                </div>
              </div>
              <ul class="scheme-info__list">
                <li>只限整件貨物遺失時才可索償</li>
                <li>貨物內部份產品違失不接受任何索償</li>
                <li>我們不會就沒有準確申報、虛報、瞞報而引致無法全數賠償之損失負責</li>
                <li>需提供商品購買憑證，證明產品數量及價值進行索償</li>
                <li>每件貨件最高賠償 US$1,000 （或按匯率的同等價格外幣）</li>
              </ul>
            </section>
          </a-col>
          <a-col :xs="24" :md="8" :xl="8">
            <section class="scheme-section scheme-info">
              <div class="scheme-info__title">
                <div class="insurance-icon-damaged scheme-info__title__icon"></div>
                <div class="text-subtitle-sm scheme-info__title__text">貨物破損
                </div>
              </div>
              <ul class="scheme-info__list">
                <li>額外遺失保障不就貨物破損進行賠償</li>
                <li>在外包裝完好的情況下，不受理任何形式下的破損賠償</li>
                <li>外包裝盒變形、拆損、裂損，但不影響內部產品等情況下，不受理任何形式下破損賠償</li>
                <li>對於非紙箱或木箱包裝貨件，不受理任何形式下破損賠償</li>
              </ul>
            </section>
          </a-col>
        </a-row>
        <div class="scheme-section scheme-header">This new header uses 40 chars at most</div>
        <a-row :gutter="{ xs: 0, md: 24, lg: 24 }" v-cloak>
          <a-col :xs="24" :md="8" :xl="8">
            <section class="scheme-section scheme-info">
              <div class="scheme-info__title">
                <div class="insurance-icon-coverage scheme-info__title__icon"></div>
                <div class="text-subtitle-sm scheme-info__title__text">3% 保價服務
                </div>
              </div>
              <ul class="scheme-info__list">
                <li>額外遺失保障之費用為申報貨物價值之 3%</li>
                <li>每個貨物（每個Tracking Number）最大之費用為 NT$926</li>
                <li>費用會連同運費一同收取</li>
                <li>如貨件價值低於「免費保價服務」的最高賠償額，將不會收取任何費用</li>
                <li>按每個貨件（每個 Tracking Number）獨立計算</li>
              </ul>
            </section>
          </a-col>
          <a-col :xs="24" :md="8" :xl="8">
            <section class="scheme-section scheme-info">
              <div class="scheme-info__title">
                <div class="insurance-icon-lost scheme-info__title__icon"></div>
                <div class="text-subtitle-sm scheme-info__title__text">遺失貨物
                </div>
              </div>
              <ul class="scheme-info__list">
                <li>只限整件貨物遺失時才可索償</li>
                <li>貨物內部份產品違失不接受任何索償</li>
                <li>我們不會就沒有準確申報、虛報、瞞報而引致無法全數賠償之損失負責</li>
                <li>需提供商品購買憑證，證明產品數量及價值進行索償</li>
                <li>每件貨件最高賠償 US$1,000 （或按匯率的同等價格外幣）</li>
              </ul>
            </section>
          </a-col>
          <a-col :xs="24" :md="8" :xl="8">
            <section class="scheme-section scheme-info">
              <div class="scheme-info__title">
                <div class="insurance-icon-damaged scheme-info__title__icon"></div>
                <div class="text-subtitle-sm scheme-info__title__text">貨物破損
                </div>
              </div>
              <ul class="scheme-info__list">
                <li>額外遺失保障不就貨物破損進行賠償</li>
                <li>在外包裝完好的情況下，不受理任何形式下的破損賠償</li>
                <li>外包裝盒變形、拆損、裂損，但不影響內部產品等情況下，不受理任何形式下破損賠償</li>
                <li>對於非紙箱或木箱包裝貨件，不受理任何形式下破損賠償</li>
              </ul>
            </section>
          </a-col>
        </a-row>
      </article>
    </div>
    <section class="page-section page-section__title">
      <div class="text-h6">
        不承保範圍
      </div>
    </section>
    <section class="page-section">
      <div class="insurance-icon-parcels mb-0_5x page-section-icon"></div>
      <div class="text-subtitle-lg mb">
        包裹狀態
      </div>
      <div class="text-body-sm">
        <ul class="page-section-list">
          <li>危險品及<b>禁運物品</b>（<a href="https://www.buyandship.com.tw/restrictions/">按此了解更多</a>）</li>
          <li>易碎、容易破損及沒有合適保護之物品（如陶瓷、玻璃、液晶顯示屏、書籍、紙張、塑膠製品等）不接受任何破損賠償</li>
          <li>貨物本身包裝不當，沒有對產品提供合適保護，不參與破損賠償</li>
          <li>在外包裝完好的情況下，不受理任何形式下的破損賠償</li>
          <li>外包裝盒變形、拆損、裂損，但不影響內部產品等情況下，不受理任何形式下破損賠償</li>
          <li>對於非紙箱或木箱包裝貨物，不受理任何形式下破損賠償</li>
        </ul>
      </div>
    </section>
    <section class="page-section">
      <div class="insurance-icon-lost mb-0_5x page-section-icon"></div>
      <div class="text-subtitle-lg mb">
        自然災害
      </div>
      <div class="text-body-sm">
        <ul class="page-section-list">
          <li>自然損耗、本質缺陷、特性以及市價上升跌落等所引起</li>
          <li>在運輸途中由於惡劣氣候、雷電、海嘯、地震、洪水自然災害等自然災害所造成</li>
          <li>在運輸途中發生空難事故、公敵入侵、暴動、罷工或其它地區性爭執、民眾騷亂或戰爭帶來的危險</li>
          <li>任何由於溫度、濕度變化而導致</li>
        </ul>
      </div>
    </section>
    <section class="page-section">
      <div class="insurance-icon-damaged mb-0_5x page-section-icon"></div>
      <div class="text-subtitle-lg mb">
        未能預見情況
      </div>
      <div class="text-body-sm">
        <ul class="page-section-list">
          <li>任何海關、航空公司、機場或政府官員的疏忽行為，如海關退運，航班延誤等</li>
          <li>沒有準確申報、虛報、瞞報或無法提供 Tracking Number 之貨物</li>
          <li>提供錯誤的收貨標識、錯誤的預報信息，無入庫記錄或網站錯發等</li>
          <li>懷疑虛假網站及無法聯絡賣方確認</li>
          <li>沒有任何簽收或派送公司證明已派送到海外倉庫素</li>
          <li>寄件人因錯失而造成貨物丟失或寄件人所提供的文件不實</li>
          <li>客戶貨物送到我方倉庫前，貨件已存在的品質不良或數量短差</li>
          <li>由於清關時效而導致的過保質期、過保修期等不可抗拒因素</li>
        </ul>
      </div>
    </section>
    <section class="page-section page-section__title">
      <div class="text-h6">
        索償流程
      </div>
    </section>
    <a-row :gutter="{ xs: 0, md: 24, lg: 24 }" v-cloak>
      <a-col :xs="24" :md="12" :xl="12" class="pl-0">
        <section class="page-section">
          <div class="insurance-icon-secured mb-0_5x page-section-icon"></div>
          <div class="text-subtitle-lg mb">
            貨物簽收注意事項
          </div>
          <div class="text-body-sm">
            <ul class="page-section-list">
              <li>簽收前先檢查貨物外包裝是否完好，重量是否有明顯差別</li>
              <li>無論是否發現外包裝有明顯破損，簽收前都要在快遞員面前驗貨再進行簽收</li>
              <li>發現貨物破損後，請準備好購買憑證、外包裝、箱內包括、實物照片等信息，通知我們安排後續賠償工作</li>
              <li>貨物簽收需當快遞員面前簽收，如發現破損可以選擇即時拍照並拒絕收貨</li>
            </ul>
          </div>
        </section>
      </a-col>
      <a-col :xs="24" :md="12" :xl="12" class="pr-0">
        <section class="page-section">
          <div class="insurance-icon-lost mb-0_5x page-section-icon"></div>
          <div class="text-subtitle-lg mb">
            遺失貨物
          </div>
          <div class="text-body-sm">
            <ul class="page-section-list">
              <li>用戶請準備以下資料以便索償：商品購買憑證（需包括產品之數量及價值）、商家包裹發送郵件、破損的圖片（包裝內外及產品圖片）及賣家的聯絡方法</li>
              <li>以郵件的方式遞交所有資料發送郵件至 support@buyandship.com.tw，標題為「用戶姓名+運單編號+索償」。如缺少其中一項，或我們無法與賣家進行確認，我們將不會接受索償申請</li>
              <li>如我們無法與賣家進行確認，我們將不會接受索償申請</li>
              <li>用戶提供完整資料後，我們會於 7 個工作天內做出答覆</li>
              <li>用戶貨物簽收後 3 天之後，將不再接受任何索償申請</li>
              <li>貨物入轉運倉庫後超過 30 天沒有認領，並且客戶未提出索償的，不再參與索償</li>
              <li>索償完成後我們會以電郵通知收款安排</li>
            </ul>
            </ul>
          </div>
        </section>
      </a-col>
    </a-row>
  </article>
</main>

<script>
window.onload = function() {
  var pageJs = document.createElement('script')
  pageJs.src = "../assets/js/insurance.js?7c46fb9bd2472cc81461"
  document.body.appendChild(pageJs)
  var pageJs = document.createElement('script')
  pageJs.src = 
  document.body.appendChild(pageJs)
}
</script>
<!-- <script defer src="../assets/js/insurance.js?7c46fb9bd2472cc81461"></script> -->

<!-- WP:end -->

<footer id="bsFooter" class="bs-footer" v-cloak>
  <div class="footer-graphic" v-if="isShowGraphic">
    <picture>
      <source media="(max-width: 1199px)" srcset="
          /assets/img/footer_768px.png 1x,
          /assets/img/footer_768px@2x.png 2x,
          /assets/img/footer_768px@3x.png 3x
        " sizes="100vw">
      <source media="(min-width: 1200px)" srcset="
          /assets/img/footer_1440px.png 1440w,
          /assets/img/footer_1440px@2x.png 2880w,
          /assets/img/footer_1440px@3x.png 4320w
        " sizes="100vw">
      <img class="footer-graphic-media" src="/assets/img/footer_1440px.png" alt="cat is shipping">
    </picture>
  </div>
  <div class="bs-container">
    <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }">
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">血拼推薦</div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">發燒話題</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">最新消息</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">代運資訊</div>
        <div class="footer-nav-group-item">
          <a href="/tutorial/">新手教學</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/pricing/">收費說明</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/advantage/">我們的優勢</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">關於我們</div>
        <div class="footer-nav-group-item">
          <a href="/about-us/">關於 Buyandship</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/warehouses/">海外倉庫一覽</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/contact-us/">聯絡我們</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
        <div class="footer-social">
          <div class="footer-social-box">
            <a class="footer-social-box-link" target="_blank" href="https://www.facebook.com/buyandship.com.tw">
              <i class="bs-icon">
                <span class="bs-icon-facebook"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.instagram.com/buyandship.tw">
              <i class="bs-icon">
                <span class="bs-icon-instagram"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-youtube"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-weibo"></span>
              </i>
            </a>
            <!-- <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-wechat"></span>
              </i>
            </a> -->
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-twitter"></span>
              </i>
            </a>
          </div>
        </div>
        <div class="footer-location">
          <div class="footer-location-icon">
            <i class="bs-icon-environment" style="margin-left: -6px;"></i>
          </div>
          <div class="footer-location-desc">香港總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
        </div>
        <div class="footer-download">
          <a class="footer-download-link" target="_blank" href="https://apps.apple.com/app/buandship/id1474193162?ct=tw_site_footer&vt=lo&mt=8">
            <img class="footer-download-link-media" alt="AppStore"
              src="/assets/img/AppStore_200px@2x.png" srcset="
                /assets/img/AppStore_200px@2x.png 1x,
                /assets/img/AppStore_200px@2x.png 2x,
                /assets/img/AppStore_200px@3x.png 3x
              ">
          </a>
          <a class="footer-download-link" target="_blank" href="https://qrgo.page.link/9Jxct">
            <img class="footer-download-link-media" alt="GooglePlay"
              src="/assets/img/GooglePlay_200px@2x.png" srcset="
                /assets/img/GooglePlay_200px@2x.png 1x,
                /assets/img/GooglePlay_200px@2x.png 2x,
                /assets/img/GooglePlay_200px@3x.png 3x
              ">
          </a>
        </div>
      </a-col>
    </a-row>
    <div class="footer-bottom">
      <div class="footer-country">
        <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <i class="bs-icon-country"></i>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="footer-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
      <div class="footer-copyright">
        <span class="footer-copyright-desc">© 2019 E-BUY GLOBAL LIMITED</span>
        <a class="footer-copyright-link"
          href="/terms/">使用條款</a>
        <a class="footer-copyright-link"
          href="/privacy/">隱私權政策</a>
      </div>
    </div>
  </div>
</footer>

</div> <!-- end class="layout" -->

<script src="../assets/js/common.js?7c46fb9bd2472cc81461"></script>

</body>

</html>

