<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>terms</title>
  <link rel="stylesheet" href="../assets/css/common.css?7c46fb9bd2472cc81461">
  
  <script type="text/javascript" src="https://www.buyandship.com.tw/wp-includes/js/jquery/jquery.js?ver=1.12.4">
  </script>
  
</head>

<body>

  <div class="layout">

    <div id="bsHeader">
      <header class="bs-header">
  <div class="header-l">
    <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
    <a class="header-logo" href="/">
      <img class="header-logo-image" alt="logo" src="/assets/img/company_logo_dark.png" srcset="
            /assets/img/company_logo_dark.png 1x,
            /assets/img/company_logo_dark@2x.png 2x,
            /assets/img/company_logo_dark@3x.png 3x
          ">
      <img class="header-logo-image-sm" alt="logo" src="/assets/img/company_logo_box.png" srcset="
            /assets/img/company_logo_box.png 1x,
            /assets/img/company_logo_box@2x.png 2x,
            /assets/img/company_logo_box@3x.png 3x
          ">
    </a>
    <nav class="header-nav">
      <div class="header-nav-item header-nav-item--more">
        <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <div class="bs-icon-country"></div>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="header-nav-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="header-r">
    <bs-nav>
      <bs-nav-item v-cloak name="新手教學" link="/tutorial/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="收費說明" link="/pricing/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="提貨點" link="/redemption/">
      </bs-nav-item>
      <bs-nav-item v-cloak name="血拼推薦">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">發燒話題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">最新消息</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/shopping/">編輯精選網站</a>
      </bs-nav-item>
      <bs-nav-item v-cloak name="常見問題">
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/faq/">常見問題</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/warehouses/">海外倉庫一覽</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/restrictions/">禁運物品</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/contact-us/">聯絡我們</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/advantage/">我們的優勢</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/insurance/">保價服務</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/terms/">使用條款</a>
        <a class="header-nav-item-dropdown-panel-item text-h4"
          href="/privacy/">隱私權政策</a>
      </bs-nav-item>
    </bs-nav>

    <div class="header-r-member js-header-r-member bns_hidden_logged_in">
      <a class="header-member" href="/login/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">登入</span>
      </a>
      <a class="header-member-sign bs-button bs-button--primary" href="/signup/">
        註冊
      </a>
    </div>

    <div class="header-r-member js-header-r-member bns_hidden_logged_out">
      <a class="header-member header-member--m" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">你好，Christ Shui</span>
      </a>
      <a class="header-member header-member--pc" href="/account/">
        <i class="header-member-icon bs-icon-user"></i>
        <span class="header-member-icon-desc">我的帳戶</span>
      </a>
      <aside class="header-account">
        <div class="header-account-overlay"></div>
        <ul class="header-account-list">
          <li class="header-account-list-item"><a
              href="/account/">我的帳戶</a></li>
          <li class="header-account-list-item"><a
              href="/account/profile/">個人資料</a></li>
          <li class="header-account-list-item"><a
              href="/account/warehouses/">海外倉庫</a></li>
          <li class="header-account-list-item"><a
              href="/account/shipments/">我的貨物</a></li>
          <li class="header-account-list-item"><a
              href="/account/orders/">我的轉運單</a></li>
          <li class="header-account-list-item"><a class="js-logout" href="#">登出
              <span class="header-account-list-item--right bs-icon-logout"></span>
            </a></li>
        </ul>
      </aside>
    </div>
  </div>
</header>

      <!-- <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4"
          href="/shopping/">發燒話題</a>
        <a class="text-h4" href="/shopping/">最新消息</a>
        <a class="text-h4" href="/shopping/">編輯精選網站</a>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
        <a class="text-h4" href="/faq/">常見問題</a>
        <a class="text-h4" href="/warehouses/">海外倉庫一覽</a>
        <a class="text-h4" href="/restrictions/">禁運物品</a>
        <a class="text-h4" href="/contact-us/">聯絡我們</a>
        <a class="text-h4" href="/advantage/">我們的優勢</a>
        <a class="text-h4" href="/insurance/">保價服務</a>
        <a class="text-h4" href="/terms/">使用條款</a>
        <a class="text-h4" href="/privacy/">隱私權政策</a>
      </bs-nav-panel> -->
      <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇國家或地區</div>
        <a-row>
          <a-col class="country-card" :xs="12" :md="12" :xl="12" v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" href="country.url">
              <img
                :src="country.flag"
                :alt="'flag_' + country.name"
                width="30"
                height="30"
              >
              <span class="ml">{{ country.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <bs-nav-panel v-model="isShowNav.language" @on-hide="currentNav = ''" v-cloak>
        <div class="country-title text-h6">請選擇語言</div>
        <a-row>
          <a-col v-for="(language, iso) in languageObj" class="country-card" :xs="12" :md="12" :xl="12" :key="'header-language-selector-pc-' + iso">
            <a class="country-item text-subtitle-sm" :href="language.url">
              <span class="ml">{{ language.name }}</span>
            </a>
          </a-col>
        </a-row>
      </bs-nav-panel>
      <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" ref="mobileNav" v-cloak>
        <div class="mobile-nav-inner">
          <nav class="slinky-menu slinky-theme-default">
            <ul>
              <li class="bns_hidden_logged_out">
                <a href="/account/"><span
                    class="text-subtitle-sm">我的帳戶</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/warehouses/"><span
                    class="text-subtitle-sm">海外倉庫</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/account/shipments/"><span
                    class="text-subtitle-sm">我的貨物</span></a>
              </li>
              <li class="bns_hidden_logged_out">
                <a class="slinky-menu__underline" href="/account/orders/"><span
                    class="text-subtitle-sm">我的轉運單</span></a>
              </li>
              <li>
                <a href="/tutorial/"><span
                    class="text-subtitle-sm">新手教學</span></a>
              </li>
              <li>
                <a href="/pricing/"><span
                    class="text-subtitle-sm">收費說明</span></a>
              <li>
              <li>
                <a href="/redemption/"><span
                    class="text-subtitle-sm">提貨點</span></a>
              <li>
                <a href="#" class="next"><span class="text-subtitle-sm">血拼推薦</span></a>
                <ul>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">發燒話題</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">最新消息</span></a>
                  <li>
                  <li>
                    <a href="/shopping/"><span
                        class="text-subtitle-sm">編輯精選網站</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next slinky-menu__underline">
                  <span class="text-subtitle-sm">常見問題</span>
                </a>
                <ul>
                  <li>
                    <a href="/faq/"><span
                        class="text-subtitle-sm">常見問題</span></a>
                  </li>
                  <li>
                    <a href="/warehouses/"><span
                        class="text-subtitle-sm">海外倉庫一覽</span></a>
                  </li>
                  <li>
                    <a href="/restrictions/"><span
                        class="text-subtitle-sm">禁運物品</span></a>
                  </li>
                  <li>
                    <a href="/contact-us/"><span
                        class="text-subtitle-sm">聯絡我們</span></a>
                  </li>
                  <li>
                    <a href="/advantage/"><span
                        class="text-subtitle-sm">我們的優勢</span></a>
                  </li>
                  <li>
                    <a href="/insurance/"><span
                        class="text-subtitle-sm">保價服務</span></a>
                  </li>
                  <li>
                    <a href="/terms/"><span
                        class="text-subtitle-sm">使用條款</span></a>
                  </li>
                  <li>
                    <a href="/privacy/"><span
                        class="text-subtitle-sm">隱私權政策</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="next">
                  <span class="text-subtitle-sm">國家及地區</span>
                  <!-- <span class="slinky-menu__title--right slinky-menu__title__flag"
                    :class="'slinky-link__icon icon-flag-' + $BUYANDSHIP.settings.current_country + '-md'"></span> -->
                  <img
                    class="slinky-menu__title--right slinky-menu__title__flag slinky-link__icon"
                    :src="$BUYANDSHIP.settings.all_countries[$BUYANDSHIP.settings.current_country].flag"
                    :alt="'flag_' + $BUYANDSHIP.settings.current_country"
                  >
                </a>
                <ul>
                  <li v-for="(country, iso) in $BUYANDSHIP.settings.all_countries" :key="'header-country-selector-m-' + iso">
                    <a :href="country.url">
                      <img
                        class="slinky-link__icon"
                        :src="country.flag"
                        :alt="'flag_' + country.name"
                      >
                      <span class="slinky-link__desc text-subtitle-sm ml">{{ country.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.tw/">
                      <i class="slinky-link__icon icon-flag-tw-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">台灣</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://mo.buynship.com/">
                      <i class="slinky-link__icon icon-flag-mo-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳門</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.today/">
                      <i class="slinky-link__icon icon-flag-hk-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">香港</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.cn/">
                      <i class="slinky-link__icon icon-flag-cn-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">中國</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.co.jp/">
                      <i class="slinky-link__icon icon-flag-jp-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">日本</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://au.buynship.com/">
                      <i class="slinky-link__icon icon-flag-au-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">澳洲</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.sg/">
                      <i class="slinky-link__icon icon-flag-sg-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">新加坡</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.com.my/">
                      <i class="slinky-link__icon icon-flag-my-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">馬來西亞</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buyandship.in/">
                      <i class="slinky-link__icon icon-flag-in-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">印度</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://ae.buynship.com/">
                      <i class="slinky-link__icon icon-flag-ae-md"></i>
                      <span class="slinky-link__desc text-subtitle-sm ml">阿聯酋</span>
                    </a>
                  </li> -->
                </ul>
              </li>
              <li v-if="Object.keys(languageObj).length > 1">
                <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
                <ul>
                  <li v-for="(language, iso) in languageObj" :key="'header-language-selector-m-' + iso">
                    <a :href="language.url">
                      <span class="text-subtitle-sm">{{ language.name }}</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#"><span>English</span></a>
                  </li>
                  <li>
                    <a href="#"><span>繁體中文</span></a>
                  </li>
                  <li>
                    <a href="#"><span>簡体中文</span></a>
                  </li> -->
                </ul>
              </li>
              <li class="bns_hidden_logged_out">
                <a href="/login?action=logout">
                  <span class="text-subtitle-sm">登出</span>
                  <span class="slinky-menu__title--right bs-icon-logout"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-nav-spacer">
          <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
        </div>
      </aside>

      <transition name="opacity" v-cloak>
        <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
      </transition>

    </div>

    <!-- <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password> -->

    <!-- WP:start -->
    <link rel="stylesheet" href="../assets/css/terms.css?7c46fb9bd2472cc81461">

    <div id="bs-alert" v-cloak>
      <bs-alert type="warning" show>
        <div>因疫情嚴重影響全球空運，導致到貨時間無法準確預估，且線上客服訊息量暴增，需較長時間回覆，懇請耐心等待 <a href="https://bit.ly/2ST9jmH">(點我看最新公告)</a></div>
      </bs-alert>
    </div>


<main id="bsMain" class="main">
  <default-header-sticky v-cloak>
    <span>條款</span>
    <span v-show="currentTitle">&nbsp;>&nbsp;</span>
    <span class="pointer" v-show="currentTitle" @click="scrollToTitle">{{ currentTitle }}</span>
    <template slot="header-r">
      <!-- <div class="header-r">
  <div class="header-r-member bns_hidden_logged_in">
    <a class="header-member" href="/login/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">登入</span>
    </a>
    <a class="bs-button header-member-sign text-subtitle-sm bs-button--solid bs-button--primary bs-button--md"
      href="/signup/">
      註冊
    </a>
  </div>
  <div class="header-r-member bns_hidden_logged_out">
    <a class="header-member header-member--m" href="/account/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">你好，Christ Shui</span>
    </a>
    <a class="header-member header-member--pc" href="/account/">
      <i class="header-member-icon bs-icon-user-black"></i>
      <span class="header-member-icon-desc text-subtitle-sm">我的帳戶</span>
    </a>
    <aside class="header-account">
      <div class="header-account-overlay"></div>
      <ul class="header-account-list">
        <li class="header-account-list-item"><a
            href="/account/">我的帳戶</a></li>
        <li class="header-account-list-item"><a
            href="/account/profile/">個人資料</a></li>
        <li class="header-account-list-item"><a
            href="/account/warehouses/">海外倉庫</a></li>
        <li class="header-account-list-item"><a
            href="/account/shipments/">我的貨物</a></li>
        <li class="header-account-list-item"><a
            href="/account/orders/">我的轉運單</a></li>
        <li class="header-account-list-item"><a class="js-logout" href="#">登出
            <span class="header-account-list-item--right bs-icon-logout"></span>
          </a></li>
      </ul>
    </aside>
  </div>
</div>
 -->
      <div class="header-r js-inner-header-r"></div>
    </template>
  </default-header-sticky>

  <div class="bs-banner">
    <div class="bs-container">
      <div class="bs-banner-title">
        使用條款
      </div>
    </div>
  </div>
  <article class="bs-container bs-container--paddingV">
    <section class="page-section js-content-anchor" ref="mainTitle" data-title="">
      <div class="text-h6 mb">
        公司簡介
      </div>
      <p class="text-body-lg page-section-content">
        Buyandship國際網購代運 (www.buyandship.com.tw)由香港商易購全球有限公司台灣分公司 (E-Buy Global Limited Taiwan Branch) 營運管理。請您在使用Buyandship國際網購代運的任何服務之前，請先參閱使用條款或常見問題。在您使用Buyandship國際網購代運的任何服務，表示您已經詳閱並同意以下條件或條款，並同意Buyandship國際網購代運會依據這些條件或條款為您提供所有服務。
      </p>
    </section>
    <section class="page-section js-content-anchor" data-title="服務責任">
      <div class="text-subtitle-lg mb">
        服務責任
      </div>
      <p class="text-body-sm page-section-content">
        由於Buyandship國際網購代運未與銷售公司或任何購物網站達成商品的買賣關係，故Buyandship國際網購代運不承擔一切與商品相關的瑕疵、侵害知識產權等責任。如會員有證據證明貨物遺失、破損是由Buyandship國際網購代運所負責之倉儲及運輸期間所發生，則不受本條款限制。除此之外的一切貨物少發、漏發或品質問題，包括因貨物本身瑕疵造成的遺失、破損，Buyandship國際網購代運不承擔任何責任。同時，Buyandship 國際網購代運未與任何運輸公司簽署運輸合約，所以在到達 Buyandship 國際網購代運的倉庫前之一切運輸事故，造成未送達、延誤、破損及其他與運輸有關的問題而導致損失，Buyandship 國際網購代運不承擔任何責任。為確保在爭議管理、退款、訂單取消以及客戶服務方面提供充足的營運支援，香港商易購全球有限公司台灣分公司 E-Buy Global Limited Taiwan Branch (即Buyandship)應基於使用者條款負起提供相關內容的責任
      </p>
    </section>
    <section class="page-section js-content-anchor" data-title="遺失或破損貨物">
      <div class="text-subtitle-lg mb">
        遺失或破損貨物
      </div>
      <p class="text-body-sm page-section-content">
        任何有關貨物遺失或毀損內容，請參考<a href="https://www.buyandship.com.tw/shipment-protection/">貨物保值服務</a>。
      </p>
    </section>
    <section class="page-section js-content-anchor" data-title="退款及取消轉運單">
      <div class="text-subtitle-lg mb">
        退款及取消轉運單
      </div>
      <p class="text-body-sm page-section-content">
        除了我們的貨物保值服務，Buyandship國際網購代運不提供其他退款或取消轉運單，任何未被申報的貨物或是轉運單成立後180內未被取件的貨物均視為棄件，Buyandship對於棄件及含有違禁品的貨物均不提供任何退款服務。
      </p>
    </section>
    <section class="page-section js-content-anchor" data-title="禁止運送之貨物">
      <div class="text-subtitle-lg mb">
        禁止運送之貨物
      </div>
      <div class="text-body-sm">
        <ul class="page-section-content page-section-content">
          <li>以下所提及之貨物，均無法使用Buyandship 國際網購代運服務：</li>
          <ul>
            <li>被國際航空運輸協會（IATA），國際民航組織（ICAO），歐洲道路危險品運輸條例（ADR），美國DOT（美國），USPS（美國郵政服務），UPU（通用郵政聯盟）和任何適用的政府部門或其他相關組織所禁止或限制使用的危險材料物品</li>
            <li>航空或貨運規定的危險品</li>
            <li>運送、進出口受包括經由國在內的進出口國、州、地方自治區的法令禁止或限制的物品</li>
            <li>航空、運輸公司的運輸協議中不允許承運的其他物品</li>
            <li>Buyandship國際網購代運認為不符合規定的其他物品</li>
          </ul>
        </ul>
        <p class="page-section-content">Buyandship國際網購代運有開封檢查商品內容的權利，但是Buyandship國際網購代運並沒有檢驗商品的義務，同時檢驗的結果也不對商品質量、有無瑕疵、真贗品做出保證，不保證商品不違反發出地、經由地、目的地所頒布的相關法令。<br><br>Buyandship國際網購代運在進行檢驗時，懷疑有違反法律法規可能性的商品時，Buyandship國際網購代運可以採取通報警察、海關及相關執法部門，提交商品等措施。若檢驗商品及採取本條規定的處理辦法造成損失時，Buyandship國際網購代運不承擔任何責任。<br><br>Buyandship國際網購代運開封檢查商品，一旦發現禁止運送之貨物，將立即停止服務，並可以馬上棄置或以其他方法處置。</p>
      </div>
    </section>
    <section class="page-section js-content-anchor" data-title="貨物檢查">
      <div class="text-subtitle-lg mb">
        貨物檢查
      </div>
      <p class="text-body-sm page-section-content">
        Buyandship國際網購代運會在以下情況下抽樣打開貨物進行檢查，一旦發生以下任何情況時，Buyandship國際網購代運會就可疑貨物外箱或包裝進行剪裁、延遲發貨、拒絕寄出或要求客戶先提交聲明書或保證金後才會發貨：<br><br>
        <ul class="page-section-content">
          <li>航空公司及海關所要求的一般安全檢查；</li>
          <li>懷疑貨物中有禁運產品；</li>
          <li>懷疑貨物已破損而不可以付運；</li>
          <li>欠缺購物單據或單據有可疑；</li>
          <li>貨物與申報內容不同或申報價值有可疑；</li>
          <li>貨物實際價值低於運費的一半；</li>
          <li>每張轉運單的體積重總重超過300磅；</li>
          <li>貨物體積重與實重比例過大。</li>
        </ul>
      </p>
    </section>
    <section class="page-section js-content-anchor" data-title="服務中止">
      <div class="text-subtitle-lg mb">
        服務中止
      </div>
      <p class="text-body-sm page-section-content">
        發生以下任何情況時，Buyandship國際網購代運可以暫時中斷或停止本服務的部分或全部內容，恕不另行通知，而终止的範圍可包括依據用戶的電話號碼，電郵地址或 IP 地址。使用Buyandship國際網購代運服務，代表您同意Buyandship國際網購代運將不會就包括但不限於任何下列原因所引起或造成的遺失、損毀、延遲送達、誤送、未送達、提供錯誤資料或未能提供資料負任何責任，亦不採取任何運費調整、退款或任何補償行為。對於任何形式的賠償，Buyandship國際網購代運將「不承擔任何間接、附帶、特殊或衍生的損失（包括但不限於收入、利潤、市場或機會的損失）所產生的賠償責任。」使用Buyandship國際網購代運服務，即表示您同意Buyandship國際網購代運於以下情況將不承擔任何間接、附帶、特殊或衍生的損失（包括但不限於收入、利潤、市場或機會的損失）所產生的賠償責任：<br><br>
        <ul class="page-section-content">
          <li>您或第三方的疏忽-違反條款和條件</li>
          <li>提供了錯誤的註冊或聯繫信息，同時無法通過這些信息確認服務或運單造成貨物被銷毀、放棄或做其他處理等</li>
          <li>提供錯誤的貨物追蹤編號，或托運貨物本身沒有貨物編號以致無法追查物流情況</li>
          <li>托運貨物中含違禁品</li>
          <li>遵循您或其他寄、收件人的口頭或書面送件指示行為導致</li>
          <li>包裹在送達時無破損且基本完整、收件人未提出異議並發出書面破損記錄，寄件人包裝並封口的貨物內發生遺失或損毀</li>
          <li>沒有及時確認關稅及稅金支付所致的延誤</li>
          <li>提供錯誤的收貨標識、錯誤的預報信息，無入庫記錄，或網站錯發，漏發等造成的損失</li>
          <li>提供錯誤、不完整、不正確或遺漏的地址信息，無法聯繫收件人，造成的重複配送所產生的費用及相關的後果</li>
        </ul>
      </p>
    </section>
    <section class="page-section js-content-anchor" data-title="Buyandship的服務責任">
      <div class="text-subtitle-lg mb">
        Buyandship的服務責任
      </div>
      <p class="text-body-sm page-section-content">
        Buyandship國際網購代運對於 “不可抗力”之因素，如Buyandship無法控制的地震，颶風，風暴，洪水，大霧或其他事件、戰爭、飛機失事或禁運、騷亂或內亂、工業行動而造成的任何延誤或無法送達，將不承擔任何責任。Buyandship國際網購代運將不承擔任何責任如果問題是由您或第三方引起的，如違反發貨地，目的地或中轉國家或地區的法律、貨物中包含違禁物品、提供了有關包裹的錯誤信息、無效的收貨地址、收件人拒收的包裹，貨物的價值或內容與使用者申報的內容不同、貨物的重量有疑慮、違反了我們的條款和條件或任何其他Buyandship國際網購代運認為需要暫時或永久中止服務的情況。
      </p>
    </section>
    <section class="page-section js-content-anchor" data-title="不可抗力之因素情況">
      <div class="text-subtitle-lg mb">
        不可抗力之因素情況
      </div>
      <p class="text-body-sm page-section-content">
        大自然因素，包括地震、龍捲風、風暴、洪水、火災、瘟疫、霧、雪、霜凍天氣或地質災害等<br><br>人力不可抗力，發生空難事故、公敵入侵、政府當局、法律權限、暴動、罷工或其它地區性爭執、民眾騷亂或戰爭帶來的危險、或由非本網站所能控制事項所致的全國性或區域性空中或地面交通系統中斷或通訊系統干擾或故障，運輸工具或機器的機械故障等<br><br>任何由海關，航空公司，機場或政府當局產生的疏失，如海關退運、航班延誤、貨物瑕疵，內容物不完整、磁帶、文件或其它存儲媒體中數據的消除、或曝光底片中照相影像或音帶地消除<br><br>現Buyandship國際網購代運無法控制的情況，Buyandship國際網購代運仍會盡力地協調物流公司盡快運送至目的地，但我們沒有義務在出現此類情況時向您發出通知<br><br>Buyandship國際網購代運不對運輸延誤承擔責任的情況，如Buyandship國際網購代運按照其正常運送標準盡力協調派送貨物，但這些標準並不屬於承諾，也不構成服務協議的組成部分
      </p>
    </section>
  </article>
</main>

<script>
window.onload = function() {
  var pageJs = document.createElement('script')
  pageJs.src = "../assets/js/terms.js?7c46fb9bd2472cc81461"
  document.body.appendChild(pageJs)
  var pageJs = document.createElement('script')
  pageJs.src = 
  document.body.appendChild(pageJs)
}
</script>
<!-- <script defer src="../assets/js/terms.js?7c46fb9bd2472cc81461"></script> -->

<!-- WP:end -->

<footer id="bsFooter" class="bs-footer" v-cloak>
  <div class="footer-graphic" v-if="isShowGraphic">
    <picture>
      <source media="(max-width: 1199px)" srcset="
          /assets/img/footer_768px.png 1x,
          /assets/img/footer_768px@2x.png 2x,
          /assets/img/footer_768px@3x.png 3x
        " sizes="100vw">
      <source media="(min-width: 1200px)" srcset="
          /assets/img/footer_1440px.png 1440w,
          /assets/img/footer_1440px@2x.png 2880w,
          /assets/img/footer_1440px@3x.png 4320w
        " sizes="100vw">
      <img class="footer-graphic-media" src="/assets/img/footer_1440px.png" alt="cat is shipping">
    </picture>
  </div>
  <div class="bs-container">
    <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }">
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">血拼推薦</div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">發燒話題</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/blog-list/">最新消息</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">代運資訊</div>
        <div class="footer-nav-group-item">
          <a href="/tutorial/">新手教學</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/pricing/">收費說明</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/advantage/">我們的優勢</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="5" :xl="6">
        <div class="footer-nav-group-label">關於我們</div>
        <div class="footer-nav-group-item">
          <a href="/about-us/">關於 Buyandship</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/warehouses/">海外倉庫一覽</a>
        </div>
        <div class="footer-nav-group-item">
          <a href="/contact-us/">聯絡我們</a>
        </div>
      </a-col>
      <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
        <div class="footer-social">
          <div class="footer-social-box">
            <a class="footer-social-box-link" target="_blank" href="https://www.facebook.com/buyandship.com.tw">
              <i class="bs-icon">
                <span class="bs-icon-facebook"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.instagram.com/buyandship.tw">
              <i class="bs-icon">
                <span class="bs-icon-instagram"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-youtube"></span>
              </i>
            </a>
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-weibo"></span>
              </i>
            </a>
            <!-- <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-wechat"></span>
              </i>
            </a> -->
            <a class="footer-social-box-link" target="_blank" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
              <i class="bs-icon">
                <span class="bs-icon-twitter"></span>
              </i>
            </a>
          </div>
        </div>
        <div class="footer-location">
          <div class="footer-location-icon">
            <i class="bs-icon-environment" style="margin-left: -6px;"></i>
          </div>
          <div class="footer-location-desc">香港總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
        </div>
        <div class="footer-download">
          <a class="footer-download-link" target="_blank" href="https://apps.apple.com/app/buandship/id1474193162?ct=tw_site_footer&vt=lo&mt=8">
            <img class="footer-download-link-media" alt="AppStore"
              src="/assets/img/AppStore_200px@2x.png" srcset="
                /assets/img/AppStore_200px@2x.png 1x,
                /assets/img/AppStore_200px@2x.png 2x,
                /assets/img/AppStore_200px@3x.png 3x
              ">
          </a>
          <a class="footer-download-link" target="_blank" href="https://qrgo.page.link/9Jxct">
            <img class="footer-download-link-media" alt="GooglePlay"
              src="/assets/img/GooglePlay_200px@2x.png" srcset="
                /assets/img/GooglePlay_200px@2x.png 1x,
                /assets/img/GooglePlay_200px@2x.png 2x,
                /assets/img/GooglePlay_200px@3x.png 3x
              ">
          </a>
        </div>
      </a-col>
    </a-row>
    <div class="footer-bottom">
      <div class="footer-country">
        <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
          <i class="bs-icon-country"></i>
          <span v-cloak>{{ currentCountryName }}</span>
        </a>
      </div>
      <div class="footer-language" v-if="Object.keys(languageObj).length > 1">
        <a class="" href="javascript:;" @click.prevent="toggleNavPanel('language', true)">
          <span v-cloak>{{ currentLanguageName }}</span>
        </a>
      </div>
      <div class="footer-copyright">
        <span class="footer-copyright-desc">© 2019 E-BUY GLOBAL LIMITED</span>
        <a class="footer-copyright-link"
          href="/terms/">使用條款</a>
        <a class="footer-copyright-link"
          href="/privacy/">隱私權政策</a>
      </div>
    </div>
  </div>
</footer>

</div> <!-- end class="layout" -->

<script src="../assets/js/common.js?7c46fb9bd2472cc81461"></script>

</body>

</html>

